// Core variables and mixins
@import "variables.less";
@import "3.3.1/mixins.less";
@import "elements/elements.less";
@import "custom.less"; // custom variable overrides

@import "wdPageTemplate.less";

#main
{
	margin-left: 0;
}

.jarviswidget iframe
{
  height: 400px;
}

.page-footer
{
	padding-left: 13px;
}