@import "variables.less";

@font-face {
  font-family: 'WebDirector';
  src: url('../fonts/webdirector-custom-icons.eot');
  src:url("../fonts/webdirector-custom-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/webdirector-custom-icons.woff") format("woff"),
    url("../fonts/webdirector-custom-icons.ttf") format("truetype"),
    url("../fonts/webdirector-custom-icons.svg#webdirector-custom-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
}

header{
		#logo {
			margin-top: 3px;
		}

	.navbar-nav li{
		a:focus,a:hover{
			background-color: transparent;
		}
		a:hover{
			color: @brand-ci;
		}

		&.active a{
			color: #E4E4E4;
			background: #3a3633;

			background: @asideColor-end;
			background: url(@asideDataURL);
			background: -moz-linear-gradient(top, @asideColor-end 93%, @asideColor-start 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(93%, @asideColor-end), color-stop(100%, @asideColor-start));
			background: -webkit-linear-gradient(top, @asideColor-end 93%, @asideColor-start 100%);
			background: -o-linear-gradient(top, @asideColor-end 93%, @asideColor-start 100%);
			background: -ms-linear-gradient(top, @asideColor-end 93%, @asideColor-start 100%);
			background: linear-gradient(to bottom, @asideColor-end 93%, @asideColor-start 100%);
		}
	}
}

#header>.pull-right {
	position: absolute;
	right: 6px;
	top: 0;
}

.jarviswidget .widget-body.ci-body{
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

iframe {
  border-style: none;
  width: 100%;
  height: 100%
}

.ci-navbar-collapsing {
  height: 49px;
}

// MOBILE
@media (max-width: 767px) { 
	.ci-navbar-collapsing{
		margin-top: 0px;
		margin-bottom: 0px;
		
		&.nav>li{
			display: inline-block;
		}
		
		&.navbar-nav>li>a {
			padding: 16px 15px 15px;
			
			&>span {
				display: none;
			}
		}
	}
	#header > :first-child {
		width: initial;
		padding-right: 35px;
	}
	
	#logo-group .ajax-dropdown:before,
	#logo-group .ajax-dropdown:after {
		  left: 31%;
	}
}

label input[type="checkbox"].checkbox + span, label input[type="radio"].radiobox + span {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*
 * AJAX DROPDOWN
 */

.ajax-dropdown {
	position: absolute;
	display: none;
	z-index: @ajax-dropdown-zindex;
	background: white;
	top: 48px;
	left: 30px;
	width: 344px;
	height: 435px;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-box-shadow: 0 2px 4px rgba(30, 30, 100, 0.25);
	-moz-box-shadow: 0 2px 4px rgba(30,30,100,0.25);
	box-shadow: 0 2px 4px rgba(30, 30, 100, 0.25);
	padding: 0px;
	background: @ribbonBGColor;
	border: 1px solid #b3b3b3;
}

.ajax-dropdown .content{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 30px;
	overflow-y: scroll;
	background: white;
}

.ajax-dropdown>:last-child
{
	color: #E4E4E4;
	position: absolute;
	bottom: 4px;
	right: 4px;
	left: 4px;
}

.ajax-dropdown:after, .ajax-dropdown:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.ajax-dropdown:after {
	border-color: rgba(red(@white), green(@white), blue(@white), 0);
	border-bottom-color: @ajaxdrop-arrow-top-color;
	border-width: @ajaxdropdown-arrow-size;
	left: 50%;
	margin-left: -@ajaxdropdown-arrow-size;
}

.ajax-dropdown:before {
	border-color: rgba(131, 131, 131, 0);
	border-bottom-color: @ajaxdrop-arrow-bottom-color;
	border-width: @ajaxdropdown-arrow-bottom;
	left: 50%;
	margin-left: -@ajaxdropdown-arrow-bottom;
}
