<div class="sign-area sign-area-body">
  <div>First Name: ${sign.attr_firstname}</div>
  <div>Last Name: ${sign.attr_lastname}</div>
  <!-- <div>Type: ${sign.attr_type}</div> -->
  <!-- <div>Date Needed: ${setting.dateNeeded?string}</div> -->
  <div>Date: ${sign.attrdate_date}</div>
    <div>Signature:
        <#if sign.attr_text??>
            <span style="font-size:30px;font-family:${sign.attr_font!};">${sign.attr_text!}</span>
        </#if>
        <#if sign.attr_imagedata??>
            <img alt="" src="${sign.attr_imagedata!}" style="height:45px;"/>
        </#if>
        <#if sign.attrfile_file??>
            <img alt="" src="/stores${sign.attrfile_file!}" style="height:45px;"/>
        </#if>
    </div>
</div>