#itineraryContent .title {
  display: flex; }
  #itineraryContent .title .booking-desc {
    flex: 50%; }
    #itineraryContent .title .booking-desc .title-text h1 {
      font-size: 32px; }

#itineraryContent .desc {
  display: flex; }
  #itineraryContent .desc .booking-desc {
    flex: 50%; }
    #itineraryContent .desc .booking-desc .desc-text {
      display: flex; }
      #itineraryContent .desc .booking-desc .desc-text .desc-lbl {
        flex: 50%;
        color: #979797; }
      #itineraryContent .desc .booking-desc .desc-text .desc-value {
        flex: 50%; }

#itineraryContent .segment .segment-heading .icon {
  margin: 12px 0 0 6px;
  float: left;
  font-size: 25px; }

#itineraryContent .segment .segment-heading .segment-heading-text {
  font-size: 32px;
  margin-bottom: 0px; }

#itineraryContent .segment .segment-heading .segment-heading-subtext {
  float: right;
  font-style: italic;
  color: #000000;
  font-size: 9px;
  padding-top: 32px;
  padding-right: 6px; }

#itineraryContent .segment .segment-detail h2 {
  font-size: 28px; }

#itineraryContent .segment .segment-detail .flightTimeTable .flightTimeHeading {
  width: 50px;
  color: #f75713; }

#itineraryContent .segment .segment-detail .flightTimeTable .flightTimeValue {
  width: 50px; }
