<#ftl output_format="HTML" auto_esc=true>
<tr>
	<td></td>
	<td width="10%"></td>
	<td width="22%"></td>
	<td width="120"></td>
</tr>
<#if oneOffCost.sortedPlans?size gt 0 && object.totalProposalValue != oneOffCost.totalPrice>
	<tr class="rowSpacer"><td colspan="4">&nbsp;</td></tr>
	<tr class="totalRow dataRow">
		<td class="totalEmpty" colspan="1"></td>
		<td class="totalLabel" align="center" colspan="2">
			<#if monthlyTotal gt 0>
				One-off Cost
			</#if>
			<#if monthlyTotal == 0>
				Sub-total
			</#if>
		</td>
		<td class="totalValue tablePrice" align="right">
			${oneOffCost.totalPrice}
		</td>
	</tr>
</#if>

<#if oneOffDiscount.sortedPlans?size gt 0>
	<tr class="rowSpacer"><td colspan="4">&nbsp;</td></tr>
	<tr class="totalRow dataRow">
		<td class="totalEmpty" colspan="1"></td>
		<td class="totalLabel" align="center" colspan="2">One-off Discounts</td>
	  	<td class="totalValue tablePrice" align="right">
	  		${oneOffDiscount.totalPrice}
  		</td>
	</tr>
</#if>

<#if monthlyTotal gt 0  && object.totalProposalValue != monthlyTotal >
	<#if !isHideMinimumMonthlyCost>
	<tr class="rowSpacer"><td colspan="4">&nbsp;</td></tr>
	<tr valign="bottom" class="totalRow dataRow">
	  	<td class="totalEmpty" colspan="1"></td>
	  	<td class="totalLabel" align="center" colspan="2">Minimum ${pricingTermType.getTerm()} Cost</td>
	  	<td class="totalValue tablePrice" align="right">
	  		${monthlyTotal}
  		</td>
	</tr>
	</#if>
</#if>

<#if ongoingDiscount.sortedPlans?size gt 0>
	<tr class="rowSpacer"><td colspan="4">&nbsp;</td></tr>
	<tr class="totalRow dataRow">
	  	<td class="totalEmpty" colspan="1"></td>
	  	<td class="totalLabel" align="center" colspan="2">
	   		Minimum ${pricingTermType.getTerm()} Discounts
	  	</td>
	  	<td class="totalValue tablePrice" align="right">
	  		${ongoingDiscount.totalUnitPrice}
		</td>
	</tr>
</#if>

<#if object.taxLabel?? && object.taxPercentage?? && object.tax?? && !object.removeTax>
	<tr class="rowSpacer"><td colspan="4">&nbsp;</td></tr>
	<tr class="totalRow dataRow">
	  	<td class="totalEmpty" colspan="1"></td>
	  	<td class="totalLabel" align="center" colspan="2">
	   		<#if taxLabel??>
	   			${object.taxLabel} (${object.taxPercentage?string.number}%)
	   		<#else>
	   			Tax
	   		</#if>
	  	</td>
	  	<td class="totalValue tablePrice" align="right">
	  		${object.tax}
		</td>
	</tr>
</#if>

<#if !isHideGrandTotalPriceRow>
	<tr class="rowSpacer"><td colspan="4">&nbsp;</td></tr>
	<tr class="totalRow dataRow">
		<td class="totalEmpty" colspan="1"></td>
		<td class="totalLabel" align="center" colspan="2">Total</td>
	  	<td class="totalValue bigChar tablePrice" align="right">
	  		${object.totalProposalValue}
		</td>
	</tr>
</#if>

<#if !isHideOverallTotalPriceRow>
  <tr class="rowSpacer"><td colspan="4">&nbsp;</td></tr>
  <tr class="overall totalRow dataRow">
    <td class="totalEmpty" colspan="1"></td>
    <td class="totalLabel" align="center" colspan="2">Overall Total</td>
      <td class="totalValue bigChar tablePrice" align="right">
        ${object.overallTotalProposalValue}
    </td>
  </tr>
</#if>