<#ftl output_format="HTML" auto_esc=true>	
	<tr class="tableHeader iconRow" valign="top" data-version="gerard">
		<td class="productCell">
			<i class="fa fa-shopping-cart">
			</i>
			<p>
				Product/Service
			</p>
		</td>
		<td width="10%">
			<i class="fa fa-cube">
			</i>
			<p>
				${customfields.attr_customfield2.label}
			</p>
		</td>
		<#if !isHideQtyColumn>
		<td width="10%">
			<i class="fa fa-hashtag">
			</i>
			<p>
				Qty
			</p>
		</td>
		</#if>
		<#if !isHideTermColumn>
		<td width="22%">
			<i class="fa fa-clock-o">
			</i>
			<p>
				Minimum Term
			</p>
		</td>
		</#if>
		<#if !isHidePriceColumn>
		<td width="7%" class="costCell">
			<i class="moneytaryValue">
			</i>
			<p>
				Price
			</p>
		</td>
		</#if>
		<#if !isHideTotalPriceColumn>
		<td width="13%" class="totalCostCell">
			<i class="moneytaryValue">
			</i>
			<p>
				Total
			</p>
		</td>
		</#if>
	</tr>