<#ftl output_format="HTML" auto_esc=true>
<#if object.manualPercentage?? && object.manualPercentage!= 0>
	<#assign percentage = object.manualPercentage>
<#elseif object.autoPercentage?? && object.autoPercentage!= 0>
	<#assign percentage = object.autoPercentage>
<#else>
	<#assign percentage = 0>
</#if>
<#assign multiplier = ((100 + percentage)/100)>
<#assign columns = 2>
<tr class="dataRow <#if escaped.note?? && escaped.note?length gt 0>hasNote</#if>">
	<td align="left">
		<div class="description">
			<#if object.thumbnail?? && object.thumbnail?length gt 0>
				<img style="float: left; margin: 0 10px 10px 0;" src="${object.thumbnail}" />
			</#if>
			${escaped.label?no_esc}
			<#if customfields.attr_customfield1.on && (object.misc.attr_customfield1)?? && (object.misc.attr_customfield1!"")?length gt 0>
			<br/><br/>${object.misc.attr_customfield1}
			</#if>
		</div>
	</td>
	<#if customfields.attr_customfield2.on>
	<td align="center">
		${object.misc.attr_customfield2!""}
	</td>
	</#if>
	<#if !isHideQtyColumn>
	<#assign columns += 1>
	<td align="center">
		${object.qty?string.number}
	</td>
	</#if>
	<#if !isHideTermColumn>
	<#assign columns += 1>
	<td align="center">
		<#if object.term == 1>
          ${pricingTermType.getTerm()}
		<#else>
		  ${object.term?string.number} ${pricingTermType}
		</#if>
	</td>
	</#if>
	<#if !isHidePriceColumn>
	<#assign columns += 1>
	<td class="tablePrice" align="right">
		<#assign price = object.unitPrice * multiplier>
		${price}
	</td>
	</#if>
	<#if !isHideTotalPriceColumn>
	<#assign columns += 1>
	<td align="right" class="tablePrice">
		${object.totalPrice}
	</td>
	</#if>
</tr>
<#if escaped.note?? && escaped.note?length gt 0>
<tr class="dataNote">
	<td colspan="${columns?string.number}">
		<div class="note description">${escaped.note?no_esc}</div>
	</td>
</tr>
</#if>