@import "syntax-html";

.doc {

    > .page-header {
        height: 12rem;
        min-height: 1rem;
        align-items: flex-end;
        display: flex;
    }

    .content {
        > .row {
            > [class^='col-'] {
                margin-bottom: 4.8rem;
            }
        }
    }

    .doc-title {
        margin: 0;
    }

    .example {
        display: flex;
        flex-direction: column;
        min-height: 320px;
        height: 100%;
        position: relative;
        background: #FFFFFF;

        @include mdc-elevation(1);

        &:after {
            display: block;
            position: absolute;
            right: 3px;
            bottom: 3px;
            width: 32px;
            height: 32px;
            content: '';
            //background-image: url('/application/assets/new/images/bootstrap-mini-logo.png');
            background-repeat: no-repeat;
            background-size: 100%;
            opacity: .2;
        }

        &.fuse {

            &:after {
                //background-image: url('/application/assets/new/images/fuse-mini-logo.png');
            }
        }

        > .description {
            display: flex;
            align-items: center;
            padding: 16px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);

            .description-text {

                h2, h3, h4, h5 {
                    font-size: 1.6rem;
                    font-weight: 500;
                    margin: 0;

                    & + p {
                        margin: 2px 0 0 0;
                        color: rgba(0, 0, 0, 0.54);
                    }
                }
            }

            .toggle-source-preview {
                cursor: pointer;
                font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
                font-size: 12px;
                margin-left: auto;
                padding-left: 24px;
                color: rgba(0, 0, 0, 0.54);

                .icon-code-tags {
                    display: block;
                }

                .icon-eye-outline {
                    display: none;
                }

                &:hover {
                    color: theme-color("primary");
                }
            }
        }

        // Show source and hide preview
        &.show-source {

            > .description {

                .toggle-source-preview {

                    .icon-code-tags {
                        display: none;
                    }

                    .icon-eye-outline {
                        display: block;
                    }
                }
            }

            > .source-preview-wrapper {

                // Hide preview
                > .preview {
                    transform: translateY(200%);
                }

                // Show source
                > .source {
                    transform: translateY(0);
                }
            }
        }

        > .source-preview-wrapper {
            display: flex;
            flex-direction: column;
            flex: 1 0 auto;
            justify-content: center;
            position: relative;
            overflow: hidden;

            // Preview and Source
            > .preview,
            > .source {
                transition: transform .4s ease-in-out;
                backface-visibility: hidden;
            }

            > .preview {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                border-bottom: none;
                padding: 2.4rem;

                @include media-breakpoint-down(sm) {
                    padding: 1.6rem;
                }

                // Show preview by default
                transform: translateY(0);

                .preview-elements {
                    max-width: 100%;

                    > .btn-group {
                        margin-top: .4rem;
                        margin-bottom: .4rem;
                    }

                    > .form-control {
                        + .form-control {
                            margin-top: .8rem;
                        }
                    }

                    > .nav + .nav,
                    > .alert + .alert,
                    > .navbar + .navbar,
                    > .progress + .progress,
                    > .progress + .btn {
                        margin-top: 1.6rem;
                    }

                    > .dropdown-menu:first-child {
                        position: static;
                        display: block;
                    }

                    > .form-group:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            > .source {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                overflow: auto;
                z-index: 99;
                background: #FFFFFF;

                // Hide source by default
                transform: translateY(-100%);

                &:before {
                    display: block;
                    position: absolute;
                    content: ' HTML ';
                    font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
                    font-size: 11px;
                    color: rgba(0, 0, 0, 0.74);
                    line-height: 1;
                    top: 0;
                    right: 0;
                    border: 1px solid #DDDDDD;
                    border-top: none;
                    border-right: none;
                    padding: 2px 8px;
                    background: #F7F7F7;
                }

                pre {
                    margin: 0;
                    background-image: linear-gradient(rgba(25, 118, 210, 0.025) 50%, transparent 50%);
                    background-size: 3em 3em;
                    background-origin: content-box;
                    font-size: 12px;
                    min-height: 100%;
                    white-space: pre-wrap;

                    > code {
                        display: block;
                        position: relative;
                        padding: 19px 16px;
                    }
                }
            }
        }
    }

    &.buttons-doc {

        .example {

            .preview {

                .btn:not(.btn-block) {
                    margin: .4rem;
                }

                .btn-group {

                    .btn {
                        margin: 0;
                    }
                }
            }

            &.block-level-btn-example {
                .preview {
                    .preview-elements {
                        width: 100%;
                        .btn {
                            margin-bottom: 1.6rem;
                        }
                    }
                }
            }
        }
    }

    &.button-group-doc {

        .example {

            .preview {
                .btn-group-vertical {
                    margin: 0.8rem;
                }
            }
        }
    }

    &.cards-doc {

        .example {

            .source-preview-wrapper {
                background: #FAFAFA;
            }
        }
    }

    &.dropdowns-doc {

        .example {
            min-height: 540px;

            .preview {

                .btn-group {
                    margin: .4rem;
                }

                .preview-elements {

                    > .dropdown-menu:first-child {
                        position: static;
                        display: block;
                    }
                }
            }
        }
    }

    &.forms-doc {

        .example {

            .preview {

                .preview-elements {
                    width: 100%;
                }
            }
        }
    }

    &.input-group-doc {

        .example {

            .preview {

                .preview-elements {
                    width: 100%;
                }
            }
        }
    }

    &.tooltips-doc {

        .example {
            min-height: 540px;

            .bd-example-tooltips {
                text-align: center;

                > .btn {
                    margin: 1.6rem;
                }
            }

            &.tooltip-static {

                .preview-elements {

                    .tooltip {
                        position: relative;
                        display: inline-block;
                        margin: 10px 20px;
                        opacity: 1;
                    }

                    .bs-tooltip-top-docs,
                    .bs-tooltip-bottom-docs {
                        .arrow {
                            left: 50%;
                        }
                    }

                    .bs-tooltip-right-docs,
                    .bs-tooltip-left-docs {
                        .arrow {
                            top: 50%;
                        }
                    }
                }
            }
        }
    }

    &.popovers-doc {

        .example {
            min-height: 540px;

            &.popovers-static {

                .preview-elements {

                    .popover {
                        position: relative;
                        display: block;
                        float: left;
                        width: 260px;
                        margin: 1.25rem;
                    }

                    .bs-popover-top-docs,
                    .bs-popover-bottom-docs {

                        .arrow {
                            left: 50%;
                        }
                    }
                    .bs-popover-right-docs,
                    .bs-popover-left-docs {

                        .arrow {
                            top: 50%;
                        }
                    }
                }
            }

            .bd-example-popovers {

                .btn {
                    margin: .8rem;
                }
            }
        }
    }

    &.modal-doc {

        .example {

            &.modal-components {

                .preview {

                    .modal {
                        display: block;
                        position: relative;
                        padding: .8rem;
                    }
                }
            }

        }

        #gridSystemModal {

            .row > .col,
            .row > [class^=col-] {
                padding-top: .75rem;
                padding-bottom: .75rem;
                background-color: rgba(86, 61, 124, .15);
                border: 1px solid rgba(86, 61, 124, .2);
            }
        }
    }

    &.navs-doc {

        #horizontal-alignment-right {

            .preview-elements {
                width: 100%;
            }
        }
    }

    &.navbar-doc {

        .preview-elements {
            width: 100%;
        }
    }

    &.pagination-doc {

        .preview-elements {
            width: 100%;
        }
    }

    &.progress-doc {

        .preview-elements {
            width: 100%;
        }
    }

    &.simple-table-doc {

        .preview-elements {
            width: 100%;
        }
    }

    &.data-table-doc {

        .preview-elements {
            width: 100%;
        }
    }

    &.icons-doc {

        .icons {
            > div {
                width: 112px;
                height: 120px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                margin: 16px;
            }
        }
    }
}