<#ftl output_format="HTML" auto_esc=true>
<#assign columns=2>
<#if oneOffDiscount.sortedPlans?size gt 0 || ongoingDiscount.sortedPlans?size gt 0>
  <#assign columns += 1>
</#if>
<#if !isHideAdditionColumn>
  <#assign columns += 1>
</#if>
<#if !removeTax>
  <#assign columns += 1>
</#if>
<tr>
    <td></td>
    <td width="20%"></td>
    <td width="10%"></td>
	<#if oneOffDiscount.sortedPlans?size gt 0 || ongoingDiscount.sortedPlans?size gt 0>
    <td width="10%"></td>
	</#if>
	<#if !isHideAdditionColumn>
    <td width="10%"></td>
	</#if>
	<#if !removeTax>
    <td width="10%"></td>
	</#if>
    <td width="10%"></td>
</tr>
<#if oneOffDiscount.sortedPlans?size gt 0 || ongoingDiscount.sortedPlans?size gt 0 || !removeTax || !isHideAdditionColumn>
    <#if !((ongoingCost.sortedPlans?size gt 0 || ongoingDiscount.sortedPlans?size gt 0) && isHideMinimumMonthlyCost && isHideFullTermCost) || oneOffCost.sortedPlans?size gt 0 || oneOffDiscount.sortedPlans?size gt 0>
       <#if !(isHideOnOffCostRow && isHideMinimumMonthlyCost && isHideFullTermCost && isHideGrandTotalPriceRow && isHideOverallTotalPriceRow)>
           <tr class="rowSpacer"><td>&nbsp;</td></tr>
           <tr class="totalRow dataRow">
               <td class="totalEmpty" colspan="1"></td>
               <td class="totalValue" align="right"></td>
               <td class="totalValue" align="right">${TEXT_PRICING_FOOTER_PRICE}</td>
               <#if oneOffDiscount.sortedPlans?size gt 0 || ongoingDiscount.sortedPlans?size gt 0>
                   <td class="totalValue" align="right">${TEXT_PRICING_FOOTER_DISCOUNTS}</td>
               </#if>
               <#if !isHideAdditionColumn>
                   <td class="totalValue" align="right">${TEXT_PRICING_FOOTER_ADDITION}</td>
               </#if>
               <#if !removeTax>
                   <td class="totalValue" align="right">${TEXT_PRICING_FOOTER_TAX}</td>
               </#if>
               <td class="totalValue" align="right">${TEXT_PRICING_FOOTER_TOTAL}</td>
           </tr>
       </#if>
    </#if>
    <#if oneOffCost.sortedPlans?size gt 0 || oneOffDiscount.sortedPlans?size gt 0>
        <#if !isHideOnOffCostRow>
            <tr class="rowSpacer"><td>&nbsp;</td></tr>
            <tr class="totalRow dataRow">
                <td class="totalEmpty" colspan="1"></td>
                <td class="totalValue" align="right">${TEXT_PRICING_FOOTER_ONE_OFF_COST}</td>
                <td class="totalValue" align="right">${oneOffCost.totalPrice}</td>
                <#if oneOffDiscount.sortedPlans?size gt 0 || ongoingDiscount.sortedPlans?size gt 0>
                    <td class="totalValue" align="right">${oneOffDiscount.totalPrice}</td>
                </#if>
                <#if !isHideAdditionColumn>
                    <td class="totalValue" align="right">${oneOffCost.totalAddition + oneOffDiscount.totalAddition}</td>
                </#if>
                <#if !removeTax>
                    <td class="totalValue" align="right">${oneOffCost.totalTax + oneOffDiscount.totalTax}</td>
                </#if>
                <td class="totalValue" align="right">${oneOffCost.totalPriceIncTax + oneOffDiscount.totalPriceIncTax}</td>
            </tr>
        </#if>
    </#if>
    <#if ongoingCost.sortedPlans?size gt 0 || ongoingDiscount.sortedPlans?size gt 0>
        <#if !isHideMinimumMonthlyCost>
            <tr class="rowSpacer"><td>&nbsp;</td></tr>
            <tr class="totalRow dataRow">
                <td class="totalEmpty" colspan="1"></td>
                <td class="totalValue" align="right">${pricingTermType.getMinimumTermCostLabel()}</td>
                <td class="totalValue" align="right">${ongoingCost.totalUnitPrice}</td>
                <#if oneOffDiscount.sortedPlans?size gt 0 || ongoingDiscount.sortedPlans?size gt 0>
                <td class="totalValue" align="right">${ongoingDiscount.totalUnitPrice}</td>
                </#if>
	        	<#if !isHideAdditionColumn>
	            <td class="totalValue" align="right">${ongoingCost.totalUnitAddition + ongoingDiscount.totalUnitAddition}</td>
	            </#if>
	        	<#if !removeTax>
	            <td class="totalValue" align="right">${ongoingCost.totalUnitTax + ongoingDiscount.totalUnitTax}</td>
	            </#if>
                <td class="totalValue" align="right">${ongoingCost.totalUnitPriceIncTax + ongoingDiscount.totalUnitPriceIncTax}</td>
            </tr>
        </#if>
        <#if !isHideFullTermCost>
            <tr class="rowSpacer"><td>&nbsp;</td></tr>
            <tr class="totalRow dataRow">
                <td class="totalEmpty" colspan="1"></td>
                <td class="totalValue" align="right">${TEXT_PRICING_FOOTER_FULL_TERM_COST}</td>
                <td class="totalValue" align="right">${ongoingCost.totalPrice}</td>
                <#if oneOffDiscount.sortedPlans?size gt 0 || ongoingDiscount.sortedPlans?size gt 0>
                <td class="totalValue" align="right">${ongoingDiscount.totalPrice}</td>
                </#if>
	        	<#if !isHideAdditionColumn>
	            <td class="totalValue" align="right">${ongoingCost.totalAddition + ongoingDiscount.totalAddition}</td>
	            </#if>
	        	<#if !removeTax>
	            <td class="totalValue" align="right">${ongoingCost.totalTax + ongoingDiscount.totalTax}</td>
	            </#if>
                <td class="totalValue" align="right">${ongoingCost.totalPriceIncTax + ongoingDiscount.totalPriceIncTax}</td>
            </tr>
        </#if>
    </#if>
<#else>
    <#if ongoingCost.sortedPlans?size gt 0>
        <#if !isHideOnOffCostRow>
            <#if oneOffCost.sortedPlans?size gt 0>
                <tr class="rowSpacer"><td>&nbsp;</td></tr>
                <tr class="totalRow dataRow">
                    <td class="totalEmpty" colspan="1"></td>
                    <td class="totalLabel" align="center" colspan="${columns?string.number}">
                        ${TEXT_PRICING_FOOTER_ONE_OFF_COST}
                    </td>
                    <td class="totalValue tablePrice" align="right">
                        ${oneOffCost.totalPrice}
                    </td>
                </tr>
            </#if>
        </#if>
        <#if !isHideMinimumMonthlyCost && monthlyTotal gt 0>
            <tr class="rowSpacer"><td>&nbsp;</td></tr>
            <tr valign="bottom" class="totalRow dataRow">
                <td class="totalEmpty" colspan="1"></td>
                <td class="totalLabel" align="center" colspan="${columns?string.number}">${pricingTermType.getMinimumTermCostLabel()}</td>
                <td class="totalValue tablePrice" align="right">${monthlyTotal}</td>
            </tr>
        </#if>
        <#if !isHideFullTermCost && monthlyTotal gt 0>
            <tr class="rowSpacer"><td>&nbsp;</td></tr>
            <tr valign="bottom" class="totalRow dataRow">
                <td class="totalEmpty" colspan="1"></td>
                <td class="totalLabel" align="center" colspan="${columns?string.number}">${TEXT_PRICING_FOOTER_FULL_TERM_COST}</td>
                <td class="totalValue tablePrice" align="right">${fullTermTotal}</td>
            </tr>
        </#if>
    </#if>
</#if>
<#if !isHideGrandTotalPriceRow>
    <tr class="rowSpacer"><td>&nbsp;</td></tr>
    <tr class="totalRow dataRow">
        <td class="totalEmpty" colspan="1"></td>
        <td class="totalLabel" align="center" colspan="${columns?string.number}">${TEXT_PRICING_FOOTER_TOTAL}</td>
        <td class="totalValue bigChar tablePrice" align="right">${object.totalProposalValue}</td>
    </tr>
</#if>
<#if !isHideOverallTotalPriceRow>
    <tr class="rowSpacer"><td>&nbsp;</td></tr>
    <tr class="overall totalRow dataRow">
        <td class="totalEmpty" colspan="1"></td>
        <td class="totalLabel" align="center" colspan="${columns?string.number}">${TEXT_PRICING_FOOTER_OVERALL_TOTAL}</td>
        <td class="totalValue bigChar tablePrice" align="right">${object.overallTotalProposalValue}</td>
    </tr>
</#if>