<#ftl output_format="HTML" auto_esc=true>
<#assign columns = 1>
<#list pricingTableStyle.columns as column>
    <#if column.type == 'price'>
        <#if !isHidePriceColumn>
            <#assign columns += 1>
        </#if>
    <#elseif column.type == 'term'>
        <#if !isHideTermColumn>
            <#assign columns += 1>
        </#if>
    <#elseif column.type == 'quantity'>
        <#if !isHideQtyColumn>
            <#assign columns += 1>
        </#if>
    <#elseif column.type == 'total'>
        <#if !isHideTotalPriceColumn && isHideTotalCostColumn>
            <#assign columns += 1>
        </#if>
    <#elseif column.type == "tax">
        <#if taxLabel?? && taxPercentage?? && !removeTax && !isHideTaxColumn>
            <#assign columns += 1>
        </#if>
    <#elseif column.type == "addition">
        <#if !isHideAdditionColumn>
            <#assign columns += 1>
        </#if>
    <#elseif column.type == "total_inc_tax">
        <#if !isHideTotalCostColumn>
            <#assign columns += 1>
        </#if>
    <#elseif column.type?starts_with("attr_customfield")>
        <#if !.vars['hideCustom' + column.type?remove_beginning("attr_customfield")] && customfields[column.type]?? && customfields[column.type].on>
            <#assign columns += 1>
        </#if>
    </#if>
</#list>
<tr class="sectionRow" style="${pricingTableStyle.rows.buildHeadingsStyle()!""}">
    <td colspan="${(columns + 1)?string.number}" class="description"> ${escaped.label?no_esc} </td>
</tr>