<#ftl output_format="HTML" auto_esc=true>
<#assign columns = 1>
<#list pricingTableStyle.columns as column>
    <#if column.type == 'price'>
        <#if !isHidePriceColumn>
            <#assign columns += 1>
        </#if>
    <#elseif column.type == 'term'>
        <#if !isHideTermColumn>
            <#assign columns += 1>
        </#if>
    <#elseif column.type == 'quantity'>
        <#if !isHideQtyColumn>
            <#assign columns += 1>
        </#if>
    <#elseif column.type?starts_with("attr_customfield")>
        <#if !.vars['hideCustom' + column.type?remove_beginning("attr_customfield")] && customfields[column.type]?? && customfields[column.type].on>
            <#assign columns += 1>
        </#if>
    </#if>
</#list>
<tr class="dataRow nick <#if escaped.note?? && escaped.note?length gt 0>hasNote</#if>">
<td colspan="${columns?string.number}" align="left">
    <div class="description">
        ${escaped.title?no_esc}
    </div>
</td>
<#assign offsetColumns = columns>
<#if !isHideTotalPriceColumn>
	<td class="tablePrice" style="${pricingTableStyle.columns[pricingTableStyle.columns?size - offsetColumns].buildStyles()}" data-col="${columns - offsetColumns}">
	    ${object.summarisedTotal}
	</td>
    <#assign offsetColumns -= 1>
</#if>

<#if !isHideAdditionColumn>
	<td class="tablePrice"  style="${pricingTableStyle.columns[pricingTableStyle.columns?size - offsetColumns].buildStyles()}">
	    ${object.summarisedAddition}
	</td>
    <#assign offsetColumns -= 1>
</#if>
<#if taxLabel?? && taxPercentage?? && !removeTax && !isHideTaxColumn>
	<td class="tablePrice" style="${pricingTableStyle.columns[pricingTableStyle.columns?size - offsetColumns].buildStyles()}">
	    ${object.summarisedTax}
	</td>
    <#assign offsetColumns -= 1>
</#if>

<#if !isHideTotalCostColumn>
	<td class="tablePrice" style="${pricingTableStyle.columns[pricingTableStyle.columns?size - offsetColumns].buildStyles()}">
	    ${object.summarisedTotal}
	</td>
</#if>
</tr>