<#ftl output_format="HTML" auto_esc=true>
    <#assign columns = 0>
    <#list pricingTableStyle.columns as column>
        <#if column.type == "products">
            <#assign columns += 1>
        <#elseif column.type == "quantity">
            <#if !isHideQtyColumn>
                <#assign columns += 1>
            </#if>
        <#elseif column.type == "term">
            <#if !isHideTermColumn>
                <#assign columns += 1>
            </#if>
        <#elseif column.type == "price">
            <#if !isHidePriceColumn>
                <#assign columns += 1>
            </#if>
      <#elseif column.type == 'total'>
          <#if !isHideTotalPriceColumn>
                <#assign columns += 1>
          </#if>
      <#elseif column.type == "addition">
          <#if !isHideAdditionColumn>
                <#assign columns += 1>
          </#if>
      <#elseif column.type == "tax">
          <#if taxLabel?? && taxPercentage?? && !removeTax && !isHideTaxColumn>
                <#assign columns += 1>
          </#if>
      <#elseif column.type == "total_inc_tax">
          <#if !isHideTotalCostColumn>
                <#assign columns += 1>
          </#if>
        <#elseif column.type?starts_with("attr_customfield") >
            <#list object.misc as k, v>
                <#if k == column.type>
                    <#if !.vars['hideCustom' + column.type?remove_beginning("attr_customfield")] && customfields[column.type]?? && customfields[column.type]?? && customfields[column.type].on>
                        <#assign columns += 1>
                    </#if>
                </#if>
            </#list>
        </#if>
    </#list>

<!--<tr class="dataRow separator">-->
    <!--<td colspan="${columns?string.number}"></td>-->
<!--</tr>-->
<!--<tr class="dataRow subTotalRow">-->
    <!--<#list pricingTableStyle.columns as column>-->
        <!--<#if column.type == "products">-->
            <!--<td align="left" style="${column.buildStyles()!""}">-->
                <!--<div class="description">-->
			        <!--${pricingTableStyle.rows.labels['TEXT_PRICING_BODY_TOTAL']}-->
			    <!--</div>-->
            <!--</td>-->
        <!--<#elseif column.type == "quantity">-->
            <!--<#if !isHideQtyColumn>-->
                <!--<td align="center" style="${column.buildStyles()!""}"></td>-->
            <!--</#if>-->
        <!--<#elseif column.type == "term">-->
            <!--<#if !isHideTermColumn>-->
                <!--<td align="center" style="${column.buildStyles()!""}"></td>-->
            <!--</#if>-->
        <!--<#elseif column.type == "price">-->
            <!--<#if !isHidePriceColumn>-->
                <!--<td class="tablePrice" align="right" style="${column.buildStyles()!""}">-->
                <!--</td>-->
            <!--</#if>-->
      <!--<#elseif column.type == 'total'>-->
          <!--<#if !isHideTotalPriceColumn>-->
                <!--<td align="right" class="tablePrice" style="${column.buildStyles()!""}">-->
                    <!--${object.summarisedTotal}-->
        		<!--</td>-->
          <!--</#if>-->
      <!--<#elseif column.type == "addition">-->
          <!--<#if !isHideAdditionColumn>-->
                <!--<td align="right" class="tablePrice" style="${column.buildStyles()!""}">-->
		            <!--${object.summarisedAddition}-->
		        <!--</td>-->
          <!--</#if>-->
      <!--<#elseif column.type == "tax">-->
          <!--<#if taxLabel?? && taxPercentage?? && !removeTax && !isHideTaxColumn>-->
                <!--<td align="right" class="tablePrice" style="${column.buildStyles()!""}">-->
		            <!--${object.summarisedTax}-->
		        <!--</td>-->
          <!--</#if>-->
      <!--<#elseif column.type == "total_inc_tax">-->
          <!--<#if !isHideTotalCostColumn>-->
                <!--<td align="right" class="tablePrice" style="${column.buildStyles()!""}">-->
		            <!--${object.summarisedAmount}-->
		        <!--</td>-->
          <!--</#if>-->
        <!--<#elseif column.type?starts_with("attr_customfield") >-->
            <!--<#list object.misc as k, v>-->
                <!--<#if k == column.type>-->
                    <!--<#if !.vars['hideCustom' + column.type?remove_beginning("attr_customfield")] && customfields[column.type]?? && customfields[column.type]?? && customfields[column.type].on>-->
                        <!--<td align="center" class="tablePrice" style="${column.buildStyles()!""}" >-->
                        <!--</td>-->
                    <!--</#if>-->
                <!--</#if>-->
            <!--</#list>-->
        <!--</#if>-->
    <!--</#list>-->
<!--</tr>    -->
<!--<tr class="dataRow separator">-->
  <!--<td colspan="${columns?string.number}"></td>-->
<!--</tr>-->