<#ftl output_format="HTML" auto_esc=true>
<#assign columns = 2>
<#if !isHidePriceColumn>
	<#assign columns += 1>
</#if>
<#if !isHideTermColumn>
	<#assign columns += 1>
</#if>
<#if !isHideQtyColumn>
	<#assign columns += 1>
</#if>
<#if !isHideTotalPriceColumn>
	<#assign columns += 1>
</#if>
<tr class="sectionRow"> <td colspan="${columns}" class="description"> ${escaped.label?no_esc} </td> </tr>