<#ftl output_format="HTML" auto_esc=true>
<tr class="tableHeader iconRow" valign="top" data-version="jane">
	<td class="productCell">
		<i class="fa fa-shopping-cart">
		</i>
		<p>
			${TEXT_PRICING_HEADER_PRODUCT}
		</p>
	</td>
	<td width="25%">
		<i class="fa fa-cube">
		</i>
		<p>
			${customfields.attr_customfield1.label}
		</p>
	</td>
	<td width="5%">
	<#if !isHideQtyColumn>
		<i class="fa fa-hashtag">
		</i>
		<p>
			${TEXT_PRICING_HEADER_QTY}
		</p>
	</#if>
	</td>
	<#if !isHideTermColumn>
	<td width="22%">
		<i class="fa fa-clock-o">
		</i>
		<p>
			${TEXT_PRICING_HEADER_TERM}
		</p>
	</td>
	</#if>
	<td width="10%" class="costCell">
	<#if !isHidePriceColumn>
		<i class="moneytaryValue">
		</i>
		<p>
			${TEXT_PRICING_HEADER_PRICE}
		</p>
	</#if>
	</td>
	<#if !isHideTotalPriceColumn>
	<td width="10%" class="totalCostCell">
		<i class="moneytaryValue">
		</i>
		<p>
			${TEXT_PRICING_HEADER_TOTAL}
		</p>
	</td>
	</#if>
</tr>