<#ftl output_format="HTML" auto_esc=true>
<#if object.manualPercentage?? && object.manualPercentage!= 0>
	<#assign percentage = object.manualPercentage>
<#elseif object.autoPercentage?? && object.autoPercentage!= 0>
	<#assign percentage = object.autoPercentage>
<#else>
	<#assign percentage = 0>
</#if>

<#if escaped.note?? && escaped.note?length gt 0>
    <#assign rowspan = '2'>
<#else>
    <#assign rowspan = '1'>
</#if>

<#assign multiplier = ((100 + percentage)/100)>
<tr class="dataRow <#if escaped.note?? && escaped.note?length gt 0>hasNote</#if>">
	<td align="left" style="vertical-align: top;">
		<div class="description">
			<#if object.thumbnail?? && object.thumbnail?length gt 0>
				<img style="float: left; margin: 0 10px 10px 0;" src="${object.thumbnail}" />
			</#if>
			${escaped.label?no_esc} 
		</div>
	</td>
	<td align="left" rowspan="${rowspan}" style="vertical-align: top;border-bottom: 1px solid #999;">
		${object.misc.attr_customfield1!""}
	</td>
	</#if>
	<td align="center">
	<#if !isHideQtyColumn>
		${object.qty?string.number}
	</#if>
	</td>
	<#if !isHideTermColumn>
	<td align="center">
		<#if object.term == 1>
          ${pricingTermType}
		<#else>
		  ${object.term?string.number} ${pricingTermType}
		</#if>
	</td>
	</#if>
	<td class="tablePrice" align="right">
	<#if !isHidePriceColumn>
		<#assign price = object.unitPrice * multiplier>
		${price}
		<#if percentage != 0 && (!isHideDiscountFromPriceRow || !isHideMarginFromPriceRow)>
			<br/><small><strike>${object.unitPrice}</strike> (${percentage?string["#0.##"]}%)</small>
		</#if>
	</#if>
	</td>
	<#if !isHideTotalPriceColumn>
	<td align="right" class="tablePrice">
		${object.totalPrice}
	</td>
	</#if>
</tr>
<#if escaped.note?? && escaped.note?length gt 0>
<tr class="dataNote">
	<td colspan="1">
		<div class="note description">${escaped.note?no_esc}</div>
	</td>
	<td colspan="3">
		
	</td>
</tr>
</#if>