<#ftl output_format="HTML" auto_esc=true>
<#assign columns = 1>
<#if !isHidePriceColumn>
	<#assign columns += 1>
</#if>
<#if !isHideTermColumn>
	<#assign columns += 1>
</#if>
<#if !isHideQtyColumn>
	<#assign columns += 1>
</#if>
<#if isHideTotalPriceColumn>
	<#assign columns -= 1>
</#if>
<tr class="dataRow <#if escaped.note?? && escaped.note?length gt 0>hasNote</#if>">
	<td colspan="${columns?string.number}" align="left">
		<div class="description">
			${escaped.title?no_esc}
		</div>
	</td>
	<td align="right" class="tablePrice">
		${object.summarisedTotal}
	</td>
</tr>
<#if escaped.note?? && escaped.note?length gt 0>
<tr class="dataNote">
	<td colspan="5">
		<div class="note description">${escaped.note?no_esc}</div>
	</td>
</tr>
</#if>