#document-section-tabs div.section-sort-handle {
  width: 20px;
  height: 14px; }

.videoContainer input#videoCode {
  width: 80%; }

span#coverpage-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  max-width: 182px;
  margin-left: 20px; }

#editorCloseButton {
  background-color: #999;
  border-color: #8c8c8c;
  color: #ffffff;
  text-transform: uppercase; }

body {
  height: 100%; }

.asset-section-title h6, .travel-section-title h6, .alert-section-title h6 {
  font-weight: bold;
  color: red;
  font-size: 17px; }

.fa, .fab, .fal, .far, .fas {
  width: 1em;
  height: 1em;
  font-size: inherit;
  color: inherit; }

.editor-header {
  min-height: 52px;
  position: absolute;
  width: 100%;
  z-index: 1002;
  background: #fff;
  color: #43454e;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  display: flex; }
  .editor-header #logo-group {
    width: initial; }
    .editor-header #logo-group #logo {
      margin-top: 3px;
      display: inline-block;
      height: 39px;
      float: left;
      margin-left: 9px; }
      .editor-header #logo-group #logo.logo-text {
        padding-top: 0;
        margin-top: 8px;
        border-right: 1px dotted #c7c7c7;
        display: block;
        padding-right: 12px;
        height: unset; }
        .editor-header #logo-group #logo.logo-text span {
          background: #039BE5;
          width: 32px;
          min-width: 32px;
          height: 32px;
          line-height: 32px;
          text-align: center;
          font-size: 16px;
          font-weight: 500;
          color: #FFF;
          border-radius: 2px;
          padding: 0; }
      .editor-header #logo-group #logo img {
        height: 28px;
        padding-top: 0;
        margin-top: 8px;
        border-right: 1px dotted #c7c7c7;
        padding-right: 12px;
        width: auto; }
    .editor-header #logo-group h3 {
      margin-left: 64px;
      margin-top: 10px;
      font-family: Roboto,Roboto;
      font-size: 16px;
      color: inherit;
      font-weight: normal;
      text-transform: capitalize;
      text-decoration: inherit;
      display: block;
      line-height: normal; }
    .editor-header #logo-group .header-company {
      font-size: 25px; }
  .editor-header div {
    display: inline-block;
    vertical-align: middle;
    float: left; }
  .editor-header .main-editor-buttons {
    position: absolute;
    width: initial;
    right: 0;
    padding-right: 10px;
    padding-left: 10px;
    top: 2px;
    height: 45px !important; }
    .editor-header .main-editor-buttons .btn {
      margin-top: 6px;
      box-shadow: none !important;
      margin-right: 10px;
      transition: all 0.3s ease 0s !important;
      font-family: 'Open Sans';
      border-radius: 4px; }
    .editor-header .main-editor-buttons .saveTravelDocAction {
      color: #333;
      text-transform: uppercase;
      background-color: #fff;
      border: 1px solid #ccc; }

.button-green {
  background: #64bd63;
  color: white !important;
  border-color: #64bd63 !important; }
  .button-green:hover, .button-green:active, .button-green:focus {
    background: #66b165; }

.btn-light-grey {
  background-color: #999;
  border-color: #8c8c8c;
  color: #ffffff; }

.editor-section-panel {
  position: absolute;
  top: 52px;
  overflow: hidden;
  overflow-y: auto !important;
  left: 0;
  bottom: 0;
  left: auto;
  z-index: 1000;
  width: 228px;
  background: #fff;
  border-right: 1px solid rgba(0, 0, 0, 0.2); }

.editor-header > :first-child {
  position: relative;
  margin-right: 5px; }

.editor-options-panel {
  position: absolute;
  top: 52px;
  overflow-y: auto;
  right: 0;
  bottom: 0;
  left: auto;
  z-index: 1000;
  width: 76px; }
  .editor-options-panel .editor-blocks-holder {
    background: #f4f4f4;
    color: #43454e;
    width: 76px;
    display: table;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    table-layout: fixed; }
    .editor-options-panel .editor-blocks-holder .nav-panel {
      display: table-row;
      height: 100%; }
      .editor-options-panel .editor-blocks-holder .nav-panel .nav-panel-set {
        display: table-cell;
        vertical-align: top; }
        .editor-options-panel .editor-blocks-holder .nav-panel .nav-panel-set .nav-icon {
          color: #8d8d8d;
          font-size: 12px;
          display: block;
          padding: 12px 0 10px;
          border-radius: 0;
          position: relative;
          white-space: nowrap;
          text-decoration: none;
          transition: 0.1s;
          cursor: pointer;
          font-weight: normal;
          line-height: 1.42857143;
          text-align: center;
          vertical-align: middle;
          border: 0;
          margin-bottom: 0; }
          .editor-options-panel .editor-blocks-holder .nav-panel .nav-panel-set .nav-icon i {
            display: block;
            margin: 0 auto 5px; }
          .editor-options-panel .editor-blocks-holder .nav-panel .nav-panel-set .nav-icon .nav-icon-title {
            display: block;
            line-height: 1;
            margin: 0;
            padding-top: 3px;
            text-transform: capitalize;
            letter-spacing: 0; }
        .editor-options-panel .editor-blocks-holder .nav-panel .nav-panel-set .nav-icon.active {
          color: #43454e;
          background: #e5e5e5; }
      .editor-options-panel .editor-blocks-holder .nav-panel ul, .editor-options-panel .editor-blocks-holder .nav-panel ol, .editor-options-panel .editor-blocks-holder .nav-panel li {
        margin: 0;
        padding: 0;
        list-style: none; }

.editor-blocks-panel {
  position: absolute;
  right: 76px;
  top: 52px;
  bottom: 0;
  left: auto;
  width: 300px;
  overflow: hidden;
  overflow-y: auto !important;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  background: #fff;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transform: translateZ(0);
  z-index: 999; }
  .editor-blocks-panel .side-bar-cover-container .block-holder {
    bottom: 0; }
  .editor-blocks-panel .side-bar-cover-container #coverpage-main-container h7 {
    font-size: 1.2rem; }
  .editor-blocks-panel .block-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    overflow-y: auto !important; }
    .editor-blocks-panel .block-footer .btn {
      margin: 10px 0 10px 33px;
      width: 80%;
      background-color: #e4e2e2;
      margin-right: 10px;
      transition: all 0.3s ease 0s !important;
      font-family: 'Open Sans'; }
  .editor-blocks-panel .block-head {
    position: relative;
    padding: 10px 20px 0;
    box-shadow: inset 0 -1px 0 #e5e5e5; }
    .editor-blocks-panel .block-head .content-cus-title {
      display: block;
      padding: 5px 10px 5px 0;
      box-shadow: 0 5px 10px #fff;
      z-index: 100;
      position: relative;
      flex: 0 0 auto; }
      .editor-blocks-panel .block-head .content-cus-title .title-back-button {
        position: absolute;
        top: 10px;
        cursor: pointer;
        display: none; }
        .editor-blocks-panel .block-head .content-cus-title .title-back-button.active {
          display: block; }
      .editor-blocks-panel .block-head .content-cus-title .content-title {
        width: 100%;
        text-align: center; }
    .editor-blocks-panel .block-head .search-widget {
      display: block;
      padding: 10px 20px 0;
      box-shadow: 0 5px 10px #fff;
      z-index: 100;
      position: relative;
      flex: 0 0 auto; }
      .editor-blocks-panel .block-head .search-widget .search-auto input {
        font-size: inherit;
        padding-left: 4px;
        display: block;
        width: 100%;
        padding-bottom: 8px;
        color: #2E2F35;
        background-color: transparent;
        border: 0;
        outline: none;
        position: relative;
        transition: border-color .15s; }
      .editor-blocks-panel .block-head .search-widget .search-auto .search-icon {
        position: absolute;
        top: 50%;
        left: 0;
        color: #8D8D8D;
        transform: translate(0, -50%); }
  .editor-blocks-panel .block-holder {
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 50px;
    left: 0;
    overflow-y: auto !important;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar; }
    .editor-blocks-panel .block-holder .headed-scroller {
      display: flex;
      flex-direction: column;
      height: 100%;
      flex-grow: 1; }
    .editor-blocks-panel .block-holder .block-container {
      padding: 20px 20px 0;
      margin-bottom: 20px;
      box-sizing: border-box;
      display: block; }
      .editor-blocks-panel .block-holder .block-container .coverpage-image {
        width: 120px;
        margin-bottom: 15px;
        border-radius: 4px;
        overflow: hidden; }
        .editor-blocks-panel .block-holder .block-container .coverpage-image img {
          width: 100%; }
      .editor-blocks-panel .block-holder .block-container .content-title {
        text-align: center;
        margin-top: 10px; }
      .editor-blocks-panel .block-holder .block-container .content-container-row {
        display: flex;
        margin: 0;
        padding-bottom: 10px; }
        .editor-blocks-panel .block-holder .block-container .content-container-row .content-files-column {
          flex: 44%;
          height: 150px;
          background-size: 100% !important;
          border-radius: 4px;
          position: relative; }
          .editor-blocks-panel .block-holder .block-container .content-container-row .content-files-column .content-info {
            width: 100%;
            bottom: 0;
            position: absolute;
            text-align: center;
            background-color: lightgray;
            display: none; }
          .editor-blocks-panel .block-holder .block-container .content-container-row .content-files-column:hover .content-info {
            display: block; }
      .editor-blocks-panel .block-holder .block-container .block-input-container {
        width: 100%;
        line-height: 34px;
        height: 34px;
        background-color: #fff;
        border: 1px solid lightgray;
        border-radius: 4px;
        cursor: pointer;
        margin-bottom: 5px; }
        .editor-blocks-panel .block-holder .block-container .block-input-container .input-content {
          width: 100%;
          height: 100%;
          background: none;
          padding: 0 5px;
          margin: auto;
          position: relative; }
      .editor-blocks-panel .block-holder .block-container .block-button-container {
        width: 100%;
        line-height: 34px;
        height: 34px;
        background-color: lightgray;
        border-radius: 4px;
        cursor: pointer;
        margin-bottom: 5px; }
        .editor-blocks-panel .block-holder .block-container .block-button-container .button-content {
          margin: auto;
          position: relative;
          padding: 0 20px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
          .editor-blocks-panel .block-holder .block-container .block-button-container .button-content .round-replacer-small {
            position: absolute;
            right: 12px;
            top: 4px; }
            .editor-blocks-panel .block-holder .block-container .block-button-container .button-content .round-replacer-small .sp-preview {
              border: none; }
          .editor-blocks-panel .block-holder .block-container .block-button-container .button-content .switchery {
            margin-left: 0; }
          .editor-blocks-panel .block-holder .block-container .block-button-container .button-content span {
            margin: 0px 10px; }
      .editor-blocks-panel .block-holder .block-container .black-square-container {
        margin-bottom: 20px !important;
        margin-left: -6px; }
        .editor-blocks-panel .block-holder .block-container .black-square-container #content-library-images, .editor-blocks-panel .block-holder .block-container .black-square-container #content-library-videos {
          max-width: 120px;
          margin-bottom: 15px; }
        .editor-blocks-panel .block-holder .block-container .black-square-container .content-new-loader {
          border: 3px solid #f3f3f3;
          /* Light grey */
          border-top: 3px solid #606060;
          border-radius: 50%;
          margin: 12px auto;
          width: 20px;
          height: 20px;
          -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite; }
        .editor-blocks-panel .block-holder .block-container .black-square-container .block-icon {
          display: inline-block;
          position: relative;
          margin: 0 0 6px 6px;
          width: 82px;
          height: 64px;
          padding: 0;
          border: 1px solid #d8d8d8;
          background: #ededed;
          color: #000;
          white-space: nowrap;
          text-decoration: none;
          transition: 0.1s;
          font-size: 12px;
          font-weight: normal;
          line-height: 1.42857143;
          text-align: center;
          vertical-align: middle;
          box-sizing: border-box;
          cursor: move;
          border-radius: 4px; }
          .editor-blocks-panel .block-holder .block-container .black-square-container .block-icon .block-bg {
            position: absolute;
            top: 5px;
            right: 5px;
            bottom: 5px;
            left: 5px; }
            .editor-blocks-panel .block-holder .block-container .black-square-container .block-icon .block-bg .block-icon-img svg {
              margin-top: 6px; }
            .editor-blocks-panel .block-holder .block-container .black-square-container .block-icon .block-bg .block-icon-label {
              position: absolute;
              bottom: 0;
              left: -5px;
              right: -5px;
              font-size: 10px;
              text-transform: uppercase;
              letter-spacing: 0;
              color: #8d8d8d; }

.content-new-loader {
  border: 3px solid #f3f3f3;
  /* Light grey */
  border-top: 3px solid #606060;
  border-radius: 50%;
  margin: 12px auto;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite; }

@media (min-width: 768px) {
  .doc-effect-holder {
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 20px !important; } }

.editor-content {
  padding-top: 32px;
  transition: padding-top 0.18s;
  position: relative;
  z-index: auto; }
  .editor-content .editor-content-scroller {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    outline: 0 !important; }
    .editor-content .editor-content-scroller .doc-page-area {
      position: relative;
      margin: 0 auto 2px;
      max-width: 800px;
      padding-bottom: 120px; }
      .editor-content .editor-content-scroller .doc-page-area .doc-page-area-sheet {
        width: 792px;
        min-height: 1036px;
        background: #fff;
        background-size: 100% auto;
        background-position: 0 0;
        position: relative;
        z-index: 0;
        background: #fff;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.07), 0 0 0 1px rgba(0, 0, 0, 0.06); }
        .editor-content .editor-content-scroller .doc-page-area .doc-page-area-sheet.coverPageContent {
          max-height: 1036px; }
        .editor-content .editor-content-scroller .doc-page-area .doc-page-area-sheet .section-title {
          position: absolute;
          top: -18px;
          right: 41.5%; }
        .editor-content .editor-content-scroller .doc-page-area .doc-page-area-sheet .page-content-area {
          padding: 20px;
          width: 100%; }
      .editor-content .editor-content-scroller .doc-page-area .doc-page-area-sheet:not(:first-child) {
        margin-top: 20px;
        padding-top: 20px; }
    .editor-content .editor-content-scroller .doc-page-area:first-child .section-title {
      display: none; }

.window-min-height {
  height: 100%;
  min-height: 778px; }

.panel-padding-sections {
  padding-left: 228px; }

.panel-padding-blocks {
  padding-right: 375px; }

.panel-padding-options {
  padding-right: 75px; }

.section-tab-area {
  margin-top: 20px;
  float: right; }

#document-section-tabs, #document-section-add-tab {
  top: 0;
  left: 2px;
  float: right;
  display: block; }
  #document-section-tabs li, #document-section-add-tab li {
    width: 220px;
    transition: all .3s ease 0s !important;
    float: right;
    margin-bottom: 2px;
    position: relative; }
    #document-section-tabs li.dynaTab .section-button, #document-section-add-tab li.dynaTab .section-button {
      padding: 16px 15px 16px 25px; }
    #document-section-tabs li.dynaTab .section-sort-handle, #document-section-add-tab li.dynaTab .section-sort-handle {
      position: absolute;
      top: 50%;
      left: 7px;
      transform: translateY(-50%);
      color: #999;
      cursor: move; }
      #document-section-tabs li.dynaTab .section-sort-handle:hover, #document-section-tabs li.dynaTab .section-sort-handle.active, #document-section-add-tab li.dynaTab .section-sort-handle:hover, #document-section-add-tab li.dynaTab .section-sort-handle.active {
        color: black; }
      #document-section-tabs li.dynaTab .section-sort-handle svg, #document-section-add-tab li.dynaTab .section-sort-handle svg {
        height: 20px; }
    #document-section-tabs li .section-button, #document-section-add-tab li .section-button {
      margin: 0 0px 0 1px;
      box-shadow: none;
      -webkit-appearance: inherit;
      border-color: #DDDDDD;
      background-color: #dddddd;
      min-width: 60px;
      position: relative;
      border-radius: 0 0 0 0 !important;
      /* width: 100%; */
      color: #999;
      line-height: 16px;
      border: 1px solid transparent;
      display: block;
      cursor: pointer;
      padding: 16px 15px; }
      #document-section-tabs li .section-button .editButton, #document-section-tabs li .section-button .removeButton, #document-section-add-tab li .section-button .editButton, #document-section-add-tab li .section-button .removeButton {
        width: 10%;
        padding-left: 10px;
        display: none; }
      #document-section-tabs li .section-button.active .removeButton, #document-section-add-tab li .section-button.active .removeButton {
        color: red;
        display: block; }
      #document-section-tabs li .section-button .tab-label, #document-section-add-tab li .section-button .tab-label {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-radius: 4px; }
        #document-section-tabs li .section-button .tab-label input, #document-section-add-tab li .section-button .tab-label input {
          padding: 5px; }
        #document-section-tabs li .section-button .tab-label .switchery, #document-section-add-tab li .section-button .tab-label .switchery {
          position: absolute;
          right: 0; }

#document-section-add-tab {
  margin-top: 20px; }

.images-drag-helper {
  max-width: 128px;
  max-height: 150px; }

.ui-draggable-helper {
  display: inline-block;
  position: relative;
  margin: 0 0 6px 6px;
  width: 82px;
  height: 64px;
  padding: 0;
  border: 1px solid #d8d8d8;
  background: #ededed;
  color: #000;
  white-space: nowrap;
  text-decoration: none;
  transition: 0.1s;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  cursor: move;
  z-index: 999;
  border-radius: 4px; }
  .ui-draggable-helper:not(.block-icon) {
    width: unset;
    height: unset; }
    .ui-draggable-helper:not(.block-icon):not(.images-drag-helper) {
      padding: 5px; }
  .ui-draggable-helper .block-bg {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px; }
    .ui-draggable-helper .block-bg .block-icon-img svg {
      margin-top: 6px; }
    .ui-draggable-helper .block-bg .block-icon-label {
      position: absolute;
      bottom: 0;
      left: -5px;
      right: -5px;
      font-size: 10px;
      text-transform: uppercase;
      letter-spacing: 0;
      color: #8d8d8d; }

.page-content-area .content-new-holder {
  width: 10%;
  margin-bottom: 20px;
  height: 1px;
  border: 1px dotted blue;
  border-radius: 2px; }
  .page-content-area .content-new-holder .content-new-loader {
    border: 3px solid #f3f3f3;
    /* Light grey */
    border-top: 3px solid #606060;
    border-radius: 50%;
    margin: 12px auto;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite; }

.page-content-area .content-holder {
  width: 100%;
  margin-bottom: 20px;
  border: 1px dotted transparent;
  border-radius: 2px;
  position: relative; }
  .page-content-area .content-holder[data-type=block-newpage] {
    height: 40px !important; }
  .page-content-area .content-holder .content-holder-name {
    position: absolute;
    left: 0px;
    top: -28px; }
  .page-content-area .content-holder .touch-container {
    background: #f3af31;
    border: 1px solid #f3af31;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 30px;
    position: absolute;
    bottom: 100%;
    left: 0;
    display: none;
    color: #fff;
    line-height: 30px;
    vertical-align: middle;
    font-size: 14px;
    z-index: 2004;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: max-content; }
    .page-content-area .content-holder .touch-container .block-handle {
      height: 30px;
      display: inline-block; }
      .page-content-area .content-holder .touch-container .block-handle a {
        padding: 7px;
        line-height: 30px; }
    .page-content-area .content-holder .touch-container > [class*=" fa-"] {
      border-right: 1px solid #CDCDCD;
      box-shadow: 1px 0 0 0 #FFFFFF;
      opacity: 0.7;
      padding: 9px 6px 8px;
      position: absolute;
      left: 0;
      top: 0;
      font-size: 36px !important;
      height: 36px; }
    .page-content-area .content-holder .touch-container .content-holder-toolbar {
      display: inline-block; }
      .page-content-area .content-holder .touch-container .content-holder-toolbar .toolbar-button-holder {
        display: inline-block; }
        .page-content-area .content-holder .touch-container .content-holder-toolbar .toolbar-button-holder div[class*="btn"] {
          cursor: pointer; }
          .page-content-area .content-holder .touch-container .content-holder-toolbar .toolbar-button-holder div[class*="btn"]:hover {
            color: black; }
        .page-content-area .content-holder .touch-container .content-holder-toolbar .toolbar-button-holder .cht-btn {
          padding: 0 8px 0px 8px;
          -webkit-appearance: inherit;
          display: none; }
        .page-content-area .content-holder .touch-container .content-holder-toolbar .toolbar-button-holder .cht-btn:first-child {
          padding: 0 8px 0px 0px;
          border-right: 1px solid gray; }
        .page-content-area .content-holder .touch-container .content-holder-toolbar .toolbar-button-holder .cht-btn:last-child {
          padding: 7px;
          border: none; }
        .page-content-area .content-holder .touch-container .content-holder-toolbar .toolbar-button-holder .cht-button-delete, .page-content-area .content-holder .touch-container .content-holder-toolbar .toolbar-button-holder .cht-button-edit {
          display: inline-block; }
    .page-content-area .content-holder .touch-container .content-holder-sub-toolbar {
      display: flex;
      transition-delay: 5s;
      z-index: 9;
      position: absolute;
      right: 110px;
      top: 0px;
      border-radius: 2px;
      background: #fff;
      color: #6d6f7a;
      transition: .05s;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 30px rgba(0, 0, 0, 0.08); }
      .page-content-area .content-holder .touch-container .content-holder-sub-toolbar .toolbar-button-holder {
        display: flex;
        padding: 4px 10px; }
        .page-content-area .content-holder .touch-container .content-holder-sub-toolbar .toolbar-button-holder .cht-btn {
          padding: 0 8px 0px 8px;
          -webkit-appearance: inherit;
          display: none; }
        .page-content-area .content-holder .touch-container .content-holder-sub-toolbar .toolbar-button-holder .cht-btn:first-child {
          padding: 0 8px 0px 0px;
          border-right: 1px solid gray; }
        .page-content-area .content-holder .touch-container .content-holder-sub-toolbar .toolbar-button-holder .cht-btn:last-child {
          padding: 0 0px 0px 8px;
          border: none; }
        .page-content-area .content-holder .touch-container .content-holder-sub-toolbar .toolbar-button-holder .cht-button-delete {
          display: block;
          padding: 0 8px 0px 8px; }

.page-content-area .content-footer {
  width: 100%;
  height: 100%;
  min-height: 50px; }

.ve_col_container .content-holder {
  margin-top: 40px; }

.content-holder:hover {
  border: 1px dotted blue; }
  .content-holder:hover > .touch-container {
    display: block; }

.fancy {
  line-height: 0.5;
  text-align: center; }

.fancy span {
  display: inline-block;
  position: relative; }

.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid #b3b3b3;
  border-top: 1px solid #b3b3b3;
  top: 0;
  width: 30rem; }

.fancy span:before {
  right: 100%;
  margin-right: 15px; }

.fancy span:after {
  left: 100%;
  margin-left: 15px; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.booking-detail .left {
  float: left; }

.booking-detail .left .desc {
  padding-left: 15px; }

.booking-detail .right {
  float: right; }

.booking-detail .booking-desc {
  width: 50%;
  display: inline-block; }

.booking-detail .title {
  color: #f75713; }

.booking-detail .title .title-text {
  margin-left: 3px;
  float: left; }

.booking-detail .title:after {
  content: " ";
  clear: both;
  border-bottom: 1px solid #999999;
  width: 100%;
  display: table; }

.booking-detail .desc {
  margin-top: 10px;
  line-height: 25px; }

.booking-detail .desc .desc-text {
  padding: 1px 0;
  text-align: left; }

.booking-detail .desc .desc-text .desc-lbl {
  width: 35%;
  color: #f75713; }

.booking-detail .desc .left .desc-text {
  padding-left: 15px; }

.segment {
  margin-top: 10px;
  width: 100%; }

.segment .segment-heading {
  color: #f75713; }

.segment .segment-heading .icon {
  margin: 22px 0 0 6px;
  float: left;
  font-size: 25px; }

.segment .segment-heading .segment-heading-text {
  margin: 6px 0 0 9px;
  font-size: 12px;
  text-transform: uppercase;
  float: left; }

.segment .segment-heading .segment-heading-subtext {
  float: right;
  font-style: italic;
  font-size: 9px;
  padding-top: 0px;
  padding-right: 6px; }

.segment .segment-heading:after {
  content: " ";
  clear: both;
  border-bottom: 1px solid #999999;
  width: 100%;
  display: table; }

.segment .segment-detail {
  width: 100%;
  margin-top: 10px;
  padding: 0 15px; }

.segment .segment-table {
  font-size: 13px;
  text-align: left;
  width: 100%;
  border-spacing: 1px;
  table-layout: fixed;
  margin-bottom: 20px; }
  .segment .segment-table:not(.flightTimeTable) {
    margin-bottom: 20px;
    margin-left: 88px;
    width: 652px; }

.segment .segment-table td {
  padding: 1px 0;
  text-align: left; }

.segment .segment-table .table-heading {
  color: #f75713; }

.segment .segment-table .table-value {
  width: 212px;
  font-weight: normal !important; }

.segment .segment-table .table-value-3 {
  width: 524px; }

.segment .segment-table.table2 {
  width: 98%;
  margin-left: 1%; }

.segment .segment-table.table2 th {
  border-bottom: 2px solid #f75713; }

.segment .segment-table.table2 th .header-text {
  margin-left: 3px; }

.segment .segment-table.table2 tr {
  margin-top: 10px; }

.segment .segment-table.table2 td {
  padding: 10px 5px 0 0;
  vertical-align: top; }

table.destination-meta td {
  padding: 1px 5px; }

.section-thumb {
  float: left;
  margin: 0 10px 10px 0;
  height: 28rem;
  padding-left: 21.5%;
  margin-top: 2rem; }

.panel[dataId=con-iti] .panel-tools .iti-style-lbl {
  margin-right: 5px; }

.panel[dataId=con-iti] .panel-tools .iti-select {
  margin-right: 10px; }
  .panel[dataId=con-iti] .panel-tools .iti-select .btn {
    border-style: solid; }

.panel[dataId=con-iti] #itineraryContent {
  padding-bottom: 20px; }

.panel[dataId=con-iti] .inline {
  display: inline-block; }

.booking-detail {
  padding: 0 1%;
  text-align: center;
  display: hidden; }
  .booking-detail .left {
    float: left; }
    .booking-detail .left .desc {
      padding-left: 15px; }
  .booking-detail .right {
    float: right; }
  .booking-detail .booking-desc {
    width: 50%;
    display: inline-block; }
  .booking-detail .title .title-text {
    margin-left: 3px;
    float: left; }
  .booking-detail .title:after {
    content: " ";
    clear: both;
    border-bottom: 1px solid #999999;
    width: 100%;
    display: table; }
  .booking-detail .desc {
    margin-top: 10px;
    line-height: 25px; }
    .booking-detail .desc .desc-text {
      padding: 1px 0;
      text-align: left; }
      .booking-detail .desc .desc-text .desc-lbl {
        width: 35%; }
    .booking-detail .desc .left .desc-text {
      padding-left: 15px; }

.segment {
  margin-top: 10px;
  width: 100%; }
  .segment .segment-heading {
    width: 98%;
    margin-left: 1%; }
    .segment .segment-heading .icon {
      margin: 11px 0 0 6px;
      float: left;
      font-size: 25px; }
    .segment .segment-heading .segment-heading-text {
      margin: 6px 0 0 9px;
      font-size: 12px;
      text-transform: uppercase;
      float: left; }
    .segment .segment-heading .segment-heading-subtext {
      float: right;
      font-style: italic;
      color: #000000;
      font-size: 9px;
      padding-top: 40px;
      padding-right: 6px; }
    .segment .segment-heading:after {
      content: " ";
      clear: both;
      border-bottom: 1px solid #999999;
      width: 100%;
      display: table; }
  .segment .segment-detail {
    width: 100%;
    margin-top: 10px;
    padding: 0 15px; }
  .segment .segment-table {
    font-size: 13px;
    text-align: left;
    width: 100%;
    border-spacing: 1px;
    table-layout: fixed;
    margin-bottom: 20px; }
    .segment .segment-table td {
      /*background-color: #D5EFF9;
      border: 1px solid #FFF;*/
      padding: 1px 10px 1px 10px;
      text-align: left; }
    .segment .segment-table .table-heading {
      width: 120px; }
      .segment .segment-table .table-heading.normalHeading {
        width: 28%; }
    .segment .segment-table .table-value {
      width: 212px;
      font-weight: normal !important; }
    .segment .segment-table .table-value-3 {
      width: 524px; }
  .segment .segment-table.table2 {
    width: 98%;
    margin-left: 1%; }
    .segment .segment-table.table2 th {
      border-bottom: 2px solid #CDCDCD; }
      .segment .segment-table.table2 th .header-text {
        margin-left: 3px; }
    .segment .segment-table.table2 tr {
      margin-top: 10px; }
    .segment .segment-table.table2 td {
      padding: 10px 5px 0 0;
      vertical-align: top; }

.alert-default.fade.in {
  opacity: 1 !important; }

.droppable-holder {
  display: none;
  width: 100%;
  height: 30px;
  background-color: #3cba03 !important;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQYV2NM3Zv8f7bzXEYGKIAzMARgKjFUAABZHQgFvm52CAAAAABJRU5ErkJggg==) !important;
  margin: 10px 0; }
  .droppable-holder.active, .droppable-holder:hover {
    display: block !important; }
  .droppable-holder.insertedDrop {
    display: block; }
  .droppable-holder p {
    line-height: 40px;
    text-align: center; }

.fr-toolbar {
  border-radius: 0 !important; }

.edit-section-title {
  min-height: 60px;
  margin: 0 20px;
  border: 1px dashed #ddd; }
  .edit-section-title input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    padding: 5 20;
    font-size: 30px;
    color: unset; }

.pdf-pagebreak-divider {
  position: absolute;
  top: 50%;
  color: #000;
  border-top: 2px dashed #ddd;
  width: 100%; }
  .pdf-pagebreak-divider .pagebreak-content {
    position: absolute;
    transform: translateY(calc(-50% + -2px));
    background: white; }
    .pdf-pagebreak-divider .pagebreak-content i.scissors-icon {
      position: absolute;
      left: 110px;
      top: calc(50% - 1px);
      transform: translateY(-50%);
      background: #fff;
      font-size: 18px;
      width: unset; }
      .pdf-pagebreak-divider .pagebreak-content i.scissors-icon::after {
        content: '\f0c4';
        font-family: 'fontawesome';
        font-style: normal;
        font-size: 18px; }

.ve_row .ve_section-container {
  padding: 0; }
  .ve_row .ve_section-container .ve_row_container .ve_col:hover > .vecontrol-container .vecontrol-out {
    display: block; }
  .ve_row .ve_section-container .ve_row_container .ve_col:hover > .vecontrol-container .vecontrol-append {
    display: block; }
  .ve_row .ve_section-container .ve_row_container .ve_col.ve_col_empty .vecontrol-in {
    display: block; }
  .ve_row .ve_section-container .ve_row_container .ve_col .vecontrol-append a.dropdown-toggle:after {
    display: none; }
  .ve_row .ve_section-container .ve_row_container .ve_col .vecontrol-out {
    display: none;
    position: absolute;
    white-space: nowrap;
    overflow: visible;
    z-index: 2000;
    bottom: 100%;
    width: 100%; }
    .ve_row .ve_section-container .ve_row_container .ve_col .vecontrol-out .ve-control {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      overflow: hidden; }
      .ve_row .ve_section-container .ve_row_container .ve_col .vecontrol-out .ve-control.ve-row-control {
        background: #0073aa;
        display: inline-block; }
        .ve_row .ve_section-container .ve_row_container .ve_col .vecontrol-out .ve-control.ve-row-control span a:hover {
          color: black; }
      .ve_row .ve_section-container .ve_row_container .ve_col .vecontrol-out .ve-control.ve-col-control {
        margin-left: 3px;
        background: #f3af1c;
        display: inline-block; }
        .ve_row .ve_section-container .ve_row_container .ve_col .vecontrol-out .ve-control.ve-col-control span a:hover {
          color: black; }
      .ve_row .ve_section-container .ve_row_container .ve_col .vecontrol-out .ve-control.active .show-hide-ctrl {
        display: none !important; }
      .ve_row .ve_section-container .ve_row_container .ve_col .vecontrol-out .ve-control.active.ve-col-control .ve-advanced {
        width: 56px; }
      .ve_row .ve_section-container .ve_row_container .ve_col .vecontrol-out .ve-control.active.ve-row-control .ve-advanced {
        width: 150px; }
      .ve_row .ve_section-container .ve_row_container .ve_col .vecontrol-out .ve-control .ve-advanced {
        width: 0; }
      .ve_row .ve_section-container .ve_row_container .ve_col .vecontrol-out .ve-control span {
        display: inline-block;
        height: 30px;
        vertical-align: middle;
        overflow: hidden;
        transition: width 0.5s;
        color: #fff; }
        .ve_row .ve_section-container .ve_row_container .ve_col .vecontrol-out .ve-control span a {
          padding: 7px;
          line-height: 30px;
          text-align: center;
          cursor: pointer; }
  .ve_row .ve_section-container .ve_row_container .ve_col .vecontrol-in {
    position: absolute;
    display: none;
    white-space: nowrap;
    overflow: visible;
    z-index: 2003;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .ve_row .ve_section-container .ve_row_container .ve_col .vecontrol-in.drag-in-progress {
      display: none !important; }
  .ve_row .ve_section-container .ve_row_container .ve_col .vecontrol-append {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2001; }

span.ve-advanced:not(.show-hide-ctrl) a i.fa {
  height: 16px;
  width: 16px; }

span.ve-advanced a {
  font-size: 14px; }

.ve_ui-panel {
  position: fixed;
  top: 20%;
  left: 330px;
  background: white;
  display: none;
  z-index: 200; }
  .ve_ui-panel .ve_ui-panel-inner {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    width: 650px;
    height: 600px;
    display: flex; }
    .ve_ui-panel .ve_ui-panel-inner .ve_ui-panel-header-container {
      padding: 10px 18px;
      background: #0473aa;
      margin: 0;
      font-size: 14px;
      color: #ffffff;
      flex: 0 0 auto; }
      .ve_ui-panel .ve_ui-panel-inner .ve_ui-panel-header-container .ve_ui-panel-header-content .ve_ui-panel-header-title {
        font-size: 20px;
        font-weight: 300; }
    .ve_ui-panel .ve_ui-panel-inner .ve_ui-panel-content-container {
      flex: 1;
      overflow-y: scroll; }
      .ve_ui-panel .ve_ui-panel-inner .ve_ui-panel-content-container .ve_ui-panel-content .nav-tabs {
        background: #0274aa;
        padding-left: 18px;
        font-size: 14px;
        border: 0;
        border-bottom: 1px solid #dee2e6; }
        .ve_ui-panel .ve_ui-panel-inner .ve_ui-panel-content-container .ve_ui-panel-content .nav-tabs .nav-item a {
          color: #FFF;
          padding: 6px 12px; }
          .ve_ui-panel .ve_ui-panel-inner .ve_ui-panel-content-container .ve_ui-panel-content .nav-tabs .nav-item a.active {
            color: #495057; }
      .ve_ui-panel .ve_ui-panel-inner .ve_ui-panel-content-container .ve_ui-panel-content .tab-content {
        overflow-y: auto;
        border: none; }
    .ve_ui-panel .ve_ui-panel-inner .ve_ui-panel-footer-container {
      flex: 0 0 auto;
      padding: 20px; }
      .ve_ui-panel .ve_ui-panel-inner .ve_ui-panel-footer-container .btn {
        margin: 0 5px; }

.ve_ui-panel-edit input, .ve_ui-panel-edit textarea {
  width: 100%; }

.ve_ui-panel-edit select {
  height: 36px;
  width: 100%; }

.ve_ui-panel-edit label {
  font-weight: bold; }

.ve_ui-panel-edit input[type=checkbox] {
  border: 1px solid #b4b9be;
  background: #fff;
  color: #555;
  clear: none;
  cursor: pointer;
  display: inline-block;
  line-height: 0;
  height: 20px;
  outline: 0;
  padding: 0 !important;
  text-align: center;
  vertical-align: middle;
  width: 20px;
  min-width: 20px;
  -webkit-appearance: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: .05s border-color ease-in-out; }
  .ve_ui-panel-edit input[type=checkbox]:checked:before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f00c';
    line-height: 20px;
    color: #1e8cbe; }

.ve_ui-panel-edit .checkbox-desc {
  display: inline-block;
  vertical-align: middle; }

.ve_ui-panel-edit .col-12 > .row > div {
  padding-top: 10px;
  padding-bottom: 10px; }

.ve_ui-panel-edit .click-action > div {
  margin-top: 10px;
  margin-bottom: 10px; }

.ve_ui-panel-edit .click-action button {
  color: #333; }

.ve_ui-panel-edit .flex-input {
  display: flex;
  align-items: center; }
  .ve_ui-panel-edit .flex-input > span {
    padding: 5px; }

.ve_ui-panel-edit .category-holder {
  border: 1px solid #ddd;
  max-height: 150px;
  overflow-y: auto; }
  .ve_ui-panel-edit .category-holder > ul {
    padding-left: 15px; }
  .ve_ui-panel-edit .category-holder ul {
    list-style: none;
    padding-inline-start: 25px; }

.ve_ui-panel-edit .layout {
  width: 30px;
  display: inline-block;
  margin-right: 10px; }
  .ve_ui-panel-edit .layout .row {
    margin-top: 4px;
    margin-right: -2px;
    margin-left: -2px; }
    .ve_ui-panel-edit .layout .row .col {
      padding: 0; }
      .ve_ui-panel-edit .layout .row .col .bar {
        margin-right: 1px;
        margin-left: 1px;
        border-top-width: 2px;
        border-top-style: solid;
        border-top-color: #a0a0a0; }
  .ve_ui-panel-edit .layout:hover .row .col .bar, .ve_ui-panel-edit .layout.active .row .col .bar {
    border-top-color: #0473aa; }

.ve_table {
  width: 100%; }
  .ve_table th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top; }
  .ve_table tr td {
    text-align: center;
    border: 1px solid #ddd;
    padding: 8px;
    vertical-align: middle; }
    .ve_table tr td select {
      width: 100%;
      height: 38px; }
    .ve_table tr td .select-wrapper {
      width: 70px;
      display: inline-block;
      position: relative;
      margin-right: 20px; }
      .ve_table tr td .select-wrapper:not(:last-child)::after {
        content: "+";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -15px; }

.row.ve_row_container {
  margin-left: 0;
  margin-right: 0; }
  .row.ve_row_container:hover .ve_col {
    border: 1px dashed #cdcdcd; }
  .row.ve_row_container.row-col-content-flex > .ve_col > .ve_col_container {
    display: flex;
    flex-direction: column; }
    .row.ve_row_container.row-col-content-flex > .ve_col > .ve_col_container:not(.ve_pane_container) {
      height: 100%; }
  .row.ve_row_container.row-col-content-flex.col-content-top > .ve_col > .ve_col_container {
    justify-content: flex-start; }
  .row.ve_row_container.row-col-content-flex.col-content-middle > .ve_col > .ve_col_container {
    justify-content: center; }
  .row.ve_row_container.row-col-content-flex.col-content-bottom > .ve_col > .ve_col_container {
    justify-content: flex-end; }
  .row.ve_row_container .ve_col {
    border: 1px solid transparent;
    min-height: 100px; }
    .row.ve_row_container .ve_col .content-holder .touch-container {
      bottom: 100%;
      left: 0; }

.ve_element.ve_col {
  padding-left: 0;
  padding-right: 0; }

.ui-sortable-placeholder {
  overflow: hidden;
  visibility: visible !important;
  opacity: 1;
  border: 1px dashed #ddd;
  border-radius: 5px;
  background: #DDD;
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.25, rgba(0, 0, 0, 0.03)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(0, 0, 0, 0.03)), color-stop(0.75, rgba(0, 0, 0, 0.03)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(135deg, rgba(0, 0, 0, 0.03) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.03) 50%, rgba(0, 0, 0, 0.03) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(135deg, rgba(0, 0, 0, 0.03) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.03) 50%, rgba(0, 0, 0, 0.03) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(135deg, rgba(0, 0, 0, 0.03) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.03) 50%, rgba(0, 0, 0, 0.03) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(135deg, rgba(0, 0, 0, 0.03) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.03) 50%, rgba(0, 0, 0, 0.03) 75%, transparent 75%, transparent);
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.03) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.03) 50%, rgba(0, 0, 0, 0.03) 75%, transparent 75%, transparent);
  background-color: #fafcfd;
  background-size: 6px 6px; }

.ve_col .ve_element_container .droppable-holder p {
  font-size: 12px; }

.ve_col.ve_col_empty .ve_element_container .droppable-holder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px; }

.form-group {
  font-size: 13px;
  height: unset; }
  .form-group .help-block {
    color: #a94442;
    display: block;
    margin: 5px 0 10px 0;
    font-size: 0.75em;
    display: none; }
  .form-group.has-error .help-block {
    display: block; }
  .form-group label {
    color: black;
    font-weight: bold; }

.ve_ui-panel {
  position: fixed;
  top: 20%;
  left: 330px;
  background: white;
  display: none;
  border-radius: 4px;
  z-index: 200;
  overflow: hidden;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25); }
  .ve_ui-panel .ve_ui-panel-inner {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    width: 650px;
    height: 600px;
    display: flex; }
    .ve_ui-panel .ve_ui-panel-inner .ve_ui-panel-header-container {
      padding: 10px 18px;
      background: #0473aa;
      margin: 0;
      font-size: 14px;
      color: #ffffff;
      flex: 0 0 auto; }
      .ve_ui-panel .ve_ui-panel-inner .ve_ui-panel-header-container .ve_ui-panel-header-content .ve_ui-panel-header-title {
        font-size: 20px;
        font-weight: 300; }
    .ve_ui-panel .ve_ui-panel-inner .ve_ui-panel-content-container {
      flex: 1;
      overflow-y: auto; }
      .ve_ui-panel .ve_ui-panel-inner .ve_ui-panel-content-container .ve_ui-panel-content .nav-tabs {
        background: #0274aa;
        padding-left: 18px;
        font-size: 14px;
        border: 0;
        overflow: hidden; }
        .ve_ui-panel .ve_ui-panel-inner .ve_ui-panel-content-container .ve_ui-panel-content .nav-tabs .nav-item a {
          background: unset;
          color: #FFF;
          padding: 6px 12px;
          height: unset;
          line-height: 23px;
          border-top-left-radius: 4px !important;
          border-top-right-radius: 4px !important; }
          .ve_ui-panel .ve_ui-panel-inner .ve_ui-panel-content-container .ve_ui-panel-content .nav-tabs .nav-item a.active {
            color: #495057;
            font-weight: normal;
            background: white; }
          .ve_ui-panel .ve_ui-panel-inner .ve_ui-panel-content-container .ve_ui-panel-content .nav-tabs .nav-item a:after {
            content: none; }
      .ve_ui-panel .ve_ui-panel-inner .ve_ui-panel-content-container .ve_ui-panel-content .tab-content {
        overflow-y: auto; }
    .ve_ui-panel .ve_ui-panel-inner .ve_ui-panel-footer-container {
      flex: 0 0 auto; }

.ve_css-editor .ve-layout_onion * {
  margin: 44px;
  position: relative; }

.ve_css-editor .ve-layout_onion label {
  position: absolute;
  font-size: 9px;
  line-height: 9px;
  top: 6px;
  left: 5px;
  color: #2C2C2C;
  margin: 0;
  padding: 0; }

.ve_css-editor .ve-layout_onion input {
  position: absolute;
  text-align: center;
  padding: 3px 0;
  height: 24px;
  width: 34px;
  margin: 0;
  border: 1px solid #bdbdbd;
  font-size: 11px;
  line-height: 11px; }
  .ve_css-editor .ve-layout_onion input.ve_top {
    top: 11px;
    left: 50%;
    margin-left: -17px; }
  .ve_css-editor .ve-layout_onion input.ve_bottom {
    bottom: 11px;
    left: 50%;
    margin-left: -17px; }
  .ve_css-editor .ve-layout_onion input.ve_left {
    top: 50%;
    left: 5px;
    margin-top: -12px; }
  .ve_css-editor .ve-layout_onion input.ve_right {
    top: 50%;
    right: 5px;
    margin-top: -12px; }

.ve_css-editor .ve-layout_onion .ve_margin {
  border: 1px dashed #bababa;
  margin: 1px; }
  .ve_css-editor .ve-layout_onion .ve_margin .ve_border {
    border: 1px solid #d7d7d7;
    background: #f6f6f6; }
    .ve_css-editor .ve-layout_onion .ve_margin .ve_border .ve_padding {
      border: 1px solid #bababa;
      background: #ebebeb; }
      .ve_css-editor .ve-layout_onion .ve_margin .ve_border .ve_padding .ve_content {
        border: 1px solid #bababa;
        height: 50px;
        padding: 0;
        text-align: center;
        font-size: 10px;
        line-height: 11px;
        box-sizing: border-box; }

.ve_css-editor .ve_settings label {
  margin-top: 10px;
  margin-bottom: 2px;
  display: block; }

.ve_css-editor .ve_settings > :first-child {
  margin-top: 0px; }

.ve_color-picker {
  height: 36px;
  margin: 0;
  padding: 0 0 0 calc(100% - 105px);
  font-size: 11px;
  width: 100%;
  background-color: #fafafa; }
  .ve_color-picker span {
    background: #f7f7f7;
    border-radius: 0 2px 2px 0;
    border-left: 1px solid #ccc;
    color: #555;
    display: block;
    font-size: 16px;
    line-height: 36px;
    padding: 0 6px;
    text-align: center;
    text-transform: none; }

.dropdown .dropdown-toggle {
  padding-left: 30px; }
  .dropdown .dropdown-toggle .fa-plus {
    padding: 5px;
    box-sizing: content-box;
    background: orange;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: white; }

.dropdown .dropdown-menu {
  left: calc(50% + 35px);
  transform: translateX(-50%);
  padding: 5px 0; }
  .dropdown .dropdown-menu li {
    position: relative;
    padding: 5px 0; }
    .dropdown .dropdown-menu li a {
      padding: 3px 13px 3px 45px;
      display: block;
      clear: both;
      font-weight: 400;
      line-height: 1.42857143;
      color: #333;
      white-space: nowrap;
      text-decoration: none; }
      .dropdown .dropdown-menu li a:hover {
        background-color: #f5f5f5; }
      .dropdown .dropdown-menu li a [class*="fa-"] {
        font-size: 20px;
        margin-right: 7px;
        font-weight: 400;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 13px; }

.videoContainer #videoSaveButton, #uploadImageButton {
  margin: 14px 0 0 0;
  background-color: #fff;
  border: 1px solid #ccc; }

.collapse-card .collapse-card__heading:before, .collapse-card .collapse-card__heading:after {
  font-family: 'font awesome 5 pro';
  line-height: 14px; }

.collapse-card .collapse-card__heading .collapse-card__title {
  font-size: 14px;
  line-height: 14px; }
  .collapse-card .collapse-card__heading .collapse-card__title .styleHeadingTitles {
    font-weight: bold; }

.side-bar-style-container .sp-preview {
  display: none; }

.side-bar-style-container .collapse-card__body .row {
  margin: 0; }
  .side-bar-style-container .collapse-card__body .row [class*='col-'] {
    padding-left: 5px;
    padding-right: 5px; }

.side-bar-style-container .collapse-card__body .form-control {
  border: 1px solid #dfdfdf;
  max-width: unset;
  padding-left: 5px;
  box-shadow: none; }
  .side-bar-style-container .collapse-card__body .form-control:focus {
    border-color: #66afe9; }

.side-bar-style-container .collapse-card__body section {
  margin-top: .5em; }

.side-bar-style-container .collapse-card__body .switchery {
  box-sizing: content-box; }

.side-bar-style-container .round-replacer-small.margin {
  margin-left: 0; }

.fr-box.fr-basic .fr-element {
  font-family: unset; }

.text-center {
  text-align: center; }

.item {
  color: #212529; }

.editor-content .vecontrol-container, .editor-content .block-handle, .editor-content .ui-draggable-helper, .editor-content .droppable-holder {
  font-family: Arial,sans-serif; }

.editor-content .droppable-holder p {
  color: #212529 !important; }

.editor-content .vecontrol-container * {
  font-size: 1.4rem; }

.show {
  display: block; }

.videoContainer {
  position: relative; }
  .videoContainer.ratio_16x9 .iframe-wrapper {
    padding-bottom: 56.25%; }
  .videoContainer.ratio_21x9 .iframe-wrapper {
    padding-bottom: 42.1875%; }
  .videoContainer.ratio_4x3 .iframe-wrapper {
    padding-bottom: 75%; }
  .videoContainer.ratio_3x2 .iframe-wrapper {
    padding-bottom: 66.667%; }
  .videoContainer.ratio_1x1 .iframe-wrapper {
    padding-bottom: 100%; }
  .videoContainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none; }

.z-down {
  z-index: 2002 !important; }

.vecontrol-append.active {
  z-index: 2004 !important; }
