.pdf-containter {
  overflow: scroll;
  padding: 20px; }

body {
  overflow: auto !important;
  margin: 0;
  font-family: Roboto,Roboto;
  font-size: 13px; }

table {
  border-collapse: collapse; }

.date-info-container table {
  min-width: 550px; }

.booking-detail .left {
  float: left; }

.booking-detail .left .desc {
  padding-left: 15px; }

.booking-detail .right {
  float: right; }

.booking-detail .booking-desc {
  width: 50%;
  display: inline-block; }

.booking-detail .title {
  color: #f75713; }

.booking-detail .title .title-text {
  margin-left: 3px;
  float: left; }

.booking-detail .title:after {
  content: " ";
  clear: both;
  border-bottom: 1px solid #999999;
  width: 100%;
  display: table; }

.booking-detail .desc {
  margin-top: 10px;
  line-height: 25px; }

.booking-detail .desc .desc-text {
  padding: 1px 0;
  text-align: left; }

.booking-detail .desc .desc-text .desc-lbl {
  width: 35%;
  color: #f75713; }

.booking-detail .desc .left .desc-text {
  padding-left: 15px; }

.segment .segment-heading .icon {
  margin: 22px 0 0 6px;
  float: left; }

.segment .segment-heading .segment-heading-text {
  margin: 6px 0 0 9px;
  font-size: 12px;
  text-transform: uppercase;
  float: left; }

.segment .segment-heading .segment-heading-subtext {
  float: right;
  font-style: italic;
  font-size: 9px;
  padding-top: 0px;
  padding-right: 6px; }

.segment .segment-detail {
  width: 100%;
  margin-top: 10px;
  padding: 0 15px; }

.segment .segment-table {
  font-size: 13px;
  text-align: left;
  width: 100%;
  border-spacing: 1px;
  table-layout: fixed;
  margin-bottom: 10px; }

.segment .segment-table td {
  padding: 1px 0;
  text-align: left; }

.segment .segment-table .table-heading {
  color: #f75713; }

.segment .segment-table .table-value {
  width: 212px;
  font-weight: normal !important; }

.segment .segment-table .table-value-3 {
  width: 524px; }

.segment .segment-table.table2 {
  width: 98%;
  margin-left: 1%; }

.segment .segment-table.table2 th {
  border-bottom: 2px solid #f75713; }

.segment .segment-table.table2 th .header-text {
  margin-left: 3px; }

.segment .segment-table.table2 tr {
  margin-top: 10px; }

.segment .segment-table.table2 td {
  padding: 10px 5px 0 0;
  vertical-align: top; }

table.destination-meta td {
  padding: 1px 5px; }

.section-thumb {
  float: left;
  margin: 0 10px 10px 0;
  height: 28rem;
  padding-left: 21.5%;
  margin-top: 2rem; }

.panel[dataId=con-iti] .panel-tools .iti-style-lbl {
  margin-right: 5px; }
.panel[dataId=con-iti] .panel-tools .iti-select {
  margin-right: 10px; }
  .panel[dataId=con-iti] .panel-tools .iti-select .btn {
    border-style: solid; }
.panel[dataId=con-iti] #itineraryContent {
  padding-bottom: 20px; }
.panel[dataId=con-iti] .inline {
  display: inline-block; }

.booking-detail {
  padding: 0 1%;
  text-align: center;
  display: hidde; }
  .booking-detail .left {
    float: left; }
    .booking-detail .left .desc {
      padding-left: 15px; }
  .booking-detail .right {
    float: right; }
  .booking-detail .booking-desc {
    width: 50%;
    display: inline-block; }
  .booking-detail .title .title-text {
    margin-left: 3px;
    float: left; }
  .booking-detail .title:after {
    content: " ";
    clear: both;
    border-bottom: 1px solid #999999;
    width: 100%;
    display: table; }
  .booking-detail .desc {
    margin-top: 10px;
    line-height: 25px; }
    .booking-detail .desc .desc-text {
      padding: 1px 0;
      text-align: left; }
      .booking-detail .desc .desc-text .desc-lbl {
        width: 35%; }
    .booking-detail .desc .left .desc-text {
      padding-left: 15px; }

.segment {
  width: 100%; }
  .segment .segment-heading {
    width: 98%;
    margin-left: 1%; }
    .segment .segment-heading .icon {
      margin: 11px 0 0 6px;
      float: left; }
    .segment .segment-heading .segment-heading-text {
      margin: 6px 0 0 9px;
      font-size: 12px;
      text-transform: uppercase;
      float: left; }
    .segment .segment-heading .segment-heading-subtext {
      float: right;
      font-style: italic;
      color: #000000;
      font-size: 9px;
      padding-top: 40px;
      padding-right: 6px; }
  .segment .segment-detail {
    width: 100%;
    margin-top: 0;
    padding: 0 15px; }
    .segment .segment-detail h2 {
      font-size: 22px !important;
      margin: 0;
      font-weight: 400; }
    .segment .segment-detail .flightTimeTable .flightTimeHeading {
      width: 70px;
      color: #f75713; }
    .segment .segment-detail .flightTimeTable .flightTimeValue {
      width: 80px; }
  .segment .segment-table {
    font-size: 13px;
    text-align: left;
    width: 100%;
    border-spacing: 1px;
    table-layout: fixed;
    margin-bottom: 5px !important; }
    .segment .segment-table td {
      /*background-color: #D5EFF9;
      border: 1px solid #FFF;*/
      padding: 1px 10px 1px 10px;
      text-align: left; }
    .segment .segment-table .table-heading {
      width: 120px; }
    .segment .segment-table .table-value {
      width: 212px;
      font-weight: normal !important; }
    .segment .segment-table .table-value-3 {
      width: 524px; }
    .segment .segment-table:not(.flightTimeTable) {
      margin-left: 130px !important; }
      .segment .segment-table:not(.flightTimeTable) tbody tr td:first-child {
        width: 220px !important; }
  .segment .segment-table.table2 {
    width: 98%;
    margin-left: 1%; }
    .segment .segment-table.table2 th {
      border-bottom: 2px solid #CDCDCD; }
      .segment .segment-table.table2 th .header-text {
        margin-left: 3px; }
    .segment .segment-table.table2 tr {
      margin-top: 10px; }
    .segment .segment-table.table2 td {
      padding: 10px 5px 0 0;
      vertical-align: top; }

.alert-default.fade.in {
  opacity: 1 !important; }

.content-holder[data-type=block-image] .item, .content-holder[data-type=content-library-images] .item {
  width: 100%; }
.content-holder[data-type=block-itinerary] .segment {
  font-weight: 400; }
  .content-holder[data-type=block-itinerary] .segment .segment-heading {
    width: 100%;
    margin: 0;
    overflow: hidden; }
    .content-holder[data-type=block-itinerary] .segment .segment-heading * {
      line-height: 1.5em; }
    .content-holder[data-type=block-itinerary] .segment .segment-heading .icon {
      margin: 0 0 0 10px;
      float: left; }
    .content-holder[data-type=block-itinerary] .segment .segment-heading .segment-heading-text {
      font-size: 32px !important;
      margin: 0 0 0 12px !important;
      text-transform: uppercase;
      float: left; }
      .content-holder[data-type=block-itinerary] .segment .segment-heading .segment-heading-text h1 {
        font-size: 25px;
        margin: 0;
        font-weight: 400; }
    .content-holder[data-type=block-itinerary] .segment .segment-heading .segment-heading-subtext {
      display: none !important;
      float: right;
      font-style: italic;
      color: #000000;
      font-size: 9px;
      padding-top: 32px;
      padding-right: 6px; }
  .content-holder[data-type=block-itinerary] .segment .segment-detail {
    margin-top: 0; }
    .content-holder[data-type=block-itinerary] .segment .segment-detail h2 {
      font-size: 22px !important;
      margin: 0;
      font-weight: 400; }
    .content-holder[data-type=block-itinerary] .segment .segment-detail .segment-table {
      margin-bottom: 5px !important; }
      .content-holder[data-type=block-itinerary] .segment .segment-detail .segment-table .table-heading {
        color: #f75713; }

.iti-segment {
  margin-bottom: 10px;
  overflow: hidden; }
  .iti-segment .iti-segment-date {
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    line-height: 1.3em; }

.row {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  display: inline-block; }
  .row * {
    box-sizing: border-box; }
  .row .col-1 {
    width: 8.3333333333% !important; }
  .row .col-2 {
    width: 16.6666666667% !important; }
  .row .col-3 {
    width: 25% !important; }
  .row .col-4 {
    width: 33.3333333333% !important; }
  .row .col-5 {
    width: 41.6666666667% !important; }
  .row .col-6 {
    width: 50% !important; }
  .row .col-7 {
    width: 58.3333333333% !important; }
  .row .col-8 {
    width: 66.6666666667% !important; }
  .row .col-9 {
    width: 75% !important; }
  .row .col-10 {
    width: 83.3333333333% !important; }
  .row .col-11 {
    width: 91.6666666667% !important; }
  .row .col-12 {
    width: 100% !important; }
  .row .panel-froala {
    word-break: break-all; }
  .row [class*="col-"] {
    box-sizing: border-box;
    display: inline-block;
    min-height: 1px;
    vertical-align: middle; }
  .row .videoContainer .video-image-wrapper a {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
    background-position: center;
    background-size: cover;
    min-height: 1em; }

.row-col-content-flex.col-content-top > .section-container > .row_container > [class*="col-"] {
  vertical-align: top; }
.row-col-content-flex.col-content-middle > .section-container > .row_container > [class*="col-"] {
  vertical-align: middle; }
.row-col-content-flex.col-content-bottom > .section-container > .row_container > [class*="col-"] {
  vertical-align: bottom; }

.pdf-containter [class*="-container"] {
  page-break-inside: avoid; }

/*# sourceMappingURL=pdf.css.map */
