.sync-status {
  display: none; }
  .sync-status.is-live {
    color: #3bff04; }
    .sync-status.is-live:before {
      height: 8px;
      width: 8px;
      background-color: #3bff04;
      border-radius: 50%;
      display: inline-block; }
  .sync-status.is-error {
    color: #ff3c00; }
    .sync-status.is-error:before {
      height: 8px;
      width: 8px;
      background-color: #ff3c00;
      border-radius: 50%;
      display: inline-block; }
  .sync-status.is-testing {
    color: #ffb50c; }
    .sync-status.is-testing:before {
      height: 8px;
      width: 8px;
      background-color: #FFB50C;
      border-radius: 50%;
      display: inline-block; }

.card {
  box-shadow: 0px 0px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12); }
  .card:not(.active) .collapse-card__heading {
    border-bottom: none !important; }
  .card .collapse-card__heading:hover:after {
    content: " " !important; }
  .card .pending-alert {
		display:none;}
  .card.agent-pending{
		background-color:#f5eeee;}
  .card.agent-pending .pending-alert {
		display:block;}

.ui-multiselect {
  border: solid 1px #2196f3;
  font-size: 0.8em;
  border-radius: 4px;
  margin-top: 20px;
  height: 190px; }

.ui-multiselect ul {
  -moz-user-select: none; }

.ui-multiselect li {
  margin: 0;
  padding: 0;
  cursor: default;
  line-height: 20px;
  height: 20px;
  font-size: 11px;
  list-style: none; }

.ui-multiselect li a {
  color: #999;
  text-decoration: none;
  padding: 0;
  display: block;
  float: left;
  cursor: pointer; }

.ui-multiselect li.ui-draggable-dragging {
  padding-left: 10px; }

.ui-multiselect div.selected {
  position: relative;
  padding: 0;
  margin: 0;
  border: 0;
  float: left;
  height: 100%; }

.ui-multiselect ul.selected {
  position: relative;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
  margin: 0;
  list-style: none;
  border: 0;
  position: relative;
  width: 100%;
  min-height: 190px; }

.ui-multiselect div.selected label {
  position: absolute;
  top: -20px;
  font-size: 1.2em; }

.ui-multiselect ul.selected.connected-list {
  height: calc(100% - 30px) !important;
  min-height: calc(100% - 30px) !important; }

.ui-multiselect div.available {
  position: relative;
  padding: 0;
  margin: 0;
  border: 0;
  float: left;
  border-left: 1px solid #2196f3;
  height: 100%; }

.ui-multiselect ul.available {
  position: relative;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
  margin: 0;
  list-style: none;
  border: 0;
  width: 100%;
  min-height: 190px; }

.ui-multiselect ul.available li {
  padding-left: 10px; }

.ui-multiselect div.available label {
  position: absolute;
  top: -20px;
  font-size: 1.2em; }

.ui-multiselect ul.available.connected-list {
  height: calc(100% - 30px) !important;
  min-height: calc(100% - 30px) !important; }

.ui-multiselect .ui-state-default {
  border: none;
  margin-bottom: 1px;
  position: relative;
  padding-left: 20px; }

.ui-multiselect .ui-state-hover {
  border: none; }

.ui-multiselect .ui-widget-header {
  border: none;
  font-size: 11px;
  margin-bottom: 1px;
  background: #2196f3;
  color: #fff;
  height: 30px; }

.ui-multiselect .ui-widget-header a {
  color: #FFF; }

.ui-multiselect .add-all {
  float: right;
  padding: 7px; }

.ui-multiselect .remove-all {
  float: right;
  padding: 7px; }

.ui-multiselect .search {
  float: left;
  padding: 4px; }

.ui-multiselect .count {
  float: left;
  padding: 7px; }

.ui-multiselect li span.ui-icon-arrowthick-2-n-s {
  position: absolute;
  left: 2px; }

.ui-multiselect li a.action {
  position: absolute;
  right: 2px;
  top: 2px; }

.ui-multiselect input.search {
  height: 21px;
  padding: 1px;
  opacity: 0.5;
  margin: 4px;
  width: 60%; }

/*# sourceMappingURL=sabreSettings.css.map */
