.coverpage-main-image {
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative; }

.coverPlaceHolder {
  width: 100%;
  height: 1036px; }

.coverpageSpectrum {
  position: absolute;
  left: 0;
  right: 0;
  top: 496px;
  height: 626px;
  width: 720px; }

.proposalTitle {
  height: 170px;
  padding: 20px;
  position: absolute;
  top: 555px; }

.travelDocsTitle {
  margin: 0;
  letter-spacing: 0px;
  line-height: 45px;
  width: 100%;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 35px;
  text-transform: uppercase; }

.travelDocsSubTitle {
  margin: 5px 0 10px;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 25px; }

.coverData {
  padding: 20px;
  position: absolute;
  top: 749px; }

.proposalInfo {
  font-size: 15px;
  display: inline-block;
  width: 100%;
  letter-spacing: 0px;
  margin: 1px 0; }

.coverTopLeft.level1 {
  display: inline-block;
  width: 260px;
  padding: 13px 0 0 10px;
  height: 55px; }

.proposalDate.coverTopMiddle {
  display: inline-block;
  width: 170px;
  padding: 2px 0 0 10px;
  height: 55px; }

.proposalDate.coverTopRight {
  display: inline-block;
  width: 190px;
  padding: 2px 0 0 10px;
  height: 55px; }

.authorInfo {
  font-size: 15px;
  display: inline-block;
  width: 100%;
  margin: 1px 0; }

.author.coverLeft {
  display: inline-block;
  width: 190px;
  padding: 2px 0 0 10px;
  margin-top: 20px;
  height: 90px;
  margin-bottom: 10px;
  vertical-align: top; }

.coverTitle {
  line-height: 25px;
  font-size: 21px;
  display: block;
  vertical-align: top; }

.client.coverTopLeft .coverTitle {
  overflow: hidden !important; }

.client.coverTopLeft .travelDocsCusName {
  text-overflow: ellipsis !important;
  overflow: hidden !important; }

.travelDocsConName {
  line-height: 20px;
  display: block;
  vertical-align: top; }

.travelDocsConCompany {
  line-height: 20px;
  display: block;
  vertical-align: top; }

.contact.coverRight {
  display: inline-block;
  width: 335px;
  padding: 2px 0 0 10px;
  margin-top: 20px;
  height: 90px;
  margin-bottom: 10px;
  vertical-align: top; }

.contact.coverRight > .coverTitle {
  line-height: 25px;
  font-size: 21px;
  display: block;
  vertical-align: top; }

.coverTitleContainer {
  line-height: 20px;
  display: block;
  vertical-align: top; }

.cover.content-box-hidden .proposalTitle, .cover.content-box-hidden .coverData, .cover.content-box-hidden .proposalInfo, .cover.content-box-hidden .authorInfo {
  background-color: transparent; }

#content-section-coverpage .proposalTitle {
  left: 30px;
  right: 30px; }

#content-section-coverpage .coverData {
  left: 30px;
  right: 30px; }

.pdf-containter #content-section-coverpage .proposalTitle {
  left: 10px;
  right: 10px; }

.pdf-containter #content-section-coverpage .coverData {
  left: 10px;
  right: 10px; }
