
#account-setup-modal .form-bootstrapWizard a {
	pointer-events:none;
}

.form-bootstrapWizard ul {
	padding: 0;
}
.form-bootstrapWizard .bootstrapWizard.four-steps li {
	width: 25%;
}
/*! CSS Used from: https://my.quotecloud.net/proposals/css/smartadmin-production-plugins.css?cache=1561341924000 */
.form-bootstrapWizard .clearfix:before,
.form-bootstrapWizard .clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
}
.form-bootstrapWizard .clearfix:after {
	clear: both;
}
.form-bootstrapWizard .clearfix {
	zoom: 1;
}
/*! CSS Used from: https://my.quotecloud.net/proposals/css/smartadmin-production.css?cache=1561341924000 */
.form-bootstrapWizard a:hover,
.form-bootstrapWizard a:active,
.form-bootstrapWizard a:focus {
	outline: 0;
}
.form-bootstrapWizard *:focus {
	outline: 0 !important;
}
.form-bootstrapWizard a {
	-ms-touch-action: none !important;
}
.form-bootstrapWizard a:link {
	-webkit-tap-highlight-color: rgba(169, 3, 41, 0.5);
}
.form-bootstrapWizard .bootstrapWizard {
	display: block;
	list-style: none;
	padding: 0;
	position: relative;
	width: 100%;
}
.form-bootstrapWizard .bootstrapWizard a:hover,
.form-bootstrapWizard .bootstrapWizard a:active,
.form-bootstrapWizard .bootstrapWizard a:focus {
	text-decoration: none;
}
.form-bootstrapWizard .bootstrapWizard li {
	display: block;
	float: left;
	width: 25%;
	text-align: center;
	padding-left: 0;
}
.form-bootstrapWizard .bootstrapWizard li:before {
	border-top: 3px solid #55606e;
	content: "";
	display: block;
	font-size: 0;
	overflow: hidden;
	position: relative;
	top: 4px;
	right: 1px;
	width: 100%;
	z-index: 1;
}
.form-bootstrapWizard .bootstrapWizard li:first-child:before {
	left: 50%;
	max-width: 50%;
}
.form-bootstrapWizard .bootstrapWizard li:last-child:before {
	max-width: 50%;
	width: 50%;
}
.form-bootstrapWizard .bootstrapWizard li .step {
	background: #b2b5b9;
	color: #ffffff;
	display: inline;
	font-size: 15px;
	font-weight: bold;
	line-height: 12px;
	padding: 7px 13px;
	border: 3px solid transparent;
	border-radius: 50%;
	line-height: normal;
	position: relative;
	text-align: center;
	z-index: 2;
	transition: all 0.1s linear 0s;
}
.form-bootstrapWizard .bootstrapWizard li.active .step {
	background: #0091d9;
	color: #ffffff;
	font-weight: bold;
	padding: 7px 13px;
	font-size: 15px;
	border-radius: 50%;
	border: 3px solid #55606e;
}
.form-bootstrapWizard .bootstrapWizard li.active .title {
	color: #2b3d53;
}
.form-bootstrapWizard .bootstrapWizard li .title {
	color: #bfbfbf;
	display: block;
	font-size: 13px;
	line-height: 15px;
	max-width: 100%;
	position: relative;
	table-layout: fixed;
	text-align: center;
	top: 4px;
	word-wrap: break-word;
	z-index: 104;
}
/*! CSS Used from: https://my.quotecloud.net/application/css/dashboard.css?cache=1561341923000 */
.form-bootstrapWizard a,
.form-bootstrapWizard a:hover {
	text-decoration: none;
	color: #13b5ea;
}
.form-bootstrapWizard #create-proposal-modal .bootstrapWizard li .step {
	display: inline-block;
	padding: 8px 13px;
	border-radius: 100%;
	top: -10px;
	height: 40px;
	width: 40px;
}
.form-bootstrapWizard #create-proposal-modal .form-bootstrapWizard .four-steps li {
	width: 25%;
}
/*! CSS Used from: https://my.quotecloud.net/application/assets/plugins/froala_editor_3.0.0/css/plugins/table.css?cache=1561341923000 */
.form-bootstrapWizard .clearfix::after {
	clear: both;
	display: block;
	content: "";
	height: 0;
}
/*! CSS Used from: https://my.quotecloud.net/application/assets/plugins/froala_editor_3.0.0/css/froala_style.min.css?cache=1561341923000 */
.form-bootstrapWizard .clearfix::after {
	clear: both;
	display: block;
	content: "";
	height: 0;
}
/*! CSS Used from: https://my.quotecloud.net/application/assets/plugins/froala_editor_3.0.0/css/froala_editor.pkgd.min.css?cache=1561341923000 */
.form-bootstrapWizard .clearfix::after {
	clear: both;
	display: block;
	content: "";
	height: 0;
}
.form-bootstrapWizard .clearfix::after {
	clear: both;
	display: block;
	content: "";
	height: 0;
}
.form-bootstrapWizard .clearfix::after {
	clear: both;
	display: block;
	content: "";
	height: 0;
}
.form-bootstrapWizard .clearfix::after {
	clear: both;
	display: block;
	content: "";
	height: 0;
}
.form-bootstrapWizard .clearfix::after {
	clear: both;
	display: block;
	content: "";
	height: 0;
}
.form-bootstrapWizard .clearfix::after {
	clear: both;
	display: block;
	content: "";
	height: 0;
}
.form-bootstrapWizard .clearfix::after {
	clear: both;
	display: block;
	content: "";
	height: 0;
}
.form-bootstrapWizard .clearfix::after {
	clear: both;
	display: block;
	content: "";
	height: 0;
}
.form-bootstrapWizard .clearfix::after {
	clear: both;
	display: block;
	content: "";
	height: 0;
}
.form-bootstrapWizard .clearfix::after {
	clear: both;
	display: block;
	content: "";
	height: 0;
}
.form-bootstrapWizard .clearfix::after {
	clear: both;
	display: block;
	content: "";
	height: 0;
}
.form-bootstrapWizard .clearfix::after {
	clear: both;
	display: block;
	content: "";
	height: 0;
}
.form-bootstrapWizard .clearfix::after {
	clear: both;
	display: block;
	content: "";
	height: 0;
}
.form-bootstrapWizard .clearfix::after {
	clear: both;
	display: block;
	content: "";
	height: 0;
}
.form-bootstrapWizard .clearfix::after {
	clear: both;
	display: block;
	content: "";
	height: 0;
}
.form-bootstrapWizard .clearfix::after {
	clear: both;
	display: block;
	content: "";
	height: 0;
}
.form-bootstrapWizard .clearfix::after {
	clear: both;
	display: block;
	content: "";
	height: 0;
}





tr.travelDocSearchRow {
	th.rightHolder {
	    height: unset;
	    padding: 1.6rem !important;
	    border-bottom: 0px !important;
	}
	th.leftHolder {
		border-bottom: 0px !important;
	}
}

.leftHolder {
	//height: 100%;
}
.td-row-description table {
	background-color: transparent !important;
}

tr:not(.travelDocSearchRow) th#travelBookingReference {
    background: #13b5ea !important;
}
div#matchedTravelDocs thead tr:not(.travelDocSearchRow) {
    background-color: #13b5ea !important;
    color: white;
    th {
    	font-weight: bold;
    }
}
.collapse-card__heading::after {
	display: none !important;
}
.registration-wizard-menu-divider.active {
	color: rgb(33, 150, 243);
}

.form-control.is-invalid {
	border-color: red !important;
}

.registration-wizard-menu-button {
	display: grid;
	text-align: center;
	padding: 0px;
	height: unset;
	&.active {
		color: rgb(33, 150, 243);
	}
}

.agentTrashButton {
	&:hover {
		i {
			color: red;
			cursor: pointer;
		}
	}
}
.modal#account-setup-modal {
	width: auto !important;
}

btn#travelDocsSearchClear {
    border: 1px solid lightgray;
}

tr:not(.travelDocSearchRow) th.rightHolder {
    background: #13b5ea !important;
}
td.rightHolder .btn-group {
	.btn {
	    border: 1px solid #ccc;
	    font-size: 12px;
	    line-height: 14px;
	    min-height: unset;
	}
}
.form-group .form-control {
    max-width: 100% !important;
}
input.form-control, select.form-control, textarea.form-control {
	background-color: white;
	border: 1px solid #ccc !important;
	padding: 5px !important;
	border-radius: 4px;
	box-shadow: none !important;
	height: unset !important;
	&#dateRangePicker {
	    width: 175px !important;
	}
	&#travelDocsDisplaySelector {
		background-position: calc(100% - 10px) center;
	    display: inline-block;
	    margin-left: 13px !important;
	    padding: 5px 15px;
	    width: 5em;
	    height: unset;
	}
}
.dropdown-menu {
	min-width: 160px;
	padding: 10px 0;
	border-radius: 4px;
	.dropdown-item{
		line-height: 2.8rem !important;
    	height: 2.8rem !important;
    	&:hover {
    		background-color: #f5f5f5;
    	}
	}
	.dropdown-divider {
		margin: 0.6rem 0;
	}
}
#mobileStats {
	.btn-group {
		box-shadow: none !important;
		.travelDocStatusButton {
		    border-left: 1px dotted #c7c7c7;
		    background: transparent;
		    //margin-right: 3px;
		    box-shadow: none !important;
		    &:hover {
		    	background-color: #e7e7e773;
	    	}
	    	&.active {
	    		background-color: #ddd;
	    	}
		    &:first-child {
		    	border: none;
		    }
		}
		.btn, .btn i {
		    color: #333 !important;
		}
	}
}

.widget-group {
	#travelDocs_filter, #dropdownMenuButton {
	    color: #333 !important;
	}
}

.tableColumnHolder {
    padding: 10px;
    border-radius: 4px;
    width: 426px;
    right: 0;
    transform: none !important;
    top: 40px !important;
    left: unset !important;
	div {
	    display: inline-block;
	    width: 190px;
	    vertical-align: top;
	    margin: 10px;
	}
	.dropdown-item {
		margin-bottom: 8px;
		border-radius: 4px;
		background: #f5f5f5;
		color: #08c;
		&:hover {
			color: white;
			background: #015179 !important;
		}
		&.toggle-vis {
			background: #08c;
			color: white;
		}
	}
}

.aside-content-wrapper {
	width: 8rem !important;
	min-width: 8rem !important;
	.aside-content {
		width: 8rem !important;
		#sidenav {
			.nav-link {
			    display: grid;
			    text-align: center;
			    padding: 1.5rem 1rem;
			    height: unset;
			    i {
			    	margin: auto;
			    }
			    span {
			    	font-size: 11px;
			    } 
			}
		}
	}
}

.row.no-gutters {
	margin-right: 0;
	margin-left: 0;
}


.quick-view-button {
	font-size: 9px;
	position: absolute;
	bottom: 0;
	right: 25px;
	cursor: pointer;
	display: none;
	&.active {
		display: block;
	}
	&:hover {
		color: #13b5ea;
	}
}

#matchedTravelDocs .td-row-description td {
	line-height: 1 !important;
}

#matchedTravelDocs {
	font-size: 12px !important;
	table {
		thead {
			th {
				padding: 0.75rem 1.2rem;
			    border-bottom: 1px solid #E9ECEF;
		        border-top: 0px solid #E9ECEF;
		        &.leftHolder{
		        	background: #13b5ea !important;
		        }
			}
		}
	
		td:not(.td-row-description) {
			padding: 0.75rem 1.2rem;
		}
		td.td-row-description {
			tr:nth-of-type(odd) {
				background-color: transparent;
			}
			td {
				padding: 0.5rem 1rem;
				border-top: none;
			}
			th {
				&:first-of-type {
					min-width: 40px;
				}
				padding: 1rem 1rem;
				border-top: none;
			}
		}
		.rightHolder .btn {
		    color: #333 !important;
		    padding: 6px 6px !important;
		    i {
		    	color: #333 !important;
		    }
		}
	}
}

#proposalTrashModal {
	border: none;
}

#foreground-loading {
	.alert {
    	background: #fff;
    	i {
    		color: black;
    	}
	}
}

.modal {
	.btn-secondary {
		&.btn {
		    color: white !important;
		    font-size: 14px;
		    min-width: unset;
		    min-height: unset;
		    width: unset;
		    height: unset;
		    
		    i {
		    	color: white !important;
			    font-size: 14px;
			    line-height: unset;
			    height: unset;
			    width: unset;
		    }
		}
		&.btn-success {
			background-color: #009b46 !important;
			border-color: #00823a !important;
			&:hover, &:focus, &:active {
				background-color: #00682f !important;
				border-color: #00441f !important;
			} 
		}
		&.btn-danger {
			background-color: #aa0014 !important;
			border-color: #910011 !important;
			&:hover, &:focus, &:active {
			    background-color: #77000e !important;
				border-color: #53000a !important;
			}
		}
		
	}
	.alert.alert-block {
	    color: #ffffff;
	    text-shadow: none;
	    border: none;
	    padding: 10px;
	    i {
	    	color: inherit;
	    }
	    .alert-heading {
	    	margin: 0;
	    }
		&.alert-danger {
			background-color: #c26565;
		}
		&.alert-info {
		    border-color: #9cb4c5;
		    color: #305d8c;
		    background-color: #D6DDE7;
		}
	}
	
}

.user-menu-button {
	.dropdown-menu {
		.dropdown-item {
			i {
				line-height: 2.8rem;
				margin-bottom: 0.3rem;
			}
		}
	}
}

#email-support {
	#message {
		margin-bottom: 30px;
	}
}


.sideBar-backDrop {
  position: fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index: 1040;
  opacity:.5;
  background: #555;
  display: none;
}
.cd-panel {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.6s;
  -moz-transition: visibility 0s 0.6s;
  transition: visibility 0s 0.6s;
  z-index: 1040;
  
  &::after {
	  /* overlay layer */
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  background: transparent;
	  cursor: pointer;
	  -webkit-transition: background 0.3s 0.3s;
	  -moz-transition: background 0.3s 0.3s;
	  transition: background 0.3s 0.3s;
	}
	&.is-visible {
	  visibility: visible;
	  -webkit-transition: visibility 0s 0s;
	  -moz-transition: visibility 0s 0s;
	  transition: visibility 0s 0s;
	  
		&::after {
		  background: rgba(0, 0, 0, 0.6);
		  -webkit-transition: background 0.3s 0s;
		  -moz-transition: background 0.3s 0s;
		  transition: background 0.3s 0s;
		}
		.cd-panel-close {
			&::before {
				-webkit-animation: cd-close-1 0.6s 0.3s;
				-moz-animation: cd-close-1 0.6s 0.3s;
				animation: cd-close-1 0.6s 0.3s;
			}
			&::after {
				-webkit-animation: cd-close-2 0.6s 0.3s;
		  		-moz-animation: cd-close-2 0.6s 0.3s;
			  	animation: cd-close-2 0.6s 0.3s;
			}
		}
	}
}

@-webkit-keyframes cd-close-1 {
  0%, 50% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}
@-moz-keyframes cd-close-1 {
  0%, 50% {
    -moz-transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(45deg);
  }
}
@keyframes cd-close-1 {
  0%, 50% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
@-webkit-keyframes cd-close-2 {
  0%, 50% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-45deg);
  }
}
@-moz-keyframes cd-close-2 {
  0%, 50% {
    -moz-transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(-45deg);
  }
}
@keyframes cd-close-2 {
  0%, 50% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

.containerBlock .row {
  padding: 10px 15px;
}

.cd-panel-header {
  /*...*/
  position: fixed;
  top: -50px;
  width: 90%;
  height: 50px;
  transition: top 0.3s 0s;
}

.is-visible .cd-panel-header {
  top: 0;
  transition: top 0.3s 0.3s;
}

.cd-panel-container {
  /*...*/
  position: fixed;
  width: 40%;
  min-width: 600px;
  height: 100%;
  top: 0;
  right: 0;
  background: #eeeded;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-delay: 0.3s;
  z-index: 10500;
  overflow-y: scroll;

  transform: translate3d(100%, 0, 0);
}

table#revisionsTable { 
  width:100% !important;
}

#proposal-notes {
  .modal-body {
    //background: #eaf0f4;
  }
}

.is-visible .cd-panel-container {
  transform: translate3d(0, 0, 0);
  transition-delay: 0s;
}

#proposal-management,
#proposal-notes {
  .modal-header {
    height: initial;
  }

  .company-title, .proposal-title{
    text-align: center;
  }
  .proposal-title{
    font-size: 90%;
  }

  .consultant{
    background: #41b84a;
  }

  .customer{
    background: #13b5ea;
  }

  .system{
    background: #a9a9a9;
  }

  h3{
    margin-top:0;
    margin-bottom: 10px;
  }

  h4{
    color: white;
    background: #818181;
    text-align: center;
    padding: 10px;
  }

  .managementButtons{
    text-align: center;
    right: 0;
    top: 0;
    margin-bottom: 15px;
  }

  .t-summaryTable{
    td, th{
      border-top:none;
      vertical-align: middle;
      height: 40px
    }

    th {
      font-weight: bold;
    }

    .has-error {
      color: #a94442;
      select {
        border-color: #a94442;
      }
    }

    .has-success {
      color: #3c763d;
      select {
        border-color: #3c763d;
      }
    }
  }

  .input-sm{
    padding: 5px;
  }

  select.input-sm{
    padding: 5px 10px 5px 5px;
  }

  .fixedHeaderTable {
    tr:not(.success) .fa.fa-check {
      display:none;
    }

    tr.success > td:first-child > i.fa:not(:first-child) {
      display: none;
    }

    thead th{
      color: white;
      font-weight: 500;
      background-color: #818181 !important;
    }
  }

  .tblButtons{
    padding: 10px;
  }

  .historyFilters{
    padding-right: 165px;
    margin-top: 5px;

    > span {
      padding: 0px 5px;
      margin: 0 10px;
      cursor: pointer;
      display: inline-block;
      text-align: center;
      &.uncheck{
        opacity: 0.3;
      }
    }

    label {
      margin: 1px 19px 1px 0px;
      position: relative;
      top: 2px;
      padding-left: 3px;
      cursor: pointer;
    }

    .hover {
      color: #d54e21;
    }
  }

  #historyViewer{
    margin-top: 20px;
    word-wrap: break-word;
  }
}

#proposal-notes{
  .smart-timeline-list{
    max-height: 300px;
    overflow: auto;

    li{
      cursor: pointer;
      &.open{
        background-color: rgba(0,0,0,0.2);
        font-weight: bold;
        p.content{
          transition: all 0.5s ease;
          opacity: 1;
          height: initial;
          margin-bottom: 10px;
        }
      }
      p.content{
        transition: all 0.5s ease;
        opacity: 0;
        height: 0;
        margin-bottom: 0;
      }
      &.unread{
        font-weight: bold;
        color: #4C4C4C;
      }
      &:hover{
        background-color: rgba(0,0,0,0.1);
      }
    }
  }
}

#cd-timeline {
  position: relative;
  padding: 2em 0;
  //margin-top: 2em;
  //margin-bottom: 2em;
  margin-top: 1em;
  margin-bottom: 0em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d4d4d4;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    //margin-top: 3em;
    //margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  i.fa:before {
  	font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}
.cd-timeline-img.cd-picture {
  background: #75ce66;
}
.cd-timeline-img.cd-movie {
  background: #c03b44;
}
.cd-timeline-img.cd-location {
  background: #f0ca45;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 40px;
    height: 40px;
    left: 52%;
    text-align: center;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    i {
      padding-top: 12px;
    }
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d4d4d4;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: #303e49;
  margin: 0;
}
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
  word-wrap: break-word;
}
.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}
.cd-timeline-content .cd-date {
  float: left;
  margin-top: .6em;
  opacity: .7;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.5rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1.25rem;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    margin:0px -12px;
    padding: 1.6em;
    top:4px;
    width: 45%;
  }
  .cd-timeline-content::before {
    top: 10px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 132%;
    top: 0px;
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 10px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    top:0px;
    right: 132%;
    text-align: right;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}


.select2-container-multi {
	.select2-choices {
		li.select2-search-choice {
		    padding: 1px 28px 1px 8px;
		    border: 1px solid #2a6395 !important;
		    margin: 4px 0 3px 5px;
		    line-height: 19px;
		    background-color: #3276B1;
		    background-image: none;
		    box-shadow: none;
		    color: white;
		    .select2-search-choice-close {
			    right: 0;
			    top: 2px;
			    left: unset !important;
			    width: 21px;
			    height: 20px;
			    background: none;
			    &:before {
				    color: #ffffff;
				    content: "\f057";
				    font-family: 'font awesome 5 pro';
				    font-size: 14px;
				}
			}
	    }
	}
}

#file-manager {
	.file-add-container {
		.btn {
			border-radius: 50%;
			&.btn1 i {
			    color: #42454d !important;
			    position: absolute;
			    top: 50%;
			    left: 50%;
			    transform: translate(-50%, -50%);
		    }
	    }
	}
}

#jCropModalImage.modal {
    top: 0 !important;
    margin-top: 20px !important;
    width: auto !important;
    margin-left: 0 !important;
    transform: translateX(-50%);
	#JcropPhotoFrame {
		max-height: 68vh;
		max-width: 800px;
	}
}

.btn-group .btn {
	min-width: unset;
    min-height: unset;
}

.dropdown-toggle::after {
    margin-left: 0;
}

.travelDocStatusButton {
	min-height: 55px !important;
}