
#itineraryContent {
  width: 100%;
  .title {
    display: flex;
    .booking-desc {
      flex: 0 0 50%;
      max-width: 50%;
      .title-text {
        h1 {
          font-size: 24px !important;
          margin-bottom: 0;
        }
      }
    }
  }
  .desc {
    display: flex;
    line-height: 1.5em;
    .booking-desc {
      flex: 50%;
      .desc-text {
        display: flex;
        .desc-lbl {
          flex: 50%;
        }
        .desc-value {
          flex: 50%;
        }
      }
    }
  }
  .segment {
  	margin-top: 5px;
    .segment-heading {
      width: 100%;
      margin: 0;
      color: #fff;
      background-color: #f75713;
      overflow: hidden;
      * {
      	line-height: 1.5em;
      }
      .icon {
        margin: 0 0 0 10px;
        float: left;
        font-size: 25px;
      }
      .segment-heading-text {
        font-size: 32px !important;
        margin: 0 0 0 12px !important;
        text-transform: uppercase;
        float: left;
        h1 {
          font-size: 25px;
          margin: 0;
        }
      }
      .segment-heading-subtext {
        display: none !important;
        float: right;
        font-style: italic;
        color: #000000;
        font-size: 9px;
        padding-top: 32px;
        padding-right: 6px;
      }
    }
    .segment-detail {
    	margin-top: 0;
      h2 {
        font-size: 22px;
        margin-bottom: 0;
      }
      .flightTimeTable {
        .flightTimeHeading {
          width: 38px;
          padding-left: 0;
        }
        .flightTimeValue {
          width: 74px;
        }
        .flightTimeText {

        }
      }
      .segment-table {
      	margin-bottom: 5px !important;

      }
    }
  }
}

.segment-table .table-heading.normalHeading {
  width: 166px !important;
}

.zerorisk-container .card-header.row {
  border-bottom: none !important;
}

.zerorisk-container .card-header.row .wt-bg {
  margin-left: 10px;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  display: inline-block;
  vertical-align: middle;
  background-position: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 30px !important;
  width: 30px !important;
  background-color: white;
  .flag-container {
    width: 100%;
    height: 100%;
    position: relative;
    span.flag {
      position: absolute;
      left: 0px;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      background-repeat: no-repeat;
      background-size: 30px 30px;
      display: inline-block;
      vertical-align: middle;
      background-position: center;
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%);
    }
  }

}

.zerorisk-container .card-header.row h1 button {
  margin-left: 50px;
  margin-bottom: 2px;
}

.segment-heading {
  position: relative;
}

.maps-button {
  right: 6px;
  top: 0;
  bottom: 0;
  width: 120px;
  position: absolute;
  vertical-align: middle;

  .get-itinerary-directions-button {
    margin: auto;
    position: absolute;
    top: 0;
    font-size: 12px;
    left: 0;
    bottom: 0;
    right: -1;
    background: white;
    width: 100%;
    height: 80% !important;
    cursor: pointer;
    box-shadow: none !important;
    display: inline-block;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    will-change: box-shadow;
    overflow: hidden;
    box-sizing: border-box;
    -webkit-appearance: none;
    outline: none;
    text-decoration: none;
    min-width: 8.8rem;
    border-radius: 2px;
    padding: 0 1.6rem;
    i {
      font-size: 14px;
    }
  }
}


