@import "md/main";
@import "demo/main";


.zerorisk-container .card .card-header {
  padding: 0 15px 0 0; 
}

.zerorisk-container .accordion {
  margin-bottom: 10px;
}


.btn-default {
  color: #333;
  padding: 4px 14px;
  border-color: rgb(221, 221, 221);
  box-shadow: none !important;
}

.btn-default-blue {
  color: white;
  padding: 4px 14px;
  border-color: rgb(0, 88, 185);
  background-color: rgb(0, 100, 210);
  box-shadow: none !important;
  i {
    color: white !important;
  }
  &:focus {
  	color: white !important;
  }
}

.cancel-button {
  color: #fff;
  background-color: #aa0014;
  border-color: #910011;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
  border-radius: 4px!important;
  &:hover {
    color: #fff;
    background-color: #77000e;
    border-color: #53000a;
  }
}

.success-button {
  color: #fff;
  background-color: #00682f;
  border-color: #00441f;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
  border-radius: 4px!important;
  &:hover {
    color: #fff;
    background-color: #00682f;
    border-color: #00441f;
  }
}

.warning-button {
  color: #fff;
  background-color: #ff8700;
  border-color: #e67a00;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
  border-radius: 4px!important;
  &:hover {
    color: #fff;
    background-color: #cc6c00;
    border-color: #a85900;
  }
}



.matchedTravelDocs {
  width: auto;
  overflow-x:scroll;
  margin-right:12em;
  margin-left:7em;
  overflow-y:visible;

  th {
    white-space: nowrap;
  }
  td {
    white-space: nowrap;
  }
  //.sticky-wrap {
  //  overflow-x: auto;
  //  position: relative;
  //  margin-bottom: 1.5em;
  //  width: 100%;
  //  height:100%;
  //}
  //.sticky-wrap .sticky-thead,
  //.sticky-wrap .sticky-col,
  //.sticky-wrap .sticky-intersect {
  //  opacity: 0;
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  transition: all .125s ease-in-out;
  //  z-index: 50;
  //  width: auto; /* Prevent table from stretching to full size */
  //}
  //.sticky-wrap .sticky-thead,
  //.sticky-wrap .sticky-colright,
  //.sticky-wrap .sticky-intersectRight {
  //  opacity: 0;
  //  position: absolute;
  //  top: 0;
  //  right: 0;
  //  transition: all .125s ease-in-out;
  //  z-index: 50;
  //  width: auto; /* Prevent table from stretching to full size */
  //}
  //.sticky-wrap .sticky-thead {
  //  box-shadow: 0 0.25em 0.1em -0.1em rgba(0,0,0,.125);
  //  z-index: 100;
  //  width: 100%; /* Force stretch */
  //}
  //.sticky-wrap .sticky-intersect,
  //.sticky-wrap .sticky-intersectRight {
  //  opacity: 1;
  //  z-index: 150;
  //}
  //.sticky-wrap .sticky-intersect th,
  //.sticky-wrap .sticky-intersectRight th {
  //  background-color: #666;
  //  color: #eee;
  //}
  //.sticky-wrap td,
  //.sticky-wrap th {
  //  box-sizing: border-box;
  //}
  
  .leftHolder {
    position:absolute;
    width:8em;
    left:0;
    top:auto;
  }
  .rightHolder {
    position:absolute;
    width:13em;
    right:0;
    top:auto;
    padding: 0.5px 0 0 9px !important;
    height:32px;
  }
}

#itineraryTableFooterText {
  .dt-records-count {
    line-height: 36px;
  }
  .pagination {
    margin: 0;
    float: right;
  }
}

.matchedTravelDocs tbody tr[data-id] {
  cursor: pointer;
}
.matchedTravelDocs tbody tr:not([data-id]) td {
  background-color: white !important;
}

.travelDocsLoader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 22px;
  height: 22px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

canvas{

  width:100% !important;
  height:100% !important;
}
#matchedTravelDocs_wrapper {
  display: block !important;
}
#status-outer-circle {
  border-radius: 50%;
  height: 12px;
  width: 12px;
  top: 50%;
  left: 50%;
  margin: -6px 0px 0px -6px;
  position: absolute;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  /*
   Child elements with absolute positioning will be
   positioned relative to this div
  */
}

.navbar {
  width: 100%;
  .navbar-right {
    right: 0;
    position: absolute;
  }
}
.nav-tabs {
  border-bottom: none;
  li {
    float: left;
    margin-bottom: -1px;
    a {
      text-decoration: none;
      cursor: default;
      border: 1px solid #ddd;
      display: block;
      padding: 10px 15px;
      background-color: #f9f9f9;
      border-radius: 0 0 0 0 !important;
      color: #999;
      line-height: 16px;
      margin-right: -1px;
      position: relative;
      &.active {
        -webkit-box-shadow: 0 -2px 0 #2196F3;
        -moz-box-shadow: 0 -2px 0 #2196F3;
        box-shadow: 0 -2px 0 #2196F3;
        border-top-width: 0px !important;
        margin-top: 1px !important;
        font-weight: bold;
        color: #000;
      }
    }
  }
}

/* Multiselect
----------------------------------*/

.ui-multiselect { border: solid 1px #dddddd; font-size: 0.8em; }
.ui-multiselect ul { -moz-user-select: none; }
.ui-multiselect li { margin: 0; padding: 0; cursor: default; line-height: 20px; height: 20px; font-size: 11px; list-style: none; }
.ui-multiselect li a { color: #999; text-decoration: none; padding: 0; display: block; float: left; cursor: pointer;}
.ui-multiselect li.ui-draggable-dragging { padding-left: 10px; }

.ui-multiselect div.selected { position: relative; padding: 0; margin: 0; border: 0; float:left; }
.ui-multiselect ul.selected { position: relative; padding: 0; overflow: auto; overflow-x: hidden; margin: 0; list-style: none; border: 0; position: relative; width: 100%; }
.ui-multiselect ul.selected li { }

.ui-multiselect div.available { position: relative; padding: 0; margin: 0; border: 0; float:left; border-left: 1px solid #C0C0C0; }
.ui-multiselect ul.available { position: relative; padding: 0; overflow: auto; overflow-x: hidden; margin: 0; list-style: none; border: 0; width: 100%; }
.ui-multiselect ul.available li { padding-left: 10px; }

.ui-multiselect .ui-state-default { border: none; margin-bottom: 1px; position: relative; padding-left: 20px;}
.ui-multiselect .ui-state-hover { border: none; }
.ui-multiselect .ui-widget-header {border: none; font-size: 11px; margin-bottom: 1px; background:rgba(0,115,170,0.7); color:#fff;}

.ui-multiselect .add-all { float: right; padding: 7px;}
.ui-multiselect .remove-all { float: right; padding: 7px;}
.ui-multiselect .search { float: left; padding: 4px;}
.ui-multiselect .count { float: left; padding: 7px;}

.ui-multiselect li span.ui-icon-arrowthick-2-n-s { position: absolute; left: 2px; }
.ui-multiselect li a.action { position: absolute; right: 2px; top: 2px; }

.ui-multiselect input.search { height: 21px; padding: 1px; opacity: 0.5; margin: 4px; width: 100px; }




.team-navbar {
  min-height: 45px;
  margin-bottom: 0;
  margin-right: 20px;
}
.tab-content {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 16px 12px;
  position: relative;
  &.active {
    display: block;
  }
}
.container {
  &.contentContainer {
    width: 100%;
    padding: 0;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);

  }
}

.modal-footer {
  position: relative;
  border-top: initial;
  padding: 15px;
  text-align: right;
  &.after {
    top: 0;
  }
  &.before {
    content: " ";
    width: 50%;
    height: 0;
    background: #fff;
    background: -moz-linear-gradient(right, #f6f6f6 0, rgba(246,246,246,0.001) 100%);
    background: -webkit-linear-gradient(right, #f6f6f6 0, rgba(246,246,246,0.001) 100%);
    background: linear-gradient(right, #f6f6f6 0, rgba(246,246,246,0.001) 100%);
    position: absolute;
    left: 0;
  }
  .btn {

  }
}

.modal-header {
  height: 50px;
  padding: 10px;
  z-index: 9999;
  position: relative;
  text-align: left;
  border-bottom: 1px solid #ddd;
  background: #fff;
  .titleBar {
    color: #2196F3;
    position: absolute;
    height: 0;
    left: 0;
    top: 0;
    right: 0;
    .close {
      width: 50px;
      height: 50px;
      opacity: .5;
      margin: 0;
      color: #2196F3;
      border-left: 1px solid rgba(0,115,170,0.1);
      text-shadow: initial;
    }
  }
  .modal-title {
    padding: 0;
    font-size: 20px;
    line-height: 30px;
    color: #666;
  }
}
.DTFC_LeftBodyLiner {
  overflow: hidden;
}
.DTFC_RightBodyLiner {
  overflow: hidden;
}
.dataTables_empty {
  text-align: left !important;
  padding-left: 11em !important;
}
.button-fab-right {
  .btn1 {
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;
    opacity: 0;
  }
  .btn2 {
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;
    opacity: 0;
  }
  .btn3 {
    position: absolute;
    top: 8px;
    left: 8px;
    opacity: 0;
    z-index: 1;
  }
  .btn4 {
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;
    opacity: 0;
  }
  .btn5 {
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;
    opacity: 0;
  }
  .btn6 {
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;
    opacity: 0;
  }
  .btn7 {
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;
    opacity: 0;
  }
}
#contentTable {
  .mainFileBody {
    tr:hover {
      td {
        background: rgba(0, 0, 0, 0.21)
      }
    }
  }
  .subFileBody {
    tr:hover {
      td {
        background: rgba(0, 0, 0, 0.21)
      }
    }
  }
}
.settingsMenu {
  &.active {
    background-color: #2196F3 !important;
    color: white !important;
  }
  &:hover {
    color: black;
  }
}

element.style {
  background-color: rgb(0, 0, 0);
}
.sp-preview {
  border: none;
}
.round-replacer {
  border: none;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: all .2s ease-out;
  .sp-preview {
    width: 100%;
    display: none;
  }
}
.sp-replacer {
  margin: 0;
  overflow: hidden;
  cursor: pointer;
  padding: 4px;
  display: inline-block;
  border: solid 1px #91765d;
  background: #eee;
  color: #333;
  vertical-align: middle;
}
.round-replacer-small.margin {
  margin-left: 22px;
}
.round-replacer-small {
  border: none;
  border-radius: 100%;
  width: 26px;
  height: 26px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  transition: all .2s ease-out;
}
.collapse-card {
  margin: 5px 0;
  border: 1px solid #eee !important;
}
.styleHeadingTitles {
  margin-left: 10px;
}
.collapse-card__title {
  font-size: 1.3rem;
}

  #colorPicker{
    .selectedIndicator{
      opacity: 0;
      visibility: hidden;
    }
    .btn:hover .selectedIndicator{
      opacity: 0.5;
      visibility: visible;
    }
    .active .selectedIndicator{
      opacity: 1 !important;
      visibility: visible;
    }
    .btn{
      width:25%;
    }
  }

  .pager{
    text-align: right;
    > li > a {
      margin-left: 4px !important;
      padding: 4px 14px !important;
      border-radius: 2px !important;
      height: 3.6rem !important;
    }
  }

  .templates-list{
    input[type=radio]{
      display:none;
    }
  }

  #coverPicker{
    height: 120px;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;

    .coverPageOption{
      position:relative;
      cursor: pointer;
      margin: 0;

      .coverpageImage {
        max-height:96px;
      }

      > i {
        display: none;
        position: absolute;
        left:10px;
        right:10px;
        top: 56px;
        text-align:center;
        font-size: 30px;
        color: #007AFF;
        text-shadow: -2px 0 2px #F5F5F5, 0 2px 2px #F5F5F5, 2px 0 2px #F5F5F5, 0 -2px 2px #F5F5F5;
        height: 40px;
        line-height: 40px;
      }

      &:hover > i {
        display: block;
        opacity: 0.5;
      }

      &.active > i{
        display: block;
        opacity: 0.9;
      }

      .topBox,
      .bottomBox{
        position: absolute;
        left: 4%;
        width: 80%;
        color: white;
      }

      .topBox{
        height: 15%;
        top: 60%;
        font-size: 9px;
        padding: 1px 3px;
      }

      .bottomBox{
        height: 20%;
        top: 78%;
        font-size: 7px;
        padding: 5px 3px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }


.modal-scrollable {

  .btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
  }
  .bootstrapWizard {
    display: block;
    list-style: none;
    padding: 0;
    position: relative;
    width: 100%
  }
  .bootstrapWizard a:hover,.bootstrapWizard a:active,.bootstrapWizard a:focus {
    text-decoration: none
  }
  .bootstrapWizard li {
    display: block;
    float: left;
    width: 25%;
    text-align: center;
    padding-left: 0
  }

  .bootstrapWizard li:before {
    border-top: 3px solid #55606E;
    content: "";
    display: block;
    font-size: 0;
    overflow: hidden;
    position: relative;
    top: 11px;
    right: 1px;
    width: 100%;
    z-index: 1
  }

  .bootstrapWizard li:first-child:before {
    left: 50%;
    max-width: 50%
  }

  .bootstrapWizard li:last-child:before {
    max-width: 50%;
    width: 50%
  }

  .bootstrapWizard li.complete .step {
    background: #0aa66e;
    padding: 1px 6px;
    border: 3px solid #55606E
  }

  .bootstrapWizard li .step i {
    font-size: 10px;
    font-weight: 400;
    position: relative;
    top: -1.5px
  }

  .bootstrapWizard {
    .title {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }
  }



  #proposalTitle {
    border: 1px solid #c6c6c6;
  }

  .bootstrapWizard li .step {
    background: #B2B5B9;
    color: #fff;
    display: inline;
    font-size: 15px;
    font-weight: 700;
    line-height: 12px;
    padding: 7px 13px;
    border: 3px solid transparent;
    border-radius: 50%;
    line-height: normal;
    position: relative;
    text-align: center;
    z-index: 2;
    transition: all .1s linear 0s
  }

  .bootstrapWizard li.active .step,.bootstrapWizard li.active.complete .step {
    background: #0091d9;
    color: #fff;
    font-weight: 700;
    padding: 8px 13px;
    font-size: 15px;
    border-radius: 50%;
    border: 3px solid #55606E
  }

  .bootstrapWizard li.complete .title,.bootstrapWizard li.active .title {
    color: #2B3D53
  }

  .bootstrapWizard li .title {
    color: #bfbfbf;
    display: block;
    font-size: 13px;
    line-height: 15px;
    max-width: 100%;
    position: relative;
    table-layout: fixed;
    text-align: center;
    top: 20px;
    word-wrap: break-word;
    z-index: 104
  }
}


.wizard-actions {
  display: block;
  list-style: none;
  padding: 0;
  position: relative;
  width: 100%
}

.wizard-actions li {
  display: inline
}

.tab-content.transparent {
  background-color: transparent
}

#create-template-modal .pager {
  text-align: right;
  width: 100%;
}

  .tab-content {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 16px 12px;
    position: relative;
    &.active {
      display: block;
    }
  }
  .bootstrapWizard li.complete .step {
    padding: 3px 7px 4px;
    top: -5px;
  }

  .bootstrapWizard li .step {
    display: inline-block;
    padding: 8px 13px;
    border-radius: 100%;
    top: -10px;
  }

  .bootstrapWizard li.active.complete .step {
    padding: 8px 13px;
  }

  .form-bootstrapWizard {
    .two-steps li{
      width: 50% !important;
    }
    .three-steps li{
      width: 33% !important;
    }
    .four-steps li{
      width: 25% !important;
    }
  }

  .easy-autocomplete-container{
    z-index : 3;
  }

.form-create-traveldoc {
  input {
    border: 1px solid rgb(200, 200, 200) !important;
  }
}
.header-content {
  .toolbar:before {
    content: none;
  }
  .toolbar:after {
    content: none;
  }
}

#contentTable {
  .dropdown-toggle {
    &:after {
      content: none;
    }
  }
  button, [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: inherit;
  }
}


#create-template-modal{

  #colorPicker{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    .selectedIndicator{
      opacity: 0;
      visibility: hidden;
    }
    .btn:hover .selectedIndicator{
      opacity: 0.5;
      visibility: visible;
    }
    .active .selectedIndicator{
      opacity: 1 !important;
      visibility: visible;
    }
    .btn{
      width:25%;
    }
  }

  .pager{
    text-align: right;
    > li > a {
      margin-left: 4px;
      padding: 4px 14px;
      border-radius: 2px;
    }
  }

  .templates-list{
    input[type=radio]{
      display:none;
    }
  }

  #coverPicker{
    height: 120px;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;

    .coverPageOption{
      position:relative;
      cursor: pointer;
      margin: 0;

      .coverpageImage {
        max-height:96px;
      }

      > i {
        display: none;
        position: absolute;
        left:10px;
        right:10px;
        top: 56px;
        text-align:center;
        font-size: 30px;
        color: #007AFF;
        text-shadow: -2px 0 2px #F5F5F5, 0 2px 2px #F5F5F5, 2px 0 2px #F5F5F5, 0 -2px 2px #F5F5F5;
        height: 40px;
        line-height: 40px;
      }

      &:hover > i {
        display: block;
        opacity: 0.5;
      }

      &.active > i{
        display: block;
        opacity: 0.9;
      }

      .topBox,
      .bottomBox{
        position: absolute;
        left: 4%;
        width: 80%;
        color: white;
      }

      .topBox{
        height: 15%;
        top: 60%;
        font-size: 9px;
        padding: 1px 3px;
      }

      .bottomBox{
        height: 20%;
        top: 78%;
        font-size: 7px;
        padding: 5px 3px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }

  .bootstrapWizard li.complete .step {
    padding: 3px 7px 4px;
    top: -5px;
  }

  .bootstrapWizard li .step {
    display: inline-block;
    padding: 8px 13px;
    border-radius: 100%;
    top: -10px;
  }

  .bootstrapWizard li.active.complete .step {
    padding: 8px 13px;
  }

  .form-bootstrapWizard {
    .three-steps li{
      width: 33%;
    }
    .four-steps li{
      width: 25%;
    }
  }

  .easy-autocomplete-container{
    z-index : 3;
  }
}

body {
	height: 100%;
}

.modal {
	border-radius: 4px !important;
	border: none !important;
}

//#status-inner-circle {
//  position: absolute;
//  background: #fff;
//  border-radius: 50%;
//  height: 30px;
//  width: 30px;
//  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
//  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
//  box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
//  /*
//   Put top edge and left edge in the center
//  */
//  top: 50%;
//  left: 50%;
//  margin: -15px 0px 0px -15px;
//  /*
//   Offset the position correctly with
//   minus half of the width and minus half of the height
//  */
//  .fas {
//    speak: none;
//    font-style: normal;
//    font-weight: normal;
//    font-variant: normal;
//    text-transform: none;
//    line-height: 1;
//
//    /* Better Font Rendering =========== */
//    -webkit-font-smoothing: antialiased;
//    -moz-osx-font-smoothing: grayscale;
//  }
//}


body {
	font-family: Arial,sans-serif;
}
.btn {
	border-radius: 4px;
    font-size: 14px;
    font-family: Arial,sans-serif;
    text-transform: none;
    padding: 6px 12px;
    line-height: 1.42857143;
}
.btn-group {
	box-shadow: none !important;
	.btn+.btn{
		margin-left: -1px;
	}
}
.btn-secondary {
    color: #333 !important;
    background-color: white !important;
    border: 1px solid #ccc !important;
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.05) !important;
    -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.05) !important;
    &:hover {
	    background-color: #e6e6e6 !important;
    	border-color: #adadad !important;
    }
    &:active {
	    position: relative;
	    top: 1px;
	    left: 1px;
        -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125) !important;
    	box-shadow: inset 0 3px 5px rgba(0,0,0,.125) !important;
    }
}

#foreground-loading {
	.alert {
    	background: #fff;
    	i {
    		color: black;
    	}
	}
}

.modal {
	.btn-secondary {
		&.btn {
		    color: white !important;
		    font-size: 14px;
		    min-width: unset;
		    min-height: unset;
		    width: unset;
		    height: unset;
		    
		    i {
		    	color: white !important;
			    font-size: 14px;
			    line-height: unset;
			    height: unset;
			    width: unset;
		    }
		}
		&.btn-success {
			background-color: #009b46 !important;
			border-color: #00823a !important;
			&:hover, &:focus, &:active {
				background-color: #00682f !important;
				border-color: #00441f !important;
			} 
		}
		&.btn-danger {
			background-color: #aa0014 !important;
			border-color: #910011 !important;
			&:hover, &:focus, &:active {
			    background-color: #77000e !important;
				border-color: #53000a !important;
			}
		}
		
	}
	.alert.alert-block {
	    color: #ffffff;
	    text-shadow: none;
	    border: none;
	    padding: 10px;
	    i {
	    	color: inherit;
	    }
	    .alert-heading {
	    	margin: 0;
	    }
		&.alert-danger {
			background-color: #c26565;
		}
		&.alert-info {
		    border-color: #9cb4c5;
		    color: #305d8c;
		    background-color: #D6DDE7;
		}
	}
	
}

form .tab-pane .form-group {
	padding-top: 0;
}

.btn:not(.btn-secondary):not(.btn-default) {
    color: white !important;
    i {
    	color: white !important;
    }
}

.btn {
	height: unset !important;
	width: unset !important;
	 i {
	    font-size: 14px;
	    height: unset;
	    width: unset;
    }
}

table .btn-group .btn {
    padding: 0px 12px;
    +.btn.dropdown-toggle {
	    height: 100% !important;
	}
}

.item-actions .btn {
	i.fa-ellipsis-h, i.fa-ellipsis-v {
		color: rgba(0, 0, 0, 0.54) !important;
	}
}

/**
Apps
 */
@import "apps/mail/mail";
@import "apps/contacts/contacts";
@import "apps/file-manager/file-manager";
@import "apps/todo/todo";
@import "apps/chat/chat";
@import "apps/dashboards/project/project";
@import "apps/dashboards/server/server";
@import "apps/e-commerce/products/products";
@import "apps/e-commerce/product/product";
@import "apps/e-commerce/orders/orders";
@import "apps/calendar/calendar";
/**
Pages
 */
@import "pages/profile/profile";
@import "pages/auth/login";
@import "pages/auth/login-v2";
@import "pages/auth/register";
@import "pages/auth/register-v2";
@import "pages/auth/forgot-password";
@import "pages/auth/reset-password";
@import "pages/auth/lock-screen";
@import "pages/coming-soon/coming-soon";
@import "pages/maintenance/maintenance";
@import "pages/errors/404/404";
@import "pages/errors/500/500";
@import "pages/search/search";
/**
Components
 */
@import "components/charts/nvd3/nvd3";
/**
Plugins
 */
//@import "plugins/datatable";
//@import "plugins/responsive.dataTables";
@import "plugins/fuse-aside";
@import "plugins/custom-scrollbars";
@import "plugins/nvd3";



.container.contentContainer {
  box-shadow: none;
  .nav.nav-tabs {
    border-bottom: none;
  }
}

.form-group > label {
  color: inherit !important;
}

.modal-body .form-group label {
  width: 100%;
  color: inherit !important;
  transform: scale(0.923, 0.923);
  transform-origin: left;
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 700 !important;
  font-size: 1.6rem !important;
}

a.btn, button.btn {
  letter-spacing: 0em !important;
  //padding: 3px 12px;
}

.btn-group {
  height: 28px;
}

.btn-group a.btn, .btn-group button.btn, .btn-group .dropdown-toggle, .btn-group .sidebar-toggle-button, #mail .search-bar .sidebar-toggle-button {
  height: 100% !important;
}

.page-content .card {
  box-shadow: none !important;
}
.page-content .card .tab-content {
  border: none !important;
}

#proposalSendEmail {
  .form-group {
    margin-bottom: 8px;
    padding-top: 0px;
  }
}

#proposalSendEmail input:not(#emailCc_tag) {
  border: 1px solid #ccc !important;
  padding: 5px !important;
  border-radius: 4px;
  box-shadow: none !important;
  height: unset !important;
}

#send-proposal-modal i, #send-proposal-modal [class^="icon-"], #send-proposal-modal [class*=" icon-"] {
  color: rgba(0, 0, 0, 0.54);
  font-size: 2.4rem;
  height: 2.4rem;
  line-height: 2.4rem;
  width: 2.4rem;
}

#proposalSendEmail #emailCc_tagsinput {
  border-radius: 4px;
}

#sendProposalDialog.modal-body {
  position: relative;
  padding: 20px;
}

#sendProposalDialog .dl-horizontal {
  margin-top: 0;
  margin-bottom: 20px;
  dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 700;
    line-height: 1.428571429;
  }
  dd {
    margin-left: 180px;
    line-height: 1.428571429;
    margin-bottom: .5rem;
  }
}

.modal-scrollable .bootstrapWizard li {
  display: block;
  float: left;
  width: 25%;
  text-align: center;
  padding-left: 0;
}