
.pdf-containter {
  overflow: scroll;
  padding: 20px;
}
body {
  overflow: auto !important;
  margin: 0;
  font-family: Roboto,Roboto;
  font-size: 13px;
}

table {
	border-collapse: collapse;
}

.date-info-container table {
	min-width: 550px;
}

.booking-detail .left {
  float: left
}

.booking-detail .left .desc {
  padding-left: 15px
}

.booking-detail .right {
  float: right
}

.booking-detail .booking-desc {
  width: 50%;
  display: inline-block
}

.booking-detail .title {
  color: #f75713
}

.booking-detail .title .title-text {
  margin-left: 3px;
  float: left
}

.booking-detail .title:after {
  content: " ";
  clear: both;
  border-bottom: 1px solid #999999;
  width: 100%;
  display: table
}

.booking-detail .desc {
  margin-top: 10px;
  line-height: 25px
}

.booking-detail .desc .desc-text {
  padding: 1px 0;
  text-align: left
}

.booking-detail .desc .desc-text .desc-lbl {
  width: 35%;
  color: #f75713
}

.booking-detail .desc .left .desc-text {
  padding-left: 15px
}

.segment .segment-heading .icon {
  margin: 22px 0 0 6px;
  float: left;
}

.segment .segment-heading .segment-heading-text {
  margin: 6px 0 0 9px;
  font-size: 12px;
  text-transform: uppercase;
  float: left
}

.segment .segment-heading .segment-heading-subtext {
  float: right;
  font-style: italic;
  font-size: 9px;
  padding-top: 0px;
  padding-right: 6px
}

.segment .segment-detail {
  width: 100%;
  margin-top: 10px;
  padding: 0 15px
}

.segment .segment-table {
  font-size: 13px;
  text-align: left;
  width: 100%;
  border-spacing: 1px;
  table-layout: fixed;
  margin-bottom: 10px
}

.segment .segment-table td {
  padding: 1px 0;
  text-align: left
}

.segment .segment-table .table-heading {
  color: #f75713
}

.segment .segment-table .table-value {
  width: 212px;
  font-weight: normal !important
}

.segment .segment-table .table-value-3 {
  width: 524px
}

.segment .segment-table.table2 {
  width: 98%;
  margin-left: 1%
}

.segment .segment-table.table2 th {
  border-bottom: 2px solid #f75713
}

.segment .segment-table.table2 th .header-text {
  margin-left: 3px
}

.segment .segment-table.table2 tr {
  margin-top: 10px
}

.segment .segment-table.table2 td {
  padding: 10px 5px 0 0;
  vertical-align: top
}

table.destination-meta td {
  padding: 1px 5px
}

.section-thumb {
  float: left;
  margin: 0 10px 10px 0;
  height: 28rem;
  padding-left: 21.5%;
  margin-top: 2rem
}


.panel[dataId=con-iti] {
  .panel-tools {
    .iti-style-lbl {
      margin-right: 5px;
    }
    .iti-select {
      margin-right: 10px;
      .btn {
        border-style: solid;
      }
    }
  }
  #itineraryContent {
    padding-bottom: 20px;
  }
  .inline {
    display: inline-block;
  }
}
.booking-detail {
  padding: 0 1%;
  text-align : center;
  display: hidde;
  .left {
    float: left;
    .desc {
      padding-left: 15px;
    }
  }
  .right {
    float: right;
  }
  .booking-desc {
    width: 50%;
    display: inline-block;
  }

  .title {
    .title-text {
      margin-left: 3px;
      float: left;
    }
    &:after {
      content: " ";
      clear: both;
      border-bottom: 1px solid #999999;
      width: 100%;
      display: table;
    }
  }
  .desc {
    margin-top: 10px;
    line-height: 25px;
    .desc-text {
      padding: 1px 0;
      text-align: left;
      .desc-lbl {
        width: 35%;
      }
    }
    .left {
      .desc-text {
        padding-left: 15px;
      }
    }
  }
}

.segment {
  width: 100%;
  .segment-heading {
    width: 98%;
    margin-left: 1%;
    .icon{
      margin: 11px 0 0 6px;
      float:left;
    }
    .segment-heading-text{
      margin: 6px 0 0 9px;
      font-size: 12px;
      text-transform: uppercase;
      float:left;
    }

    .segment-heading-subtext {
      float: right;
      font-style: italic;
      color: #000000;
      font-size: 9px;
      padding-top: 40px;
      padding-right: 6px;
    }

  }
  .segment-detail {
    width: 100%;
    margin-top: 0;
    padding: 0 15px;

    h2 {
      font-size: 22px !important;
      margin: 0;
      font-weight: 400;
    }
    .flightTimeTable {
      .flightTimeHeading {
        width: 70px;
        color: #f75713;
      }
      .flightTimeValue {
        width: 80px;
      }
      .flightTimeText {

      }
    }
  }
  .segment-table{
    font-size: 13px;
    text-align: left;
    width: 100%;
    border-spacing: 1px;
    table-layout: fixed;
    margin-bottom: 5px !important;
    td{
      /*background-color: #D5EFF9;
      border: 1px solid #FFF;*/
      padding: 1px 10px 1px 10px;
      text-align: left;
    }
    .table-heading {
      width: 120px;
    }
    .table-value {
      width: 212px;
      font-weight: normal !important;
    }
    .table-value-3 {
      width: 524px;
    }
    &:not(.flightTimeTable) {
      margin-left: 130px !important;
      tbody {
        tr {
          td:first-child {
            width: 220px !important;
          }
        }
      }
    }
  }
  .segment-table.table2{
    width: 98%;
    margin-left: 1%;
    th {
      border-bottom: 2px solid #CDCDCD;
      .header-text {
        margin-left: 3px;
      }
    }
    tr {
      margin-top: 10px;
    }
    td {
      padding: 10px 5px 0 0;
      vertical-align: top;
    }

  }
}

.alert-default.fade.in {
  opacity: 1 !important;
}

.content-holder {
    &[data-type=block-image], &[data-type=content-library-images] {
    	.item {
    		width: 100%;
    	}
    }
	&[data-type=block-itinerary] {
		.segment {
			font-weight: 400;
			.segment-heading {
			 	width: 100%;
		      	margin: 0;
		      	overflow: hidden;
		      	* {
		    	  	line-height: 1.5em;
		    	}
			      .icon {
					margin: 0 0 0 10px;
					float: left;
			      }
			      .segment-heading-text {
			        	font-size: 32px !important;
			        	margin: 0 0 0 12px !important;
			        	text-transform: uppercase;
			        	float: left;
			        h1 {
		          		font-size: 25px;
		          		margin: 0;
		          		font-weight: 400;
		        	}
		      	}
		      	.segment-heading-subtext {
			        display: none !important;
			        float: right;
			        font-style: italic;
			        color: #000000;
			        font-size: 9px;
			        padding-top: 32px;
			        padding-right: 6px;
				}
			}
			.segment-detail {
				margin-top: 0;
				h2 {
					font-size: 22px !important;
				    margin: 0;
				    font-weight: 400;
				}
				.segment-table {
					margin-bottom: 5px !important;
					.table-heading {
					    color: #f75713;
					}
				}
			}
		}
	}
}
.iti-segment {
  	margin-bottom: 10px;
  	overflow: hidden;
	.iti-segment-date {
		font-size: 22px;
	    font-weight: 400;
	    margin: 0;
	    line-height: 1.3em;
	}
}

.row {
	width: 100%;
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	* {
		box-sizing: border-box;
	}

	.col-1 { width:(100% / 12) !important; }
	.col-2 { width:(100% / 6) !important; }
	.col-3 { width:25% !important; }
	.col-4 { width:(100% / 3) !important; }
	.col-5 { width:(100% / 2.4) !important; }
	.col-6 { width:(100% / 2) !important; }
	.col-7 { width:(100% / 1.714285714285714) !important; }
	.col-8 { width:(100% / 1.5) !important; }
	.col-9 { width:(100% / 1.333333333333333) !important; }
	.col-10 { width:(100% / 1.2) !important; }
	.col-11 { width:(100% / 1.090909090909091) !important; }
	.col-12 { width:100% !important; }
	
	.panel-froala {
		word-break:break-all;
	}
	[class*="col-"] {
		box-sizing: border-box;
		display: inline-block;
	    min-height: 1px;
	    vertical-align: middle;
	}
	.videoContainer {
		.video-image-wrapper a {
			width: 100%;
			height: 100%;
			border: none;
			display: block;
			background-position: center;
	    	background-size: cover;
	    	min-height: 1em;
		}
	}
	
}

.row-col-content-flex {
	&.col-content-top > .section-container > .row_container > [class*="col-"] {
    	vertical-align: top;
	}
	&.col-content-middle > .section-container > .row_container > [class*="col-"] {
    	vertical-align: middle;
	}
	&.col-content-bottom > .section-container > .row_container > [class*="col-"] {
    	vertical-align: bottom;
	}
}

.pdf-containter [class*="-container"] {
    page-break-inside: avoid;
}