.editor-header {
  min-height: 52px;
  position: absolute;
  width: 100%;
  z-index: 1002;
  background: #fff;
  color: #43454e;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  display: flex; }
  .editor-header #logo-group {
    width: initial; }
    .editor-header #logo-group #logo {
      margin-top: 3px;
      display: inline-block;
      height: 39px;
      float: left;
      margin-left: 9px; }
      .editor-header #logo-group #logo img {
        height: 28px;
        padding-top: 0;
        margin-top: 8px;
        border-right: 1px dotted #c7c7c7;
        padding-right: 12px;
        width: auto; }
    .editor-header #logo-group h3 {
      margin-left: 64px;
      margin-top: 10px;
      font-family: Roboto,Roboto;
      font-size: 16px;
      color: inherit;
      font-weight: normal;
      text-transform: capitalize;
      text-decoration: inherit;
      display: block;
      line-height: normal; }
    .editor-header #logo-group .header-company {
      font-size: 25px; }
  .editor-header div {
    display: inline-block;
    vertical-align: middle;
    float: left; }
  .editor-header .main-editor-buttons {
    position: absolute;
    width: initial;
    right: 0;
    padding-right: 10px;
    padding-left: 10px;
    top: 2px;
    height: 45px !important; }
    .editor-header .main-editor-buttons .btn {
      margin-top: 6px;
      background-color: #e4e2e2;
      margin-right: 10px;
      transition: all 0.3s ease 0s !important;
      font-family: 'Open Sans'; }

.editor-section-panel {
  position: absolute;
  top: 52px;
  overflow: hidden;
  overflow-y: auto !important;
  left: 0;
  bottom: 0;
  left: auto;
  z-index: 1000;
  width: 228px;
  background: #fff;
  border-right: 1px solid rgba(0, 0, 0, 0.2); }

.editor-header > :first-child {
  position: relative;
  margin-right: 5px; }

.editor-options-panel {
  position: absolute;
  top: 52px;
  overflow-y: auto;
  right: 0;
  bottom: 0;
  left: auto;
  z-index: 1000;
  width: 76px; }
  .editor-options-panel .editor-blocks-holder {
    background: #fff;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    color: #43454e;
    width: 76px;
    display: table;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    table-layout: fixed; }
    .editor-options-panel .editor-blocks-holder .nav-panel {
      display: table-row;
      height: 100%; }
      .editor-options-panel .editor-blocks-holder .nav-panel .nav-panel-set {
        display: table-cell;
        vertical-align: top; }
        .editor-options-panel .editor-blocks-holder .nav-panel .nav-panel-set .nav-icon {
          color: #8d8d8d;
          font-size: 12px;
          display: block;
          padding: 12px 0 10px;
          border-radius: 0;
          position: relative;
          white-space: nowrap;
          text-decoration: none;
          transition: 0.1s;
          cursor: pointer;
          font-weight: normal;
          line-height: 1.42857143;
          text-align: center;
          vertical-align: middle;
          border: 0;
          margin-bottom: 0; }
          .editor-options-panel .editor-blocks-holder .nav-panel .nav-panel-set .nav-icon i {
            display: block;
            width: 32px;
            height: 24px;
            margin: 0 auto 5px; }
          .editor-options-panel .editor-blocks-holder .nav-panel .nav-panel-set .nav-icon .nav-icon-title {
            display: block;
            line-height: 1;
            margin: 0;
            padding-top: 3px;
            text-transform: capitalize;
            letter-spacing: 0; }
        .editor-options-panel .editor-blocks-holder .nav-panel .nav-panel-set .nav-icon.active {
          color: #43454e;
          background: #e5e5e5; }
      .editor-options-panel .editor-blocks-holder .nav-panel ul, .editor-options-panel .editor-blocks-holder .nav-panel ol, .editor-options-panel .editor-blocks-holder .nav-panel li {
        margin: 0;
        padding: 0;
        list-style: none; }

.editor-blocks-panel {
  position: absolute;
  right: 76px;
  top: 52px;
  bottom: 0;
  left: auto;
  width: 300px;
  overflow: hidden;
  overflow-y: auto !important;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  background: #fff;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transform: translateZ(0);
  z-index: 999; }
  .editor-blocks-panel .side-bar-cover-container .block-holder {
    bottom: 0; }
  .editor-blocks-panel .block-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    overflow-y: auto !important; }
    .editor-blocks-panel .block-footer .btn {
      margin: 10px 0 10px 33px;
      width: 80%;
      background-color: #e4e2e2;
      margin-right: 10px;
      transition: all 0.3s ease 0s !important;
      font-family: 'Open Sans'; }
  .editor-blocks-panel .block-head {
    position: relative;
    padding: 10px 20px 0;
    box-shadow: inset 0 -1px 0 #e5e5e5; }
    .editor-blocks-panel .block-head .content-cus-title {
      display: block;
      padding: 5px 10px 5px 0;
      box-shadow: 0 5px 10px #fff;
      z-index: 100;
      position: relative;
      flex: 0 0 auto; }
      .editor-blocks-panel .block-head .content-cus-title .title-back-button {
        position: absolute;
        top: 10px;
        cursor: pointer;
        display: none; }
        .editor-blocks-panel .block-head .content-cus-title .title-back-button.active {
          display: block; }
      .editor-blocks-panel .block-head .content-cus-title .content-title {
        width: 100%;
        text-align: center; }
    .editor-blocks-panel .block-head .search-widget {
      display: block;
      padding: 10px 20px 0;
      box-shadow: 0 5px 10px #fff;
      z-index: 100;
      position: relative;
      flex: 0 0 auto; }
      .editor-blocks-panel .block-head .search-widget .search-auto input {
        font-size: inherit;
        padding-left: 4px;
        display: block;
        width: 100%;
        padding-bottom: 8px;
        color: #2E2F35;
        background-color: transparent;
        border: 0;
        outline: none;
        position: relative;
        transition: border-color .15s; }
      .editor-blocks-panel .block-head .search-widget .search-auto .search-icon {
        position: absolute;
        top: 50%;
        left: 0;
        color: #8D8D8D;
        transform: translate(0, -50%); }
  .editor-blocks-panel .block-holder {
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 50px;
    left: 0;
    overflow-y: auto !important;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar; }
    .editor-blocks-panel .block-holder .headed-scroller {
      display: flex;
      flex-direction: column;
      height: 100%;
      flex-grow: 1; }
    .editor-blocks-panel .block-holder .block-container {
      padding: 20px 20px 0;
      margin-bottom: 20px;
      box-sizing: border-box;
      display: block; }
      .editor-blocks-panel .block-holder .block-container .content-title {
        text-align: center;
        margin-top: 10px; }
      .editor-blocks-panel .block-holder .block-container .content-container-row {
        display: flex;
        margin: 0;
        padding-bottom: 10px; }
        .editor-blocks-panel .block-holder .block-container .content-container-row .content-files-column {
          flex: 44%;
          height: 150px;
          background-size: 100% !important;
          border-radius: 4px;
          position: relative; }
          .editor-blocks-panel .block-holder .block-container .content-container-row .content-files-column .content-info {
            width: 100%;
            bottom: 0;
            position: absolute;
            text-align: center;
            background-color: lightgray;
            display: none; }
          .editor-blocks-panel .block-holder .block-container .content-container-row .content-files-column:hover .content-info {
            display: block; }
      .editor-blocks-panel .block-holder .block-container .block-input-container {
        width: 100%;
        line-height: 34px;
        height: 34px;
        background-color: #fff;
        border: 1px solid lightgray;
        border-radius: 4px;
        cursor: pointer;
        margin-bottom: 5px; }
        .editor-blocks-panel .block-holder .block-container .block-input-container .input-content {
          width: 100%;
          height: 100%;
          background: none;
          padding: 0 20px;
          margin: auto;
          position: relative; }
      .editor-blocks-panel .block-holder .block-container .block-button-container {
        width: 100%;
        line-height: 34px;
        height: 34px;
        background-color: lightgray;
        border-radius: 4px;
        cursor: pointer;
        margin-bottom: 5px; }
        .editor-blocks-panel .block-holder .block-container .block-button-container .button-content {
          margin: auto;
          position: relative;
          padding: 0 20px; }
          .editor-blocks-panel .block-holder .block-container .block-button-container .button-content .round-replacer-small {
            position: absolute;
            right: 12px;
            top: 4px; }
            .editor-blocks-panel .block-holder .block-container .block-button-container .button-content .round-replacer-small .sp-preview {
              border: none; }
          .editor-blocks-panel .block-holder .block-container .block-button-container .button-content .switchery {
            margin-left: 0; }
          .editor-blocks-panel .block-holder .block-container .block-button-container .button-content span {
            margin: 0px 10px; }
      .editor-blocks-panel .block-holder .block-container .black-square-container {
        margin-bottom: 20px !important;
        margin-left: -6px; }
        .editor-blocks-panel .block-holder .block-container .black-square-container .content-new-loader {
          border: 3px solid #f3f3f3;
          /* Light grey */
          border-top: 3px solid #606060;
          border-radius: 50%;
          margin: 12px auto;
          width: 20px;
          height: 20px;
          -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite; }
        .editor-blocks-panel .block-holder .block-container .black-square-container .block-icon {
          display: inline-block;
          position: relative;
          margin: 0 0 6px 6px;
          width: 82px;
          height: 64px;
          padding: 0;
          border: 1px solid #d8d8d8;
          background: #ededed;
          color: #000;
          white-space: nowrap;
          text-decoration: none;
          transition: 0.1s;
          font-size: 12px;
          font-weight: normal;
          line-height: 1.42857143;
          text-align: center;
          vertical-align: middle;
          box-sizing: border-box;
          cursor: move; }
          .editor-blocks-panel .block-holder .block-container .black-square-container .block-icon .block-bg {
            position: absolute;
            top: 5px;
            right: 5px;
            bottom: 5px;
            left: 5px; }
            .editor-blocks-panel .block-holder .block-container .black-square-container .block-icon .block-bg .block-icon-img svg {
              margin-top: 6px; }
            .editor-blocks-panel .block-holder .block-container .black-square-container .block-icon .block-bg .block-icon-label {
              position: absolute;
              bottom: 0;
              left: -5px;
              right: -5px;
              font-size: 10px;
              text-transform: uppercase;
              letter-spacing: 0;
              color: #8d8d8d; }

.content-new-loader {
  border: 3px solid #f3f3f3;
  /* Light grey */
  border-top: 3px solid #606060;
  border-radius: 50%;
  margin: 12px auto;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite; }

@media (min-width: 768px) {
  .doc-effect-holder {
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 20px !important; } }
.editor-content {
  padding-top: 32px;
  transition: padding-top 0.18s;
  position: relative;
  z-index: auto; }
  .editor-content .editor-content-scroller {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    outline: 0 !important; }
    .editor-content .editor-content-scroller .doc-effect-holder {
      transform: scale(1);
      display: grid;
      padding: 1px;
      transform-origin: top left; }
    .editor-content .editor-content-scroller .doc-page-area {
      position: relative;
      margin: 0 auto 2px;
      max-width: 800px; }
      .editor-content .editor-content-scroller .doc-page-area .doc-page-area-sheet {
        width: 792px;
        min-height: 1036px;
        background: #fff;
        background-size: 100% auto;
        background-position: 0 0;
        position: relative;
        z-index: 0;
        background: #fff;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.07), 0 0 0 1px rgba(0, 0, 0, 0.06); }
        .editor-content .editor-content-scroller .doc-page-area .doc-page-area-sheet .section-title {
          position: absolute;
          top: -18px;
          right: 41.5%; }
        .editor-content .editor-content-scroller .doc-page-area .doc-page-area-sheet .page-content-area {
          padding: 20px;
          height: 100%;
          width: 100%; }
      .editor-content .editor-content-scroller .doc-page-area .doc-page-area-sheet:not(:first-child) {
        margin-top: 30px; }
    .editor-content .editor-content-scroller .doc-page-area:first-child .section-title {
      display: none; }

.window-min-height {
  height: 100%;
  min-height: 778px; }

.panel-padding-sections {
  padding-left: 228px; }

.panel-padding-blocks {
  padding-right: 76px; }

.panel-padding-options {
  padding-right: 75px; }

.section-tab-area {
  margin-top: 20px;
  float: right; }

#document-section-tabs, #document-section-add-tab {
  top: 0;
  left: 2px;
  float: right;
  display: block; }
  #document-section-tabs li, #document-section-add-tab li {
    width: 220px;
    transition: all .3s ease 0s !important;
    float: right;
    margin-bottom: 2px;
    position: relative; }
    #document-section-tabs li .section-button, #document-section-add-tab li .section-button {
      margin: 0 0px 0 1px;
      box-shadow: none;
      -webkit-appearance: inherit;
      border-color: #DDDDDD;
      background-color: #dddddd;
      min-width: 60px;
      position: relative;
      border-radius: 0 0 0 0 !important;
      /* width: 100%; */
      color: #999;
      line-height: 16px;
      border: 1px solid transparent;
      display: block;
      padding: 16px 15px; }
      #document-section-tabs li .section-button .tab-label, #document-section-add-tab li .section-button .tab-label {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
        #document-section-tabs li .section-button .tab-label .switchery, #document-section-add-tab li .section-button .tab-label .switchery {
          position: absolute;
          right: 0; }

#document-section-add-tab {
  margin-top: 20px; }

.ui-draggable-helper {
  display: inline-block;
  position: relative;
  margin: 0 0 6px 6px;
  width: 82px;
  height: 64px;
  padding: 0;
  border: 1px solid #d8d8d8;
  background: #ededed;
  color: #000;
  white-space: nowrap;
  text-decoration: none;
  transition: 0.1s;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  cursor: move; }
  .ui-draggable-helper .block-bg {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px; }
    .ui-draggable-helper .block-bg .block-icon-img svg {
      margin-top: 6px; }
    .ui-draggable-helper .block-bg .block-icon-label {
      position: absolute;
      bottom: 0;
      left: -5px;
      right: -5px;
      font-size: 10px;
      text-transform: uppercase;
      letter-spacing: 0;
      color: #8d8d8d; }

.page-content-area .content-new-holder {
  width: 10%;
  margin-bottom: 20px;
  height: 1px;
  border: 1px dotted blue;
  border-radius: 2px; }
  .page-content-area .content-new-holder .content-new-loader {
    border: 3px solid #f3f3f3;
    /* Light grey */
    border-top: 3px solid #606060;
    border-radius: 50%;
    margin: 12px auto;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite; }
.page-content-area .content-holder {
  width: 100%;
  margin-bottom: 20px;
  border: 1px dotted transparent;
  border-radius: 2px;
  position: relative; }
  .page-content-area .content-holder .content-holder-name {
    position: absolute;
    left: 0px;
    top: -28px; }
  .page-content-area .content-holder .touch-container {
    display: none;
    transition-delay: 5s;
    z-index: 9;
    position: absolute;
    right: 0;
    width: 350px;
    height: 33px;
    top: -28px;
    border-radius: 2px;
    background: transparent;
    color: #6d6f7a;
    transition: .05s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .page-content-area .content-holder .touch-container .content-holder-toolbar {
      display: flex;
      transition-delay: 5s;
      z-index: 9;
      position: absolute;
      right: 0px;
      top: 0px;
      border-radius: 2px;
      background: #fff;
      color: #6d6f7a;
      transition: .05s;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 30px rgba(0, 0, 0, 0.08); }
      .page-content-area .content-holder .touch-container .content-holder-toolbar .toolbar-button-holder {
        display: flex;
        padding: 4px 10px; }
        .page-content-area .content-holder .touch-container .content-holder-toolbar .toolbar-button-holder .cht-btn {
          padding: 0 8px 0px 8px;
          border-right: 1px solid gray;
          -webkit-appearance: inherit; }
        .page-content-area .content-holder .touch-container .content-holder-toolbar .toolbar-button-holder .cht-btn:first-child {
          padding: 0 8px 0px 0px;
          border-right: 1px solid gray; }
        .page-content-area .content-holder .touch-container .content-holder-toolbar .toolbar-button-holder .cht-btn:last-child {
          padding: 0 0px 0px 8px;
          border: none; }
    .page-content-area .content-holder .touch-container .content-holder-sub-toolbar {
      display: flex;
      transition-delay: 5s;
      z-index: 9;
      position: absolute;
      right: 110px;
      top: 0px;
      border-radius: 2px;
      background: #fff;
      color: #6d6f7a;
      transition: .05s;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 30px rgba(0, 0, 0, 0.08); }
      .page-content-area .content-holder .touch-container .content-holder-sub-toolbar .toolbar-button-holder {
        display: flex;
        padding: 4px 10px; }
        .page-content-area .content-holder .touch-container .content-holder-sub-toolbar .toolbar-button-holder .cht-btn {
          padding: 0 8px 0px 8px;
          border-right: 1px solid gray;
          -webkit-appearance: inherit; }
        .page-content-area .content-holder .touch-container .content-holder-sub-toolbar .toolbar-button-holder .cht-btn:first-child {
          padding: 0 8px 0px 0px;
          border-right: 1px solid gray; }
        .page-content-area .content-holder .touch-container .content-holder-sub-toolbar .toolbar-button-holder .cht-btn:last-child {
          padding: 0 0px 0px 8px;
          border: none; }
.page-content-area .content-footer {
  width: 100%;
  height: 100%;
  min-height: 50px; }

.content-holder:hover .touch-container {
  display: block; }

.fancy {
  line-height: 0.5;
  text-align: center; }

.fancy span {
  display: inline-block;
  position: relative; }

.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid #b3b3b3;
  border-top: 1px solid #b3b3b3;
  top: 0;
  width: 30rem; }

.fancy span:before {
  right: 100%;
  margin-right: 15px; }

.fancy span:after {
  left: 100%;
  margin-left: 15px; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.booking-detail .left {
  float: left; }

.booking-detail .left .desc {
  padding-left: 15px; }

.booking-detail .right {
  float: right; }

.booking-detail .booking-desc {
  width: 50%;
  display: inline-block; }

.booking-detail .title {
  color: #f75713; }

.booking-detail .title .title-text {
  margin-left: 3px;
  float: left; }

.booking-detail .title:after {
  content: " ";
  clear: both;
  border-bottom: 1px solid #999999;
  width: 100%;
  display: table; }

.booking-detail .desc {
  margin-top: 10px;
  line-height: 25px; }

.booking-detail .desc .desc-text {
  padding: 1px 0;
  text-align: left; }

.booking-detail .desc .desc-text .desc-lbl {
  width: 35%;
  color: #f75713; }

.booking-detail .desc .left .desc-text {
  padding-left: 15px; }

.segment {
  margin-top: 10px;
  width: 100%; }

.segment .segment-heading {
  color: #f75713; }

.segment .segment-heading .icon {
  margin: 22px 0 0 6px;
  float: left;
  font-size: 25px; }

.segment .segment-heading .segment-heading-text {
  margin: 6px 0 0 9px;
  font-size: 12px;
  text-transform: uppercase;
  float: left; }

.segment .segment-heading .segment-heading-subtext {
  float: right;
  font-style: italic;
  font-size: 9px;
  padding-top: 0px;
  padding-right: 6px; }

.segment .segment-heading:after {
  content: " ";
  clear: both;
  border-bottom: 1px solid #999999;
  width: 100%;
  display: table; }

.segment .segment-detail {
  width: 100%;
  margin-top: 10px;
  padding: 0 15px; }

.segment .segment-table {
  font-size: 13px;
  text-align: left;
  width: 100%;
  border-spacing: 1px;
  table-layout: fixed;
  margin-bottom: 20px; }

.segment .segment-table td {
  padding: 1px 0;
  text-align: left; }

.segment .segment-table .table-heading {
  color: #f75713; }

.segment .segment-table .table-value {
  width: 212px;
  font-weight: normal !important; }

.segment .segment-table .table-value-3 {
  width: 524px; }

.segment .segment-table.table2 {
  width: 98%;
  margin-left: 1%; }

.segment .segment-table.table2 th {
  border-bottom: 2px solid #f75713; }

.segment .segment-table.table2 th .header-text {
  margin-left: 3px; }

.segment .segment-table.table2 tr {
  margin-top: 10px; }

.segment .segment-table.table2 td {
  padding: 10px 5px 0 0;
  vertical-align: top; }

table.destination-meta td {
  padding: 1px 5px; }

.section-thumb {
  float: left;
  margin: 0 10px 10px 0;
  height: 28rem;
  padding-left: 21.5%;
  margin-top: 2rem; }

.panel[dataId=con-iti] .panel-tools .iti-style-lbl {
  margin-right: 5px; }
.panel[dataId=con-iti] .panel-tools .iti-select {
  margin-right: 10px; }
  .panel[dataId=con-iti] .panel-tools .iti-select .btn {
    border-style: solid; }
.panel[dataId=con-iti] #itineraryContent {
  padding-bottom: 20px; }
.panel[dataId=con-iti] .inline {
  display: inline-block; }

.booking-detail {
  padding: 0 1%;
  text-align: center;
  display: hidde; }
  .booking-detail .left {
    float: left; }
    .booking-detail .left .desc {
      padding-left: 15px; }
  .booking-detail .right {
    float: right; }
  .booking-detail .booking-desc {
    width: 50%;
    display: inline-block; }
  .booking-detail .title .title-text {
    margin-left: 3px;
    float: left; }
  .booking-detail .title:after {
    content: " ";
    clear: both;
    border-bottom: 1px solid #999999;
    width: 100%;
    display: table; }
  .booking-detail .desc {
    margin-top: 10px;
    line-height: 25px; }
    .booking-detail .desc .desc-text {
      padding: 1px 0;
      text-align: left; }
      .booking-detail .desc .desc-text .desc-lbl {
        width: 35%; }
    .booking-detail .desc .left .desc-text {
      padding-left: 15px; }

.segment {
  margin-top: 10px;
  width: 100%; }
  .segment .segment-heading {
    width: 98%;
    margin-left: 1%; }
    .segment .segment-heading .icon {
      margin: 11px 0 0 6px;
      float: left;
      font-size: 25px; }
    .segment .segment-heading .segment-heading-text {
      margin: 6px 0 0 9px;
      font-size: 12px;
      text-transform: uppercase;
      float: left; }
    .segment .segment-heading .segment-heading-subtext {
      float: right;
      font-style: italic;
      color: #000000;
      font-size: 9px;
      padding-top: 40px;
      padding-right: 6px; }
    .segment .segment-heading:after {
      content: " ";
      clear: both;
      border-bottom: 1px solid #999999;
      width: 100%;
      display: table; }
  .segment .segment-detail {
    width: 100%;
    margin-top: 10px;
    padding: 0 15px; }
  .segment .segment-table {
    font-size: 13px;
    text-align: left;
    width: 100%;
    border-spacing: 1px;
    table-layout: fixed;
    margin-bottom: 20px; }
    .segment .segment-table td {
      /*background-color: #D5EFF9;
      border: 1px solid #FFF;*/
      padding: 1px 10px 1px 10px;
      text-align: left; }
    .segment .segment-table .table-heading {
      width: 120px; }
    .segment .segment-table .table-value {
      width: 212px;
      font-weight: normal !important; }
    .segment .segment-table .table-value-3 {
      width: 524px; }
  .segment .segment-table.table2 {
    width: 98%;
    margin-left: 1%; }
    .segment .segment-table.table2 th {
      border-bottom: 2px solid #CDCDCD; }
      .segment .segment-table.table2 th .header-text {
        margin-left: 3px; }
    .segment .segment-table.table2 tr {
      margin-top: 10px; }
    .segment .segment-table.table2 td {
      padding: 10px 5px 0 0;
      vertical-align: top; }

.alert-default.fade.in {
  opacity: 1 !important; }

/*# sourceMappingURL=viewer.css.map */
