.fa, .fab, .fal, .far, .fas {
  width: 1em;
  height: 1em;
  font-size: inherit;
  color: inherit;
}

#closeViewerButton {
  background-color: #999;
  border-color: #8c8c8c;
  color: #ffffff;
  text-transform: uppercase;
}

.button-green.sendAction {
  text-transform: uppercase;
}

.editor-header {
  min-height: 52px;
  position: absolute;
  width: 100%;
  z-index: 1002;
  background: #fff;
  color: #43454e;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  display: flex;
  #logo-group {
    width: initial;
    #logo {
      margin-top: 3px;
      display: inline-block;
      height: 39px;
      float: left;
      margin-left: 9px;
      &.logo-text {
        padding-top: 0;
        margin-top: 8px;
        border-right: 1px dotted #c7c7c7;
        display: block;
        padding-right: 12px;
        height: unset;
        span {
          background: #039BE5;
          width: 32px;
          min-width: 32px;
          height: 32px;
          line-height: 32px;
          text-align: center;
          font-size: 16px;
          font-weight: 500;
          color: #FFF;
          border-radius: 2px;
          padding: 0;
        }
      }
      img {
        height: 28px;
        padding-top: 0;
        margin-top: 8px;
        border-right: 1px dotted #c7c7c7;
        padding-right: 12px;
        width: auto;
      }
    }
    h3 {
      margin-left: 64px;
      margin-top: 10px;
      font-family: Roboto,Roboto;
      font-size: 16px;
      color: inherit;
      font-weight: normal;
      text-transform: capitalize;
      text-decoration: inherit;
      display: block;
      line-height: normal;
    }
    .header-company {
      font-size: 25px;
    }
  }
  div {
    display: inline-block;
    vertical-align: middle;
    float: left;
  }
  .main-editor-buttons {
    position: absolute;
    width: initial;
    right: 0;
    padding-right: 10px;
    padding-left: 10px;
    top: 2px;
    height: 45px !important;
    .btn {
      margin-top: 6px;
      box-shadow: none !important;
      margin-right: 10px;
      transition: all 0.3s ease 0s !important;
      font-family: 'Open Sans';
      border-radius: 4px;
    }
    .saveTravelDocAction {
      color: #333;
      text-transform: uppercase;
      background-color: #fff;
      border: 1px solid #ccc;
    }
  }
}

.editor-section-panel {
  position: absolute;
  top: 52px;
  overflow: hidden;
  overflow-y: auto !important;
  left: 0;
  bottom: 0;
  left: auto;
  z-index: 1000;
  width: 228px;
  background: #fff;
  border-right: 1px solid rgba(0, 0, 0, 0.2);

}
.editor-header > :first-child {
  position: relative;
  margin-right: 5px;
}

.editor-options-panel {
  position: absolute;
  top: 52px;
  overflow-y: auto;
  right: 0;
  bottom: 0;
  left: auto;
  z-index: 1000;
  width: 76px;
  .editor-blocks-holder {
    background: #fff;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    color: #43454e;
    width: 76px;display: table;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    table-layout: fixed;
    .nav-panel {
      display: table-row;
      height: 100%;
      .nav-panel-set {
        display: table-cell;
        vertical-align: top;
        .nav-icon {
          color: #8d8d8d;
          font-size: 12px;
          display: block;
          padding: 12px 0 10px;
          border-radius: 0;
          position: relative;
          white-space: nowrap;
          text-decoration: none;
          transition: 0.1s;
          cursor: pointer;
          font-weight: normal;
          line-height: 1.42857143;
          text-align: center;
          vertical-align: middle;
          border: 0;
          margin-bottom: 0;
          i {
            display: block;
            //width: 32px;
            //height: 24px;
            margin: 0 auto 5px;
          }
          .nav-icon-title {
            display: block;
            line-height: 1;
            margin: 0;
            padding-top: 3px;
            text-transform: capitalize;
            letter-spacing: 0;
          }
        }
        .nav-icon.active {
          color: #43454e;
          background: #e5e5e5;
        }
      }
      ul, ol, li {
        margin: 0;
        padding: 0;
        list-style: none;
      }
    }
  }
}

.editor-blocks-panel {
  position: absolute;
  right: 76px;
  top: 52px;
  bottom: 0;
  left: auto;
  width: 300px;
  overflow: hidden;
  overflow-y: auto !important;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  background: #fff;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transform: translateZ(0);
  z-index: 999;
  .side-bar-cover-container {
    .block-holder {
      bottom: 0;
    }
  }
  .block-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    overflow-y: auto !important;
    .btn {
      margin: 10px 0 10px 33px;
      width: 80%;
      background-color: #e4e2e2;
      margin-right: 10px;
      transition: all 0.3s ease 0s !important;
      font-family: 'Open Sans';
    }
  }
  .block-head {
    position: relative;
    padding: 10px 20px 0;
    box-shadow: inset 0 -1px 0 #e5e5e5;
    .content-cus-title {
      display: block;
      padding: 5px 10px 5px 0;
      box-shadow: 0 5px 10px #fff;
      z-index: 100;
      position: relative;
      flex: 0 0 auto;
      .title-back-button {
        position: absolute;
        top: 10px;
        cursor: pointer;
        display: none;
        &.active {
          display: block;
        }
      }
      .content-title {
        width: 100%;
        text-align:center;
      }
    }
    .search-widget {
      display: block;
      padding: 10px 20px 0;
      box-shadow: 0 5px 10px #fff;
      z-index: 100;
      position: relative;
      flex: 0 0 auto;
      .search-auto {
        input {
          font-size: inherit;
          padding-left: 4px;
          display: block;
          width: 100%;
          padding-bottom: 8px;
          color: #2E2F35;
          background-color: transparent;
          border: 0;
          outline: none;
          position: relative;
          transition: border-color .15s;
        }
        .search-icon {
          position: absolute;
          top: 50%;
          left: 0;
          color: #8D8D8D;
          transform: translate(0, -50%);
        }
      }
    }
  }
  .block-holder {
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 50px;
    left: 0;
    overflow-y: auto !important;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    .headed-scroller {
      display: flex;
      flex-direction: column;
      height: 100%;
      flex-grow: 1;
    }
    .block-container {
      padding: 20px 20px 0;
      margin-bottom: 20px;
      box-sizing: border-box;
      display: block;
      .content-title {
        text-align: center;
        margin-top: 10px;
      }
      .content-container-row {
        display: flex;
        margin: 0;
        padding-bottom: 10px;
        .content-files-column {
          flex: 44%;
          height: 150px;
          background-size: 100% !important;
          border-radius: 4px;
          position: relative;
          .content-info {
            width: 100%;
            bottom: 0;
            position: absolute;
            text-align: center;
            background-color: lightgray;
            display: none;
          }
          &:hover .content-info{
            display: block;
          }
        }
      }
      .block-input-container {
        width: 100%;
        line-height: 34px;
        height: 34px;
        background-color: #fff;
        border: 1px solid lightgray;
        border-radius: 4px;
        cursor: pointer;
        margin-bottom: 5px;
        .input-content {
          width: 100%;
          height: 100%;
          background: none;
          padding: 0 20px;
          margin: auto;
          position: relative;
        }
      }
      .block-button-container {
        width:100%;
        line-height: 34px;
        height: 34px;
        background-color:lightgray;
        border-radius:  4px;
        cursor: pointer;
        margin-bottom: 5px;
        .button-content {
          margin: auto;
          position:  relative;
          padding: 0 20px;
          .round-replacer-small {
            position: absolute;
            right: 12px;
            top: 4px;
            .sp-preview {
              border: none;
            }
          }
          .switchery {
            margin-left: 0;
          }
          span {
            margin: 0px 10px;
          }
        }
      }
      .black-square-container {
        margin-bottom: 20px !important;
        //margin-right: -20px;
        margin-left: -6px;
        .content-new-loader {
          border: 3px solid #f3f3f3; /* Light grey */
          border-top: 3px solid #606060;
          border-radius: 50%;
          margin: 12px auto;
          width: 20px;
          height: 20px;
          -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
        }
        .block-icon {
          display: inline-block;
          position: relative;
          margin: 0 0 6px 6px;
          width: 82px;
          height: 64px;
          padding: 0;
          border: 1px solid #d8d8d8;
          background: #ededed;
          color: #000;
          white-space: nowrap;
          text-decoration: none;
          transition: 0.1s;
          font-size: 12px;
          font-weight: normal;
          line-height: 1.42857143;
          text-align: center;
          vertical-align: middle;
          box-sizing: border-box;
          cursor: move;
          .block-bg {
            position: absolute;
            top: 5px;
            right: 5px;
            bottom: 5px;
            left: 5px;
            .block-icon-img {
              svg {
                margin-top: 6px;
              }
            }
            .block-icon-label {
              position: absolute;
              bottom: 0;
              left: -5px;
              right: -5px;
              font-size: 10px;
              text-transform: uppercase;
              letter-spacing: 0;
              color: #8d8d8d;
            }
          }
        }
      }
    }
  }
}

.content-new-loader {
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 3px solid #606060;
  border-radius: 50%;
  margin: 12px auto;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@media (min-width: 768px) {
  .doc-effect-holder {
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 20px !important;
  }
}

.editor-content {
  padding-top: 32px;
  transition: padding-top 0.18s;
  position: relative;
  z-index: auto;
  .editor-content-scroller {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    outline: 0 !important;
    .doc-effect-holder {
      transform: scale(1);
      display: grid;
      padding: 1px;
      transform-origin: top left;
    }
    .doc-page-area {
      position: relative;
      margin: 0 auto 2px;
      max-width: 800px;
      .doc-page-area-sheet {
        width: 792px;
        min-height: 1036px;
        background: #fff;
        background-size: 100% auto;
        background-position: 0 0;
        position: relative;
        z-index: 0;
        background: #fff;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.07), 0 0 0 1px rgba(0, 0, 0, 0.06);
        .section-title {
          position: absolute;
          top: -18px;
          right: 41.5%;
        }
        .section-head {
		    padding: 20px 20px 0 20px;
		}
        .page-content-area {
          padding: 20px;
          height: 100%;
          width: 100%;
        }
      }
      .doc-page-area-sheet:not(:first-child) {
        margin-top: 30px;
      }
    }
    .doc-page-area:first-child {
      .section-title {
        display: none;
      }
    }
  }

}
.window-min-height {
  height: 100%;
  min-height: 778px;
}

.panel-padding-sections {
  padding-left: 228px;
}

.panel-padding-blocks {
  padding-right: 76px;
}
.panel-padding-options {
  padding-right: 75px;
}

.section-tab-area {
  margin-top: 20px;
  float: right;
}
#document-section-tabs, #document-section-add-tab{
  top: 0;
  left: 2px;
  float: right;
  display: block;
  li {
    width: 220px;
    transition: all .3s ease 0s !important;
    float: right;
    margin-bottom: 2px;
    position: relative;
    .section-button {
      cursor: pointer;
      margin: 0 0px 0 1px;
      box-shadow: none;
      -webkit-appearance: inherit;
      border-color: #DDDDDD;
      background-color: #dddddd;
      min-width: 60px;
      position: relative;
      border-radius: 0 0 0 0 !important;
      /* width: 100%; */
      color: #999;
      line-height: 16px;
      border: 1px solid transparent;
      display: block;
      padding: 16px 15px;
      .tab-label {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        .switchery {
          position: absolute;
          right: 0;
        }
      }
    }
  }
}
#document-section-add-tab {
  margin-top: 20px;
}

.ui-draggable-helper {
  display: inline-block;
  position: relative;
  margin: 0 0 6px 6px;
  width: 82px;
  height: 64px;
  padding: 0;
  border: 1px solid #d8d8d8;
  background: #ededed;
  color: #000;
  white-space: nowrap;
  text-decoration: none;
  transition: 0.1s;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  cursor: move;
  .block-bg {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    .block-icon-img {
      svg {
        margin-top: 6px;
      }
    }
    .block-icon-label {
      position: absolute;
      bottom: 0;
      left: -5px;
      right: -5px;
      font-size: 10px;
      text-transform: uppercase;
      letter-spacing: 0;
      color: #8d8d8d;
    }
  }
}

.page-content-area {
  .content-new-holder {
    width: 10%;
    margin-bottom: 20px;
    height: 1px;
    border: 1px dotted blue;
    border-radius: 2px;
    .content-new-loader {
      border: 3px solid #f3f3f3; /* Light grey */
      border-top: 3px solid #606060;
      border-radius: 50%;
      margin: 12px auto;
      width: 20px;
      height: 20px;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
    }
  }

  .content-holder {
    width: 100%;
    margin-bottom: 20px;
    border: 1px dotted transparent;
    border-radius: 2px;
    position: relative;
    .content-holder-name {
      position: absolute;
      left: 0px;
      top: -28px;
    }
    .panel-froala {
    	p img {
    		max-width: 100%;
    	}
    }
    .touch-container {
      display: none;
      transition-delay: 5s;
      z-index: 9;
      position: absolute;
      right: 0;
      width: 350px;
      height: 33px;
      top: -28px;
      border-radius: 2px;
      background: transparent;
      color: #6d6f7a;
      transition: .05s;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      .content-holder-toolbar {
        display: flex;
        transition-delay: 5s;
        z-index: 9;
        position: absolute;
        right: 0px;
        top: 0px;
        border-radius: 2px;
        background: #fff;
        color: #6d6f7a;
        transition: .05s;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 30px rgba(0, 0, 0, 0.08);
        .toolbar-button-holder {
          display: flex;
          padding: 4px 10px;
          .cht-btn {
            padding: 0 8px 0px 8px;
            border-right: 1px solid gray;
            -webkit-appearance: inherit;
          }
          .cht-btn:first-child {
            padding: 0 8px 0px 0px;
            border-right: 1px solid gray;
          }
          .cht-btn:last-child {
            padding: 0 0px 0px 8px;
            border: none;
          }
        }
      }
      .content-holder-sub-toolbar {
        display: flex;
        transition-delay: 5s;
        z-index: 9;
        position: absolute;
        right: 110px;
        top: 0px;
        border-radius: 2px;
        background: #fff;
        color: #6d6f7a;
        transition: .05s;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 30px rgba(0, 0, 0, 0.08);
        .toolbar-button-holder {
          display: flex;
          padding: 4px 10px;
          .cht-btn {
            padding: 0 8px 0px 8px;
            border-right: 1px solid gray;
            -webkit-appearance: inherit;
          }
          .cht-btn:first-child {
            padding: 0 8px 0px 0px;
            border-right: 1px solid gray;
          }
          .cht-btn:last-child {
            padding: 0 0px 0px 8px;
            border: none;
          }
        }
      }
    }

  }

  .content-footer {
    width: 100%;
    height: 100%;
    min-height: 50px;
  }
}

.content-holder:hover {
  .touch-container {
    display: block;
  }
}
.fancy {
  line-height: 0.5;
  text-align: center;
}
.fancy span {
  display: inline-block;
  position: relative;
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid #b3b3b3;
  border-top: 1px solid #b3b3b3;
  top: 0;
  width: 30rem;
}
.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.booking-detail .left {
  float: left
}

.booking-detail .left .desc {
  padding-left: 15px
}

.booking-detail .right {
  float: right
}

.booking-detail .booking-desc {
  width: 50%;
  display: inline-block
}

.booking-detail .title {
  color: #f75713
}

.booking-detail .title .title-text {
  margin-left: 3px;
  float: left
}

.booking-detail .title:after {
  content: " ";
  clear: both;
  border-bottom: 1px solid #999999;
  width: 100%;
  display: table
}

.booking-detail .desc {
  margin-top: 10px;
  line-height: 25px
}

.booking-detail .desc .desc-text {
  padding: 1px 0;
  text-align: left
}

.booking-detail .desc .desc-text .desc-lbl {
  width: 35%;
  color: #f75713
}

.booking-detail .desc .left .desc-text {
  padding-left: 15px
}

.segment {
  margin-top: 10px;
  width: 100%
}

.segment .segment-heading .icon {
  margin: 22px 0 0 6px;
  float: left;
}

.segment .segment-heading .segment-heading-text {
  margin: 6px 0 0 9px;
  font-size: 12px;
  text-transform: uppercase;
  float: left
}

.segment .segment-heading .segment-heading-subtext {
  float: right;
  font-style: italic;
  font-size: 9px;
  padding-top: 0px;
  padding-right: 6px
}

.segment .segment-detail {
  width: 100%;
  margin-top: 10px;
  padding: 0 15px
}

.segment .segment-table {
  font-size: 13px;
  text-align: left;
  width: 100%;
  border-spacing: 1px;
  table-layout: fixed;
  margin-bottom: 5px;
  tr {
  	line-height: 1em;
  }
}

.segment .segment-table td {
  padding: 1px 0;
  text-align: left
}

.segment .segment-table .table-value {
  width: 212px;
  font-weight: normal !important
}

.segment .segment-table .table-value-3 {
  width: 524px
}

.segment .segment-table.table2 {
  width: 98%;
  margin-left: 1%
}

.segment .segment-table.table2 th {
  border-bottom: 2px solid #f75713
}

.segment .segment-table.table2 th .header-text {
  margin-left: 3px
}

.segment .segment-table.table2 tr {
  margin-top: 10px
}

.segment .segment-table.table2 td {
  padding: 10px 5px 0 0;
  vertical-align: top
}

table.destination-meta td {
  padding: 1px 5px
}

.section-thumb {
  float: left;
  margin: 0 10px 10px 0;
  height: 28rem;
  padding-left: 21.5%;
  margin-top: 2rem
}


.panel[dataId=con-iti] {
  .panel-tools {
    .iti-style-lbl {
      margin-right: 5px;
    }
    .iti-select {
      margin-right: 10px;
      .btn {
        border-style: solid;
      }
    }
  }
  #itineraryContent {
    padding-bottom: 20px;
  }
  .inline {
    display: inline-block;
  }
}
.booking-detail {
  padding: 0 1%;
  text-align : center;
  display: none;
  .left {
    float: left;
    .desc {
      padding-left: 15px;
    }
  }
  .right {
    float: right;
  }
  .booking-desc {
    width: 50%;
    display: inline-block;
  }

  .title {
    .title-text {
      margin-left: 3px;
      float: left;
    }
    &:after {
      content: " ";
      clear: both;
      border-bottom: 1px solid #999999;
      width: 100%;
      display: table;
    }
  }
  .desc {
    margin-top: 10px;
    line-height: 25px;
    .desc-text {
      padding: 1px 0;
      text-align: left;
      .desc-lbl {
        width: 35%;
      }
    }
    .left {
      .desc-text {
        padding-left: 15px;
      }
    }
  }
}

.segment {
  margin-top: 10px;
  width: 100%;
  .segment-heading {
    width: 98%;
    margin-left: 1%;
    .icon{
      margin: 11px 0 0 6px;
      float:left;
    }
    .segment-heading-text{
      margin: 6px 0 0 9px;
      font-size: 12px;
      text-transform: uppercase;
      float:left;
    }

    .segment-heading-subtext {
      float: right;
      font-style: italic;
      color: #000000;
      font-size: 9px;
      padding-top: 40px;
      padding-right: 6px;
    }
    
  }
  .segment-detail {
    width: 100%;
    margin-top: 10px;
    padding: 0 15px;
  }
  .segment-table{
    font-size: 13px;
    text-align: left;
    width: 100%;
    border-spacing: 1px;
    table-layout: fixed;
    margin-bottom: 20px;
    td{
      /*background-color: #D5EFF9;
      border: 1px solid #FFF;*/
      padding: 1px 10px 1px 10px;
      text-align: left;
    }
    .table-heading {
      width: 120px;
    }
    .table-value {
      width: 212px;
      font-weight: normal !important;
    }
    .table-value-3 {
      width: 524px;
    }
  }
  .segment-table.table2{
    width: 98%;
    margin-left: 1%;
    th {
      border-bottom: 2px solid #CDCDCD;
      .header-text {
        margin-left: 3px;
      }
    }
    tr {
      margin-top: 10px;
    }
    td {
      padding: 10px 5px 0 0;
      vertical-align: top;
    }

  }
}

.alert-default.fade.in {
  opacity: 1 !important;
}

.button-green {
	background: #64bd63 !important;
	color: white !important;
	border-color: #64bd63 !important;
	&:hover, &:active, &:focus {
	    background: #66b165 !important;
	}
}

.zerorisk-container .accordion .card {
	border: none;
	.collapse {
		border: 1px solid rgba(0, 0, 0, 0.125);
	}
	.card-header {
		.col {
			padding: 0;
		}
		.flag {
			margin-left: 10px;
			background-repeat: no-repeat;
		    background-size: 30px 20px;
		    display: inline-block;
		    vertical-align: middle;
		    background-position: center;
		    border-radius: 50%;
	        position: absolute;
		    top: 50%;
		    transform: translateY(-50%);
		    + h1 {
		    	display: inline-block;
		    }
		}	
		button {
            text-align: left;
	    	padding: 0;
		    line-height: 1.5;
		    height: unset;
		    text-transform: uppercase;
	    }
	    .fa-chevron-down {
	    	position: absolute;
	    	top: 50%;
	    	transform: translateY(-50%);
	    }
	}
}


.videoContainer {
	position: relative;
	&.ratio_16x9 {
		.iframe-wrapper {
		    padding-bottom: 56.25%;
		}
	}
	
	&.ratio_21x9 {
		.iframe-wrapper {
		    padding-bottom: 42.1875%;
		}
	}
	
	&.ratio_4x3 {
		.iframe-wrapper {
		    padding-bottom: 75%;
		}
	}
	
	&.ratio_3x2 {
		.iframe-wrapper {
		    padding-bottom: 66.667%;
		}
	}
	
	&.ratio_1x1 {
		.iframe-wrapper {
		    padding-bottom: 100%;
		}
	}
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: none;
	}
}

.row.ve_row_container {
	&.row-col-content-flex {
		>.ve_col > .ve_col_container {
			display: flex;
			flex-direction: column;
			&:not(.ve_pane_container) {
			    height: 100%;
			}
		}
		&.col-content-top {
			>.ve_col > .ve_col_container {
				justify-content: flex-start;
			}
		}
		&.col-content-middle {
			>.ve_col > .ve_col_container {
				justify-content: center;
			}
		}
		&.col-content-bottom {
			>.ve_col > .ve_col_container {
				justify-content: flex-end;
			}
		}
	}
}

.country-container iframe {
  border: none !important;
}