/*
 * SMARTADMIN VARIABLES
 * All variables related specifically to the theme starts from here:
 */
/* left side */
/* right side */
/* the color that flashes when you click on the first nav element */
/* the plus icon that appears on the parent nav when expanding and collapsing */
/* these values will only address the first parent in the entire nav */
/* the plus & minus icons */
/* margin top */
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.bulkEditor td {
  position: relative;
}
.bulkEditor .navbar-form {
  margin-top: 0px;
}
.bulkEditor .columnList {
  max-height: 300px;
  overflow-y: auto;
}
.bulkEditor .columnList li a {
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.bulkEditor .columnList #selectedIndicator {
  position: relative;
  left: -8px;
  width: 13px;
}
.bulkEditor .changeSummary {
  margin-right: 10px;
  font-weight: bold;
  color: #A90329;
  position: relative;
  top: 2px;
}
.bulkEditor .changeSummary span:hover {
  text-decoration: underline;
}
.bulkEditor .tableWrapper > * {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.bulkEditor .dataTables_length,
.bulkEditor .dataTables_filter label {
  margin: 1px 0;
}
.bulkEditor .bulkEditorTbl .form-control {
  width: 100%;
}
.bulkEditor .bulkEditorTbl .hint > .fa {
  color: #3276B1;
}
.bulkEditor .bulkEditorTbl select option {
  overflow: hidden;
  text-overflow: ellipsis;
}
.bulkEditor .bulkEditorTbl select option.original {
  color: #A90329;
  font-weight: bold;
}
.bulkEditor .bulkEditorTbl td ul {
  padding-left: 22px;
}
.bulkEditor .bulkEditorTbl .statusCell > button {
  width: 24px;
  margin: 1px;
}
.bulkEditor tr:not(.deleteFlagged) .cellChanged {
  background-color: #d6dde7;
}
.bulkEditor tr:not(.deleteFlagged) .cellChanged:hover {
  background-color: #c6d0de;
}
.bulkEditor .rowChanged {
  background-color: #fcf8e3;
}
.bulkEditor .rowChanged:hover {
  background-color: #faf2cc;
}
.bulkEditor .deleteFlagged {
  background-color: #f2dede;
}
.bulkEditor .deleteFlagged:hover {
  background-color: #ebcccc;
}
.bulkEditor .preLazyLoadCell {
  padding: 11px 40px 11px 8px;
}
.bulkEditor .preLazyLoadCell ul {
  margin: 0;
}
.bulkEditor .preLazyLoadCell .lazyLoadAction {
  position: absolute;
  width: 24px;
  right: 8px;
  bottom: auto;
  top: 9px;
  left: auto;
}
.bulkEditor .button-area.row .btn.pull-left + .btn.pull-left {
  margin-left: 4px;
}
@media (max-width: 767px) {
  .bulkEditor .tableWrapper .navbar-form {
    padding: 0;
  }
  .bulkEditor .tableWrapper .navbar-length-form {
    display: none;
  }
}
