@font-face {
	font-family: 'akadora';
	src:url('fonts/akaDora.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Give You Glory';
	src:url('fonts/GiveYouGlory.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Loved by the King';
	src:url('fonts/LovedbytheKing.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Nothing You Could Do';
	src:url('fonts/NothingYouCouldDo.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Over the Rainbow';
	src:url('fonts/OvertheRainbow.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Satisfy';
	src:url('fonts/Satisfy-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
