/*
 * SMARTADMIN VARIABLES
 * All variables related specifically to the theme starts from here:
 */
/* left side */
/* right side */
/* the color that flashes when you click on the first nav element */
/* the plus icon that appears on the parent nav when expanding and collapsing */
/* these values will only address the first parent in the entire nav */
/* the plus & minus icons */
/* margin top */
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  font-family: 'Font Awesome 5 Pro' !important;
  bottom: 7px !important;
  right: 6px !important;
  font-size: 14px !important;
}
table.dataTable thead .sorting {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATAgMAAAAPPt5fAAAACVBMVEUAAADIyMjl5eVIBBP/AAAAAXRSTlMAQObYZgAAAClJREFUCNdjwAYEwGQKiGDsBJFsTA5AUoJhAqZaiDhEDVg9RC/MHEwAANsMA91AQfd/AAAAAElFTkSuQmCC) no-repeat center right;
}
table.dataTable thead .sorting:after {
  content: "" !important;
}
table.dataTable thead .sorting_asc:after {
  content: "\f106" !important;
  opacity: 1 !important;
}
table.dataTable thead .sorting_desc:after {
  content: "\f107" !important;
  opacity: 1 !important;
}
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
  background: #e8e8e8;
}
#filter-row label.checkbox {
  margin-left: -18px !important;
}
tr#filter-row > td {
  background-color: #eee;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#fafafa));
  background-image: -webkit-linear-gradient(top, #f2f2f2 0, #fafafa 100%);
  background-image: -moz-linear-gradient(top, #f2f2f2 0, #fafafa 100%);
  background-image: -ms-linear-gradient(top, #f2f2f2 0, #fafafa 100%);
  background-image: -o-linear-gradient(top, #f2f2f2 0, #fafafa 100%);
  background-image: -linear-gradient(top, #f2f2f2 0, #fafafa 100%);
  font-size: 12px;
  border-bottom: 1px solid #ddd;
  vertical-align: middle;
}
span#clearFilter {
  display: none;
  cursor: pointer;
}
.bulkEditor td {
  position: relative;
}
.bulkEditor .navbar-form {
  margin-top: 0px;
}
.bulkEditor .columnList {
  max-height: 300px;
  overflow-y: auto;
}
.bulkEditor .columnList li a {
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.bulkEditor .columnList #selectedIndicator {
  position: relative;
  left: -8px;
  width: 13px;
}
.bulkEditor .changeSummary {
  margin-right: 10px;
  font-weight: bold;
  color: #A90329;
  position: relative;
  top: 2px;
}
.bulkEditor .changeSummary span:hover {
  text-decoration: underline;
}
.bulkEditor .tableWrapper > * {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.bulkEditor .dataTables_length,
.bulkEditor .dataTables_filter label {
  margin: 1px 0;
}
.bulkEditor .bulkEditorTbl tbody tr td {
  line-height: 0;
  vertical-align: middle;
}
.bulkEditor .bulkEditorTbl tbody tr td .form-group {
  width: 100%;
}
.bulkEditor .bulkEditorTbl .form-control {
  width: 100%;
}
.bulkEditor .bulkEditorTbl .hint > .fa {
  color: #3276B1;
}
.bulkEditor .bulkEditorTbl select option {
  overflow: hidden;
  text-overflow: ellipsis;
}
.bulkEditor .bulkEditorTbl select option.original {
  color: #A90329;
  font-weight: bold;
}
.bulkEditor .bulkEditorTbl td ul {
  padding-left: 22px;
}
.bulkEditor .bulkEditorTbl .statusCell {
  width: 100px;
}
.bulkEditor .bulkEditorTbl .statusCell > button {
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 10px;
  border: none;
  background: none;
  font-size: 20px;
}
.bulkEditor .bulkEditorTbl .statusCell > button i {
  position: absolute;
  left: 0;
  top: 0;
}
.bulkEditor tr:not(.deleteFlagged) .cellChanged {
  background-color: #d6dde7;
}
.bulkEditor tr:not(.deleteFlagged) .cellChanged:hover {
  background-color: #c6d0de;
}
.bulkEditor .rowChanged {
  background-color: #fcf8e3;
}
.bulkEditor .rowChanged:hover {
  background-color: #faf2cc;
}
.bulkEditor .deleteFlagged {
  background-color: #f2dede;
}
.bulkEditor .deleteFlagged:hover {
  background-color: #ebcccc;
}
.bulkEditor .preLazyLoadCell {
  padding: 11px 40px 11px 8px;
}
.bulkEditor .preLazyLoadCell ul {
  margin: 0;
}
.bulkEditor .preLazyLoadCell .lazyLoadAction {
  position: absolute;
  width: 24px;
  right: 8px;
  bottom: auto;
  top: 9px;
  left: auto;
}
.bulkEditor .button-area.row .btn.pull-left + .btn.pull-left {
  margin-left: 4px;
}
.bulkEditor label input.checkbox[type="checkbox"] + span,
.bulkEditor label input.radiobox[type="radio"] + span {
  margin: 0;
}
.bulkEditor label input.checkbox[type="checkbox"] + span::before,
.bulkEditor label input.radiobox[type="radio"] + span::before {
  margin: 0;
}
@media (max-width: 767px) {
  .bulkEditor .tableWrapper .navbar-form {
    padding: 0;
  }
  .bulkEditor .tableWrapper .navbar-length-form {
    display: none;
  }
}
