/*
 * SMARTADMIN VARIABLES
 * All variables related specifically to the theme starts from here:
 */
/* left side */
/* right side */
/* the color that flashes when you click on the first nav element */
/* the plus icon that appears on the parent nav when expanding and collapsing */
/* these values will only address the first parent in the entire nav */
/* the plus & minus icons */
/* margin top */
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  font-family: 'Font Awesome 5 Pro' !important;
  bottom: 7px !important;
  right: 6px !important;
  font-size: 14px !important;
}
table.dataTable thead .sorting {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATAgMAAAAPPt5fAAAACVBMVEUAAADIyMjl5eVIBBP/AAAAAXRSTlMAQObYZgAAAClJREFUCNdjwAYEwGQKiGDsBJFsTA5AUoJhAqZaiDhEDVg9RC/MHEwAANsMA91AQfd/AAAAAElFTkSuQmCC) no-repeat center right;
}
table.dataTable thead .sorting:after {
  content: "" !important;
}
table.dataTable thead .sorting_asc:after {
  content: "\f106" !important;
  opacity: 1 !important;
}
table.dataTable thead .sorting_desc:after {
  content: "\f107" !important;
  opacity: 1 !important;
}
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
  background: #e8e8e8;
}
#filter-row label.checkbox {
  margin-left: -18px !important;
}
tr#filter-row > td {
  background-color: #eee;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#fafafa));
  background-image: -webkit-linear-gradient(top, #f2f2f2 0, #fafafa 100%);
  background-image: -moz-linear-gradient(top, #f2f2f2 0, #fafafa 100%);
  background-image: -ms-linear-gradient(top, #f2f2f2 0, #fafafa 100%);
  background-image: -o-linear-gradient(top, #f2f2f2 0, #fafafa 100%);
  background-image: -linear-gradient(top, #f2f2f2 0, #fafafa 100%);
  font-size: 12px;
  border-bottom: 1px solid #ddd;
  vertical-align: middle;
}
span#clearFilter {
  display: none;
  cursor: pointer;
}
.note .desc > span {
  padding: 0 5px 0 0;
}
select.input-multidrop {
  height: 200px;
}
.pos-relative {
  position: relative;
}
.desc {
  margin: 8px 0;
}
.delete-actions {
  display: inline-block;
  text-align: center;
}
.delete-actions a {
  margin-right: 5px;
}
.delete-actions p {
  margin: 0 0 3px 0;
}
#actions {
  margin-left: 15px;
}
.thumb > img {
  width: 96px;
}
.thumb > .fa {
  color: #333;
  font-size: 5em;
  vertical-align: middle;
}
