/*
 * SMARTADMIN VARIABLES
 * All variables related specifically to the theme starts from here:
 */
/* left side */
/* right side */
/* the color that flashes when you click on the first nav element */
/* the plus icon that appears on the parent nav when expanding and collapsing */
/* these values will only address the first parent in the entire nav */
/* the plus & minus icons */
/* margin top */
main {
  font-weight: lighter;
}
.version-history {
  height: 100%;
  color: white;
  border-left: 1px solid #1A1817;
}
.version-history header {
  position: absolute;
  top: 0;
  height: 55px;
  width: 100%;
  border-bottom: 1px solid #1A1817;
  box-shadow: 0 1px 0 0 #525151;
  padding: 15px;
}
.version-history main {
  height: 100%;
  padding-top: 56px;
  padding-bottom: 74px;
}
.version-history footer {
  position: absolute;
  bottom: 0;
  height: 73px;
  width: 100%;
  padding: 20px;
  color: black;
  border-top: 1px solid #525151;
  box-shadow: 0 -1px 0 0 #1A1817;
}
.version-history .smart-timeline-list > li {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
}
.version-history .smart-timeline-list > li.highlight-ready:hover {
  background-color: rgba(69, 69, 69, 0.4);
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.version-history .smart-timeline-list > li.selected {
  border: 1px solid #C79121;
}
.version-history .smart-timeline {
  height: 100%;
  overflow-y: auto;
}
.version-history .smart-timeline-list {
  position: relative;
}
.version-history .smart-timeline-list:after {
  top: 15px;
  left: 140px;
  bottom: 50px;
}
.version-history .smart-timeline-icon {
  left: 125px;
  box-shadow: inset 1px 1px 1px #86b4dd, 1px 1px 1px #1A1817;
}
.version-history .smart-timeline-time {
  width: 90px;
}
.version-history .smart-timeline-content {
  margin-left: 193px;
}
.compare-left {
  position: absolute;
  left: -25px;
}
.compare-right {
  position: absolute;
  right: -25px;
}
.compare-left input[type="radio"] + span:before,
.compare-right input[type="radio"] + span:before {
  font-family: 'FontAwesome';
  font-size: 18px;
  border-radius: 3px;
  content: " ";
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 1px;
  height: 20px;
  line-height: 20px;
  min-width: 20px;
  font-weight: normal;
  margin-top: -1px;
  box-shadow: inset 1px 1px 3px 0 #1A1817, inset -1px -1px 3px 0 #525151;
}
.compare-left input[type="radio"],
.compare-right input[type="radio"] {
  display: none;
}
.compare-left input[type="radio"]:checked + span:before {
  content: "\f054";
  color: #2E7BCC;
  text-shadow: -1px -1px 1px #86b4dd, 1px 1px 1px #1A1817;
}
.compare-right input[type="radio"]:checked + span:before {
  content: "\f053";
  color: #2E7BCC;
  text-shadow: -1px -1px 1px #86b4dd, 1px 1px 1px #1A1817;
}
.compare-left:hover input:not(:checked) + span:before {
  content: "\f054";
  color: #dfaa3c;
}
.compare-right:hover input:not(:checked) + span:before {
  content: "\f053";
  color: #dfaa3c;
}
.version-comparison {
  position: relative;
  height: 100%;
  overflow-y: auto;
  box-shadow: 1px 0 1px #525151, inset 1px 0 1px #282423;
}
.version-comparison .message {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.table-comparison {
  display: none;
  table-layout: fixed;
  word-wrap: break-word;
  width: 100%;
}
.table-comparison thead > tr {
  border-bottom: 1px solid #aaaaaa;
}
.table-comparison thead > tr > th {
  font-weight: normal;
  text-align: center;
}
.table-comparison tr.value > td {
  border: 1px solid #525151;
  background-color: rgba(69, 69, 69, 0.4);
}
.table-comparison th,
.table-comparison td {
  width: 50%;
}
.table-comparison .field td {
  padding-top: 10px;
  padding-bottom: 0;
}
.table-comparison .value td {
  padding-left: 20px;
}
.btn-emboss {
  box-shadow: inset 1px 1px 1px #86b4dd, 1px 1px 1px #1A1817;
}
.btn-emboss.disabled {
  border: none;
  box-shadow: 1px 1px 1px #86b4dd, inset 1px 1px 1px #1A1817;
}
