/* Prevent google translator bar from moving the body */
body{
	position: initial !important;
}

/* Hide google translator bar */
#google_translate_element {
	display: none;
}

/* Hide google hover tooltips */
.goog-tooltip {
	display: none !important;
}

.goog-tooltip:hover {
	display: none !important;
}

.goog-text-highlight {
	background-color: transparent !important;
	border: none !important;
	box-shadow: none !important;
}

.goog-te-banner-frame {
	display: none;
}