@font-face {
	font-family: 'HelveticaNeueCE-Heavy';
	src: url('/quotecloud/fonts/HelveticaNeueCE-Heavy.eot');
	src: url('/quotecloud/fonts/HelveticaNeueCE-Heavy.woff2') format('woff2'),
	url('/quotecloud/fonts/HelveticaNeueCE-Heavy.woff') format('woff'),
	url('/quotecloud/fonts/HelveticaNeueCE-Heavy.ttf') format('truetype'),
	url('/quotecloud/fonts/HelveticaNeueCE-Heavy.svg#HelveticaNeueCE-Heavy') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCE-Bold';
	src: url('/quotecloud/fonts/HelveticaNeueCE-Bold.eot');
	src: url('/quotecloud/fonts/HelveticaNeueCE-Bold.woff2') format('woff2'),
	url('/quotecloud/fonts/HelveticaNeueCE-Bold.woff') format('woff'),
	url('/quotecloud/fonts/HelveticaNeueCE-Bold.ttf') format('truetype'),
	url('/quotecloud/fonts/HelveticaNeueCE-Bold.svg#HelveticaNeueCE-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCE-Medium';
	src: url('/quotecloud/fonts/HelveticaNeueCE-Medium.eot');
	src: url('/quotecloud/fonts/HelveticaNeueCE-Medium.woff2') format('woff2'),
		 url('/quotecloud/fonts/HelveticaNeueCE-Medium.woff') format('woff'),
		 url('/quotecloud/fonts/HelveticaNeueCE-Medium.ttf') format('truetype'),
		 url('/quotecloud/fonts/HelveticaNeueCE-Medium.svg#HelveticaNeueCE-Medium') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCE-Light';
    src: url('/quotecloud/fonts/hll__-webfont.eot');
    src: url('/quotecloud/fonts/hll__-webfont.eot?#iefix') format('embedded-opentype'),
         url('/quotecloud/fonts/hll__-webfont.woff2') format('woff2'),
         url('/quotecloud/fonts/hll__-webfont.woff') format('woff'),
         url('/quotecloud/fonts/hll__-webfont.ttf') format('truetype'),
         url('/quotecloud/fonts/hll__-webfont.svg#HelveticaNeueCE-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
 font-family: 'MavenProLight100-Regular';
  src: url('/quotecloud/fonts/MavenProLight100-Regular.eot');
    src: url('/quotecloud/fonts/MavenProLight100-Regular.eot?#iefix') format('embedded-opentype'),
         url('/quotecloud/fonts/MavenProLight100-Regular.woff') format('woff'),
         url('/quotecloud/fonts/MavenProLight100-Regular.ttf') format('truetype'),
         url('/quotecloud/fonts/MavenProLight100-Regular.svg#MavenProLight100-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'MavenProLight300-Regular';
  src: url("/quotecloud/fonts/MavenProLight300-Regular.eot");
  src: url("/quotecloud/fonts/MavenProLight300-Regular.eot?#iefix") format("embedded-opentype"), url("/quotecloud/fonts/MavenProLight300-Regular.woff") format("woff"), url("/quotecloud/fonts/MavenProLight300-Regular.ttf") format("truetype"), url("/quotecloud/fonts/MavenProLight300-Regular.svg#MavenProLight100-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
  
 
@font-face {
  font-family: 'MavenProLight200-Regular';
  src: url("/quotecloud/fonts/MavenProLight200-Regular.eot");
  src: url('/quotecloud/fonts/MavenProLight200-Regular.eot?#iefix') format('embedded-opentype'),  url('/quotecloud/fonts/MavenProLight200-Regular.otf')  format('opentype'),
	     url('/quotecloud/fonts/MavenProLight200-Regular.woff') format('woff'), url('/quotecloud/fonts/MavenProLight200-Regular.ttf')  format('truetype'), url('/quotecloud/fonts/MavenProLight200-Regular.svg#MavenProLight200-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
	font-family: 'ReplicaStd-Regular';
	src: url('/quotecloud/fonts/ReplicaStd-Regular.eot');
	src: url('/quotecloud/fonts/ReplicaStd-Regular.woff') format('woff'),
	url('/quotecloud/fonts/ReplicaStd-Regular.ttf') format('truetype'),
	url('/quotecloud/fonts/ReplicaStd-Regular.otf')  format('opentype'),
	url('/quotecloud/fonts/ReplicaStd-Regular.svg#ReplicaStd-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ReplicaStd-Light';
	src: url('/quotecloud/fonts/ReplicaStd-Light.eot');
	src: url('/quotecloud/fonts/ReplicaStd-Light.woff') format('woff'),
	url('/quotecloud/fonts/ReplicaStd-Light.ttf') format('truetype'),
	url('/quotecloud/fonts/ReplicaStd-Light.otf')  format('opentype'),
	url('/quotecloud/fonts/ReplicaStd-Light.svg#ReplicaStd-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ReplicaStd-Bold';
	src: url('/quotecloud/fonts/ReplicaStd-Bold.eot');
	src: url('/quotecloud/fonts/ReplicaStd-Bold.woff') format('woff'),
	url('/quotecloud/fonts/ReplicaStd-Bold.ttf') format('truetype'),
	url('/quotecloud/fonts/ReplicaStd-Bold.otf')  format('opentype'),
	url('/quotecloud/fonts/ReplicaStd-Bold.svg#ReplicaStd-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

// Use "@extend %medium;" inside a css rule to use the Medium font for example; instead of using "font-family: 'HelveticaNeueCE-Medium';"
%heavy {
	font-family: 'ReplicaStd-Bold', sans-serif;
}
%bold {
	font-family: 'ReplicaStd-Bold', sans-serif;
}
%medium {
	font-family: 'ReplicaStd-Regular', sans-serif;
}
%light {
	font-family: 'ReplicaStd-Light', sans-serif;
}