body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "MavenProLight100-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.topnav {
    font-size: 14px; 
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-lead {
    text-align: left;
    font-size: 1.2em;
}

.intro-lead li {
    padding: 10px;
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
}

.intro-header-2 {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
}

.intro-header-3 {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
    opacity: 1;
}

.intro-title {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
    color: #FF9200;
}

.intro-tag {
    font-size: 2em;
    color: #FFF;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.intro-info {
    z-index: 2;
}

.intro-message h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
    color: #FF9200;
}

.intro-divider {
    border-top: 1px solid #FF9200;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #efefef;
    color: #333;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    background-color: #333;
    color: #FFF;
}

.content-section-c {
    padding: 50px 0;
    background-color: #222;
    color: #FFF;
}

.content-section-c input {
    background-color: #222;
    color: #FFF;
}

.content-section-c textarea {
    background-color: #222;
    color: #FFF;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding-top: 100px;
    color: #f8f8f8;
    text-align: center;
}

.banner h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
    color: #FF9200;
}

.banner .container {
    position: relative;
    z-index: 2;
}

.banner ul {
    min-height: 480px;
}

.banner-pricing-plan {
    margin-top: 50px;
}

@media(max-width:1199px) {
    .tp-banner-container {
        margin-top: 24px;
    }
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    border-top: 1px solid #2c2c2c;
    padding: 50px 0;
    background-color: #1b1b1b;
}

p.copyright {
    margin: 15px 0 0;
}

.image {
    background-size: cover;
}

div.image.parallax:after {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

div.image.parallax-small:after {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.image-faded {
    background: #000;
    position: relative;
}

.image-faded:after {
    position: absolute;
    content: ' ';
    display: block;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0.5;
}

.content-section {
    overflow: hidden;
    font-family: "MavenProLight100-Regular", sans-serif;
    font-weight: 300;
}

.content-section h1 {
    font-size: 30px;
}

.list_st3 .icon {
    
}

.content-section ul {
    list-style: none;
}

.content-section li {
    padding: 10px;
    font-size: 20px;
}

.content-section li:before {
    font-family: 'MavenProLight100-Regular';
    content: '\f105';
    width: 18px;
    height: 18px;
    font-size: 12px;
    text-align: center;
    padding: 0px 7px;
    color: #fe7e20;
    border-radius: 100%;
    border: 1px solid #fe7e20;
    margin: 6px 6px 0px 0px;
    float: left;
}

.product-demo {
    width: 50%;
    height: 50%;
    padding: 10px;
    background-color: #FFF;
    box-shadow: -30px 30px 50px rgba(0, 0, 0, 0.32)
}

.product-demo2 {
    width: 50%;
    height: 50%;
    padding: 10px;
    background-color: #FFF;
    box-shadow: -30px 30px 50px rgba(0, 0, 0, 0.32)
}

.btn-green {
    color: #FFF;
    background-color: #33CD5F;
    border-color: #279C48;
}

.btn-green:hover {
    border-color: #e6e6e6;
    background-color: #FFF;
    color: #33CD5F;
}

.section-a.section-heading-spacer {
    float: none;
    border-top: 3px solid #FE7E20;
}

.content-section-a .section-heading {
    color: #FE7E20;
}

.section-b.section-heading-spacer {
    float: none;
    border-top: 3px solid #33CD5F;
}

.content-section-b .section-heading {
    color: #33CD5F;
}

.section-c.section-heading-spacer {
    float: none;
    border-top: 3px solid #3276b1;
}

.section-c.section-heading-spacer {
    float: none;
    border-top: 3px solid #FF9200;
}

.plan-table {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

.plan-table .col-sm-4 {
    padding: 0 0;
}

@media(max-width:767px) {
    .plan-table {
        width: 80%;
        margin: 0 auto;
        margin-top: 20px;
    }

    .plan-table h2 {
        font-size: 1.8em;
    }
    .plan-table .col-sm-4 {
        margin-bottom: 10px;
    }
}

.plan-section {
    padding: 10px;
}

.plan-title {
    background-color: #FF9200;
    color: #FFF;
    font-size: 1.5em;
}

.plan-price {
    background-color: #FF9200;
    color: #FFF;
    font-size: 1.7em;
}

.plan-features {
    background-color: #FFF; 
    color: #333;
}

.plan-details {
    list-style: none;
    padding: 20px;
    margin-bottom: 0px;
    font-size: 14px;
    text-align: left;
}

.plan-details li {
    padding: 10px;
    border-bottom: 1px solid #FF9200;
}

.tick {
    list-style: none;
}

.tick li:before {
    content: '\f00c   ';
    font-family: MavenProLight100-Regular;
    color: #33CD5F;
}

.purchase-button {
    background: #FF9200;
    color: #FFF;
    border-color: #DC7E00;
}

.purchase-button:hover {
    background: #FFF;
    color: #FF9200;
    border-color: #DC7E00;
}

.most-popular { 
    border-width: 3px; 
    box-shadow: 20px 0 20px -10px rgba(0, 0, 0, .15), -20px 0 20px -10px rgba(0, 0, 0, .15); 
    padding: 0; 
    top: -26px; 
    z-index: 2;
    background: #FF9200;
}

.most-popular:before {
    content: 'Most Popular \f00c';
    font-family: MavenProLight100-Regular;
    color: #FFF;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 1.5em;
}

.tp-caption i.fa-check {
    color: #33CD5F;
}

.plan-container:hover.most-popular {
    background-color: #FFF;
}

.plan-container:hover.most-popular:before {
    color: #FF9200;
    text-shadow: none;
}

.plan-container:hover .plan-price {
    background-color: #FFF;
    color: #FF9200;
}

.plan-container:hover .plan-features {
    background-color: #333;
    color: #FFF;
}

.plan-container:hover .plan-title {
    background-color: #FFF;
    color: #FF9200;
}

.plan-container:hover .plan-price {
    background-color: #FFF;
    color: #FF9200;
}

.plan-container:hover .plan-features {
    background-color: #333;
    color: #FFF;
}

#contactform div {
    margin-bottom: 30px;
}

.tp-caption.opening-title {
    position:absolute;
    font-family: 'MavenProLight100-Regular', sans-serif;
    color:#272727;
    font-size: 60px;
    font-weight: 200;
    text-transform: uppercase;
    padding: 0px 0px 0px 0px;
}

.tp-caption.opening-sub-text {
    position:absolute;
    font-family: 'MavenProLight100-Regular' sans-serif;
    color:#272727;
    font-size: 70px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 0px 0px 0px 0px;
}

.contactInputBox {
    border: 1px solid #BABABA;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 0 0;
}

.contactInputBox > div {
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    width: 40px;
    border-right: 1px solid #BABABA;
}

.contactInputBox > div > img {
    display: inline-block;
    margin: 5px;
}

.content-form {
    position: relative;
}

.contact_form input {
    padding-left: 25px;
    height: 38px;
}

.contact_form textarea {
    resize: none;
}

.contact_form .btn-primary {
    background-color: #FE7E20;
    border-color: #7F3E0A;
    padding: 10px 25px;
    text-transform: uppercase;
}

.contact_form .btn-primary:hover {
    background-color: #FFF;
    border-color: #FFF;
    color: #272727;
    padding: 10px 25px;
}

.nameForm:before  {
    font-family: 'MavenProLight100-Regular';
    position: absolute;
    padding: 9px;
    content: "\f007";
}

.emailForm:before {
    font-family: 'MavenProLight100-Regular';
    position: absolute;
    padding: 9px;
    content: "\f003";
}

.phoneForm:before {
    font-family: 'MavenProLight100-Regular';
    position: absolute;
    padding: 9px;
    content: "\f095";
}

.contact-info i {
    background-color: #FE7E20;
    padding: 5px;
}

.logo {
    margin-left: 10px;
    margin-top: 4px;
    width: 40px;
    display: inline-block;
    float: left;
}

.navbar-brand {
    float: left;
    margin-top: 4px;
    text-align: right;
    font-family: "MavenProLight100-Regular", Arial, Helvetica, Sans-Serif;
    font-weight: 300;
    padding: 0 0;
}

.navbar-brand .quote {
    font-size: 18px;
    color: #FF9200;
    font-weight: 700;
}

.navbar-brand .cloud { 
    font-size: 22px;
    color: #000;
    text-transform: uppercase;
}

.cl_title_line {
    height: 3px;
    padding: 0px;
    margin: 15px auto 20px;
    text-align: center;
    background:url(../img/title_line9.png) center no-repeat;
}

.content-section-a .cl_title_line_left {
    width: 100%;
    height: 3px;
    float: left;
    padding: 0;
    margin: 20px 0 30px 0;
    background: url(../img/title_line12.png) 0 0 no-repeat;
}

.content-section-b .cl_title_line_left {
    width: 100%;
    height: 3px;
    float: left;
    padding: 0;
    margin: 20px 0 30px 0;
    background: url(../img/title_line11.png) 0 0 no-repeat;
}

.section-title h2 {
    text-transform: uppercase;
    font-family: MavenProLight100-Regular, sans-serif;
    font-size: 40px;
    font-weight: 300;
}

.section-title h2 span {
    font-weight: 600;
}

.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    background-size: cover;
    background-position: center;
}

.content-text {
    padding: 60px;
}

@media(max-width:767px) {
    .intro-message {
        padding-top: 10%;
        padding-bottom: 0%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
    .product-demo {
        width: 100%;
    }
    .content-section li {
        font-size: 1em;
    }
}

.mobile-text.tp-caption.title {
    font-size: 22px !important;
}
.mobile-text.tp-caption.sub-text {
    font-size: 16px !important;
}
.mobile-text.tp-caption.slide_list {
    font-size: 10px !important;
}