@CHARSET "ISO-8859-1";
html, body, .container-table {
    height: 100%;
    background: url(/quotecloud/images/myadmin/myadmin-grey-pattern.png);
}
::-moz-selection {
	background: #FFD204;
	}

::selection {
	background: #FFD204;
	}
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}
.row.image-holder {
    height: 100px;
}
.box {
	width: 300px;
	height: 150px;
	display: inline-block;
	margin: 30px;
}
.box a {
    color: #777777;
}
.image-holder {
    height: 90px;
    text-align: center;
    font: 0/0 a;
}
.image-holder:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.club img {
    max-width: 85%;
    max-height: 85px;
}
.club {
	box-shadow: 0 0px 8px 2px rgba(0, 0, 0, 0.08);
	width: 260px;
    height: 110px;
    background: white;
    position: absolute;
    text-align: center;
    padding: 10px;
}

.club:hover
{
	box-shadow: 0 0px 30px 8px rgba(0, 0, 0, 0.08);
}

#club1 {
    animation: club1 1.5s forwards;
    -webkit-animation: club1 1.5s forwards;
 }

#club2 {
    animation: club2 1.5s forwards;
    -webkit-animation: club2 1.5s forwards;
}

#club3 {
    animation: club3 1.5s forwards;
    -webkit-animation: club3 1.5s forwards;
}

#club4 {
    animation: club4 1.5s forwards;
    -webkit-animation: club4 1.5s forwards;
}

#club5 {
    animation: club5 1.5s forwards;
    -webkit-animation: club5 1.5s forwards;
}

#club6 {
    animation: club6 1.5s forwards;
    -webkit-animation: club6 1.5s forwards;
}

#club7 {
    animation: club7 1.5s forwards;
    -webkit-animation: club7 1.5s forwards;
}

#club8 {
    animation: club8 1.5s forwards;
    -webkit-animation: club8 1.5s forwards;
}

#club9 {
    animation: club9 1.5s forwards;
    -webkit-animation: club9 1.5s forwards;
}

#club10 {
    animation: club10 1.5s forwards;
    -webkit-animation: club10 1.5s forwards;
}

#club11 {
    animation: club11 1.5s forwards;
    -webkit-animation: club11 1.5s forwards;
}

@keyframes club1 {
    100% {
    	transform: translate(-300px, -150px);
		-webkit-transform: translate(-300px, -150px);
		-moz-transform: translate(-300px, -150px);
		-o-transform: translate(-300px, -150px);
		-ms-transform: translate(-300px, -150px);
		-webkit-animation-iteration-count: 1;
    }
}

@keyframes club2 {
    100% {
    	transform: translate(0px, -150px);
		-webkit-transform: translate(0px, -150px);
		-moz-transform: translate(0px, -150px);
		-o-transform: translate(0px, -150px);
		-ms-transform: translate(0px, -150px);
		-webkit-animation-iteration-count: 1;
    }
}

@keyframes club3 {
    100% {
    	transform: translate(300px, -150px);
		-webkit-transform: translate(300px, -150px);
		-moz-transform: translate(300px, -150px);
		-o-transform: translate(300px, -150px);
		-ms-transform: translate(300px, -150px);
		-webkit-animation-iteration-count: 1;
    }
}

@keyframes club4 {
    100% {
    	transform: translate(-300px, 0px);
		-webkit-transform: translate(-300px, 0px);
		-moz-transform: translate(-300px, 0px);
		-o-transform: translate(-300px, 0px);
		-ms-transform: translate(-300px, 0px);
		-webkit-animation-iteration-count: 1;
    }
}

@keyframes club5 {
    100% {
    	transform: translate(0px, 0px);
		-webkit-transform: translate(0px, 0px);
		-moz-transform: translate(0px, 0px);
		-o-transform: translate(0px, 0px);
		-ms-transform: translate(0px, 0px);
		-webkit-animation-iteration-count: 1;
    }
}

@keyframes club6 {
    100% {
    	transform: translate(300px, 0px);
		-webkit-transform: translate(300px, 0px);
		-moz-transform: translate(300px, 0px);
		-o-transform: translate(300px, 0px);
		-ms-transform: translate(300px, 0px);
		-webkit-animation-iteration-count: 1;
    }
}

@keyframes club7 {
    100% {
    	transform: translate(-300px, 150px);
		-webkit-transform: translate(-300px, 150px);
		-moz-transform: translate(-300px, 150px);
		-o-transform: translate(-300px, 150px);
		-ms-transform: translate(-300px, 150px);
		-webkit-animation-iteration-count: 1;
    }
}

@keyframes club8 {
    100% {
    	transform: translate(0px, 150px);
		-webkit-transform: translate(0px, 150px);
		-moz-transform: translate(0px, 150px);
		-o-transform: translate(0px, 150px);
		-ms-transform: translate(0px, 150px);
		-webkit-animation-iteration-count: 1;
    }
}

@keyframes club9 {
    100% {
    	transform: translate(300px, 150px);
		-webkit-transform: translate(300px, 150px);
		-moz-transform: translate(300px, 150px);
		-o-transform: translate(300px, 150px);
		-ms-transform: translate(300px, 150px);
		-webkit-animation-iteration-count: 1;
    }
}

@keyframes club10 {
    100% {
    	transform: translate(0px, 300px);
		-webkit-transform: translate(0px, 300px);
		-moz-transform: translate(0px, 300px);
		-o-transform: translate(0px, 300px);
		-ms-transform: translate(0px, 300px);
		-webkit-animation-iteration-count: 1;
    }
}

@keyframes club11 {
    100% {
    	transform: translate(0px, -300px);
		-webkit-transform: translate(0px, -300px);
		-moz-transform: translate(0px, -300px);
		-o-transform: translate(0px, -300px);
		-ms-transform: translate(0px, -300px);
		-webkit-animation-iteration-count: 1;
    }
}

@media all and (max-width: 1200px){
	.box {
		width: 210px;
	}
}

@media (max-width: 991px){
	.box {
	    width: 100px;
	}
}
