@CHARSET "UTF-8";
<!-- data-type="vc_shortcodes-custom-css" -->

.vc_custom_1429615231911{
	padding-top: 170px !important;
	background-image: url(http://the8guild.com/themes/wordpress/appica2/android/wp-content/uploads/sites/2/2015/04/circles-25.jpg?id=864) !important;
	}

.vc_custom_1429622834132{
	background-image: url(http://the8guild.com/themes/wordpress/appica2/android/wp-content/uploads/sites/2/2015/04/circles-25.jpg?id=864) !important;
	}
	
.vc_custom_1429615308252{
	background-color: #00b8d6 !important;
	}
	
.vc_custom_1429693003734{
	background-image: url(http://the8guild.com/themes/wordpress/appica2/android/wp-content/uploads/sites/2/2015/04/bg.jpg?id=919) !important;
	}
	
.vc_custom_1429615440243{
	background-color: #96cb4b !important;
	}
	
.vc_custom_1429625039244{
	background-image: url(http://the8guild.com/themes/wordpress/appica2/android/wp-content/uploads/sites/2/2015/04/circles-25.jpg?id=864) !important;
	}
	
.vc_custom_1451389510911{
	border-top-width: 1px !important;border-top-color: #f2f2f2 !important;border-top-style: solid !important;
	}
	
.vc_custom_1429615770124{
	background-color: #f5f5f5 !important;
	}
	
.vc_custom_1429615794444{
	background-color: #008fed !important;
	}
	
.vc_custom_1429615836136{
	background-color: #199aef !important;
	}
	
.vc_custom_1429627086900{
	margin-bottom: 30px !important;
	}
	
.vc_custom_1429627099192{
	margin-bottom: 30px !important;
	}
	
.vc_custom_1429624890740{
	margin-bottom: 10px !important;
	}
	
.vc_custom_1429624846093{
	margin-bottom: 10px !important;
	}
	
.vc_custom_1429624950688{
	margin-bottom: 10px !important;
	}
	
.vc_custom_1429625213648{
	margin-bottom: 24px !important;
	}
	
<!--noscript-->
.wpb_animate_when_almost_visible { 
	opacity: 1; 
	}
