@CHARSET "UTF-8";
<!--id='appica-inline-css'-->

body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif; 
	font-size: 16px;
	background-color: #fff;
    overflow-x: hidden;
    line-height: 1;
	}

.text-smaller {
	font-size: 14px;
	}

h1, .h1 {
	font-size: 48px; 
	font-weight: 300; 
	text-transform: none;
	}

h2, .h2 {
	font-size: 36px; 
	font-weight: 300; 
	text-transform: none;
	}

h3 {
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

h3, .h3 {
	font-size: 24px; 
	font-weight: 300; 
	text-transform: none;
	margin-bottom: 20px;
	line-height: 1.3;
	}
	
.icon-block h3 {
    font-size: 18px;
    font-weight: 600;
}



h4, .h4 {
	font-size: 18px; 
	font-weight: 400; 
	text-transform: none;
	}

h5, .h5 {
	font-size: 16px; 
	font-weight: 600; 
	text-transform: none;
	}

h6, .h6 {
	font-size: 14px; 
	font-weight: 700; 
	text-transform: none;
	}
	
img {
    height: auto !important;
    vertical-align: middle;
}

.icon-block .text p {
	/*width:249px;*/
}

.badge {
	margin-top: 5px;
	font-size: 14px; 
	font-weight: 400; 
	text-transform: none;
	}

body, a.downloadable, div.downloadable, .downloadable:hover, .offcanvas-posts .post, .offcanvas-posts .post:hover, .icon-block .text, .appica-versions .icon-block, .gallery-item figcaption p, .pricing-plan.pricing-plan-float, .post-title span, .post-title p, .footer-head, .footer-head:hover, .footer-head:focus, .copyright a {
	color: #757575;
	}

.nav-tabs.alt-tabs li a, .nav-tabs.alt-tabs li.active a, .modal-dialog .btn-default, .modal-dialog .btn-default:hover, .modal-dialog .btn-default:focus {
	color: #757575 !important;
	}
	
a, a:hover, a:focus, .form-control.active label, .search-field.active button[type=submit], .search-field button[type=submit]:hover, a.downloadable p, div.downloadable p, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav-filters > li > a:hover, .nav-filters > li > a:focus, .nav-filters > li.active > a, .nav-filters > li.active > a:hover, .nav-filters > li.active > a:focus, .download-item figure i, .download-item footer i, .download-item footer i, .twitter-feed .tweet a:hover, .twitter-feed .tweet-float:before, .pricing-plan .icon, .pricing-plan.pricing-plan-float .icon, .post-meta .comment-count:hover, .post-meta .comment-count:hover i, .copyright a:hover, .copyright a:focus, .offcanvas-nav .search-box .search-btn {
	color: #008fed;
	}
	
.text-primary, .btn-flat.btn-primary, .btn-flat.btn-primary:hover {
	color: #008fed !important;
	}
	
.form-control input:focus, .form-control textarea:focus {
	border-bottom-color: #008fed;
	 -webkit-box-shadow: 0 1px 0 0 #008fed; 
	 box-shadow: 0 1px 0 0 #008fed;
	 }
	 
.btn-primary, .badge.badge-primary .icon, .intro .nav-toggle span, .navbar .container, .offcanvas-nav .nav-head, .nav-tabs > li > a:after, .nav-filters > li > a:after, .app-gallery .item a, .pricing-plan.pricing-plan-primary, .featured-post.bg-primary, .timeline .date:before, .bar-charts .chart.chart-primary .bar, .mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background-color: #008fed;
	}
	
.grid-btn span:before, .grid-btn span:after {
	border-color: #008fed;
	}
	
.badge.badge-success .icon, .iradio:before, .btn-success, .featured-post.bg-success, .pricing-plan.pricing-plan-success, .bar-charts .chart.chart-success .bar {
	background-color: #96cb4b;
	}
	
.text-success, .btn-flat.btn-success, .btn-flat.btn-success:hover {
	color: #96cb4b !important;
	}
	
.icheckbox.checked, .radio-alt .iradio.checked {
	border-right-color: #96cb4b; 
	border-bottom-color: #96cb4b;
	}
.iradio:before {
		display: none;
	}
.iradio.checked {
	border-color: #96cb4b;
	}
	
.feature-tabs .nav-tabs > li > a > i, .icon-block .icon, .gallery-item figcaption h3, .download-item footer:before, .download-item footer h3, .news-block a h3, .post-title a, .post-title h2, .post-title h3, .footer-head:before {
	color: #000;
	}
	
.news-block {
	border-right-color: #96cb4b;
	}
	
.pace .pace-progress {
	background: #96cb4b;
	}
	
.badge.badge-info .icon, .btn-info, .pricing-plan.pricing-plan-info, .featured-post.bg-info, .bar-charts .chart.chart-info .bar {
	background-color: #4b62ff;
	}
	
.text-info, .btn-flat.btn-info, .btn-flat.btn-info:hover {
	color: #4b62ff !important;
	}
	
.badge.badge-warning .icon, .btn-warning, .pricing-plan.pricing-plan-warning, .featured-post.bg-warning, .bar-charts .chart.chart-warning .bar {
	background-color: #ff6d00;
	}
	
.text-warning, .btn-flat.btn-warning, .btn-flat.btn-warning:hover {
	color: #ff6d00 !important;
	}
	
.badge.badge-danger .icon, .btn-danger, .pricing-plan.pricing-plan-danger, .featured-post.bg-danger, .bar-charts .chart.chart-danger .bar {
	background-color: #e91e63;
	}
	
.text-danger, .btn-flat.btn-danger, .btn-flat.btn-danger:hover {
	color: #e91e63 !important;
	}
	
.text-muted, .twitter-feed .tweet .author {
	color: #c4c4c4 !important;
	}
	
.unordered-list li:before {
	background-color: #c4c4c4;
	}
	
.pagination .page-numbers.current, .timeline .date, .contact-info .nav-tabs li.active a, .widget_recent_comments li, .widget_archive li {
	color: #c4c4c4;
	}
	
dl dt span, figure figcaption, .form-control label, .checkbox, .radio, .checkbox-inline, .radio-inline, .btn-google-play span, div.downloadable p, .twitter-feed .tweet p, .team-member span, .team-grid .item span, .post-meta, .comment .comment-meta span, .footer .rating span, .copyright p, #preloader .logo span, .icons-demo {
	color: #999999;
	}
	
.text-gray, .twitter-feed .tweet a {
	color: #999999 !important;
	}
	
.page-heading h1, .page-heading h2, .page-heading h3, .page-heading h4 {
	color: #757575;
	}
	
.badge {
  	margin-top: 5px;
	color: #757575;
	}
	
@media screen and (max-width: 991px) {
	.navbar {
		padding: 0;
		height: 80px;
		}
		
	.navbar .container {
		width: 100%;
		height: 80px;
		}
	
	.navbar.navbar-fixed-top + * {
		padding-top: 80px;
		}
	
	.offset-top .navbar + *, .offset-top .sticky-wrapper + *, .navbar + .page-heading, .sticky-wrapper + .page-heading {
		padding-top: 120px;
		}
	
	.navbar .logo {
		line-height: 76px;
		}
	
	.navbar .social-buttons {
		display: none;
		}
	
	.navbar .toolbar {
		padding-top: 7px;
		}
		
	.navbar .toolbar .action-btn {
		margin-right: 0;
		}
	
	.navbar  + .page > .vc_row {
		padding-top: 105px !important;
		}
		
	.navbar.navbar-fixed-top + .page > .vc_row, .navbar.navbar-sticky.stuck  + .page > .vc_row {
		padding-top: 50px !important;
		}
		}
		
.waves-effect.waves-primary .waves-ripple {
	background: rgba(0, 143, 237, 0.5); 
	background: -webkit-radial-gradient(rgba(0, 143, 237, 0.3) 0, rgba(0, 143, 237, 0.4) 40%, rgba(0, 143, 237, 0.5) 50%, rgba(0, 143, 237, 0.6) 60%, rgba(0, 143, 237, 0) 70%);; 
	background: -o-radial-gradient(rgba(0, 143, 237, 0.3) 0, rgba(0, 143, 237, 0.4) 40%, rgba(0, 143, 237, 0.5) 50%, rgba(0, 143, 237, 0.6) 60%, rgba(0, 143, 237, 0) 70%);; 
	background: -moz-radial-gradient(rgba(0, 143, 237, 0.3) 0, rgba(0, 143, 237, 0.4) 40%, rgba(0, 143, 237, 0.5) 50%, rgba(0, 143, 237, 0.6) 60%, rgba(0, 143, 237, 0) 70%);; 
	background: radial-gradient(rgba(0, 143, 237, 0.3) 0, rgba(0, 143, 237, 0.4) 40%, rgba(0, 143, 237, 0.5) 50%, rgba(0, 143, 237, 0.6) 60%, rgba(0, 143, 237, 0) 70%);;
	}
	
.nav-tabs > li > a.waves-effect.waves-primary .waves-ripple, .nav-filters > li > a.waves-effect.waves-primary .waves-ripple {
	background: rgba(0, 143, 237, 0.4); 
	background: -webkit-radial-gradient(rgba(0, 143, 237, 0.2) 0, rgba(0, 143, 237, 0.3) 40%, rgba(0, 143, 237, 0.4) 50%, rgba(0, 143, 237, 0.5) 60%, rgba(0, 143, 237, 0) 70%);; 
	background: -o-radial-gradient(rgba(0, 143, 237, 0.2) 0, rgba(0, 143, 237, 0.3) 40%, rgba(0, 143, 237, 0.4) 50%, rgba(0, 143, 237, 0.5) 60%, rgba(0, 143, 237, 0) 70%);; 
	background: -moz-radial-gradient(rgba(0, 143, 237, 0.2) 0, rgba(0, 143, 237, 0.3) 40%, rgba(0, 143, 237, 0.4) 50%, rgba(0, 143, 237, 0.5) 60%, rgba(0, 143, 237, 0) 70%);;
	background: radial-gradient(rgba(0, 143, 237, 0.2) 0, rgba(0, 143, 237, 0.3) 40%, rgba(0, 143, 237, 0.4) 50%, rgba(0, 143, 237, 0.5) 60%, rgba(0, 143, 237, 0) 70%);;
	}
	
.waves-effect.waves-success .waves-ripple {
	background: rgba(150, 203, 75, 0.6); 
	background: -webkit-radial-gradient(rgba(150, 203, 75, 0.4) 0, rgba(150, 203, 75, 0.5) 40%, rgba(150, 203, 75, 0.6) 50%, rgba(150, 203, 75, 0.7) 60%, rgba(150, 203, 75, 0) 70%);;
	background: -o-radial-gradient(rgba(150, 203, 75, 0.4) 0, rgba(150, 203, 75, 0.5) 40%, rgba(150, 203, 75, 0.6) 50%, rgba(150, 203, 75, 0.7) 60%, rgba(150, 203, 75, 0) 70%);; 
	background: -moz-radial-gradient(rgba(150, 203, 75, 0.4) 0, rgba(150, 203, 75, 0.5) 40%, rgba(150, 203, 75, 0.6) 50%, rgba(150, 203, 75, 0.7) 60%, rgba(150, 203, 75, 0) 70%);; 
	background: radial-gradient(rgba(150, 203, 75, 0.4) 0, rgba(150, 203, 75, 0.5) 40%, rgba(150, 203, 75, 0.6) 50%, rgba(150, 203, 75, 0.7) 60%, rgba(150, 203, 75, 0) 70%);;
	}
	
.waves-effect.waves-info .waves-ripple {
	background: rgba(75, 98, 255, 0.6); 
	background: -webkit-radial-gradient(rgba(75, 98, 255, 0.4) 0, rgba(75, 98, 255, 0.5) 40%, rgba(75, 98, 255, 0.6) 50%, rgba(75, 98, 255, 0.7) 60%, rgba(75, 98, 255, 0) 70%);; 
	background: -o-radial-gradient(rgba(75, 98, 255, 0.4) 0, rgba(75, 98, 255, 0.5) 40%, rgba(75, 98, 255, 0.6) 50%, rgba(75, 98, 255, 0.7) 60%, rgba(75, 98, 255, 0) 70%);; 
	background: -moz-radial-gradient(rgba(75, 98, 255, 0.4) 0, rgba(75, 98, 255, 0.5) 40%, rgba(75, 98, 255, 0.6) 50%, rgba(75, 98, 255, 0.7) 60%, rgba(75, 98, 255, 0) 70%);; 
	background: radial-gradient(rgba(75, 98, 255, 0.4) 0, rgba(75, 98, 255, 0.5) 40%, rgba(75, 98, 255, 0.6) 50%, rgba(75, 98, 255, 0.7) 60%, rgba(75, 98, 255, 0) 70%);;
	}
	
.waves-effect.waves-warning .waves-ripple {
	background: rgba(255, 109, 0, 0.5); 
	background: -webkit-radial-gradient(rgba(255, 109, 0, 0.3) 0, rgba(255, 109, 0, 0.4) 40%, rgba(255, 109, 0, 0.5) 50%, rgba(255, 109, 0, 0.6) 60%, rgba(255, 109, 0, 0) 70%);; 
	background: -o-radial-gradient(rgba(255, 109, 0, 0.3) 0, rgba(255, 109, 0, 0.4) 40%, rgba(255, 109, 0, 0.5) 50%, rgba(255, 109, 0, 0.6) 60%, rgba(255, 109, 0, 0) 70%);; 
	background: -moz-radial-gradient(rgba(255, 109, 0, 0.3) 0, rgba(255, 109, 0, 0.4) 40%, rgba(255, 109, 0, 0.5) 50%, rgba(255, 109, 0, 0.6) 60%, rgba(255, 109, 0, 0) 70%);; 
	background: radial-gradient(rgba(255, 109, 0, 0.3) 0, rgba(255, 109, 0, 0.4) 40%, rgba(255, 109, 0, 0.5) 50%, rgba(255, 109, 0, 0.6) 60%, rgba(255, 109, 0, 0) 70%);;
	}
	
.waves-effect.waves-danger .waves-ripple {
	background: rgba(255, 109, 0, 0.5); 
	background: -webkit-radial-gradient(rgba(255, 109, 0, 0.3) 0, rgba(255, 109, 0, 0.4) 40%, rgba(255, 109, 0, 0.5) 50%, rgba(255, 109, 0, 0.6) 60%, rgba(255, 109, 0, 0) 70%);; 
	background: -o-radial-gradient(rgba(255, 109, 0, 0.3) 0, rgba(255, 109, 0, 0.4) 40%, rgba(255, 109, 0, 0.5) 50%, rgba(255, 109, 0, 0.6) 60%, rgba(255, 109, 0, 0) 70%);; 
	background: -moz-radial-gradient(rgba(255, 109, 0, 0.3) 0, rgba(255, 109, 0, 0.4) 40%, rgba(255, 109, 0, 0.5) 50%, rgba(255, 109, 0, 0.6) 60%, rgba(255, 109, 0, 0) 70%);; 
	background: radial-gradient(rgba(255, 109, 0, 0.3) 0, rgba(255, 109, 0, 0.4) 40%, rgba(255, 109, 0, 0.5) 50%, rgba(255, 109, 0, 0.6) 60%, rgba(255, 109, 0, 0) 70%);;
	}
