@CHARSET "UTF-8";
<!-- id='rs-plugin-settings-inline-css' -->

.tp-caption a{
	color:#ff7302;
	text-shadow:none;
	-webkit-transition:all 0.2s ease-out;
	-moz-transition:all 0.2s ease-out;
	-o-transition:all 0.2s ease-out;
	-ms-transition:all 0.2s ease-out
	}
	
.tp-caption a:hover{
	color:#ffa902; 
	opacity:1 !important
	}
	
.tp-caption a:focus,.tp-caption a:active{
	opacity:1 !important
	}
	
.tp-caption a{
	color:#ff7302;
	text-shadow:none;
	-webkit-transition:all 0.2s ease-out;
	-moz-transition:all 0.2s ease-out;
	-o-transition:all 0.2s ease-out;
	-ms-transition:all 0.2s ease-out
	}
	
.tp-caption a:hover{
	color:#ffa902
	}
	
.tp-caption a{
	color:#ff7302;
	text-shadow:none;
	-webkit-transition:all 0.2s ease-out;
	-moz-transition:all 0.2s ease-out;
	-o-transition:all 0.2s ease-out;
	-ms-transition:all 0.2s ease-out
	}
	
.tp-caption a:hover{
	color:#ffa902
	}
