#site-wrapper{
	//position:relative;
	overflow:hidden;
	width: 100%;
	height: 100%;
	background-color: white;
}

#main{
	width: 100%;
	height: 100%;
}

.offMenuButton{
	z-index:99;
	position: fixed;
	top: 10px;
	right: 10px;		
}

.offsideMenu.show-nav{
	transition: all 1s ease;
	opacity: 1;
	&.left{
		-webkit-transform: translateX(300px);
		transform: translateX(300px);
	}
	&.right{
		-webkit-transform: translateX(-300px);
		transform: translateX(-300px);
	}
}

.offsideMenu{
	position: fixed;
	width:300px;
	top: 0;
	opacity: 0;
	margin: 0;
	z-index:1000;
	-webkit-transform: translateX(0);
	transform: translateX(0);
	-webkit-transition: transform 1s ease, opacity 0s linear 1s;
	transition: transform 1s ease, opacity 0s linear 1s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	&.left{
		left: -300px;
	}
	&.right{
		right: -300px;
	}
	.scrollable{
		padding-top: 20px;
	}
}
