@font-face {
	font-family: 'HelveticaNeueCE-Heavy';
	src: url("/quotecloud/fonts/HelveticaNeueCE-Heavy.eot");
	src: url("/quotecloud/fonts/HelveticaNeueCE-Heavy.woff2") format("woff2"),
		url("/quotecloud/fonts/HelveticaNeueCE-Heavy.woff") format("woff"),
		url("/quotecloud/fonts/HelveticaNeueCE-Heavy.ttf") format("truetype"),
		url("/quotecloud/fonts/HelveticaNeueCE-Heavy.svg#HelveticaNeueCE-Heavy")
		format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCE-Bold';
	src: url("/quotecloud/fonts/HelveticaNeueCE-Bold.eot");
	src: url("/quotecloud/fonts/HelveticaNeueCE-Bold.woff2") format("woff2"),
		url("/quotecloud/fonts/HelveticaNeueCE-Bold.woff") format("woff"),
		url("/quotecloud/fonts/HelveticaNeueCE-Bold.ttf") format("truetype"),
		url("/quotecloud/fonts/HelveticaNeueCE-Bold.svg#HelveticaNeueCE-Bold")
		format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCE-Medium';
	src: url("/quotecloud/fonts/HelveticaNeueCE-Medium.eot");
	src: url("/quotecloud/fonts/HelveticaNeueCE-Medium.woff2") format("woff2"),
		url("/quotecloud/fonts/HelveticaNeueCE-Medium.woff") format("woff"),
		url("/quotecloud/fonts/HelveticaNeueCE-Medium.ttf") format("truetype"),
		url("/quotecloud/fonts/HelveticaNeueCE-Medium.svg#HelveticaNeueCE-Medium")
		format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCE-Light';
	src: url("/quotecloud/fonts/hll__-webfont.eot");
	src: url("/quotecloud/fonts/hll__-webfont.eot?#iefix")
		format("embedded-opentype"),
		url("/quotecloud/fonts/hll__-webfont.woff2") format("woff2"),
		url("/quotecloud/fonts/hll__-webfont.woff") format("woff"),
		url("/quotecloud/fonts/hll__-webfont.ttf") format("truetype"),
		url("/quotecloud/fonts/hll__-webfont.svg#HelveticaNeueCE-Light")
		format("svg");
	font-weight: normal;
	font-style: normal;
	
}

@font-face {
	font-family: 'MavenProLight1300-Regular';
	src: url("/quotecloud/fonts/MavenProLight1300-Regular.eot");
	src: url("/quotecloud/fonts/MavenProLight1300-Regular.eot?#iefix")
		format("embedded-opentype"),
		url("/quotecloud/fonts/MavenProLight1300-Regular.woff") format("woff"),
		url("/quotecloud/fonts/MavenProLight1300-Regular.ttf")
		format("truetype"),
		url("/quotecloud/fonts/MavenProLight1300-Regular.svg#MavenProLight1300-Regular")
		format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MavenProLight300-Regular';
	src: url("/quotecloud/fonts/MavenProLight300-Regular.eot");
	src: url("/quotecloud/fonts/MavenProLight300-Regular.eot?#iefix")
		format("embedded-opentype"),
		url("/quotecloud/fonts/MavenProLight300-Regular.woff") format("woff"),
		url("/quotecloud/fonts/MavenProLight300-Regular.ttf") format("truetype"),
		url("/quotecloud/fonts/MavenProLight300-Regular.svg#MavenProLight300-Regular")
		format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MavenProLight200-Regular';
	src: url("/quotecloud/fonts/MavenProLight200-Regular.eot");
	src: url("/quotecloud/fonts/MavenProLight200-Regular.eot?#iefix")
		format("embedded-opentype"),
		url("/quotecloud/fonts/MavenProLight200-Regular.otf") format("opentype"),
		url("/quotecloud/fonts/MavenProLight200-Regular.woff") format("woff"),
		url("/quotecloud/fonts/MavenProLight200-Regular.ttf") format("truetype"),
		url("/quotecloud/fonts/MavenProLight200-Regular.svg#MavenProLight200-Regular")
		format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ReplicaStd-Regular';
	src: url("/quotecloud/fonts/ReplicaStd-Regular.eot");
	src: url("/quotecloud/fonts/ReplicaStd-Regular.woff") format("woff"),
		url("/quotecloud/fonts/ReplicaStd-Regular.ttf") format("truetype"),
		url("/quotecloud/fonts/ReplicaStd-Regular.otf") format("opentype"),
		url("/quotecloud/fonts/ReplicaStd-Regular.svg#ReplicaStd-Regular")
		format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ReplicaStd-Light';
	src: url("/quotecloud/fonts/ReplicaStd-Light.eot");
	src: url("/quotecloud/fonts/ReplicaStd-Light.woff") format("woff"),
		url("/quotecloud/fonts/ReplicaStd-Light.ttf") format("truetype"),
		url("/quotecloud/fonts/ReplicaStd-Light.otf") format("opentype"),
		url("/quotecloud/fonts/ReplicaStd-Light.svg#ReplicaStd-Light")
		format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ReplicaStd-Bold';
	src: url("/quotecloud/fonts/ReplicaStd-Bold.eot");
	src: url("/quotecloud/fonts/ReplicaStd-Bold.woff") format("woff"),
		url("/quotecloud/fonts/ReplicaStd-Bold.ttf") format("truetype"),
		url("/quotecloud/fonts/ReplicaStd-Bold.otf") format("opentype"),
		url("/quotecloud/fonts/ReplicaStd-Bold.svg#ReplicaStd-Bold")
		format("svg");
	font-weight: normal;
	font-style: normal;
}

@import 'fonts';

$font-quotecloud: 'HelveticaNeueCE-Light', sans-serif;
$font-quotecloud-heavy: HelveticaNeueCE-Heavy, sans-serif;
$color-quotecloud-blue: #14B5EB;
$gray-color-bar: #1e1e1e;

h1 {
	font-family: $font-quotecloud;
}

h4, h5, h6, a, .carousel-item table.table-slider td.date {
	font-family: 'HelveticaNeueCE-Light', sans-serif;
}

h2, h3, .quotecloud-link, .team-item h4, table, .carousel-item table.table-slider,
	.to-top-holder, .quotecloud-top-section h2>span, .quotecloud-blog-block .nav li>a
	{
	font-family: $font-quotecloud;
}

p, .light-font, header nav li a, #submit, .gallery-filters a,
	.gallery-items a, .quotecloud-blog-block a, .widget-posts .widget-posts-descr>a
	{
	font-family: $font-quotecloud;
}


.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus,
	.btn.active.focus {
	outline: none;
}

a {
	color: $color-quotecloud-blue;
}

a, a:active, a:hover, a:focus, a:visited {
	text-decoration: none;
	outline: none;
}

a:hover {
	color: $color-quotecloud-blue;
}

a:focus {
	color: $color-quotecloud-blue;
}

.main-footer dark{
	height: 575px;
}

a.back-to-top {
	display: none;
	width: 40px;
	height: 40px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	background: #14B5EB url("/quotecloud/images/cd-top-arrow.svg") no-repeat
		center 43%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.loader{
	img{
		margin-left: -68px;
		width: 50px;
		height: 50px;
	}
}

p {
	font-family: $font-quotecloud;
	&.benefit {
		font-family: $font-quotecloud;
		font-weight: 100;
		/*font-style: italic;*/
		text-align: left;
		width: 80%;
		position: relative;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		color: #869791; /* 303030*/
		font-size: 14px;
		/*margin: auto;*/	
	}
}

/**********************************************************************************************************************
													OFFSIDE MENU
**********************************************************************************************************************/

.offsideMenu{
	background-color: $gray-color-bar;
	li, li a{
		color: #fff;
	}
	.navigation{
		text-align: left;
		margin-bottom: 15px;
		ul{
			&.dl-menu{
				border-top: 1px solid #555;
				border-bottom: 1px solid #555;
			}
			li{
				font-size: 14px;
   				text-transform: uppercase;
				border-bottom: 1px solid #555;
				&:last-child{
					border-bottom:none;
				}
				a{
					padding: 15px 20px;
					transition: all .5s ease
				}
				a:hover{
					transition: all .5s ease;
					background: #E6E6E6;
					color: #000;
				}
				&.dl-back > a {
					padding-left: 30px;
				}
			}
		}
	}
	.nav-social ul{
		float: none;
		li{
			float: none;
			padding: 10px;
			display: inline-block;
		}
	}	
}

.offsideMenu, .footer-inner{
	.widget{
		text-align: left;
		float: left;
		width: 100%;
		margin: 0 0 10px;
		padding: 0 10px;
		
		.posts-list .post-item {
			position: relative;
			border-bottom: 1px solid #3e3e3e;
			display: inline-block;
			width: 100%;
			max-width: 100%;
			margin: 0 0 10px;
			padding: 0 0 10px;
			.post-thumb {
				float: left;
				width: 50px;
				img {
					height: auto;
					max-width: 100%;
					vertical-align: middle;
					border: 0;
				}
			}
			.post-text {
				padding-left: 60px;
			}
			.post-meta {
				color: #949494;
				font-size: 90%;
				margin: 4px 0 0;
			}
			h4 {
				clear: none;
				font-size: 100%;
				line-height: 1.4em;
				margin: 0;
				a {
					color: #06c5ac;
				}
			}
		}
		.widget-title {
			color: #fff;
			margin-top: 0;
		}
	}
	.null-instagram-feed{
		ul{
			margin: -3px;
			li {
				float: left;
				width: 24%;
				padding: 5px;
				margin: 0;
				img {
					float: left;
					width: 100%;
					height: auto;
					padding: 0;
				}
			}
		}
		p a{
			color: #949494;
		}
	}

}

/**********************************************************************************************************************
													HEADERS
**********************************************************************************************************************/

header{
	.quotecloud-bar {
		position: relative;
		top: 20px;
		margin: 0 20px;
		padding: 10px 0;
		height: 60px;
		z-index: 10;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		-ms-transition: all 0.5s ease;
		transition: all 0.5s ease;
		> div {
			position: relative;
			margin: 0 10px;
			line-height: 20px;
		}
		
		i, .caret {
			margin: 0 5px;
		}
	}
	
	nav li div {
		margin: 30px 0 0 0;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		min-width: 150px;
		top: 38px;
		left: 0;
		z-index: 1;
		transition: all .2s ease-in-out;
		border: 1px solid rgba(255, 255, 255, 0.41);
		background: rgba(255, 255, 255, 0.21);
		ul li a {
			float: none;
			text-transform: capitalize;
		}
	}
	
	nav li div ul li a {
		float: none;
		text-transform: capitalize;
	}
	
	nav li a {
		font-weight: bold;
		font-family: 'HelveticaNeueCE-Light';
		padding-top: 7px;
		&.act-link {
			border-top: 2px solid;
			padding-top: 5px;
		}
		&:before, &:after {
			content: none;
		}
	}
	
	.nav-button-holder {
		display: none;
		margin: 0 -16px 0 10px;
		padding: 50px 11px;
		&.left {
			margin: 0 30px 0 -16px;
			float: left;
			.nav-button {
				float: left;
			}
		}
		p {
			background: none;
			color: #000;
			text-align: center;
			font-size: 8px;
			line-height: 14px;
			padding: 0;
		}
	}
	
	.nav-holder {
		margin: 0;
		>nav>ul {
			display: table;
			position: relative;
			left: -20px;	
			>li {
				float: none;
				display: table-cell;
				vertical-align: middle;
				padding-left: 20px;
				padding-right: 20px;	
				.top-line{
					transition: all 300ms linear;
					width: 0%;
					border-top: 3px solid #14B5EB;
					margin-top: 27px;
					position: absolute;
					&.line-left {
						margin-left: -20%;
						float: left;
						left: 70%
					}
					&.line-right {
						margin-right: -20%;
						float: right;
						right: 70%;
					}
				}
				&.hover {
					.top-line {
						width:50%;
					}
				}
			}
		}
		>li {
			position: static;	
		}
		&:li-last-child {
			padding-right: 22px;	
		}
	}
	
	.mega-menu {
		display: block;
		width: 100%;
		text-align: left;
		clear: left;
		li {
			float: none;
			display: inline-block;	
		}
	}
	
	&.sticky{
		.quotecloud-bar {
			top: 0;
			margin: 0;
			-webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			-ms-transition: all 0.5s ease;
			transition: all 0.5s ease;	
		}
		.c-hamburger span, header.sticky .c-hamburger span:before, header.sticky .c-hamburger span:after {
			background: #000;
		}
		.nav-button-holder p {
			color: #000;	
		}
		nav li div {
			background: #000;	
		}
	}
}

header .c-hamburger {
	display: block;
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 30px;
	height: 24px;
	font-size: 0;
	text-indent: -9999px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: none;
	border-radius: none;
	border: none;
	cursor: pointer;
	transition: background 0.3s;
}

header .c-hamburger:focus {
	outline: none;
}

header .c-hamburger span {
	display: block;
	position: absolute;
	top: 10.5px;
	left: 0;
	right: 0;
	height: 3px;
	background: #000;
}

header .c-hamburger span::before, header .c-hamburger span::after {
	position: absolute;
	display: block;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: #000;
	content: "";
}

header .c-hamburger span::before {
	top: -8px;
}

header .c-hamburger span::after {
	bottom: -8px;
}

header .c-hamburger--htx.is-active span {
	background: none;
}

header .c-hamburger--htx.is-active span::before {
	top: 0;
	transform: rotate(45deg);
}

header .c-hamburger--htx.is-active span::after {
	bottom: 0;
	transform: rotate(-45deg);
}

header .c-hamburger--htx.is-active span::before, header .c-hamburger--htx.is-active span::after
	{
	transition-delay: 0s, 0.3s;
}

header .c-hamburger--htx span::before, header .c-hamburger--htx span::after
	{
	transition-duration: 0.3s, 0.3s;
	transition-delay: 0.3s, 0s;
}

header .c-hamburger--htx span::before {
	transition-property: top, transform;
}

header .c-hamburger--htx span::after {
	transition-property: bottom, transform;
}

#free {
	top: 35px;
}

a.free-trial-header {
	font-size: 13px;
	display: inline-block;
	padding: .9rem .8rem .7rem .8rem;
	border: 2px solid white;
	border-radius: 4px;
	letter-spacing: 1px;
	cursor:pointer;
	color: white;
	float: right;
    position: relative;
    margin-top: 22px;
    top: -59px;
	&:hover{
		color: $color-quotecloud-blue;
		border: 2px solid $color-quotecloud-blue;
	}

}

a.free-trial{
	font-size: 15px;
	display: inline-block;
	padding: .9rem .7rem .7rem .7rem;
	border: 2px solid white;
	border-radius: 4px;
	letter-spacing: 1px;
	width: 230px;
	cursor:pointer;
	color: white;
	&:hover {
		color: $color-quotecloud-blue;
		border: 2px solid $color-quotecloud-blue;
	}
}

.venue-bar{
	padding: 0 15px;
	text-align: left;
	> div{
		margin-bottom: 15px;
	}
}

.hero-title-holder .overlay {
	opacity:0.5;
	z-index: 5;
}

.quotecloud-link{
	@extend %medium;
	font-size: 17px;  
	position: absolute;
	width: 100%;
	padding: 20px;
	background-color: #f44e62;
	bottom: 20px;
	z-index: 10;
	button{
		margin: 0 25px;
	}
}

/**********************************************************************************************************************
													ADMIN STUFF
**********************************************************************************************************************/

#submit.btn-light{
	background-color: #fff;
	color: #000;
}

#submit{
	border-radius: 0;
	color: #fff;
	padding: 14px 13px 11px;
	@extend %light;
}


table{
	@extend %medium;
	font-size: 11px;
	width: 100%;
	tr{
		border-top: 2px solid #fff;
		&:first-child td:first-child{
			border-right: 2px solid #fff;
		}
	}
	td{
		&.table-content{
			color: #fff;
			background-color:#000;
			vertical-align: middle;
		}
		&.date{
			font-size: 55px;
			font-weight: bold;
		}
		&.day, &.month{
			font-size: 18px;
		}
		&.promo{
			padding: 5px 0;
		}
	}
}

.carousel-item table.table-slider{
	border-collapse: separate;
    border-spacing: 3px;
	position: absolute;
	bottom: 0;
	@extend %medium;
	right: 0;
	width: 75%;
	tr{
		border: none;
	}
	td.table-content{
		padding: 0;
		color: #000;
		background-color: #fff;
		> span{
			margin-bottom: 1-3px;
		}
	}
	td.date{
		@extend %bold;
	}
}

.product{
	border: 1px solid #E7E7E7;
	margin-bottom: 15px;
	
	.productInfo{
		padding: 10px;
		margin: 0 auto;
		h4{
			height: 25px;
			font-size: 22px;
		}
		.product-img-wrapper{
			height: 184px;
			margin: 10px;
			position: relative;
			width: auto;
			overflow: hidden;
			.products-overlay {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 100%;
				right: 100%;
				left: inherit;
				opacity: 0;
				z-index: 2;
				background: none repeat scroll 0 0 rgb(158,154,154);
				-webkit-transition: all 0.3s ease 0s;
				transition: all 0.3s ease 0s;
			}
			img{
				bottom: 0;
				height: auto;
				left: 0;
				
				max-height: 100%;
				max-width: 100%;
				position: absolute;
				right: 0;
				top: 0;
				width: auto;
			}
		}
		.product-img-wrapper:hover {
			.products-overlay {
				background: none repeat scroll 0 0 rgb(158,154,154);
				top: 0;
				right: 0;
				opacity: 0.2;
			}
		}
		.product-thumb-buttons {
			display: none;
			a {
				position: absolute;
			}
			.wishlist {
				top: 10px;
			}
			.quick-view {
				top: 50px;
			}
		}
	}


	.productButtons{
		border-top: 1px solid #E7E7E7;
		display: table;
		width: 100%;
		>div{
			text-align: center;
			display: table-cell;
			height: 60px;
		}

		.reward{
			color: #fff;
			background-color: #000;
			border-right: 1px solid #E7E7E7;
			padding: 5px 0 0;
			p{
				text-align: center;
			}
			span{
				font-size: 1.7em;
				vertical-align: middle;
				font-weight: bold;
			}
		}

		.price{
			padding: 10px;
			background-color: #E6AB17;
			font-size: 18px;
			line-height: 40px;
			font-weight: bold;
		}
	}
}

.gallery-filters,.gallery-items{
	a{
		@extend %light;
	}
}

.ghost-logos{
	float: left;
	width: 100%;
	padding: 20px;
	background: #fff;
	img{
		max-width: 115px;
		padding: 10px 0;
		opacity: 0.5;
		transition: opacity .5s ease;
		&:hover{
			opacity: 1;
			transition: opacity .5s ease;
		}
	}
}

.quotecloud-headliner-squares {
	margin-bottom: 50px;

	a {
	    background-color: #E5E5E5;

		div.tile {
			padding: 0;
			border: 2px solid white;
			overflow: hidden;
			background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
			opacity: 1;

			img {
				width: 100%;
				transition: all .2s ease-in-out, opacity 0.3s;

				&:hover {
					transform: scale3d(1.1, 1.1, 1);
					opacity: 0.7;
				}
			}

			div.info-container {
				position: absolute;
				bottom: 0;
				color: white;
				padding: 0 10px;

				h3 {
					font-size: 1.6em;
					margin-top: 3px;
				}

				.post-meta li {
					color: white;
				}			
			}
		}
	}

	.category-span {
		padding: 3px 7px;
		opacity: 0.85;
		color: white;
		background-color: black;
		text-transform: uppercase;
	}

}

/**********************************************************************************************************************
													
**********************************************************************************************************************/

section{
	padding: 1px;
	.btn{
		margin: 40px 0 10px;
	}
}

.full-carousel-section {
	top: 10px;
	position: relative;
	.full-carousel-section .fixed-height {
		height: 150px;
		float: left;
		position: relative;
		width: 100%;
	}
}

.vis-decor .overlay {
	opacity: 0;
}

.play-slider-holder{
	margin-top: 20px;
	float: left;
	width: 100%;
	position: relative;
	.items {
		margin: 10px;
	}
	.light-carousel-nav a {
		position: absolute;
		top: 50%;
		width: 30px;
		height: 30px;
		margin-top: -15px;
		border-radius: 0;
		color: #000;
		font-size: 19px;
		line-height: 30px;
		z-index: 10;
		background: #fff;
		cursor: pointer;
	}
	.light-carousel-nav a{
		&.next-slide{
			right: -50px;
			z-index:1000;
			background:url(/quotecloud/images/large_right_white.png) no-Repeat top left; 
			width:40px;
			height:40px;   
			top: 13px; 
			left: -5%;	
		}
		&.next-slide-mobile{
			z-index: 100;
			width: 40px;
			background-color: transparent;
			color: white;
			height: 40px;
			top: 0px;
			right: -2%;		
		}
		&.prev-slide{
			width:40px; 
			background: url(../images/large_left_white.png) no-Repeat top left;    
			height:40px;  
			top: 12px; 
			right: -5%	
		}
		&.prev-slide-mobile{
			z-index: 100;
		    width: 40px;
		    background-color: transparent;
		    color: white;
		    height: 40px;
		    top: 0px;
		    right: 7%;	
		}
	}
}

/**********************************************************************************************************************
													PRICING SECTION
**********************************************************************************************************************/

.outline {
	position: absolute;
	width: 40px;
	height: 40px;
	border: 2px solid #fff;
	border-radius: 50%;
	z-index: 99;
	&.right{
		left: 102%;
		top: 300px;	
	}
	&.left{
		left: -6.5%;
		top: 305px;		
	}	
}

.btn-green {
	color: #FFF;
	background-color:$color-quotecloud-blue;
	border: 0px;
	font-size: 15px;
	padding: 10px 20px 10px 20px;
	&:hover{
		border-color: #e6e6e6;
		background-color: #ccc;
		color: #333;
		-webkit-transition:all 0.2s ease-out;
	   	-moz-transition:all 0.2s ease-out;
	   	-o-transition:all 0.2s ease-out;
	   	-ms-transition:all 0.2s ease-out;	
	}
}

.plan-table {
	text-align: center;
	font-size: 20px;
	margin-top: -10px;
	.col-sm-4{
		padding: 0 0;	
	}
}

.plan-section {
	padding: 10px;
}

.plan-title {
	background-color: #dadadb;
	color: #FFF;
	font-size: 1.5em;
	height: 64px;
}

.plan-price {
	background-color: #dadadb;
	color: #46474C;
	font-size: 1.7em;
	padding-bottom: 0px;
}

h3.plans {
	color: #46474C;
	font-size: 25px;
	font-family: 'HelveticaNeueCE-Light'; 
	font-weight: 100;
}

.plan-features {
	background-color: #FFF;
	color: #333;
}

.plan-details {
	list-style: none;
	padding: 20px;
	margin-bottom: 0px;
	font-size: 14px;
	text-align: left;
	height: 430px;
	padding-top: 0px;
	&:after{
		content:"";
		clear: both;	
	}
	li {
		padding: 10px;
		border-bottom: 1px solid $color-quotecloud-blue;
	}
}

.tick {
	list-style: none;
	li:before {
		content: '\f00c   ';
		font-family: fontawesome;
		color: #33CD5F;		
	}
}

.purchase-button {
	background: #FF9200;
	color: #FFF;
	border-color: #DC7E00;
	&:hover {
		background: #FFF;
		color: #FF9200;
		border-color: #DC7E00;	
	}
}

.plan-container:hover{
	&.most-popular {
		background-color: #FFF;
		&:before {
			color: $color-quotecloud-blue;
			text-shadow: none;	
		}
	}
	.most-popular:before{
		color: $color-quotecloud-blue;
		text-shadow: none;		
	}
	.plan-price{
		background-color: #FFF;
		color: $color-quotecloud-blue;
		.plan-features {
			background-color: #333;
			color: #FFF;	
		}
		.plan-title {
			background-color: #FFF;
			color: #FF9200;
		}
		.plan-price {
			background-color: #FFF;
			color: #FF9200;		
		}

	}
}

.dollarsign {
	position: relative;
	top: -50px;
	left: -2%;
}

.pricetag{
	position: relative;
	top: -25px;
	left: -5%;
	font-size: 80px;
	padding-bottom: 0px;
	height: 90px;
	font-weight: 600;
	font-family: 'HelveticaNeueCE-Light';
	-webkit-font-smoothing:subpixel-antialiased
}

.pricesub {
	text-transform: uppercase;
	font-size: 14px;
	top: -35px;
	color: gray;
	position: relative;
}

/**********************************************************************************************************************
													FOOTER Section
**********************************************************************************************************************/

.footer-contacts {
	position: relative;
	top: -4px;
	text-align: left;
	display: table;
	li {
		top: -1px;
		color: #949494;
		letter-spacing: 1px;
		font-size: 13px;
		font-family: $font-quotecloud;
		padding-bottom: 3px;
		line-height: 21px;	
	}
	i {
		text-align: center;
		color: inherit;
		&, .footer-contacts a {
			display: table-cell;	
		}		
	}
}

footer {
	border-top: 1px solid #2c2c2c;
	background-color: #1b1b1b;
	.dark {
		background-color: #2f2f2f;
		color: #afafaf;
	}
	
	.main-footer{
		padding-top: 25px;
		padding-bottom: 0px;	
	}
}

h4.footer-title {
	font-family: $font-quotecloud;
	font-size: 12px;
	line-height: 0px;
	color: white;
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 25px
}

.contact-form {
	margin-top: 120px;
}

p.copyright {
	margin: 15px 0 0;
}

#contactforms {
	div {
		margin-bottom: 30px;
	}
	input {
		height: 38px;
		background-color: #45474D;
		color: #949494;
		border-radius: 0px		
	}
	textarea{
		resize: none;
		background-color: #45474D;
		color: #FFF;
		border-radius: 0px	
	}
}

.quotecloud-btn {
	font-family: $font-quotecloud;
	border: none;
	background: none;
	width: 100%;
	color: #FFF;
	padding: 15px 40px;
	background: #14B5EB;
	line-height: 17px;
	cursor: pointer;
	font-size: 15px;
	letter-spacing: 1px;
	-webkit-appearance: none;
	border-radius: 4px;
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
	transition: all 200ms linear;
	&:hover{
		background: $color-quotecloud-blue;
		color: #fff;
	}
}

.form-control {
	border: 1px solid #45474D;
}

/*Youtube*/

.post-thumb {
	float: left;
	width: 80px;
}

.post-text {
	padding-left: 100px;
}

.post-meta {
	color: #949494;
	font-size: 90%;
	margin: 4px 0 0;
	top: -15px;
	position: relative;
	text-align: left;
}

.post-item {
	margin-top: 0px;
	margin-bottom: 10px;
}

.to-top-holder {
	color: #fff;
	padding: 10px 0;
	display: table;
	.container {
		display: table-row;	
		&>div{
			display: table-cell;
			vertical-align: middle;
			line-height: 38px;		
		}	
		img {
			max-width: 70px;		
		}
	}
	
}

.mustHave{
	float: left;
    position: absolute;
    left: 0px;
    font-size: 30px;
}

.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
   	color: #fff;
    line-height: 0px;
    text-align: center;
    border: 1px solid white;
    padding: 4px;
    margin-right: 5px;
}

/**********************************************************************************************************************
													BANNER Section
**********************************************************************************************************************/

.banner-simple{
	position: absolute;
	margin: auto;
	text-transform: uppercase;
	font-size: $font-quotecloud;
	letter-spacing: 1px;	
	right: 0;
	left: 0;
	z-index: 7;	
}

.banner-headline{
	font-size: 6em;
	font-weight: 100;
}

.banner-subHeadline{
	float: left;
	width: 15em;
	font-family: $font-quotecloud;
	color: white;
	font-size: 30px;
	font-weight: 200;
	text-transform: none;	
}

.banner-subHeadline-simple{
	font-size: 5.5em;
}


.parent{
	text-align: left;
	z-index: 8;
	&.parentRight{
		left: 56.15%;	
	}	
	&.parentLeft{
		left: 11.15%;
	}
}

.bulletPoints{
	left: 57.6%;
	margin: 0px;
    padding: 0px;
    font-size: 15px;
    width: 30em;
    color: #272727;
  	font-weight: normal;
    padding-bottom: 10px;
    &.bulletPointRight {
		left: 57.6%;
		padding-bottom: 10px;
	}
	&.bulletPointLeft {
		left: 12.5%;
		z-index: 8;
	   	text-align: left;
	}
}

.swiper-container {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.swiper-slide {
	background-size: cover;
	background-position: center;
}


.banner-plan {
	border-top: 1px solid #e7e7e7;
	padding-top: 0px;
	color: #f8f8f8;
	text-align: center;
}

.banner { 
	h1 {
		margin: 0;
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
		font-size: 3em;
		color: #FF9200;
	}
	.container {
		position: relative;
		z-index: 2;	
	}
	ul {
		min-height: 480px;	
	}
}

.banner-pricing-plan {
	margin-top: 50px;
}

.mobile-text.tp-caption {
	&.title {
		font-size: 22px !important;
	}
	&.sub-text{
		font-size: 16px !important;
	}
	&.slide_list{
		font-size: 12px !important;
	}
}

img.promo-image {
	width: 190px;
	height: 190px;
}

.bannerOverlayFilter{
	background-color: rgba(0,0,0,0.5);
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0; 
	z-index: 5;
}

/**********************************************************************************************************************
												STATS	SECTIOn
**********************************************************************************************************************/
.statistics {
	position: relative;
	top: 10px;
	padding-bottom: 20px;
}

#firstStat {
	margin-left: 0px;
}

#lastStat {
	margin-right: 0px;
}
.statistics-text {
	border: 2px solid #14b1bb;
	border-radius: 50%;
	display: inline-block;
	font-family: "HelveticaNeueCE-Light";
	height: 130px;
	width: 130px;
	letter-spacing: -0.05em;
	line-height: 2em;
	padding-top: 41px;
	text-transform: uppercase;
	text-align: center;
	margin: 5px;
	.stat{
		font-family: $font-quotecloud-heavy;
		font-size: 22px;
		font-weight: 900;	
	}
	.statHeadline {
		padding-top: 0px;
		font-family: $font-quotecloud;
		font-size: 14px;
		font-weight: 900;
		word-spacing: 130px;
		text-align: center;
		line-height: 19px;
	}	
}

.statistics-text0, .statistics-text1, .statistics-text2, .statistics-text3{
	
}

.stat-dollar {
	font-family: $font-quotecloud-heavy;
	font-size: 22px;
	font-weight: 900;
}

.stat-mil {
	font-family: $font-quotecloud;
	font-size: 12px;
	text-transform: lowercase;
	letter-spacing: 1px;
}

.row-stat{
	margin: auto;
	left: 0;
	right: 0;
}

.statisticsTitle {
	position: relative;
	top: 10px;
	font-size: 38px;
	font-family: $font-quotecloud-heavy;
	text-transform: uppercase;
	font-weight: 100;
}

.statisticsByLine {
	position: relative;
	top: 10px;
	font-size: 15px;
	font-family: "HelveticaNeueCE-Light";
	text-transform: uppercase;
}

/**********************************************************************************************************************
													BENEFITS SECTION
**********************************************************************************************************************/

.owl-outline{
	position: absolute;
	width: 40px;
	right: 20px;
	display: block;
	height: 40px;
	top: 155px;
	border: 20px solid rgba(0,0,0,0.6);
	border-radius: 50%;
	z-index: 0;
	display: none;
	&.right-owl{
		right: 20px;
		z-index: 0;
	}
	&.left-owl{
		left: 20px;
		z-index: 99;
	}
	&:hover{
		border: 20px solid black;
		-webkit-transition:all 0.2s ease-out;
	   	-moz-transition:all 0.2s ease-out;
	   	-o-transition:all 0.2s ease-out;
	   	-ms-transition:all 0.2s ease-out;	
	}
}

.quote {
	left: 10%;
	width: 80%;
	padding-top: 50px;
	margin-left:50px;
	position: relative;
	&:before{
		/*opacity: 0.1;
		color: #303030;
		font-family: "FontAwesome";
		font-size: 48px;
		content: "\f10d";
		position: absolute;
		top: 114px;
		left: 0%;	*/	
	}
	&:after {
		/*opacity: 0.1;
		color: #303030;
		font-family: "FontAwesome";
		font-size: 48px;
		content: "\f10e";
		position: absolute;
		top: 114px;
		right: 0%;*/	
	}
}

body.modal-open {
	overflow: hidden;
	position: fixed;
}

h2.benefits {
	margin-top: 0px;
	text-transform: initial;
	color: #46474C;
	text-align: left;
	font-size: 20px;
}


/**********************************************************************************************************************
													INTRO and Other
**********************************************************************************************************************/
body, h1, h2, h3, h4, h5, h6 {
	font-family: "HelveticaNeueCE-Light", "Helvetica Neue", Helvetica, Arial,
		sans-serif;
	font-weight: 700;
	
}

body {
	overflow:hidden;
	
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: "HelveticaNeueCE-Light", "Helvetica Neue", Helvetica, Arial,
		sans-serif;
	font-weight: 700;
	
}

.topnav {
	font-size: 14px;
}

.lead {
	font-size: 18px;
	font-weight: 400;
}

.intro-lead {
	text-align: left;
	font-size: 1.2em;
}

.intro-lead li {
	padding: 10px;
}

.intro-header {
	padding-top: 50px;
	/* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
	padding-bottom: 50px;
	text-align: center;
	color: #f8f8f8;
}

.intro-header-2 {
	padding-top: 50px;
	/* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
	padding-bottom: 50px;
	text-align: center;
	color: #f8f8f8;
}

.intro-header-3 {
	padding-top: 50px;
	/* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
	padding-bottom: 50px;
	text-align: center;
	color: #f8f8f8;
}

.intro-message {
	position: relative;
	padding-top: 20%;
	padding-bottom: 20%;
	opacity: 1;
}

.intro-title {
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
	font-size: 3em;
	color: #FF9200;
}

.intro-tag {
	font-size: 2em;
	color: #FFF;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.intro-info {
	z-index: 2;
}

.intro-message h1 {
	margin: 0;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
	font-size: 3em;
	color: #FF9200;
}

.intro-divider {
	border-top: 1px solid #FF9200;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message h3 {
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.network-name {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 2px;
}

.section-heading {
	margin-bottom: 30px;
}

.section-heading-spacer {
	float: left;
	width: 200px;
	border-top: 3px solid #e7e7e7;
}

/**********************************************************************************************************************
													Parallax
**********************************************************************************************************************/

.image {
	background-size: cover;
}

div.image.parallax:after {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

div.image.parallax-small:after {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.image-faded {
	background: #000;
	position: relative;
	&:after{
		position: absolute;
		content: ' ';
		display: block;
		z-index: 1;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-size: cover;
		opacity: 0.5;	
	}
}

.list_st3 .icon {
	
}


/**********************************************************************************************************************
													Pricing Plans Section
**********************************************************************************************************************/

.most-popular {
	border-width: 3px;
	padding-top: 2px;
	top: -26px;
	z-index: 2;
	background: $color-quotecloud-blue;
	&:before{
		content: 'Most Popular';
		font-family: $font-quotecloud;
		color: #FFF;
		font-size: 0.9em;
		height: 50px;
		text-transform: uppercase;
		letter-spacing: 1px;	
	}
}

.plan-container:hover{
	&.most-popular{
		background-color: #FFF;	
		&:before{
			color: $color-quotecloud-blue;
			text-shadow: none;	
		}
	}
	.plan-price{
		background-color: #FFF;
		color: $color-quotecloud-blue;
	}
	.plan-features{
		background-color: #333;
		color: #FFF;
	}
	.plan-title{
		background-color: #FFF;
		color: $color-quotecloud-blue;
	}
}

.cl_title_line {
	height: 3px;
	padding: 0px;
	margin: 15px auto 20px;
	text-align: center;
	background: url(/quotecloud/images/title_line9.png) center no-repeat;
}

.section-title h2 {
	text-transform: uppercase;
	font-family: $font-quotecloud;
	font-size: 40px;
	font-weight: 300;
	span{
		font-weight: 600;	
	}
}



/**********************************************************************************************************************
													Other
**********************************************************************************************************************/


.logo {
	margin-left: 10px;
	margin-top: 4px;
	width: 40px;
	display: inline-block;
	float: left;
}

.logo-vis-mobile {
	width:45px;
	left: 7.5%;
	top: -8px;
	position: relative;
}

.img-responsive {
	display: none;
}


/**********************************************************************************************************************
													Video Section
**********************************************************************************************************************/

.overlay {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	overflow: auto;
	background: #000;
	background: rgba(0, 0, 0, .7);
	z-index: 100000
}

.playButtonText {
	color: white;
	position: relative;
	font-size: 16px;
	z-index: 19;
	font-family: $font-quotecloud;
	top: 73px;
	letter-spacing: 1px;
	cursor: pointer;
	text-align: center;
}

.playButton {
	position: absolute;
	top: 45%;
	width: 100%;
}


.frameController {
	position: absolute;
	padding-bottom: 42.25%;
	margin: auto;
	height: 0;
	width: 75%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;	
	}
	
}

.customer-slider-section .overlay {
	.visible {
		display: block;
		opacity: 1;
		visibility: visible;
		z-index: 100;
		height: 800px
	}
	iframe {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		height: 450px;
		width: 960px	
	}
}

.closeButton {
	width: 50px;
	height: 50px;
	position: relative;
	cursor: pointer;
	top: 150px;
	right: -44%;
	z-index: 1000001;
}

.titleVideo {
    position: absolute;
    z-index: 20;
    margin: auto;
    left: 0;
    right: 0;
    top: 150px;
    width: 70%;
}

h2 {
	&.video {
		font-family: $font-quotecloud-heavy;
		color: white;
		font-size: 20;
		font-weight: px;	
		text-align: center;
		top: 150px;
	}
	&.pricing {
		padding: 40px;
	}
}

.grayscale {
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
	-webkit-transition: 300ms ease-in;
	transition: 300ms ease-in
}

.linkImage {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
	-webkit-transition: 300ms ease-in;
	transition: 300ms ease-in
}

#video1Image:hover, #video2Image:hover, #video3Image:hover, #video4Image:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.playBut {
	min-width: 50px;
	min-height: 50px;
	padding-top: 0px;
	border: 2px solid #fff;
	border-radius: 50%;
	box-shadow: 0 0 10px 2px rgba(51,51,51,.6);	
	margin-left: 10px;
	z-index: 20;
	transform: scale(1.0) translateY(-2px);
	-webkit-transition: all 100ms linear;
	-moz-transition: all 100ms linear;
	-o-transition: all 100ms linear;
	-ms-transition: all 100ms linear;
	transition: all 100ms linear;
	&:hover {
		transform: scale(1.2) translateY(-2px);
		-webkit-transition: all 100ms linear;
		-moz-transition: all 100ms linear;
		-o-transition: all 100ms linear;
		-ms-transition: all 100ms linear;
		transition: all 100ms linear;	
	}
}

.choices {
	z-index: 5;
	height: 99px;
	top: -15px;
	padding-left: 0px;
	padding-right: 0px;
}

.hidden {
	opacity: 0;
}


.videoSection {
	padding: 5px 0px 0px 0px;
	height: 680px;
}

.paragraphChoice {
	top: 27%;
	font-size: 16px;
	text-transform: uppercase;
	font-family: HelveticaNeueCE-Medium;
	letter-spacing: 1px;
}

.video-wrapper {
	height: 570px;
	position: relative;
}

.thumbnailPicture {
	cursor: pointer; 
	z-index: 10; 
	overflow: hidden;
	position: absolute;
	top: -9999px;
	bottom: -9999px;
	left: -9999px;
	right: -9999px;
	margin: auto;
}

#free-word {
	top: 25px;
}

.top-line{
	transition: all 300ms linear;
	width: 0%;
	border-top: 2px solid #14B5EB;
	margin-top: 10px;
	position: absolute;
	&.line-left {
		margin-left: -20%;
		float: left;
		left: 70%
	}
	&.line-right {
		margin-right: -20%;
		float: right;
		right: 70%;
	}
}
.hover {
	.top-line {
		width:20%;
	}
}



/**********************************************************************************************************************
													General Content 
**********************************************************************************************************************/

h2 {
	&.content-bannerHeader{
		z-index: 100;
		font-family: HelveticaNeueCE-Medium;
		font-size: 5em;
		margin: auto;
		left: 0;
		right: 0;
		-webkit-animation: fadein 10s; 
	    -moz-animation: fadein 10s; 
	    -ms-animation: fadein 10s; 
	    -o-animation: fadein 10s; 
	    animation: fadein 10s;
    }
    &.content-bannerText{
  		z-index: 100;
		position: absolute;
		top: 600px;
		font-family: $font-quotecloud;
		font-size: 3em;
		margin: auto;
		left: 0;
		right: 0;  	
    }
    &.content-subHeader{
    	margin: 0px;
    }
    
}

#terms {
	margin-left: 100px;
	margin-right: 100px;
}


.contact-landing p{
  float: right;
  width: 50%;
}

.contact-landing-return{
	position: relative;
	top: 200px;
}
/**********************************************************************************************************************
													Mobile
**********************************************************************************************************************/

@media screen and (min-width: 1113px) {
	.thumbnailPicture {
		width: 100%;
	}
}


@media screen and (max-width: 1150px) {
	.plan-details{
		font-size: 13px;
	}
}



@media screen and (max-width: 1030px) {
	.plan-features {
		height: 600px;
	}

	.plan-purchase {
		position: relative;
		top: 50px;
	}

	.parallax-section {
		height: 1080px;
	}
}

@media screen and (max-width: 1020px) {
	.logo-text {
		position: relative;
		left: -61%;
	}
}

@media ( max-width :1007px) {
	.plan-table h2 {
		font-size: 1.2em;
	}
}

@media screen and (max-width: 1000px) {
	header .quotecloud-bar>div {
		left: 165px;
	}
	
	.quotecloud-bar .fancy-dropdown-menu > li:before {
		font-family: FontAwesome;
		content: "\f024";
		font-size: 16px;
		left: 6px;
		position: relative;
	}
	
	.quotecloud-bar .fancy-dropdown-menu, .quotecloud-bar .fancy-dropdown-menu ul {
	    left: -55px;
    }
}

@media screen and (min-width: 956px) {
	#terms {
		/*margin-left: 235px;
		margin-right: 235px;*/
		margin-left: 20%;
		margin-right: 20%;
	}
}

@media screen and (max-width: 950px) {
	.statHeadline {
		font-size: 22px;
	}

	.stat .stat-dollar{
		//font-size:: 20px;
	}
}


@media screen and (min-width: 769px) and (max-width: 920px) {
	.logo-text {
		position: relative;
		left: -60%;
	}
}

@media screen and (max-width: 920px) {
	.plan-details {
		font-size: 12px;
	}
}

@media screen and (max-width: 900px) {
	.plan-details {
		font-size: 14px;
	}
}

@media screen and (max-width: 850px) {
	h1.benefits {
		font-size: 32px;
	}
	
	p.benefit {
		font-sze: 18px;
	}

	#rightprice.quote{
		padding-top: 6.5%;
	}

	#legal-compliance.quote{
		padding-top: 6.5%;
	}

	.statHeadline {
		font-size: 22px;
	}

	.stat {
		//font-size:: 20px;
	}
}

/* MOBILE */
@media screen and (max-width: 768px) {
	/* Header */

	header .quotecloud-bar, header .nav-social {
		display: none;
	}
	header .nav-button-holder.left{
		display: block;
		right: 30%;
	}

	header .nav-button-holder.right{
		display: block;
		right: -18%;
		padding-top: 0px;
		top: -0px;
		height: 0px;
		padding-bottom: 0px;
	}
	
	header.sticky .header-inner {
		top: 0px;
		background-color: white;
		height:60px;
		padding-bottom: 0px;
	}

	.header-inner {
		background-color: white;
		height: 50px;
		top: 0px;
		z-index: 5;	
		padding-bottom: 0px;
	}
	.homepage-member-features {
		margin-bottom: 15px;
	}
	
	.offsideMenu {
		width: 264px;
	}

	#wrapper {
		top: 32px;
	}
	
	
	
	.logo-box {
		height: 70px;
	}

	.logo-vis{
		opacity: 1;
		width: 35px;
		left: -18.3%;
		top: -5px;
	}

	.logo-notvis {
		position:absolute;
		top:-24px;
		left: 0px;
		z-index:21;
		opacity: 0;
	}
	
	.logo-sticky  img.logo-vis {
		opacity: 1;
		-webkit-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
	}
	.logo-sticky img.logo-notvis {
		opacity:0;
	}
	
	#free {
    top: 35px; }
	
	.titleVideo {
   
   	 width: 85%;
	}
	
	/* STATS  768PX */

	.statHeadline {
		font-size: 16px;
	}

	.stat {
		font-size: 18px;
	}

	/* PRICING   768 PX*/
	.cl_title_line {
		top: 10px;	
		width: 100%;
		left: 0px;
		display: none;
	}

	.plan-table {
		top: -25px;
		width: 110%;
		position: relative;
		left: -5%
	}
	
	.plan-container {
		width: 100%;
	}

	.plan-section {
		width: 100%;
	}

	.plan-title {
		width: 100%;
		font-size: 16px;
	}

	.plan-features {
		height: 550px;
	}

	.plan-purchase{
		position: relative;
		top: 0px;
	}
	
	.plan-details {
		font-size: 0.65em;
	}
	
	.play-slider-holder .light-carousel-nav{
		z-index: 100;
		width: 40px;
		background-color: transparent;
		color: white;
		height: 40px;
		a.next-slide-mobile{
			left: 98%;
	   		top: -60px;
		}
		a.prev-slide-mobile{
			top: -60px;
	   	 	right: 2%;
		}
	}

	.video-embed {
		display: none;
	}
	
	#main-banner {
		display:none !important;
	}
}

@media screen and (max-width: 755px) {
	.statistics-text {
		margin-left: 2%;
	}

	.playButtonText {
		font-size: 13px;
		letter-spacing: 1px;
		padding-right: 0px;
	}
}

@media screen and (max-width: 661px) {
}

@media screen and (max-width: 627px) {

	.playButtonText {
		font-size: 13px;
		letter-spacing: 1px;
		padding-right: 0px;
	}

	.plan-details{
		font-size: .6em;
	}

	#free {
    	top: 30px; 
 	} 
}

@media screen and (max-width: 625px) {
	.paragraphChoice {
		top: 22%;
		font-size: 14px;
	}	
	.banner-plan {	
		height: 10px;
		top: -40px;
	}

	.ss-style-spike-up::after{
		bottom: 106px;
		z-index: 80;
		width:20px;
		height:20px;
	}

	.ss-style-spike::after{
		bottom: 18px;
		width:30px;
		height:30px;
	}
	
	.main-footer dark{
		height: 675px;
	}

}


/* Iphone Landscape */
@media screen and (max-width: 600px) {
	/* STATS */
	.statHeadline {
		font-size: 14px;
	}

	.stat {
		font-size: 13px; 
	}
	
	/* PRICING 600PX*/
	.section-title h2 {  /* Size of "pricing plans"" */
		font-size: 24px;
		position: relative;
		top: 15px;
	}
	
	.play-slider-holder .light-carousel-nav a.next-slide-mobile {
	    top: -53px;
	}

	.play-slider-holder .light-carousel-nav a.prev-slide-mobile {
	    top: -53px;
	}
	
	.plan-table{
		top: -30px;
	}

	/* VIDEO */

	.playButtonText {
		font-size: 13px;
		letter-spacing: 1px;
		padding-right: 0px;
	}
	
	.terms-title {
		font-size: 28px;
		text-align: center;
	}
	
	#terms {
		margin-left: 20px;
		margin-right: 20px;
	}
}

/* Under here becomes TWO prices showing*/
@media screen and (max-width: 577px) {
	/* Stats */
	/* Video */
	.playButtonText {
		font-size: 13px;
		letter-spacing: 1px;
		padding-right: 0px;
	}
	
	/* Pricing 577 px*/
	h2.pricing {
		padding: 0px;
		left: -20%
	}

	.plan-table {
		width: 99.5%;
		left: -19%;
		overflow-x: hidden;
		top: -65px;
	}

	.container-plan{
		right: -23%;
		width:90%;
		margin:0px;
		padding: 0px;
		position: relative;
	}

	.cl_title_line {
		top: -25px;	/* implied 100% */
		left: -20%;
	}
	
	.play-slider-holder .light-carousel-nav a.next-slide-mobile {
		left: 74%;
		top:-90px;
	}

	.play-slider-holder .light-carousel-nav a.prev-slide-mobile {
		top:-90px;
		right: 28%;
	}

	#free {
		top: 20px;
	}
}



@media screen and (max-width: 500px) {
	/* Videos */
	.playButtonText {
		font-size: 13px;
		letter-spacing: 1px;
		padding-right: 0px;
	}
	
	/* Pricing */
	
	.plan-title {
		height: 100%;
		padding-bottom: 0px;
	}

	h3.plans {
		font-size: 20px;
		margin-top: 0px;
	}

	.dollarsign {
		top: -40px;
		left: -3%
	}
}

@media screen and (max-width: 495px) {
	.paragraphChoice {
		top: 22%;
		font-size: 12px;
	}	
	.banner-plan {	
		height: 10px;
		top: -30px;
	}
}

@media screen and (max-width: 450px) {
	/* Videos*/
	h2.video {
		
		font-size: 30px;
	}
	
	
	.titleVideo {
		top: 100px;
		width: 95%;
	}

	.playButtonText {
		font-size: 13px;
		letter-spacing: 1px;
		padding-right: 0px;
	}
}


@media screen and (max-width: 420px) {
	.ss-style-spike::after{
		display: none;
	}
	
	.owl-item{
		overflow-x: hidden;
	}
}

@media screen and (max-width: 380px){
	.play-slider-holder .light-carousel-nav a.prev-slide-mobile {
    	right: 29%;
    	top: -123px;
    }
    
    .play-slider-holder .light-carousel-nav a.next-slide-mobile {
    	right: 29%;
    	top: -123px;
    }
}


@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
	.frameController {
		position: relative;
		top: 60px;
		
	}
}

/* IPAD Landscape*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
	/* Header*/
	header .quotecloud-bar, header .nav-social {
		display: none;
	}

	header .nav-button-holder.right{
		display: block;
		right: -95%;
		padding-top: 0px;
		padding-bottom: 0px;
    	padding-left: 0px;
    	padding-right: 0px;

	}
	
	header.sticky .header-inner {
		height:60px;
	}

	.header-inner {
		background-color: white;
		top: 0px;
		padding-bottom: 0px;
	}
	
	/*  Logo */
	.logo-vis{
		width: 35px;
		left: -18.3%;
		top: -5px;
	}
		
	.logo-vis-mobile {
		width:45px;
		left: 7.5%;
		top: -8px;
		position: relative;
	}
	
	.logo-sticky  img.logo-vis {
		opacity: 1;
		-webkit-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
	}

	.logo-sticky img.logo-notvis {
		opacity:0;
	}
	
	#wrapper {
		top: 32px;
	}
	
	.plan-table h2 {
		font-size: 0.9em;
	}

	.video-embed {
		display: none;
	}
	
	#main-banner {
		display:none;
		opacity: 0;
		overflow: hidden;
	}
	
	
	.plan-features {
		height: 590px;
	}

	.plan-purchase {
		position: relative;
	}
	
	.frameController {
		position: relative;
		top: 60px;
		
	}
	
	.statistics {
		position: relative;
		top: 10px;
	}
}

@media screen and (max-width: 540px) {
	.team-item {
		max-width: 100%;
	}
}

@media ( max-width :1199px) {
	.tp-banner-container {
		margin-top: 24px;
	}
	ul.banner-social-buttons {
		float: left;
		margin-top: 15px;
	}
}





/**********************************************************************************************************************
													Other
**********************************************************************************************************************/


