$grey: #F8F8F8;

.radio-inline+.radio-inline, .checkbox-inline+.checkbox-inline {
	margin-left: 0px;
}

.quotecloud-black-button {
	background-color: black;
	border: 0;
	padding: 10px 30px;
	color: white;
	text-transform: uppercase;
	margin: 25px 0 40px;
}

.row {
	.profile-navigation-link {
		display: table;
		font-family: 'ReplicaStd-Bold', sans-serif;

		div.profile-navigation-box {
			display: table-cell;
			text-align: center;
		    padding: 10px;
		    background-color: $grey;
		    color: black;

		    &.active {
			    color: white;
			    background-color: black;
		    }

		    i {
		    	vertical-align: middle;
		    }

		    span {
		    	position: relative;
		    	top: 4px;
	   			text-transform: lowercase;
		    }
		}

		.arrow-right {
	    	width: 0; 
			height: 0; 
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;
			border-left: 10px solid $grey;
			position: absolute;
	    	top: 30%;
		}

		.arrow-down {
	    	width: 0;
			height: 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-top: 10px solid black;
			position: absolute;
		    top: 100%;
		    left: 49%;
		    display: none;
		}

		.active + .arrow-right {
			border-left: 10px solid black;
		}

		.active ~ .arrow-down {
			display: block;
		}
	}

	> a:not(:last-child) div.col-xs-3 {
		padding-right: 0;
	}
}


form {
	font-family: 'ReplicaStd-Bold', sans-serif;

	select {
	    -webkit-appearance: none;
	}

	label + input,
	label + select {
		display: block;
	    padding: 5px;
	    height: 35px;
	    width: 100%;
	}

	label + select {
	    padding: 5px 5px 6px;
	}

	input, select,
	label.radio-inline,
	label.checkbox-inline,
	div.checkbox > label {
		font-family: 'ReplicaStd-Light', sans-serif;
	}
}

@media screen and (min-width:767px) {
	.row .profile-navigation-link div.profile-navigation-box i {
		float: left;
	}
}