s.offcanvas-nav{background:#FFF;}
.intro .intro-features i{color:#008fed;}
.intro .navi-intro a{font-size:14px;}
.intro .c-middle .navi-intro{right:0;left:initial;}
.intro .c-right .navi-intro .btn{margin-left:5px;}
.intro .navi-intro .action-btn{margin:0 16px 0 4px;}
.logo{text-shadow:2px 2px rgba(0,0,0,.22);}
.logo-span{font-size:17px;opacity:0.9;}
.logo .scrollup{font-style:18px;color:fff;}
.intro .logo span{text-shadow:2px 2px rgba(0,0,0,.22);font-size:17px;opacity:0.9;}
.nav-head .transparent-btn{float: left; margin: 0;}
.transparent-btn{border: 2px solid #FFF; background-color: transparent; color: #FFF;}
.navbar .logo img{width:48px;}
.resoucre-btn{background-color:#008fed;padding:25px 0;width:100%;text-align:center;}
.scroll-more{margin-bottom:35px;text-shadow:2px 2px rgba(0,0,0,.22);color:#fff;line-height:1.5;}
.download{text-shadow:2px 2px rgba(0,0,0,.22);}
section#features{padding-top:0px !important;}
.video-popup{width:160.72px;height:118px;font-size:14.5px;}
.video-popup img{width:54px;margin:20px 56.36px 24px 56.36px;}
.twitter-feed .tweet-float:before{display:block;position:absolute;font-family:'brand-icons';content:url(img/Twitter_19.svg);color:#008fed;font-size:19px;top:16px;right:25px;opacity:.25;-webkit-transition:opacity .3s;transition:opacity .3s;}
.footer-head:before{content:"";}
.rating img{margin-bottom:2.5px;}
.offcanvas-nav .search-toggle:before{font-family:"Flaticon";content:url(img/search.svg);}
.search-btn img{margin-bottom:2.5px;}
.statistics{position:relative;top:10px;padding-bottom:20px;text-align:center;line-height:1.42857143;}
.statistics span{border:none;outline:0;vertical-align:baseline;text-decoration:none;margin:0;padding:0;font-style:inherit;}
.statistics .col-sm-12{width:100%;float:left;position:relative;min-height:1px;padding-left:15px;padding-right:15px;margin-bottom:50px;}
.statisticsTitle{position:relative;top:10px;font-size:38px;font-family:HelveticaNeueCE-Heavy,sans-serif;text-transform:uppercase;font-weight:100;}
.statisticsByLine{position:relative;top:10px;font-size:15px;font-family:"HelveticaNeueCE-Light";text-transform:uppercase;}
.statistics .col-sm-3{width:25%;float:left;position:relative;min-height:1px;padding-left:15px;padding-right:15px;}
.statistics .statistics-text{border:2px solid #14b1bb;border-radius:50%;display:inline-block;font-family:"HelveticaNeueCE-Light";height:130px;width:130px;letter-spacing:-0.05em;line-height:1.4em;padding-top:41px;text-transform:uppercase;text-align:center;margin:5px;}
.statistics-text .stat{font-family:HelveticaNeueCE-Heavy,sans-serif;font-size:22px;font-weight:900;}
.statistics-text .statHeadline{padding-top:0px;font-family:"HelveticaNeueCE-Light",sans-serif;font-size:14px;font-weight:900;word-spacing:130px;text-align:center;line-height:19px;}
.pricing-plan-description li{text-align:left;padding:10px;}
.pricing-plan-description span{font-weight:bold;text-align:center;font-size:17px;}
.scroller .video{display:inline-block;max-width:730px;}
.footer .footer{display:table;}
.grecaptcha-badge {bottom: 100px !important;}
@media (max-width:992px){.navi-intro{display:none;}
}