.fadeInLeft {
  animation-name: fadeInLeft;
    animation-duration: 5s;
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInRight {
  animation-name: fadeInRight;
      animation-duration: 5s;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}




.fadeInDown {
  animation-name: fadeInDown;
  animation-duration: 5s;

}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
   
  }

  to {
    opacity: 1;
    transform: none;
  }
}


.intro{
	background: url(../../TravelDocs/images/bg.jpg);
    width: 100%;
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

