#site-wrapper 
.quotecloud-sticky {
    font-family: 'HelveticaNeueCE-Light', sans-serif;
    font-size: 16px;
    color: #fff;
    height: 60px;
    z-index: 2;
    background-color: #46474C; }
    

.quotecloud-bar{
	font-family: 'HelveticaNeueCE-Light', sans-serif;
	font-size: 16px;
	color: #fff;
	background-color: rgba(30,30,30,0.1);
	
	i, .caret{
		color: darken(#fff, 40%);
	}
	a {
		color: white;
	}
	.dropdown{
		.dropdown-toggle{
			background: none;
   			color: inherit;
    		font-size: inherit;
    		right: 80px;
    		position: relative;
    		border: none;
   		 	padding: 2px 0;
   			text-transform: uppercase;
		}
		.dropdown-menu{
			top: 23px;
			background-color: #1e1e1e;
			border: none;
			border-radius: 0;
			a{
				padding: 5px 20px;
				color: inherit;
				font-size: 15px;
				text-transform: capitalize;
				&:hover,&:focus{
					color: darken(#fff, 30%);
					background-color: lighten(#1e1e1e, 10%);
				}
			}
		}
	}
	
	
	
	
	
	
	.dropdown-menu{
		min-width:1px;
	}
	
	.fancy-dropdown-menu, .fancy-dropdown-menu ul {
	    list-style: none;
	    padding: 0;
	    margin: 0;
	}
	.fancy-dropdown-menu {
		position: relative;
		top: 9px;
    	right: -25%;
	    height: 58px;
	}
	
	.fancy-dropdown-menu a{
		font-family: 'HelveticaNeueCE-Light', sans-serif;
		text-align: left;
	    color: black;
	    font-size: 15px;
	    letter-spacing: 1px;
	    text-transform: capitalize;
	}
	.fancy-dropdown-menu li {
	    background: rgba(20, 181, 235,0.6);
	    min-width: 160px;
	}
	.fancy-dropdown-menu > li {
	    display: block;
	    float: left;
	    position: relative;
	    text-align: left;
	    background: rgba(30,30,30,0.0);
	    &:before{
	    	content: "LANGUAGE";
		  	font-size: 13px;
		  	letter-spacing: 1px;
	    }
	    
	    
	}
	
	/* submenu styles */
	.submenu {
	    left: 0;
	    max-height: 0;
	    position: absolute;
	    top: 100%;
	    z-index: 0;
	    margin-top: 10px !important;
	    -webkit-perspective: 400px;
	    -moz-perspective: 400px;
	    -ms-perspective: 400px;
	    -o-perspective: 400px;
	    perspective: 400px;
	}
	.submenu li {
		position: relative;
   		top: 10px;
	    opacity: 0;
	    padding: 5px 20px;
		text-align: left;
	    -webkit-transform: rotateY(90deg);
	    -moz-transform: rotateY(90deg);
	    -ms-transform: rotateY(90deg);
	    -o-transform: rotateY(90deg);
	    transform: rotateY(90deg);
	
	    -webkit-transition: opacity .4s, -webkit-transform .5s;
	    -moz-transition: opacity .4s, -moz-transform .5s;
	    -ms-transition: opacity .4s, -ms-transform .5s;
	    -o-transition: opacity .4s, -o-transform .5s;
	    transition: opacity .4s, transform .5s;
	}
	
	.submenu li a{
	   font-family: 'HelveticaNeueCE-Light', sans-serif;
	}
	
	.submenu li:hover{
	    background-color: #383838;
	}
	.submenu li:hover a{
		color: #b3b3b3 !important;
	}
	.fancy-dropdown-menu > li:hover .submenu, .fancy-dropdown-menu > li:focus .submenu {
	    z-index: 10;
	}
	.fancy-dropdown-menu > li:hover .submenu li, .fancy-dropdown-menu > li:focus .submenu li {
	    opacity: 1;
	
	    -webkit-transform: none;
	    -moz-transform: none;
	    -ms-transform: none;
	    -o-transform: none;
	    transform: none;
	}
	
	/* CSS3 delays for transition effects */
	.fancy-dropdown-menu li:hover .submenu li:nth-child(1) {
	    -webkit-transition-delay: 0s;
	    -moz-transition-delay: 0s;
	    -ms-transition-delay: 0s;
	    -o-transition-delay: 0s;
	    transition-delay: 0s;
	}
	.fancy-dropdown-menu li:hover .submenu li:nth-child(2) {
	    -webkit-transition-delay: 50ms;
	    -moz-transition-delay: 50ms;
	    -ms-transition-delay: 50ms;
	    -o-transition-delay: 50ms;
	    transition-delay: 50ms;
	}
	.fancy-dropdown-menu li:hover .submenu li:nth-child(3) {
	    -webkit-transition-delay: 100ms;
	    -moz-transition-delay: 100ms;
	    -ms-transition-delay: 100ms;
	    -o-transition-delay: 100ms;
	    transition-delay: 100ms;
	}
	.fancy-dropdown-menu li:hover .submenu li:nth-child(4) {
	    -webkit-transition-delay: 150ms;
	    -moz-transition-delay: 150ms;
	    -ms-transition-delay: 150ms;
	    -o-transition-delay: 150ms;
	    transition-delay: 150ms;
	}
	.fancy-dropdown-menu li:hover .submenu li:nth-child(5) {
	    -webkit-transition-delay: 200ms;
	    -moz-transition-delay: 200ms;
	    -ms-transition-delay: 200ms;
	    -o-transition-delay: 200ms;
	    transition-delay: 200ms;
	}
	.fancy-dropdown-menu li:hover .submenu li:nth-child(6) {
	    -webkit-transition-delay: 250ms;
	    -moz-transition-delay: 250ms;
	    -ms-transition-delay: 250ms;
	    -o-transition-delay: 250ms;
	    transition-delay: 250ms;
	}
	.fancy-dropdown-menu li:hover .submenu li:nth-child(7) {
	    -webkit-transition-delay: 300ms;
	    -moz-transition-delay: 300ms;
	    -ms-transition-delay: 300ms;
	    -o-transition-delay: 300ms;
	    transition-delay: 300ms;
	}
	.fancy-dropdown-menu li:hover .submenu li:nth-child(8) {
	    -webkit-transition-delay: 350ms;
	    -moz-transition-delay: 350ms;
	    -ms-transition-delay: 350ms;
	    -o-transition-delay: 350ms;
	    transition-delay: 350ms;
	}
	.fancy-dropdown-menu li:hover .submenu li:nth-child(9) {
	    -webkit-transition-delay: 400ms;
	    -moz-transition-delay: 400ms;
	    -ms-transition-delay: 400ms;
	    -o-transition-delay: 400ms;
	    transition-delay: 400ms;
	}
	.fancy-dropdown-menu li:hover .submenu li:nth-child(10) {
	    -webkit-transition-delay: 450ms;
	    -moz-transition-delay: 450ms;
	    -ms-transition-delay: 450ms;
	    -o-transition-delay: 450ms;
	    transition-delay: 450ms;
	}
	
	.submenu li:nth-child(1) {
	    -webkit-transition-delay: 350ms;
	    -moz-transition-delay: 350ms;
	    -ms-transition-delay: 350ms;
	    -o-transition-delay: 350ms;
	    transition-delay: 350ms;
	}
	.submenu li:nth-child(2) {
	    -webkit-transition-delay: 300ms;
	    -moz-transition-delay: 300ms;
	    -ms-transition-delay: 300ms;
	    -o-transition-delay: 300ms;
	    transition-delay: 300ms;
	}
	.submenu li:nth-child(3) {
	    -webkit-transition-delay: 250ms;
	    -moz-transition-delay: 250ms;
	    -ms-transition-delay: 250ms;
	    -o-transition-delay: 250ms;
	    transition-delay: 250ms;
	}
	.submenu li:nth-child(4) {
	    -webkit-transition-delay: 200ms;
	    -moz-transition-delay: 200ms;
	    -ms-transition-delay: 200ms;
	    -o-transition-delay: 200ms;
	    transition-delay: 200ms;
	}
	.submenu li:nth-child(5) {
	    -webkit-transition-delay: 150ms;
	    -moz-transition-delay: 150ms;
	    -ms-transition-delay: 150ms;
	    -o-transition-delay: 150ms;
	    transition-delay: 150ms;
	}
	.submenu li:nth-child(6) {
	    -webkit-transition-delay: 100ms;
	    -moz-transition-delay: 100ms;
	    -ms-transition-delay: 100ms;
	    -o-transition-delay: 100ms;
	    transition-delay: 100ms;
	}
	.submenu li:nth-child(7) {
	    -webkit-transition-delay: 50ms;
	    -moz-transition-delay: 50ms;
	    -ms-transition-delay: 50ms;
	    -o-transition-delay: 50ms;
	    transition-delay: 50ms;
	}
	.submenu li:nth-child(8) {
	    -webkit-transition-delay: 0s;
	    -moz-transition-delay: 0s;
	    -ms-transition-delay: 0s;
	    -o-transition-delay: 0s;
	    transition-delay: 0s;
	}
	
	
	
}

.quotecloud-sticky {
	.fancy-dropdown-menu a{
		text-transform:uppercase;
		color: white;
		font-family: HelveticaNeueCE-Light;
 		font-size: 13px;
 		content: "Testing";
 		letter-spacing: 1px;
	}
}

.userInfoMobile {
		color: #FFF;
		padding: 15px;
		span.tier {
			margin-right: 7px;
		}
	}
.tier{
	&:before {
		font-family: FontAwesome;
		font-style: normal;
		content: "\f111";
		margin-right: 4px;
	}
	&.tier-bronze {
		color: #cd7f32;
	}
	&.tier-silver {
		color: #c0c0c0;
	}
	&.tier-gold {
		color: #ffd700;
	}
	&.tier-platinum{
		color: #e5e4e2;
	}
	&.tier-diamond {
		color: #FFF;
		&:before {
			content: "\f219";
		}
	}
	&.tier-double_diamond{
		color: #e5e4e2;
		&:before {
			content: "\f219";
		}
	}
	&.tier-blank{
		content: "\f111";
		color: #000;
	}
}
.quotecloud-bar .fa {
    font-size: 16px;
}

@media screen and (max-width:768px){
	#site-wrapper .quotecloud-bar .dropdown{
		.dropdown-menu{
			min-width:160px;
			a {
			    padding: 5px 8px;
			}
		}
	}
}

@media screen and (max-width: 768px) {
    	.quotecloud-bar {
    		.fancy-dropdown-menu {
    			right: -5%;
    		}
    	}
    }
