.animation-text {
	display: none;
}
.animation-image-logo
{
	position: absolute;
	max-width: 40%;
	left: 19%;
	top: 41%;
	z-index: 10;
}
.animation-image-1
{
	position: absolute;
	max-width: 55%;
	right: 0;
	top: 10%;
	opacity: 0;
}
.animation-image-2
{
	position: absolute;
	max-width: 41%;
	right: 0;
	top: 47%;
	opacity: 0;
}
.animation-image-3
{
	position: absolute;
	max-width: 61%;
	right: 0;
	top: 60%;
	opacity: 0;
}
.animation-image-4
{
	position: absolute;
	max-width: 50%;
	left: 0;
	top: 0;
	opacity: 0;
}

.animation-image-1.animated
{
	-webkit-animation-duration: .75s;
	animation-duration: .75s;
	-webkit-animation-name: bounceIn;
	animation-name: bounceIn;
}
.animation-image-2.animated
{
	-webkit-animation-duration: .75s;
	animation-duration: .75s;
	-webkit-animation-name: bounceIn;
	animation-name: bounceIn;
}
.animation-image-3.animated
{
	-webkit-animation-duration: .75s;
	animation-duration: .75s;
	-webkit-animation-name: bounceIn;
	animation-name: bounceIn;
}
.animation-image-4.animated
{
	-webkit-animation-duration: .75s;
	animation-duration: .75s;
	-webkit-animation-name: bounceIn;
	animation-name: bounceIn;
}

#restartAnimation {
	display: none;
}

@media screen and (max-width: 991px)
{
	.animation-text
	{
		display: block !important;
	}
	.animation-image-1,	.animation-image-2,	.animation-image-3,	.animation-image-4
	{
		opacity: 1 !important;
	}
}