.traveller {
	background-image:url(/application/assets/images/itinerary-bg2.jpg);
	-webkit-background-size:cover;
	background-size:cover;
	.next-word, .prev-word, .fa-map-marker {
	  cursor:pointer;
	}
	.traveller-booking {
	  text-align:center;
	  width:854px;
	  padding-left:12px;
	  display:none;
	  .tr-connection {
		font-size:20px;
		font-weight:bold;
		margin:10px 0px;
	  }
	  .tr-title {
		background:rgba(230,178,79,1);
		color:white;
		width:140px;
		display:inline-block;
		border-radius:8px;
		padding:7px;
		background-image:url(/application/assets/images/flipBackground.png);
		-webkit-background-size:46px;
		background-size:46px;
		#iti-date .prev {
		  float:left;
		  color:#efa730;
		}
		#iti-date .next {
		  float:right;
		  color:#efa730;
		}
	  }
	  .tr-info {
		width:100px;
		position:absolute;
		height:100px;
		top:10px;
		text-align:center;
		background-size:84px;
		left:10px;
		color:white;
		display:inline-block;
		border-radius:8px;
		padding:7px;
		background-image:url(/application/assets/images/flipBackground.png);
	  }
	  .tr-detail {
		background:linear-gradient(#272727,#151515);
		border-radius:8px;
		margin-top:10px;
		padding:20px 0;
		position:relative;
		.from, .to {
		  width:43%;
		}
		.from-to {
		  display:inline-block;
		  font-size:25px;
		  color:#efa730;
		  margin-top:70px;
		  padding:0 20px;
		}
		.detail-block {
		  background:#2a2a2a;
		  display:inline-block;
		  border-top-left-radius:6px;
		  border-top-right-radius:6px;
		  border-bottom-left-radius:6px;
		  border-bottom-right-radius:6px;
		  vertical-align:top;
		  .detail-head {
			font-size:25px;
			font-weight:bold;
			color:black;
			padding:6px 6px;
			background:linear-gradient(to right,#e6a94b,#eabe51);
			border-top-left-radius:6px;
			border-top-right-radius:6px;
			div {
			  display:inline;
			}
			.detail-title span {
			  font-weight:500;
			}
			.icon {
			  float:left;
			  border:1px solid black;
			  padding:0 5px;
			  border-radius:8px;
			  width:40px;
			}
		  }
		  .detail-body {
			padding:0 10px 10px 10px;
			table {
			  width:100%;
			  tr {
				font-size:14px;
				td {
				  color:white;
				  padding-top:10px;
				  div {
					background:#1c1c1c;
				  }
				  .text-left {
					text-align:left;
					padding-left:15px;
					border-right:0px !important;
					border-radius:8px 0 0 8px;
					padding-bottom:5px;
					padding-top:5px;
					background-image:url(/application/assets/images/flipBackground.png);
					-webkit-background-size:26px;
					background-size:26px;
					border-style:inset;
					border-color:#171717;
					border-width:2px;
				  }
				  .text-right {
					text-align:right;
					padding-right:15px;
					border-left:0px !important;
					border-radius:0 8px 8px 0;
					padding-bottom:5px;
					padding-top:5px;
					background-image:url(/application/assets/images/flipBackground.png);
					-webkit-background-size:26px;
					background-size:26px;
					border-style:inset;
					border-color:#171717;
					border-width:2px;
				  }
				}
			  }
			}
		  }
		  .weather-block {
			text-align:left;
			padding-left:10px;
			padding-bottom:6px;
			.weather-icon {
			  height:40px;
			  width:40px;
			  display:inline-block;
			  background:url(https://cdn.apixu.com/weather/64x64/night/116.png);
			  background-size:44px;
			  filter:grayscale(100%) brightness(60%) sepia(100%) hue-rotate(8deg) saturate(8) contrast(0.8);
			}
			.temp {
			  display:inline-block;
			  vertical-align:top;
			  color:#efa730;
			  height:40px;
			  padding-left:12px;
			  font-size:24px;
			  font-weight:lighter;
			  margin-top:4px;
			}
		  }
		}
	  }
	  
	  .tr-flight-remarks {
		    color: white;
		    text-align: left;
		    margin: 25px;
		    
		    .flight-remarks-body {
			    padding: 10px;
			    background: #2a2a2a;
			    border-top-left-radius: 6px;
			    border-top-right-radius: 6px;
			    border-bottom-left-radius: 6px;
			    border-bottom-right-radius: 6px;
		    }
		    
		}

	  .tools {
		position:absolute;
		right:0;
		top:50%;
		transform:translate(100%,-50%);
		div {
		  padding:10px 10px;
		  background:#1c1c1c;
		  border-radius:0 8px 8px 0px;
		  color:#efa730;
		}
		.middle {
		  margin:2px 0;
		}
	  }
	  .tr-itinerary {
		margin-top:10px;
		margin-bottom:10px;
		background:white;
		border-radius:8px;
		padding:1px 10px 10px 10px;
		text-align:left;
		position:relative;
		.iti-info {
		  background:#262626;
		  border-radius:8px;
		  width:80px;
		  display:inline-block;
		  vertical-align:top;
		  text-align:center;
		  .iti-date {
			color:white;
			font-size:15px;
			border-bottom:1px solid #1c1c1c;
		  }
		  .iti-icon {
			color:#efa730;
			font-size:28px;
			border-top:1px solid #1c1c1c;
		  }
		}
		.iti-detail {
		  display:inline-block;
		  margin-left:15px;
		  vertical-align:top;
		  .iti-title {
			padding:5px;
			font-size:20px;
			font-weight:bold;
		  }
		  .iti-body {
			padding:5px 10px;
			background:#e6e6e6;
			border-radius:8px;
			.lbl {
			  font-weight:bold;
			}
			.val {
			  padding-left:15px;
			}
		  }
		}
		.tools div {
		  background:#e6b24f;
		  color:#1c1c1c;
		  width:33px;
		  height:38px;
		  span {
			font-size:20px;
		  }
		}
	  }
	}
	.contentRow {
	  margin:0 !important;
	  #iti-date {
		background:linear-gradient(#222222,#272727);
		height:50px;
		padding:3px;
		border-bottom:2px solid #141414;
		border-top-left-radius:5px;
		border-top-right-radius:5px;
		span:first-child {
		  font-size:16px;
		}
	  }
	  #iti-number {
		padding-top:8px;
		height:50px;
		background:linear-gradient(#2d2d2d,#272727);
		border-top:1px solid #343434;
		border-bottom-left-radius:5px;
		border-bottom-right-radius:5px;
		margin-top:0 !important;
		span {
		  font-size:32px;
		}
	  }
	  .tr-info {
		padding:0 !important;
		background-image:none !important;
	  }
	}
	span#landingIcon {
	  -webkit-transform:rotate(70deg);
	  -moz-transform:rotate(70deg);
	  -ms-transform:rotate(70deg);
	  -o-transform:rotate(70deg);
	  transform:rotate(70deg);
	}
	.segment-detail {
	  background:#e6e6e6;
	  padding:10px;
	  margin-bottom:10px;
	  border-radius:6px;
	}
	.tr-main-title {
	  padding-top:0;
	  position:absolute;
	  top:-6px;
	  margin:0;
	  padding:0;
	  left:33px;
	  background-image:none;
	  width:80px;
	  background:none;
	  display:inline-block;
	  border-radius:8px;
	  #iti-date {
		padding:3px;
		border-bottom:2px solid #926812 8 c;
		border-top-left-radius:5px;
		border-top-right-radius:5px;
		background:linear-gradient(#eeb134,#cb972c);
		span.fa {
		  font-size:30px;
		  position:relative;
		  color:black;
		  font-weight:bold;
		  margin-top:1px;
		}
		span.border {
		  font-size:30px;
		  position:absolute;
		  color:black;
		  border:1px solid black;
		  width:25px;
		  font-weight:bold;
		  height:25px;
		  left:-6px;
		  top:4px;
		  border-radius:5px;
		}
		.fa-angle-right span.border {
		  font-size:30px;
		  position:absolute;
		  color:black;
		  border:1px solid black;
		  width:25px;
		  font-weight:bold;
		  height:25px;
		  left:-8px;
		  top:4px;
		  border-radius:5px;
		}
	  }
	  #iti-number {
		background:linear-gradient(#cb972c,#d59e2f);
		border-top:1px solid #d59e2f 85;
		border-bottom-left-radius:5px;
		border-bottom-right-radius:5px;
		margin-top:0 !important;
		padding-bottom:5px;
		vertical-align:middle;
		span {
		  font-size:10px;
		  color:black;
		  text-transform:uppercase;
		  font-weight:bold;
		  vertical-align:middle;
		}
	  }
	}
	.segment-heading-text h1 {
	  margin-top:10px;
	}
	.travelStats {
	  text-align:center;
	  position:relative;
	  .travelDash {
		position:relative;
		width:1px;
		height:16px;
		margin:0 40px;
		z-index:999999;
		border-radius:0;
		background-color:#555555;
		text-align:center;
		float:left;
		span.travelDays {
		  position:absolute;
		  bottom:-47px;
		  left:-65px;
		  width:130px;
		  font-weight:bold;
		  font-size:37px;
		}
		span.travelLabels {
		  position:absolute;
		  bottom:-58px;
		  left:-65px;
		  width:130px;
		  font-weight:bold;
		  font-size:16px;
		}
	  }
	}
	.main-content {
	  width:84%;
	  float:right;
	  position:inherit;
	  background:none;
	}
	.table-heading {
	  font-weight:bold;
	}
	.traveller-booking.active {
	  display:inline-block;
	}
	table.segment-table {
	  width:100%;
	  font-size:12px;
	  tbody tr td {
		vertical-align:text-top;
	  }
	}
	.tr-main-title.right {
	  right:25px;
	}
  }
  #iti-number {
	margin-top:5px;
	span {
	  font-size:10px;
	  font-weight:lighter;
	}
	span.fa {
	  filter:grayscale(100%) brightness(60%) sepia(100%) hue-rotate(8deg) saturate(8) contrast(0.8);
	}
  }
  .group-panel .traveller-booking {
	position:relative;
  }
  .group-panel .tr-main-title.right {
	right:40px !important;
  }