@application-torquoise:     #00857C;
@application-green:         #8CE100;
@application-purple:        #5A1991;
@application-blue:          #00BAFF;
@application-magenta:       #FF0070;
@application-orange:        #FFA500;

@application-design-blue:   #00b6f1;
@application-design-green:  #BED730;
@application-design-orange: #faa61a;
@application-design-purple: #ec008c;

@totalColor: #009bcc;
@creatingColor: #a9a9a9;
@sentColor: #d8d001;
@needsActionColor: #f09427;
@acceptedColor: #41b84a;
@expiredColor: #d9534f;
@templateColor: #ABD0DC;

