#content-library-modal {

	margin-bottom: 10px;

	.tab-content {
		background-color: #fff;
		border: 1px solid #DDDDDD;
		padding: 16px 12px;
		position: relative;
	}
	table {
		border: 1px solid #DDD;
		thead tr {
			th {
				border: none;
			}
			&:first-child {
				background-color: #FFFFFF ! important;
				background-image: none;
				color: black;
				//border: 1px solid #0073aa;
			}
		}
	}
	.nav-tabs>li>a#add-item {
		background-color: #ffab40;
		color: white;
	}
	div#overlay-upload {
		width: 100%;
		height: 100%;
		position: absolute;
		background: rgba(0, 0, 0, 0.36);
		margin: 0;
		padding: 0;
		display: none;
		z-index: 9999;
	}
	form#uploadImages {
		padding: 0;
	}
	.dropzone {
		min-height: 220px;
		.dz-preview .dz-details,
		.dropzone-previews .dz-preview .dz-details {
			width: 100% !important;
			height: 100%;
			top: 0;
			left: 0;
			position: absolute;
			background: rgba(115, 172, 200, 0.92);
			padding: 5px;
			color: #fff;
			word-break: break-word;
			margin-bottom: 22px;
			display: none;
		}
		.dz-preview:hover .dz-details {
			display: block;
		}
		.dz-preview .dz-progress,
		.dropzone-previews .dz-preview .dz-progress {
			top: 120px;
		}
		.dz-preview .dz-details,
		.dropzone-previews .dz-preview .dz-details {
			width: 100px;
		}
		.dz-default.dz-message {
			background-position: 17px -113px;
			width: 259px;
			height: 166px;
			margin-left: -203px;
			margin-top: -61.5px;
			top: 42%;
			left: 58%;
			background-size: 398px;
		}
		.dz-error-mark svg {
			display: none;
		}
	}


	[class^="icheckbox_"],
	[class*="icheckbox_"],
	[class^="iradio_"],
	[class*="iradio_"] {
		float: left !important;
		margin: -3px 5px 0 -20px !important;
	}
}

.sweet-alert {
	ul#errorImages {
		text-align: left;
		margin-left: 30px;
		margin-top: 10px;
		font-weight: bold;
		font-size: 14px;
	}
}

#content-library-table_wrapper {
	#content-library-table_length {
		float: right;
		margin-right: 20px;
	}
}

#content-library-folder-table_wrapper {
	#content-library-folder-table_length {
		float: right;
		margin-right: 20px;
	}
}

.content-library-table {
	thead tr.filters {
		input,
		select {
			width: 100%
		}
	}
}
/*Image gallery markup*/

#images-library-add-edit-modal {

	#image-container {
		background-size: cover !important;
		background-blend-mode: color;
		margin: 0 auto;
	}
	#image-alert {
		display: none;
		text-align: left;
	}
	.image-action-container {
		text-align: center;
	}
	#cropped-size {
		font-size: 13px;
	} 
}

.svg-clipped {
	-webkit-clip-path: url(#svgPath);
	clip-path: url(#svgPath);
	position: absolute;
}

#thumbnailImage {
	max-width: 768px; 
	margin: 0 auto;
}

div#infoContainer,
div#form-container {
	margin: 22px 0;
	p {
		font-size: 11px;
		line-height: 8px;
	}
}

.image-panel { 
	background: #ffffff;
	border: 1px dashed #d5d5d5;
}


.table thead tr {
	background-color: white !important;
	background-image: none;
}

ul#images-list {
	display: block;
	//border-top: 3px solid #0073aa;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	-webkit-padding-start: 0px;
	min-height: 450px;
	.center-cropped {
		height: 156px;
		width: 156px;
		background-size: cover !important;
		background-position: center center !important;
		background-repeat: no-repeat !important;
		box-shadow: inset 0 0 0px 2px rgba(0, 0, 0, 0.25);
	}
	li {
		display: inline-block;
		vertical-align: top;
		margin: 10px;
		height: 156px;
		width: 156px;
	}
	.image-thumbnail {
		-webkit-transition-duration: 0.5s;
		transition-duration: 0.5s;
		&:hover {
			box-shadow: 0px 3px 3px 0px #e6e6e6;
		}
	}
	.caption {
		display: none;
	}
}

input#dynatable-query-search-images-list {
	width: 100%;
	display: block;
	float: none;
}

span#dynatable-search-images-list {
	float: none;
}

span.dynatable-per-page {
	float: right;
	margin-right: 20px;
}

select#dynatable-per-page-images-list {
	width: auto;
	display: inline-block;
}

a.dynatable-page-link.dynatable-page-prev.dynatable-disabled-page,
a.dynatable-page-link.dynatable-page-next.dynatable-disabled-page {
	color: #999;
	cursor: not-allowed;
	background-color: #fff;
	border-color: #ddd;
}

a.dynatable-page-link.dynatable-active-page,
a.dynatable-page-link.dynatable-active-page:hover {
	z-index: 2;
	color: #fff;
	cursor: default;
	background-color: #333;
	border-color: #555;
	border-radius: 0;
}

.modal-image-detail {
	padding: 40px;
	background: rgba(85, 85, 85, 0.5);
	&.child-modal {
		background: rgba(85, 85, 85, 0.5);
	}
}

#add-edit-text-form .cke_textarea_inline,
#add-edit-images-form .cke_textarea_inline {
	border: 1px dashed #D5D5D5;
	min-height: 200px;
	background: #ffffff;
	padding: 5px;

	ul {
		padding-left:30px;
	}
}

.nav-tabs>li>a,
.nav-tabs>li>a:focus {
	background-color: #F9F9F9;
	border-color: #DDDDDD;
	border-radius: 0 0 0 0 !important;
	color: #999999;
	line-height: 16px;
	margin-right: -1px;
	position: relative;
}

.nav-tabs>li>a:hover {
	background-color: #FFFFFF;
	border-color: #DDDDDD;
	color: #4C8FBD;
}

.nav-tabs {
	border-color: #DDDDDD;
	margin-bottom: 0;
	margin-left: 0;
	position: relative;
	top: 1px;
}

#images-library-add-edit-modal {
	textarea,
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	input[type="color"] {
		background-color: #FFFFFF;
		border: 1px solid #D5D5D5;
		border-radius: 0 0 0 0 !important;
		color: #858585;
		font-family: inherit;
		font-size: 14px;
		line-height: 1.2;
		padding: 5px 4px;
		transition-duration: 0.1s;
		box-shadow: none;
	}

	.form-control.error {
		background: #ffeaea;
		border: 1px solid #aa0014;
	}
	label.error {
		color: #aa0014;
		margin-top: 7px;
	}
}

#jCropModalImage {
	#JcropPhotoFrame {
		max-width: 100%;
	}
}

.group-panel.fixed .panel-tools{
	.move-up, .move-down, .remove{
		display:none;
	}
}

/* TABLE STYLES */
@import  "../css-document/tables.less";  
