#header{
	display: block;
    height: 49px;
    margin: 0 !important;
    padding: 0 13px 0 0 !important;
    background-color: #f3f3f3;
	 position: fixed;
    width: 100%;
    top: 0;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    box-shadow: -11px 12px 23px rgba(0,0,0,0.1);
}
#logo{
	margin-top: 3px;
}

.main-editor-buttons{
	margin-top: 6px;
}
.sectionTitle{
    display: block;
    border: 1px dashed #ddd;
    color: #5676f1;
    font-family: Roboto,Roboto;
    font-size: 20px;
    padding: 15px 10px;
    margin: 4px 0px;
    width: 100%;
}
#header {
	background-color: #ededed;
}

.sp-replacer {
    border: none !important;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    margin-left: 17px !important;
}

@media screen and (min-width: 992px) {
    .col-md-offset-2 {
        margin-left: 5.6% !important;
    }
    .rightPanel {
        width: 30% !important;
    }
    .mainPanel {
        width: 71% !important;
    }
}

@media screen and (min-width: 1680px) {
    .col-md-offset-2 {
        margin-left: 25% !important;
    }
    .rightPanel {
        width: 30% !important;
    }
    .mainPanel {
        width: 71% !important;
    }
}

.sp-preview {
    display: none;
}

.tablediv{
    width: 90%;
    /*height: -webkit-fill-available;*/
    background-color: #f6f6f6;
    border: 1px solid #DDDDDD;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#content {
	margin-top: 50px;
	width: 100%;
	height: 100%;
	padding: 0;
}

.leftPanel nav {
	background-color: #fff;
	height: auto;
}

.nav-wrapper ul li{
    float: none;

}
.nav-wrapper ul li a{
	color: #000;
}

.nav-wrapper .material-icons{
	height: auto;
	line-height: inherit;
	font-size: 18px;
	margin-right: 16px;
	
}
.layerIcon{
	background-size:14px;
}

.rightPanel {
    /*height: -webkit-fill-available;*/
	position: absolute;
	background-color: #f5f5f5;
	border-left: 1px;
	padding:3px 18px !important;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
}
.panel-default .panel-heading {
    border-bottom: 1px solid #ededed;
}

.panel-body {
	border-top: none !important;
	
}
.rightPanel .panel-body{
	padding: 8px 4px;
    margin: 2px 6px;
}

.mainPanel {
	background: #ffffff;
	height: 100%;
}

.leftPanel {
	background-color: #f5f5f5;
    /*height: -webkit-fill-available;*/
	position: relative;
	border-right: 1px;
}


#edit-palette .input .sp-replacer{
    border: none;
    border-radius: 25px;
    width: 72px;
    height: 33px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    transition: all .2s ease-out;
	
	
	}

#edit-palette .sp-preview {
    background-color: #ededed;
	border:none;
    /*height: -webkit-fill-available;*/
    width: 50px;
    border-radius: 31px;
}

.color-section{
    padding: 4px !important;
    border: 0px solid #000;
    margin: 4px;
    border-radius: 20px;
    background: #ededed;
    height: 43px;

	
}
.section-text{
    float: right;
    font: 18px normal Roboto,Roboto;
    padding: 5px;
}

.dropdown{
	padding:5px;
}

.customField{
    padding: 9px;
    margin: 1px;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    width: fit-content;
    background-color: #f5f5f5;
}
