section.tv-solutions {
  background-color:#cccccc;
  height:800px;

}
.tv-pulse-orientation {
  position: relative;
  mex-width:200px;


}
.switchery > span.hideLabel {
  margin-left: 10px;
  line-height: 21px;
  font-family: tahoma;
  color: black;
  font-family: Arial,sans-serif;
}

.delete-item {
  cursor: pointer;
}

.switchery > span {
  margin-left: 23px;
  line-height: 21px;
  font-family: tahoma;
  color: black;
  font-family: Arial,sans-serif;
}

.dropzone .dz-preview .dz-progress .dz-upload,
.dropzone-previews .dz-preview .dz-progress .dz-upload {
  -webkit-animation: none !important;
  -o-animation: none !important;
  animation: none !important;
}

.collapse-card {
  margin: 5px 0;
  border:1px solid #eee !important;
}

#emailBttn:hover {
  color: #000 !important;
}

.collapse-card__heading {
  padding-top: 16px !important;
  height: 50px;
}

#proposal-headings {
  padding:0 40px;
}

.help-block {
  color: red;
}

@-webkit-keyframes pulse1 {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255,0,0,0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(255,0,0,0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255,0,0,0);
  }
}

@keyframes pulse1 {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255,0,0,0.4);
    box-shadow: 0 0 0 0 rgba(255,0,0,0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(255,0,0,0);
    box-shadow: 0 0 0 10px rgba(255,0,0,0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(255,0,0,0);
    box-shadow: 0 0 0 0 rgba(255,0,0,0);
  }
}

.pulse-button-help {
  -webkit-animation: pulse1 1.5s infinite;
  -o-animation: pulse1 1.5s infinite;
  animation: pulse1 1.5s infinite;
}


@-webkit-keyframes pulse2 {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 255, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 255,0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,255,0);
  }
}

@keyframes pulse2 {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(0,0,255,0.4);
    box-shadow: 0 0 0 0 rgba(0,0,255,0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(0,0,255,0);
    box-shadow: 0 0 0 10px rgba(0,0,255,0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(0,0,255,0);
    box-shadow: 0 0 0 0 rgba(0,0,255,0);
  }
}

.pulse-button-info {
  -webkit-animation: pulse2 1.5s infinite;
  -o-animation: pulse2 1.5s infinite;
  animation: pulse2 1.5s infinite;
}


.styleHeadingTitles {
  font-size: 14px;
  margin-left:6px;
}

@media screen and (max-width: 980px) {
  #welcomeBackLabel {
    position: absolute;
    left: 14px;
    top: 272px;
    font-size: 12px;
    font-style: italic;
  }

  #trialUpgradeLabel {
    position: absolute;
    right: 14px;
    top: 272px;
    font-size: 12px;
    font-style: italic;
  }
}

@media screen and (min-width: 981px) {
  #welcomeBackLabel {
    position: absolute;
    left: 14px;
    top: 160px;
    font-size: 12px;
    font-style: italic;
  }

  #trialUpgradeLabel {
    position: absolute;
    right: 14px;
    top: 160px;
    font-size: 12px;
    font-style: italic;
  }
}

a#endTutorial {
  right: 30px;
  top: 14px;
  position: absolute;
  font-size: 18px;
  color: white;
  border: 2px solid #fff;
  padding:5px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.tv-pulse-btn {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  margin-left:6px;
  display: block;
  width: 10px;
  height: 10px;
  line-height:10px;
  text-align:center;
  color: #fff;
  border: none;
  box-shadow: 0 0 0 0 #f0f0f0, 0 0 0 0 rgba(255, 165, 0, 0.7);
  border-radius: 5px;
  v-align: middle;
  background: #FFA500;
  cursor: pointer;
  transform: translate3d(0, 0, 0);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0.33, 0, 1);
}
.tv-contact-services {
  position: absolute;
  left: 416px;
  top: 163px;
  font-size: 12px;
}
.tv-pulse-btn i {
  font-size:5px;
  -webkit-transition: all 600ms ease-in-out;
  -moz-transition: all 600ms ease-in-out;
  -ms-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
}
.tv-pulse-btn:hover > i {
  color:#fff;
  text-shadow: 3px 3px 3px rgba(0,0,0,.35);
}
.tv-pulse-btn:focus > i {
  color:#fff;
}
@keyframes pulse {
  to {
    box-shadow: 0 0 0 12px transparent, 0 0 0 15px rgba(227, 115, 14, 0);
  }
}
.verticalGradient(@top; @bottom) {
  background: @bottom;
  background: -moz-linear-gradient(top,  @top 0%, @bottom 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@top), color-stop(100%,@bottom));
  background: -webkit-linear-gradient(top,  @top 0%,@bottom 100%);
  background: -o-linear-gradient(top,  @top 0%,@bottom 100%);
  background: -ms-linear-gradient(top,  @top 0%,@bottom 100%);
  background: linear-gradient(to bottom,  @top 0%,@bottom 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=@top, endColorstr=@bottom,GradientType=0 );
}

@import "colors.less";
@tl: 0.6s; 

header .navbar-nav li.active a {
  color: #E4E4E4;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…BoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(top,#3a3633 93%,#2a2725 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(93%,#3a3633),color-stop(100%,#2a2725));
  background: -webkit-linear-gradient(top,#3a3633 93%,#2a2725 100%);
  background: -o-linear-gradient(top,#3a3633 93%,#2a2725 100%);
  background: -ms-linear-gradient(top,#3a3633 93%,#2a2725 100%);
  background: linear-gradient(to bottom,#3a3633 93%,#2a2725 100%);
}

a, a:hover{ 
  text-decoration: none;
  color: #13b5ea;
}



.bullet { font: 10px sans-serif; }
.bullet .marker { stroke: #000; stroke-width: 2px; }
.bullet .tick line { stroke: #666; stroke-width: .5px; }
.bullet .range.s0 { fill: #eee; }
.bullet .range.s1 { fill: #ddd; }
.bullet .range.s2 { fill: #ccc; }
.bullet .measure.s0 { fill: lightsteelblue; }
.bullet .measure.s1 { fill: steelblue; }
.bullet .title { font-size: 14px; font-weight: bold; }
.bullet .subtitle { fill: #999; }


input {
  font-family: Arial, sans-serif;
}

.dataStatSquare {
  position:relative; 
  width: 10em; 
  height: 10em; 
  margin-top:12px; 
  padding-bottom: 22px; 
  text-align: center; 
  box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
  background: white;
}
.dataStatBottomText {
  position:absolute;
  top: 111px;
  left: 48px;
  font-size: 9px;
  line-height: 9px;
  color: #b9b9b9;
}

.dataStatTopText {
  position:absolute;
  top: 78px;
  left: 24px;
  font-size: 9px;
  color: #b9b9b9;
  width: 90px;
}

.dataStatPercentageText {
  position:absolute;
  top: 90px;
  left: 24px;
  font-size: 14px;
  color: #b9b9b9;
  width: 90px;
}

div#disk-usage-modal {
  width: 664px ;
}

body {

  padding-bottom: 20px;
  overflow-x: hidden;
  background-color: RGB(238,237,237);
}


.DTFC_LeftBodyWrapper {
  width:100% !important;
  overflow: hidden !important;
  -ms-overflow-style: none;
}

.DTFC_LeftWrapper {
  min-width:50px !important;
}

.DTFC_LeftBodyLiner {
  min-width:50px !important;
  width:100% !important;
  padding-right: 0 !important;
  -ms-overflow-style: none;
  overflow: hidden !important;
  table {
    min-width:50px !important;
  }
}

.DTFC_LeftHeadWrapper {
  min-width:50px !important;
  -ms-overflow-style: none;
  overflow: visible !important;
}


//This is where styles for the slide panel are



.sideBar-backDrop {
  position: fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index: 1040;
  opacity:.5;
  background: #555;
}

/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

#cd-timeline {
  position: relative;
  padding: 2em 0;
  //margin-top: 2em;
  //margin-bottom: 2em;
  margin-top: 1em;
  margin-bottom: 0em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d4d4d4;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    //margin-top: 3em;
    //margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  i.fa {
    padding-top: 12px;
  }
}
.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}
.cd-timeline-img.cd-picture {
  background: #75ce66;
}
.cd-timeline-img.cd-movie {
  background: #c03b44;
}
.cd-timeline-img.cd-location {
  background: #f0ca45;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 40px;
    height: 40px;
    left: 52%;
    text-align: center;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    i {
      padding-top: 12px;
    }
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d4d4d4;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: #303e49;
  margin: 0;
}
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}
.cd-timeline-content .cd-date {
  float: left;
  margin-top: .6em;
  opacity: .7;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.5rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1.25rem;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    margin:0px -12px;
    padding: 1.6em;
    top:4px;
    width: 45%;
  }
  .cd-timeline-content::before {
    top: 10px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 132%;
    top: 0px;
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 10px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    top:0px;
    right: 132%;
    text-align: right;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
.cd-panel {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.6s;
  -moz-transition: visibility 0s 0.6s;
  transition: visibility 0s 0.6s;
  z-index: 1040;
}
.cd-panel::after {
  /* overlay layer */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  cursor: pointer;
  -webkit-transition: background 0.3s 0.3s;
  -moz-transition: background 0.3s 0.3s;
  transition: background 0.3s 0.3s;
}
.cd-panel.is-visible {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  -moz-transition: visibility 0s 0s;
  transition: visibility 0s 0s;
}
.cd-panel.is-visible::after {
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: background 0.3s 0s;
  -moz-transition: background 0.3s 0s;
  transition: background 0.3s 0s;
}
.cd-panel.is-visible .cd-panel-close::before {
  -webkit-animation: cd-close-1 0.6s 0.3s;
  -moz-animation: cd-close-1 0.6s 0.3s;
  animation: cd-close-1 0.6s 0.3s;
}
.cd-panel.is-visible .cd-panel-close::after {
  -webkit-animation: cd-close-2 0.6s 0.3s;
  -moz-animation: cd-close-2 0.6s 0.3s;
  animation: cd-close-2 0.6s 0.3s;
}

@-webkit-keyframes cd-close-1 {
  0%, 50% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}
@-moz-keyframes cd-close-1 {
  0%, 50% {
    -moz-transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(45deg);
  }
}
@keyframes cd-close-1 {
  0%, 50% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
@-webkit-keyframes cd-close-2 {
  0%, 50% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-45deg);
  }
}
@-moz-keyframes cd-close-2 {
  0%, 50% {
    -moz-transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(-45deg);
  }
}
@keyframes cd-close-2 {
  0%, 50% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

.containerBlock .row {
  padding: 10px 15px;
}

.cd-panel-header {
  /*...*/
  position: fixed;
  top: -50px;
  width: 90%;
  height: 50px;
  transition: top 0.3s 0s;
}

.is-visible .cd-panel-header {
  top: 0;
  transition: top 0.3s 0.3s;
}

.cd-panel-container {
  /*...*/
  position: fixed;
  width: 40%;
  min-width: 600px;
  height: 100%;
  top: 0;
  right: 0;
  background: #eeeded;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-delay: 0.3s;
  z-index: 10500;
  overflow-y: scroll;

  transform: translate3d(100%, 0, 0);
}

table#revisionsTable {
  width:100% !important;
}

#proposal-notes {
  .modal-body {
    //background: #eaf0f4;
  }
}

.is-visible .cd-panel-container {
  transform: translate3d(0, 0, 0);
  transition-delay: 0s;
}

.nprogress-custom-parent {
  overflow: hidden !important;
}

// End side panel styles

.searchMargin {
  margin-top:48px !important;
}

.dataTables_scrollHeadInner > table > thead:first-child > tr {
  height: 39px !important;
}
//.DTFC_RightHeadWrapper > table > .searchHead > tr:first-child > td {
//  height: 48px;
//}

.DTFC_RightWrapper {
  height: 0px !important;
}

#logo img {
  height: 28px;
  padding-top: 0;
  margin-top: 8px;
  border-right: 1px dotted #c7c7c7;
  padding-right: 12px;
  width: auto;
}

#header{
  #logo {
    margin-top: 3px;
  }

  .navbar-nav li a:hover {
    color: #e06703;
    background: transparent;
  }

  a[title='User Guide']{
    padding: 0 6px;
    span{
      font-size: 11px;
      text-transform: uppercase;
      display: none;
    }
  } 
}

#main {
  margin-left: 0;
}

.show-stat-buttons{
  padding: 20px 0;
}

a.navbar-brand{
  background-image: url('img/brand-logo.png');
  background-repeat: no-repeat;
  background-position: 0px;
  min-width: 150px;
}

.navbar-header {
  float: left;
}

.team-navbar {
  min-height: 45px;
  margin-bottom: 0px;
  margin-right: 20px;
}


.jumbotron.t-jumbotron {






  height: 172px;
  padding: 15px;
  margin: 0;

  color: white;

  >.container {
    position: relative;
    padding: 0;
  }

  h1{
    position: absolute;
    right: 405px;
    left: 0px;
    font-family: 'GravurCondProRegRCone';
    font-size: 50px;
    line-height: 50px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
  }
}

.notificationMessage {
	z-index:2000;
    width:160px;
    height:auto;
    position:absolute;
    left:50%;
    margin-left:-100px;
    top:8.5px; 
    background-color: #f9f3a0;
    font-size: 14px;
    padding:5px;
    text-align:center;
    font-weight:700;
    border: 1px solid #B4B4B2;
    border-radius: 2px;
    -webkit-box-shadow: 0px 1px 7px 0px rgba(56, 56, 56, 0.31);
    -moz-box-shadow: 0px 1px 7px 0px rgba(56, 56, 56, 0.31);
    box-shadow: 0px 1px 7px 0px rgba(56, 56, 56, 0.31);
    span {
    color: #1553CF;
    }
    i {
    color: #2975ff;
    }
}

.filterButtons {
  position: absolute;
  right: 200px;
  width: 195px;
  top: 0;

  +.filterButtons {
    right: 0;
  }

  >button{
    position: relative;
    font-family: Arial, sans-serif;
    padding: 5px;
    font-size: 14px;
    line-height: 14px;
    height: 44px;
    text-align: left;
    padding: 15px 45px;

    .qc{
      position: absolute;
      left: 5px;
      top: 5px;
      font-size: 33px;
    }
  }

}

.statusCell{
  text-align: center;
  color: white;

  .qc{
    font-size: 27px;
  }
}

.status-bucket-total .statusCell{
  background-color: @totalColor !important;
}

.status-bucket-creating .statusCell{
  background-color: @creatingColor !important;
}

.status-bucket-sent .statusCell{
  background-color: @sentColor !important;
}

.status-bucket-needsAction .statusCell{
  background-color: @needsActionColor !important;
}

.status-bucket-signed .statusCell {
  background-color: @acceptedColor !important;
}

.status-bucket-accepted .statusCell{
  background-color: @acceptedColor !important;
}

.status-bucket-paid .statusCell {
  background-color: @acceptedColor !important;
}

.status-bucket-expired .statusCell{
  background-color: @expiredColor !important;
}

.status-bucket-template .statusCell{
  background-color: @templateColor !important;
}

#sparks.buckets
{
  margin-bottom: 0;
  li {
    padding: 10px;
    cursor: pointer;

    &:hover{
      background-color: #e7e7e7;
    }
    &.active{
      position: relative;
      background-color: #dddddd;
    }

    span{
      margin-top: 5px;
    }

    .totalSummary{
      display: inline-block!important;
    }
    &.active:before{
      display: block;
      position: absolute;
      content: "\f00c";
      color: #ffffff;
      right: 4px;
      top: 3px;
      font-family: FontAwesome;
      z-index: 2;
    }
    &.active:after{
      width: 0;
      height: 0;
      border-top: 35px solid #13b5ea;;
      border-left: 35px solid rgba(0, 0, 0, 0);
      position: absolute;
      display: block;
      right: 0;
      content: "";
      top: 0;
      z-index: 1;
    }
  }
}

.notificationCtr {
  position: absolute;
  color: #474544;
  font-size: 28px;
  right: 125px;
  top: 14px;

  span {
    position: absolute;
    right: 3px;
    top: 2px;
    width: 28px;
    color: #474544;
    text-align: center;
    font-size: 14px;
  }

  &.displayNotificationsAction{
    right: 90px;
    cursor: pointer;

    span#unreadNotifications {
      i{
        color: #f00;
        top: -3px;
        font-size: 23px;
        right: -2px;
        position: absolute;
      }
    }
  }
}

td.dataTables_empty {
  padding-left: 15rem !important;
}

.DTFC_RightBodyLiner {
  overflow: visible!important;
  overflow-y: inherit!important;
}

.DTFC_RightBodyWrapper{
  overflow: visible!important;
}

.DTFC_LeftBodyLiner{
  //overflow: hidden !important;
}

.scroll-fade-in {
  filter: blur(5px) grayscale(1);
  -webkit-filter: blur(5px) grayscale(1);
}

.proposalResizeBlur {
  position: absolute;
  //width:100% !important;
  z-index: 1049;
  background-color: #FFFFFF;
  opacity: 0.8;
}

.DTFC_LeftBodyLiner > table > tbody > tr {
  height:51px !important;
}

.dataTables_scrollBody > table > tbody > tr {
  height:51px !important;
}

.DTFC_RightBodyLiner > table > tbody > tr {
  height:51px !important;
}
.DTFC_RightBodyLiner > .table > thead > tr  {
  display: none !important;
}
.DTFC_RightBodyLiner > table > tbody > :first-child {
  height:52px !important;
}
.dataTables_scrollHeadInner > table > thead > tr {
  //height: 49px !important;
}

   
.container.contentContainer {
  width: 100%;
  padding: 0;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2); 
  footer{
    padding: 0 10px;
  }
  

  div[id*="_wrapper"]{

    padding: 0 10px;
    background-color: #fff;
    width: 100%;        
    margin: 0 auto;

    .navbar{
      margin: 0;

      input[type="search"]{
        background-color: white;
        background-repeat: no-repeat;
        background-position: 6px;
        display: inline-block;
        &:before {
          display: inline-block;
          content: '\f002';
          font-family: FontAwesome;
        }
      }
    }

    input.startDate,
    input.endDate,
    select[name="matchedProposals_length"],
    select[name="table-users_length"],
    select[name="table-teams_length"],
    select[name="table-roles_length"] {
      width: 65px;
      margin-left: 8px;
      margin-right: 8px;
	  border-radius: 4px !important;
    }
  }

  .table {
    font-size: 11.5px;
    td, th{
      border-right: none;
      border-left: none;
    }
    td {
      vertical-align: middle;
    }

    > thead{
      background-color: #F6F6F6 !important;
      th {
        font-size: 11.5px;
        background-color: #13b5ea !important;
        color: white !important;
		vertical-align: middle;
		padding-left: 12px;
        &.sorting {
          padding-right: 20px;
        }
      }      
    }

    > thead{
      tr.searchRow
      th {
        position: relative;
        height: 48px;
        background-color: #F6F6F6 !important;

        input,
        select {
          position: absolute;
          top: 9px;
          width: 96%;
          left: 2%;
        }
      }      
    }
    > tbody{
      background-color: #f6f6f6;
      > tr {
        width:100%;
      }
      >tr.even {
        background-color: white;
      }

      > tr:hover > td,
      > tr:hover > th {
        background-color: #dddddd;
        border-color: #f5f5f5;
      }
    }

    .notificationCtr {
      color: white;
      right: 8.5px;
      top: 0;
      float: right;
      position: relative;

      span {
        color: white;
      }
    }
  }

}

.rangeslider--horizontal {
  height:12px !important;
  .rangeslider__handle {
    top: -10px;
    width: 35px;
    height:35px;
  }
}

#forecastProposals {
  background-color: #f6f6f6;
}

.widthLimiter {
  min-width:200px;
}

table.dataTable tbody td {
  vertical-align: top;
}


.table > thead:first-child > tr:first-child > th {
  border-right:1px solid #dddddd;
}

.DTFC_LeftHeadWrapper > .table > thead:first-child > tr:first-child > th,
.DTFC_RightHeadWrapper > .table > thead:first-child > tr:first-child > th {
  background-color: white !important;
  button {
    width:28px;
    height:28px;
  }
}

.DTFC_RightHeadWrapper > table {
  border-bottom:0px !important;
  thead > tr > th {
    border-bottom:0px !important;
  }
}

.DTFC_LeftHeadWrapper > .table > thead:first-child > tr:first-child > th > button {
  left:-3px;
}

.DTFC_RightHeadWrapper > .table > thead:first-child > tr:first-child > th > button > i {
  font-size:13px;
}

.btn-qcloudicon{
  color: #ffffff;

  &:hover,
  &:focus,
  &:active,
  &.active{
    color: #ffffff;
    background-color: darken(#ffffff, 10%);
  }

  &.createProposalAction{
    color: #474544;
    padding: 17px 28px;
    font-size: 22px;
  }
  &.copyProposalAction{
    background-color: #a0a0a0;
    &:hover{
      background-color: darken(#a0a0a0, 10%);
    }
  }
  &.createProposalRevisionAction{
    background-color: #a0a0a0;
    &:hover{
      background-color: darken(#a0a0a0, 10%);
    }
  }
  &.viewRevisionAction,
  &.viewLogAction{
    background-color: #a0a0a0;
    &:hover{
      background-color: darken(#a0a0a0, 10%);
    }
  }
  &.addNoteAction{
    background-color: #a0a0a0;
    &:hover{
      background-color: darken(#a0a0a0, 10%);
    }
  }
  &.handoverProposalAction{
    background-color: #ed9c01;
    border-color: #ed9c01;
    &:hover{
      background-color: darken(#ed9c01, 10%);
    }
  }
  &.editProposalAction{
    background-color: #a0a0a0;
    &:hover{
      background-color: darken(#a0a0a0, 10%);
    }
  }
  &.viewProposalAction{
    background-color: #dad526;
    &:hover{
      background-color: darken(#dad526, 10%);
    }
  }
  &.downloadPDFAction{
    background-color: #9a4014;
    &:hover{
      background-color: darken(#9a4014, 10%);
    }
  }
  &.proposalDeleteAction{
    background-color: #e5082b;
    &:hover{
      background-color: darken(#e5082b, 10%);
    }
  }
  &.saveTemplateAction {
    background-color: #60AADA;
    &:hover{
      background-color: darken(#60AADA, 10%);
    }
  }
}

select#outcomeChanger {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  line-height:20px;
}

select#reasonChanger {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  line-height:20px;
}



#create-proposal-modal{

  #colorPicker{
    .selectedIndicator{
      opacity: 0;
      visibility: hidden;
    }
    .btn:hover .selectedIndicator{
      opacity: 0.5;
      visibility: visible;
    }
    .active .selectedIndicator{
      opacity: 1 !important;
      visibility: visible;
    }
    .btn{
      width:25%;
    }
  }

  .pager{
    text-align: right;
    > li > a {
      margin-left: 4px; 
      padding: 4px 14px;
      border-radius: 2px;
    }
  }

  .templates-list{
    input[type=radio]{
      display:none;
    }
  }

  #coverPicker{
    height: 120px;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;

    .coverPageOption{
      position:relative;
      cursor: pointer;
      margin: 0;

      .coverpageImage {
        max-height:96px;
      }

      > i {
        display: none;
        position: absolute;
        left:10px;
        right:10px;
        top: 56px;
        text-align:center;
        font-size: 30px;
        color: #007AFF;
        text-shadow: -2px 0 2px #F5F5F5, 0 2px 2px #F5F5F5, 2px 0 2px #F5F5F5, 0 -2px 2px #F5F5F5;
        height: 40px;
        line-height: 40px;
      }

      &:hover > i {
        display: block;
        opacity: 0.5;
      }

      &.active > i{
        display: block;
        opacity: 0.9;
      }

      .topBox,
      .bottomBox{
        position: absolute;
        left: 4%;
        width: 80%;
        color: white;
      }

      .topBox{
        height: 15%;
        top: 60%;
        font-size: 9px;
        padding: 1px 3px;
      }

      .bottomBox{
        height: 20%;
        top: 78%;
        font-size: 7px;
        padding: 5px 3px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }

  .bootstrapWizard li.complete .step {
    padding: 3px 7px 4px;
    top: -5px;
  }

  .bootstrapWizard li .step {
    display: inline-block;
    padding: 8px 13px;
    border-radius: 100%;
    top: -10px;
  }

  .bootstrapWizard li.active.complete .step {
    padding: 8px 13px;
  }

  .form-bootstrapWizard {
    .three-steps li{
      width: 33%;
    }
    .four-steps li{
      width: 25%;
    }
  }

  .easy-autocomplete-container{
    z-index : 3;
  }
}

.versionNav {
  margin-bottom: 0px !important;
}

.versionNav-form {
  padding-left:0;
}

#proposal-management,
#proposal-notes {
  .modal-header {
    height: initial;
  }

  .company-title, .proposal-title{
    text-align: center;
  }
  .proposal-title{
    font-size: 90%;
  }

  .consultant{
    background: #41b84a;
  }

  .customer{
    background: #13b5ea;
  }

  .system{
    background: #a9a9a9;
  }

  h3{
    margin-top:0;
    margin-bottom: 10px;
  }

  h4{
    color: white;
    background: #818181;
    text-align: center;
    padding: 10px;
  }

  .managementButtons{
    text-align: center;
    right: 0;
    top: 0;
    margin-bottom: 15px;
  }

  .t-summaryTable{
    td, th{
      border-top:none;
      vertical-align: middle;
      height: 40px
    }

    th {
      font-weight: bold;
    }

    .has-error {
      color: #a94442;
      select {
        border-color: #a94442;
      }
    }

    .has-success {
      color: #3c763d;
      select {
        border-color: #3c763d;
      }
    }
  }

  .input-sm{
    padding: 5px;
  }

  select.input-sm{
    padding: 5px 10px 5px 5px;
  }

  .fixedHeaderTable {
    tr:not(.success) .fa.fa-check {
      display:none;
    }

    tr.success > td:first-child > i.fa:not(:first-child) {
      display: none;
    }

    thead th{
      color: white;
      font-weight: 500;
      background-color: #818181 !important;
    }
  }

  .tblButtons{
    padding: 10px;
  }

  .historyFilters{
    padding-right: 165px;
    margin-top: 5px;

    > span {
      padding: 0px 5px;
      margin: 0 10px;
      cursor: pointer;
      display: inline-block;
      text-align: center;
      &.uncheck{
        opacity: 0.3;
      }
    }

    label {
      margin: 1px 19px 1px 0px;
      position: relative;
      top: 2px;
      padding-left: 3px;
      cursor: pointer;
    }

    .hover {
      color: #d54e21;
    }
  }

  #historyViewer{
    margin-top: 20px;
    word-wrap: break-word;  
  }
}

#proposal-notes{
  .smart-timeline-list{
    max-height: 300px;
    overflow: auto;

    li{
      cursor: pointer;
      &.open{
        background-color: rgba(0,0,0,0.2);
        font-weight: bold;
        p.content{
          transition: all 0.5s ease;
          opacity: 1;
          height: initial;
          margin-bottom: 10px;
        }
      }
      p.content{
        transition: all 0.5s ease;
        opacity: 0;
        height: 0;
        margin-bottom: 0;
      }
      &.unread{
        font-weight: bold;
        color: #4C4C4C;
      }
      &:hover{
        background-color: rgba(0,0,0,0.1);
      }
    }
  }
}

#profile-management{
  #profile-signature{
    min-height:170px;
    color:white;
  }
} 

#notification-management-modal{
  .modal-body label{
    font-weight:normal;
  }
} 

#settings-management {
  .email-template-content p {
    margin: 0 0 10px;
  }
}

#sparks li h5 {
  margin: 0;
}

.light-color {
  color: white;
}

#comment-feed-modal {
  .modal-body {
    max-height: 450px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}
#timeline {
  position: relative;
  margin-top: 2em;
  margin-bottom: 2em;
  color: #474544;
}
#timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
  margin-left: -2px;
}
.timeline-block {
  position: relative;
  margin: 2em 0;
  margin-bottom: 4em;
  .timeline-content:nth-child(odd) {
    float: right;
    left: 300px;
    .read-more {
      float: right;
    }
    .date {
      left: auto;
      right: 122%;
    }
  }
  .timeline-content:nth-child(odd)::before {
    top: 10px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
}
.timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.icon-container {
  i {
    margin-top: 6px;
    margin-left: 3px;
    color: #e4e4e4;
  }
}
.timeline-icon {
  position: absolute;
  top: 0;
  width: 60px;
  height: 60px;
  left: 50%;
  margin-left: -30px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  opacity: 0;
}
.timeline-icon.notification {
  background: #75ce66;
}
.timeline-icon.alert {
  background: #c03b44;
}
.timeline-icon.location {
  background: #f0ca45;
}
.timeline-content {
  position: relative;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed;
  opacity: 0;
  left: -300px;
  float: left;
  width: 43%;
  h1 {
    margin: 0;
  }
  h2 {
    color: #303e49;
    font-size: 20px;
    font-size: 1.25rem;
    margin: 0;
  }
  h3 {
    margin: 0;
  }
  p {
    margin: 1em 0;
    line-height: 1.6;
    font-size: 14px;
    font-size: 1.3rem;
  }
  .read-more {
    float: right;
    padding: .8em 1em;
    background: #acb7c0;
    color: white;
    border-radius: 0.25em;
    float: left;
  }
  .date {
    float: left;
    padding: .8em 0;
    opacity: .7;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
}
.timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.timeline-content .read-more, .timeline-content .date {
  display: inline-block;
  font-size: 14px;
  font-size: 0.875rem;
}
.timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
  top: 24px;
  left: 100%;
  border-color: transparent;
  border-left-color: white;
}
.modal-body.smart-form {
  header {
    background: none;
    padding: 0;
  }
  .select {
    .icon-prepend + select {
      padding-left: 37px;
    }	
  }
  .row {
    padding: 25px 15px;
  }
}
#edit-styles {
  .h3{
    text-align: center;
  }
  .qc.qc-hashtag {
    font-size: 20px;
  }
  .btn {
    padding: 6px 12px;
  }

  #edit-palette{
    text-align: center;
    section {
      padding: 0 0;
    }
  }

  #nav-tab-style {
    .tabDefault {
      width: 250px;
      list-style: none;
      margin-top: 10px;
      li {
        min-height: 56px;
        border: 1px solid #DDDDDD;
        margin-bottom: 1px;
        a {
          width: 169px;
          background-color: #F9F9F9;
          border-color: #DDDDDD;
          border-radius: 0 0 0 0 !important;
          border-width: 0;
          border-left-width: 6px;
          border-style: solid;
          color: #999999;
          line-height: 16px;
          margin-right: -1px;
          position: absolute;
          &:hover {
            color: #FFFFFF;
          }
        }
        &.active {
          span {
            opacity: 1;
          }
          a {
            color: #4C7EF7;
            background-color: #FFFFFF;
            border-color: #4c7ef7;
            &:hover {
              color: #FFFFFF;
              background-color:#4c7ef7;
              span {
                opacity: 0.3;
              }
            }

          }
        }
      }
      a {
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 20px;
        padding-left: 53px;
        font-size: 14px;
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        -ms-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
        &:hover {
          background-color: #4C7EF7;
          span {
            font-size: 120px;
            opacity: 0.3;
            letter-spacing: -15px;
            -webkit-transform: rotate(25deg);
            -moz-transform: rotate(25deg);
            -ms-transform: rotate(25deg);
            transform: rotate(25deg);
          }
        }
      }
      span {
        position: absolute;
        font-size: 31px;
        font-weight: bold;
        left: 10px;
        letter-spacing: -3px;
        opacity: 0.3;
        width: 30px;
        text-align: center;
        -webkit-transition: all 300ms linear;
        -moz-transition: all 300ms linear;
        -o-transition: all 300ms linear;
        -ms-transition: all 300ms linear;
        transition: all 300ms linear;
      }
    }

    .tabStyle1 {
      width: 250px;
      list-style: none;
      margin-top: 10px;
      li {
        min-height: 56px;
        border: 1px solid #DDDDDD;
        margin-bottom: 1px;
        a {
          width: 169px;
          background-color: #F9F9F9;
          border-color: #DDDDDD;
          border-radius: 0 0 0 0 !important;
          border-width: 0;
          border-left-width: 6px;
          border-style: solid;
          color: #999999;
          line-height: 16px;
          margin-right: -1px;
          position: absolute;
          &:before,
          &:after {
            width: 100%;
            height: 100%;
            z-index: 3;
            content: '';
            position: absolute;
            top: 0;
            left: -6px;
            box-sizing: border-box;

            -webkit-transform: scaleY(0);
            -ms-transform:scaleY(0);
            -moz-transform:scaleY(0);
            -o-transform:scaleY(0);
            transform: scaleY(0);

            -webkit-transition: 0.5s;
            -ms-transition: 0.5s;
            -moz-transition: 0.5s;
            -o-transition: 0.5s;
            transition: 0.5s;
          }
          &:before {
            border-left: 6px solid #4C7EF7;

            -webkit-transform-origin: 0% 50%;
            -ms-transform-origin: 0% 50%;
            -moz-transform-origin: 0% 50%;
            -o-transform-origin: 0% 50%;
            transform-origin: 0% 50%;

            -webkit-transition: 0.5s ease-in-out;
            -ms-transition: 0.5s ease-in-out;
            -moz-transition: 0.5s ease-in-out;
            -o-transition: 0.5s ease-in-out;
            transition: 0.5s ease-in-out;
          }

          &:hover::after,
          &:hover::before {
            transform: scaleY(1);
            -webkit-transform: scaleY(1);
            -ms-webkit-transform: scaleY(1); 
          }
        }
        &.active {
          a {
            color: #4c7ef7;
            background-color: #FFFFFF;
            border-color: #4c7ef7;
            &:hover {
              color: #FFFFFF;
              background-color: #4c7ef7;
            }
            span {
              opacity: 1; 
            }
          }
        }
      }
      a {
        cursor: pointer;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 20px;
        padding-left: 53px;
        font-size: 14px;
      }
      span {
        position: absolute;
        font-size: 31px;
        font-weight: bold;
        left: 10px;
        letter-spacing: -3px;
        opacity: 0.3;
        width: 30px;
        text-align: center;
      }
    }
  }

  #edit-table-style{
    .editorArea {
      margin-top: 5px; 
    }

    .tableStyle{
      td {
        border-bottom: 1px solid #c3c3c3;
      }
    }


    table  {
      background: #fff;
      height: 170px;
      td {
        padding:6px 7px;
      }
      .titleRow {
        text-transform: uppercase;
      }   
    }

    img{
      max-width: 100%;
    }
  }

  .round-replacer {
    border: none;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    transition: all .2s ease-out;

    &:hover {
      box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    }
    .sp-preview {
      width: 100%;
      display: none;
    }
  }

  .round-replacer-small {
    border: none;
    border-radius: 100%;
    width: 26px;
    height: 26px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    transition: all .2s ease-out;

    &:hover {
      box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    }
    .sp-preview {
      width: 100%;
      display: none;
    }
    &.margin{
      margin-left: 22px;
    }
  }

  .sp-preview {
    border: none;
  }

  .logo-selector{
    margin: auto;
    display: block;
    text-align: center;
    width: 50%;
  }

  .background-selector {
    width: 100px;
    margin: auto;
  }

  .switchery{
    margin-left: 5px;
  }

  .tab-content-disabled {
    opacity: 0.6;
    pointer-events: none;
  }
}

#contentSettings {
  .padding-wrapper {
    input.form-control {
      width: 50px;
    }
  }
  .padding-flex-top, .padding-flex-bottom, .padding-flex-middle {
    display: flex;
    justify-content: center;
  }
  .padding-flex-middle {
    margin: 10px 0;
    align-items: center;
  }
  .demo-area {
    margin: 0px 10px;
  }
  .padding-box {
    width: 200px;
    height: 100px;
    background: #FFF;
    line-height: 100px;
    border: 1px solid #000;
    text-align: center;
  }
  .padding-demo {
    background: #0F0;
  }
}

#edit-styles,#custom-fields {
  input.form-control, select.form-control {
    width: 100%;
    padding-left: 10px;
    box-sizing: border-box;
    &:focus{
      color: #000;
    }
  }
  .modal-body{
    .f-group{
      .row{
        padding: 5px;
        &.heading{
          padding-bottom: 0;
        }
      }
      .f-label{
        height: 34px;
        text-align: right;
        span{
          margin-right: 10px;
          padding: 7px 0;
          display: block;
        }
      }
      .f-field{
        padding-right: 10px;
        input[type="checkbox"]{
          height: 34px;
          margin: 0;
        }
      }
    }
  }
}

#custom-fields{
  .custom-values-group{
    margin-left: 54px;
    div.tagsinput input{
      min-width: 120px;
    }
  }
}

#matchedProposals_wrapper {
  ul.pagination > li > a{
    padding-left: 2px;
    padding-right: 2px;
    min-width: 34px;
    text-align: center;
  } 
}

#dateRangePicker .between {
  min-width: 190px;
  margin-right: 10px;
}

.search-box {
  border: 1px solid #ccc;
  float: right;
  width: 200px;
}

.search-label {
  float: right;
  margin-left: 5px;
  margin-top: 10px
}

.search-icon {
  position: relative;
  left: -30px;
  top: -3px;
  color: black;
}

#template-management {
  table {
    table-layout: fixed;
  }
  .template-items {
    width: 70%;
    span {
      word-wrap: break-word;
    }
    .messages-item-subject {
      font-style: italic;
    }
  }
  .template-actions {
    vertical-align: middle;
    text-align: right;
    width: 30%;
  }
  .templateDeleteAction {
    background-color: #e5082b;
    &:hover{
      background-color: darken(#e5082b, 10%);
    }
  }
}

#cover-page-management-modal, #jCropModal{
  top: 5px;
  margin-top: 0 !important;
}

#jCropModal{
  background: #fff;
  #JcropPhotoFrame{
    max-width: 100%;
  }
  .modal-body{
    max-height: 100%;
  }
}

.orient-check {
	display: inline-block;
    vertical-align: middle;
    
    #landscapeMode:checked + .switchery:before {
	    content: "Landscape";
	    left: 9px;
	}
	.switchery {
		width: 100px;
		&:before {
		    content: "Portrait";
		    left: 34px;
		    position: absolute;
		}
	}
}

#coverpage-management{
  .file-preview {
    border-radius: 0;
    border: none;
    padding: 0;
    .file-preview-frame{
      padding: 0;
      margin: 0;
      border: none;
      box-shadow: none;
      &:hover {
        box-shadow: none;
      }
    }
  }

  .jcrop-holder >*:first-child .jcrop-tracker {
    background-image: url("/application/css/img/coverpageMask.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

#coverpage-management {
  #coverPicker{
    .image-wrapper {
      width: 150px;
      height: 212px;
      float: left;
      position: relative;
      margin: 3.5px;
      > img{
        display: block;
        margin: auto;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
      .overlay{         
        -webkit-transition: background-color 0.3s ease;
        -ms-transition: background-color 0.3s ease;
        transition: background-color 0.3s ease;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        > a{
          -webkit-transition: opacity 0.3s ease;
          -ms-transition: opacity 0.3s ease;
          transition: opacity 0.3s ease;
          position: absolute;
          top: 0;
          right: 0;
          opacity: 0;
          color: #000;
          padding: 5px 9px;
        }
      }
      &:hover{
        .overlay{
          background-color: rgba(255, 255, 255, 0.5);          
          -webkit-transition: background-color 1s ease;
          -ms-transition: background-color 1s ease;
          transition: background-color 1s ease;
          > a{
            -webkit-transition: opacity 1s ease;
            -ms-transition: opacity 1s ease;
            transition: opacity 1s ease;
            opacity: 1;
          }
        }
      }
    }
  }
  .coverpage-actions {
    vertical-align: middle;
    .coverpageDeleteAction {
      background-color: #e5082b;
      float: right;
    }
  }
}

.flashes i{
  color: @needsActionColor;
  -webkit-animation: flashes 0.5s ease-in-out infinite alternate;
  -moz-animation: flashes 0.5s ease-in-out infinite alternate;
  animation: flashes 0.5s ease-in-out infinite alternate;
}

@-webkit-keyframes flashes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes flashes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes flashes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

table#forecastProposals {
  select.forecastMonthDropdown {
    display: block;
  }
}

#ribbon{
  margin-bottom: 30px;
}

.rowBuckets {
  margin: 0;
  > div[class*="col-"]{
    margin-bottom: 30px;
  }
}

.displayCommentsFeedAction{
  cursor: pointer;
  cursor: hand;
}

.dashboard-action-button{
  width: 80px;
}

.rangeslider__fill{
  background-color: #13b5ea;
}

#columns-list{
  position: relative;
  .daterangepicker .ranges li:hover{
    background: #015179;
  }
}


/*
 * TOP BAR MENU DROPDOWN
 */

 

/*
* NOTIFICATIONS DROPDOWN
*/

.todo > li > :first-child:hover {
  cursor: inherit;
}

.todo > li {
  background: none;
  border-bottom: 1px solid #efefef;
  cursor: pointer;
}

.todo > li > :first-child {
  border-right: 1px solid #d3f1fb;
  padding: 0px 14px 0px 15px;
}

.todo > li > p {
  min-height: 1px;
  border-left: 1px solid #d3f1fb;
  padding: 10px 0px 6px 7px;
}

.ajax-dropdown {
  position: absolute;
  display: none;
  z-index: 905;
  background: white;
  top: 48px;
  left: 30px;
  width: 348px;
  height: 300px;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-box-shadow: 0 2px 4px rgba(30, 30, 100, 0.25);
  -moz-box-shadow: 0 2px 4px rgba(30, 30, 100, 0.25);
  box-shadow: 0 2px 4px rgba(30, 30, 100, 0.25);
  padding: 0px;
  background: #474544;
  border: 1px solid #b3b3b3;

  .content{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 30px;
    overflow-y: scroll;
    background: white;
  }
  & >  :last-child {
    color: #E4E4E4;
    position: absolute;
    bottom: 4px;
    right: 4px;
    left: 4px;
  }
  &:after,
  &:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after{
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 7px;
    left: 50%;
    margin-left: -7px;
  }

  &:before {
    border-color: rgba(131, 131, 131, 0);
    border-bottom-color: #838383;
    border-width: 8px;
    left: 50%;
    margin-left: -8px;
  }

  & span.handle {

    padding: 15px 14px 0 15px;

    .red{
      color:#a90329;
    }
    .light-blue{
      color: #13b5ea;
    }
    .green{
      color:#0eb90e;
    }


    .bg-color-lightGrey{
      background-color: #f3f3f3 !important;
    } 

  }

  p.notification-time {
    font-size: 10px;
    color: #bbbbbb;
  }
}

.form-edit-role{
  label{
    display: inline;
    margin-left: 5px;
  }
}

.tab-content {
  background-color: #fff;
  border: 1px solid #DDDDDD;
  padding: 16px 12px;
  position: relative;
}

.nav-tabs {
  border-bottom: none;  
}

.nav-tabs>li>a:hover {
  background-color: #fff;
  border-color: #ddd;
  color: #4c8fbd;
}

.nav-tabs>li>a, .nav-tabs>li>a:focus {
  background-color: #f9f9f9;
  border-color: #ddd;
  border-radius: 0 0 0 0 !important;
  color: #999;
  line-height: 16px;
  margin-right: -1px;
  position: relative;
}

@media screen and (min-width: 1065px) {
  #header{
    a[title='User Guide']{
      span{
        display: inline-block;
      }
    } 
  }
}

.padding-style {
	margin: 10px !important;
	background: #f6f6f6;
}
span.unit-px {
	position: relative;
	&:not(:focus-within):not(:hover):before {
	    content: "px";
	    position: absolute;
	    right: 5px;
	    top: 6px;
    }
}

/* Multiselect
----------------------------------*/

.ui-multiselect { border: solid 1px #dddddd; font-size: 0.8em; }
.ui-multiselect ul { -moz-user-select: none; }
.ui-multiselect li { margin: 0; padding: 0; cursor: default; line-height: 20px; height: 20px; font-size: 11px; list-style: none; }
.ui-multiselect li a { color: #999; text-decoration: none; padding: 0; display: block; float: left; cursor: pointer;}
.ui-multiselect li.ui-draggable-dragging { padding-left: 10px; }

.ui-multiselect div.selected { position: relative; padding: 0; margin: 0; border: 0; float:left; }
.ui-multiselect ul.selected { position: relative; padding: 0; overflow: auto; overflow-x: hidden; margin: 0; list-style: none; border: 0; position: relative; width: 100%; }
.ui-multiselect ul.selected li { }

.ui-multiselect div.available { position: relative; padding: 0; margin: 0; border: 0; float:left; border-left: 1px solid #C0C0C0; }
.ui-multiselect ul.available { position: relative; padding: 0; overflow: auto; overflow-x: hidden; margin: 0; list-style: none; border: 0; width: 100%; }
.ui-multiselect ul.available li { padding-left: 10px; }
 
.ui-multiselect .ui-state-default { border: none; margin-bottom: 1px; position: relative; padding-left: 20px;}
.ui-multiselect .ui-state-hover { border: none; }
.ui-multiselect .ui-widget-header {border: none; font-size: 11px; margin-bottom: 1px; background:rgba(0,115,170,0.7); color:#fff;}
 
.ui-multiselect .add-all { float: right; padding: 7px;}
.ui-multiselect .remove-all { float: right; padding: 7px;}
.ui-multiselect .search { float: left; padding: 4px;}
.ui-multiselect .count { float: left; padding: 7px;}

.ui-multiselect li span.ui-icon-arrowthick-2-n-s { position: absolute; left: 2px; }
.ui-multiselect li a.action { position: absolute; right: 2px; top: 2px; }
 
.ui-multiselect input.search { height: 21px; padding: 1px; opacity: 0.5; margin: 4px; width: 100px; }


/* TABLE STYLES */
@import  "../css-document/tables.less";


//froala editor
@import "froalaEditor.less"; 