body {
  overflow: hidden;
  .panel {
    .viewable {
      .panel-body {
        font-size: 13px !important;
        font-family:Arial,sans-serif !important;
      }
    }
  }
  .panel.editable {
    .panel-body {
      font-size: 13px !important;
      font-family:Arial,sans-serif !important;
    }
  }

  &.minified {
    .manage-content-library-btn {
      display: none;
    }
    .documentLibrarySearch input{
      visibility: hidden;
    }
  }
}

.editorContent .form-horizontal .form-group {
  margin-right:0;
}


.flightTimeHeading {
  width:4% !important;
}

.flightTimeValue {
  width:3% !important;
}



@-webkit-keyframes pulse1 {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 255, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 255,0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,255,0);
  }
}

@keyframes pulse1 {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(0,0,255,0.4);
    box-shadow: 0 0 0 0 rgba(0,0,255,0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(0,0,255,0);
    box-shadow: 0 0 0 10px rgba(0,0,255,0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(0,0,255,0);
    box-shadow: 0 0 0 0 rgba(0,0,255,0);
  }
}

.pulse-droppable-help {
  -webkit-animation: pulse1 1.5s infinite;
  -o-animation: pulse1 1.5s infinite;
  animation: pulse1 1.5s infinite;
}


a#endTutorial {
  right: 30px;
  top: 14px;
  position: absolute;
  font-size: 18px;
  color: white;
  border: 2px solid #fff;
  padding:5px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.introjs-fixParent .animated {
  -webkit-animation: none !important;
  -o-animation: none !important;
  animation: none !important;
}

span.fancytree-title {
  font-size:11px !important;
  left:31px !important;
}

.fancytree-static-anchor {
  display: block;
  overflow: hidden;
  background: #ffffff;
  color: #ffffff;
  position: relative;
  padding: 0;
  cursor: pointer;
  height: 126px;
  margin: 2.5px 0;
}

.fancytree-static-image-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: inherit;
  border: 2px solid rgba(0,0,0,0.25);
  border-style: none solid solid solid;
}

.fancytree-static-image-item img {
  display: none;
}

#header{
  display: block;
  height: 49px;
  margin: 0 !important;
  padding: 0 13px 0 0 !important;
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(top, #f3f3f3, #e2e2e2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f3f3f3), to(#e2e2e2));
  background-image: -webkit-linear-gradient(top, #f3f3f3, #e2e2e2);
  background-image: -o-linear-gradient(top, #f3f3f3, #e2e2e2);
  background-image: linear-gradient(to bottom, #f3f3f3, #e2e2e2);
  background-repeat: repeat-x;
  position: fixed;
  width: 100%;
  z-index: 905;
  top: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: -11px 12px 23px rgba(0, 0, 0, 0.1);
  #logo-group {
    #logo {
      margin-top: 3px;
      img {
        height: 28px;
        padding-top: 0;
        margin-top: 8px;
        border-right: 1px dotted #c7c7c7;
        padding-right: 12px;
        width: auto;
      }
    }
    width: initial;
  }
  .btn{
    margin-top: 6px;
    box-shadow: none;
  }
  h3{
    margin-left: 64px;
    margin-top: 10px;
    .header-company{
      font-size: 25px;
    }
  }
}

.fr-wrapper {
  box-shadow: none !important;
}

.lazytree ul{
  display: block;
}

.footer {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
}

.editorContent {
  background-color: #FFFFFF;
  bottom: 0;
  left: 156px;
  margin: -7px 0px -7px -1px !important;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  transition: all 0.3s ease 0s !important;
  z-index: 1;
  .panel-body {
    background-color: #fff;
    position: relative;
  }
}
/* Clip one does some fancy yoga with iCheckbox... undo it */
div[dataid="con-plans"] [class^="icheckbox_"],
div[dataid="con-plans"] [class*="icheckbox_"],
div[dataid="con-plans"] [class^="iradio_"],
div[dataid="con-plans"] [class*="iradio_"] {
  margin: 0!important;
}

/* sidebar */
#sidebar {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…BoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(right,#3a3633 93%,#2a2725 100%);
  background: -webkit-gradient(linear,right top,left top,color-stop(93%,#3a3633),color-stop(100%,#2a2725));
  background: -webkit-linear-gradient(right,#3a3633 93%,#2a2725 100%);
  background: -o-linear-gradient(v,#3a3633 93%,#2a2725 100%);
  background: -ms-linear-gradient(right,#3a3633 93%,#2a2725 100%);
  background: linear-gradient(to left, #3a3633 93%, #2a2725 100%); // min-height: 100%;
  // background: none repeat scroll 0 0 #F6F6F6;
  bottom: 0;
  position: absolute;
  right: 0;
  left: initial !important;
  top: 50px;
  width: 280px;
  z-index: 99;
  padding: 0 0 20px 0;
  transition: width 200ms ease;
}

@media (max-width:1024px){
  #sidebar {
    width: 277px;
  }
}

#sidebar .form-group {
  padding: 0 20px;
}
#sidebar .button-container {
  padding: 10px 20px;
}
#sidebar .anchored-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}
#sidebar .button-container button {
  text-transform: uppercase;
}
#sidebar .title{
  opacity: 1;
  transition: opacity 200ms ease;
}

#doc-cover{
  #colorPicker{
    .selectedIndicator{
      opacity: 0;
      visibility: hidden;
    }
    .btn:hover .selectedIndicator{
      opacity: 0.5;
      visibility: visible;
    }
    .active .selectedIndicator{
      opacity: 1 !important;
      visibility: visible;
    }
    .btn{
      width:25%;
    }
  }

  #coverPicker{
    height: 100%;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;

    .coverPageOption{
      position:relative;
      cursor: pointer;
      margin: 0;

      > i {
        display: none;
        position: absolute;
        left:10px;
        right:10px;
        top: 56px;
        text-align:center;
        font-size: 30px;
        color: #007AFF;
        text-shadow: -2px 0 2px #F5F5F5, 0 2px 2px #F5F5F5, 2px 0 2px #F5F5F5, 0 -2px 2px #F5F5F5;
        height: 40px;
        line-height: 40px;
      }

      &:hover > i {
        display: block;
        opacity: 0.5;
      }

      &.active > i{
        display: block;
        opacity: 0.9;
      }

      .topBox,
      .bottomBox{
        position: absolute;
        left: 4%;
        width: 80%;
        color: white;
      }

      .topBox{
        height: 15%;
        top: 60%;
        font-size: 9px;
        padding: 1px 3px;
      }

      .bottomBox{
        height: 20%;
        top: 78%;
        font-size: 7px;
        padding: 5px 3px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }

  #displayOrderButton{
    margin-top: 8px;
  }
}

.sectionTitle {
  border: medium none !important;
  font-size: 30px !important;
  font-weight: 500 !important;
  width: 100%;

  margin-bottom: 10px;
  margin-top: 20px;
}

.pageBreakSection {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-30%);
  .pageBreakSection-label {
    margin-right: 5px;
  }
}

.noTitleSection {
  position: absolute;
  top: 60%;
  left: 10px;
  transform: translateY(-30%);
  .hideTitleLabel {
    top: 5px;
    right: 30px;
    width: 60px;
    display: inline-block;
    position: absolute;
  }
  p {
    text-align: center;
    font-size: 10px;
    padding-top: 3px;
  }
}

.pulse-button {
  width:150px;
  height: 34px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-top: 5px;
  margin-right: 10px;
  box-shadow: 0 0 0 0 rgba(204,204,204,0.7);
  background-size:cover;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
.pulse-button:hover
{
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 35px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 35px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 35px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 35px rgba(232, 76, 61, 0);}}

.switchery > span.hideLabel {
  margin-left: 10px;
  line-height: 21px;
  font-family: tahoma;
  color: white;
  font-family: Arial,sans-serif;
}

.switchery > span {
  margin-left: 23px;
  line-height: 21px;
  font-family: tahoma;
  color: black;
  font-family: Arial,sans-serif;
}

.pageBreakPanel {
  display: inline-block;
  .pageBreakPanel-label {
    margin-right: 5px;
  }
}

.main-container,
.main-content {
  background: url(../images/mybg.png) #fff;
}

.main-content {
  bottom: 0;
  left: 0;
  margin: 0;
  position: absolute;
  right: 280px;
  top: 50px;
  transition: right 200ms ease;
}
@media (max-width:1024px) {
  .main-content {
    right: 277px;
  }
}

.planFeatures h4 {
  min-height: 19px;
}
.originalTemplate {
  display: none;
}

.panel {
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;

  &[type="image"] img {
    margin-right: 10px;
    float: left;
  }
}

.panel-heading {
  background-image: none;
  border: 1px solid #CDCDCD;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 38px
}

.main-content > .panel {
  margin: 5px;
  margin-right:0px;
  & > .panel-body{
    padding: 5px;
  }
}

.tabbable {
  overflow: hidden;
  width: 150px;
  transition: all 0.3s ease 0s !important;
}

.tabs-left > .nav-tabs {
  top: 0;
  left: 2px;
}
.nav-tabs > li.active > a {
  margin-top: 0px !important;
}

.invisible-template {
  display: none !important;
}

.unitCostSelector {
  display: table-cell;
  width: 90px;
  margin-left: 5px;
}
.taxSelector {
  display: table-cell;
  width: 50px;
}
.additionSelector {
  display: table-cell;
  width: 90px;
}
/* Style document tags */
.tab-pane:not(#doc-cover) .documentTag{
  font-weight: bold;
}
.add-new-tab {
  margin-top: 15px;
  width: 150px;
}

.collapse-side {
  margin-top: 30px;
  float: right;
  font-size: 16px;
  &:hover {
    width: 60px;
  }
}

.main-container.no-transition{
  .main-content{
    transition: none;
  }
  #doc-pricing .button-container.libraryActions{
    transition: none;
  }
  #sidebar{
    transition:none;
  }
}

body.minified{
  .main-content{
    right: 45px !important;
    transition: right 200ms ease;
  }
  #doc-pricing .button-container.libraryActions {
    right: 75px !important;
    transition: right 200ms ease;
  }
  #sidebar{
    width: 45px!important;
    transition: width 200ms ease;
    nav ul a {
      padding: 15px 13px 0;
      .title{
        opacity: 0;
        transition: opacity 200ms ease;
      }
    }
  }
  .minifyme .fa:before {
    content: "\f0a8";
  }
  .minifyme .fa.question:before {
    content: "\f128";
  }
}

.minifyme {
  border-bottom: 1px solid #302F2F;
  background: #454545;
  color: #A8A8A8;
  text-align: center;
  padding: 0;
  width: 36px;
  height: 28px;
  display: block;
  position: absolute;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
  margin-top: 7px;
  font-size: 19px;
  transition: all 0.1s linear 0s;
  left: 0px;
  bottom: 0;
  margin-bottom: 12px;
}

.table thead tr{
  background-image: none;
}

#pricingTable{
  .sorted{
    background: #ddd;
  }
  th.sorted[order] span.sort:after {
    font-family: FontAwesome;
    float: right;
  }
  th.sorted[order='1'] span.sort:after {
    content: "\f160";
  }
  th.sorted[order='-1'] span.sort:after {
    content: "\f161";
  }
  .summarise {
    .summarise-label {
      vertical-align: middle;
    }
    .switchery {
      vertical-align: middle;
    }
  }
}

tbody.customPricingRows .ui-state-highlight {
  height: 50px;
}

tbody.customPricingRows tr td {
  .noteDescription{
    display: none;
    width: ~"calc(100% - 16px)";
    background: #fff;
    margin-top: 5px;
    margin-left: 15px;
    padding: 6px 12px;
    //font-style: italic;
    font-size: 13px;
    &.active{
      display: inline-block;
    }
  }

  .noteDescription,
  .rowDescription {
    resize: none;
    overflow: hidden;
    height: auto;
  }
  .noteDescription {
    padding: 0;
  }

  .rowDescription {
    padding: 6px;
  }

  .resizableTextArea  {
    resize: none;
    overflow: hidden;
    padding: 6px;
    height: 34px;
  }

  .title-wrapper {
    position: relative;
    .summarise {
      position: absolute;
      line-height: 38px;
      right: 10px;
    }
  }

  .summaryAmount {
    display: inline-block;
    padding-left: 10px;
    visibility: hidden;
    opacity: 0;
    float: right;
    font-family: 'Open Sans';
    font-size: 14px;
    padding-right: 20px;
    -webkit-transition: all 0.8s cubic-bezier(0, 1, 1, 1);
    -o-transition: all 0.8s cubic-bezier(0, 1, 1, 1);
    transition: all 0.8s cubic-bezier(0, 1, 1, 1);
    &.active {
      visibility: visible;
      opacity: 1;
    }
  }
}

span.input-icon {
  border:1px dashed #ddd;
  margin-bottom: 8px;
}

tbody#stdPricingRows,
tbody.customPricingRows {
  .form-control{
    // min-height: 34px;
    // height: initial;
    font-size: 12px;
  }
  tr.focus td {
    background: #DEDEDE;
  }
  tr td {
    vertical-align: middle !important;
  }
  td.handle-cell{
    min-width: 25px;
    padding: 0;
  }
  span{
    &.sortable-handle,
    &.section-sortable-handle {
      padding: 17px 10px;
      cursor: ns-resize;
    }
  }
}

tbody .ui-sortable-helper {
  opacity: 0.5;
}

#documentSectionBrowser{

  .ui-state-highlight {
    height: 45px;
  }

  a{
    margin: 0 -1px 0 1px;
    box-shadow: none;
    div.tab-label{
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  > li {
    width: 150px;
    transition: all 0.3s ease 0s !important;
    &.active {
      z-index: 0;
      a{
        border-left: 2px solid #000 !important;
        padding-right: 22px;
        margin-right: 0px;
      }
      .tab-disable,
      .tab-close {
        display: inline-block;
      }
    }
    &.notenabled{
      a {
        background: #d8d8d8;
        .tab-label{
          text-decoration: line-through;
        }
      }
    }
  }
  .tab-disable,
  .tab-close {
    display: none;
    position: absolute;
    right: 5px;
    top: 11.5px;
    cursor:pointer;
  }

  .disabledSection{
    display: none;
  }
}

.scroll-holder{
  width: 100%;
  overflow-x: auto;
  margin-bottom: 20px;
}

.descriptionColumn{
  width: 100%;
  min-width: 300px;
}

.customFieldColumn {
  width: 150px;
  min-width: 150px;
}

.unitPriceColumn {
  width: 100px;
  min-width: 100px;
}

.termColumn {
  width: 75px;
  min-width: 75px;
  .dropdown {
    li{
      cursor: pointer;
      &.selected{
        background-color: #0064D2;
        a{

          color: #fff;
        }
        &:hover a{
          color: #0064D2;
        }
      }
    }
    .btn-link{
      &,
      &:hover {
        text-decoration: none;
        color: black;
      }
      &.disabled{
        color: #000;
        opacity: 0.9;
        .caret{
          display:none;
        }
      }
    }
  }
}

.qtyColumn {
  width: 85px;
  min-width: 75px;
}

.unitPriceColumn,
.totalPriceColumn,
.taxColumn {
  width: 95px;
  min-width: 80px;
  .dropdown {
    li{
      cursor: pointer;
      &.selected{
        background-color: #0064D2;
        a{

          color: #fff;
        }
        &:hover a{
          color: #0064D2;
        }
      }
    }
    .btn-link{
      &,
      &:hover {
        text-decoration: none;
        color: black;
      }
      &.disabled{
        color: #000;
        opacity: 0.9;
        .caret{
          display:none;
        }
      }
    }
  }
  #bar{
    /* display: inline-block;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px; */
    white-space: nowrap;
    border-top-width: 2px;
    min-height: 17px;
    /*min-width: 100px;*/
    display: none;
    .moneytaryValue:before {
      margin-right: 0;
    }
    &.manual,
    &.auto {
      border-top-color: #f00;
    }
    &.auto {
      display: block;
      border-top-style: dotted;
    }
    &.manual {
      display: block;
      border-top-style: solid;
    }
    &.markup {
      display: block;
      border-top-color: green;
    }
  }
}

.upfrontColumn {
  width: 60px;
  min-width: 60px;
}

.actionColumn {
  width: 120px;
  min-width: 120px;
}

.main-navigation{
  position: static;
}

@media (min-width: 768px) and (max-width: 1024px) {

  .unitPriceColumn {
    width: 70px;
  }

  .termColumn {
    width: 80px;
  }

  .qtyColumn {
    width: 50px;
  }

  .totalPriceColumn {
    width: 90px;
  }

  .upfrontColumn {
    width: 60px;
  }

  .actionColumn {
    width: 30px;
  }

  .actionColumn span {
    display: none;
  }

  .unitCostSelector {
    width: 65px;
  }

}

.ui-fancytree{
  color:#fff;
}

.fancytree-drag-helper{
  color: #fff;
  padding: 5px;
  border: 1px solid #3f85f4;
  background-color: #415D89;
  z-index: 1000;
}

.fancytree-leaf.fancytree-thumbnail-ipad{
  margin-bottom: 5px;
  padding: 5px;
  background: none;
  & > img{
    margin: 2.5px 0;
  }
  & > p{
    margin: 0;
    font-size: 13px;
    white-space: normal;
  }
}

.fancytree-static-title-gradient {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  opacity: 1;
  visibility: visible;
  background: linear-gradient(transparent, rgba(30, 30, 30, .8)) repeat-x;
  transition: opacity .2s, visibility .2s;
}

.fancytree-static-title-overlay {
  position: absolute;
  z-index: 1;
  background: rgba(65, 186, 174, 0.88);
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s, visibility .2s;
}

.fancytree-thumbnail:hover .fancytree-static-title-gradient {
  visibility: hidden;
  opacity: 0;
}

.fancytree-thumbnail:hover .fancytree-static-title-overlay {
  visibility: visible;
  opacity: 1;
}

.fancytree-static-title-container {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 5px 4px;
  background: none;
  transition: padding 0.25s cubic-bezier(.4, 0, .2, 1), color 0.25s cubic-bezier(.4, 0, .2, 1), background .2s;
}

.fancytree-thumbnail:hover .fancytree-static-title-container {
  padding: 15px 5px 20px;
  color: inherit;
  background: none;
}

.fancytree-static-title-container-header {
  position: relative;
  background-color: inherit;
}

.fancytree-static-title {
  font-size: 9px;
  margin-bottom: 0;
  color: inherit !important;
  letter-spacing: normal;
  font-family: "Open Sans", Arial, Helvetica, Sans-Serif;
}

.fancytree-leaf.fancytree-thumbnail{
  position: relative;
  text-align: center;
  line-height: 55px;
  display: inline-block;
  background: none;
  & > img{
    margin: 2.5px 0;
    object-fit: cover;
    height: 106px;
    width: 156px;
    border: 2px solid rgba(0, 0, 0, 0.25);
  }
  & > p{
    margin: 0;
    text-align: center;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.fancytree-label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(65, 186, 174, 0.8);
  color: #ffffff;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}


.fancytree-thumbnail:hover .fancytree-label {
  visibility: visible;
  opacity: 1;
}

.group-panel{
  margin-bottom: 10px;
}

.dropArea{
  width: 100%;
  height: 1px;
  visibility: collapse;
  opacity:0;
  transition:opacity 0.2s linear;
  transition:height 0.2s linear;
}
.dropArea.active {
  overflow: hidden;
  visibility: initial;
  height: 34px;
  opacity:1;
  border: 1px dashed #DDD;
  border-radius: 1px;
  background-image: -webkit-gradient(linear,left top,right bottom,color-stop(0.25,rgba(0,0,0,.03)),color-stop(0.25,transparent),color-stop(0.5,transparent),color-stop(0.5,rgba(0,0,0,.03)),color-stop(0.75,rgba(0,0,0,.03)),color-stop(0.75,transparent),to(transparent));
  background-image: -webkit-linear-gradient(135deg,rgba(0,0,0,.03)25%,transparent 25%,transparent 50%,rgba(0,0,0,.03)50%,rgba(0,0,0,.03)75%,transparent 75%,transparent);
  background-image: -moz-linear-gradient(135deg,rgba(0,0,0,.03)25%,transparent 25%,transparent 50%,rgba(0,0,0,.03)50%,rgba(0,0,0,.03)75%,transparent 75%,transparent);
  background-image: -ms-linear-gradient(135deg,rgba(0,0,0,.03)25%,transparent 25%,transparent 50%,rgba(0,0,0,.03)50%,rgba(0,0,0,.03)75%,transparent 75%,transparent);
  background-image: -o-linear-gradient(135deg,rgba(0,0,0,.03)25%,transparent 25%,transparent 50%,rgba(0,0,0,.03)50%,rgba(0,0,0,.03)75%,transparent 75%,transparent);
  background-image: linear-gradient(135deg,rgba(0,0,0,.03)25%,transparent 25%,transparent 50%,rgba(0,0,0,.03)50%,rgba(0,0,0,.03)75%,transparent 75%,transparent);
  background-color: #FAFCFD;
  background-size: 6px 6px;
}

.dropArea.active.hover {
  background-color: #dde8ff;
}


.tab-content .pricing-droppable.active{
  & .panel-body{
    border-color: #000;
    background-color: #FEFFF5;
  }
  &.hover .panel-body{
    background-color: #F5FFF5;
  }
}

/*CK Editor visual customisation*/

.editable td {
  padding: 5px 5px;
}

.viewable.viewable:not(.fixed-panel) .panel-body {
  //background-color: #FDD;
}

//THIS IS WHERE THE STYLES FOR THE GUIDE ME FEATURE ARE KEPT (BUTON/MODAL)
#guide-me-container .guide-me-launcher {
  position: absolute;
  top:0;
  left:0;
  width: 60px;
  height: 60px;
  background: #e25b01;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
  -webkit-transform: center;
  -moz-transform: center;
  -ms-transform: center;
  -o-transform: center;
  transform: center;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
}

#guide-me-container {
  position: fixed;
  width: 0px;
  height: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 2147483647;
  line-height:1;

  >div {
    display: block;
  }
}

#guide-me-container .guide-me-launcher-frame {
  -webkit-animation:guide-me-launcher-frame-appear .25s ease!important;
  -o-animation:guide-me-launcher-frame-appear .25s ease!important;
  animation:guide-me-launcher-frame-appear .25s ease!important;
  z-index: 2147483000!important;
  position: fixed!important;
  bottom:20px!important;
  right:20px!important;
  width:60px!important;
  height:60px!important;
  -webkit-border-radius:50%!important;
  -moz-border-radius:50%!important;
  border-radius:50%!important;
  -webkit-transition: box-shadow 80ms ease-in-out!important;
  -moz-transition: box-shadow 80ms ease-in-out!important;
  -ms-transition: box-shadow 80ms ease-in-out!important;
  -o-transition: box-shadow 80ms ease-in-out!important;
  transition: box-shadow 80ms ease-in-out!important;
  -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.06),0 2px 32px rgba(0,0,0,.16)!important;
  -moz-box-shadow: 0 1px 6px rgba(0,0,0,.06),0 2px 32px rgba(0,0,0,.16)!important;
  box-shadow: 0 1px 6px rgba(0,0,0,.06),0 2px 32px rgba(0,0,0,.16)!important;
}


button:focus {
  outline: 0;
}


.radial {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 20px;
  z-index: 99999999999999;
  bottom: 10px;
  background: #FFFFFF;
  border-radius: 50%;
  transition: all 0.5s;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.15), 0px 4px 8px rgba(0,0,0,0.2);
}

.radialButtons.active {
  background: #777;
}

.fab {
  border: none;
  color: #000000;
  background-color: #FFFFFF;
  border-radius: 50%;
  font-size:12px;
  width: 60px;
  height: 60px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  transition: all 0.5s;
  &:hover {
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.18), 0 8px 16px rgba(0,0,0,0.36);
    -moz-box-shadow: 0 0 8px rgba(0,0,0,0.18), 0 8px 16px rgba(0,0,0,0.36);
    box-shadow: 0 0 8px rgba(0,0,0,0.18), 0 8px 16px rgba(0,0,0,0.36);
  }
}

#plus {
  transition: all 0.5s;
  margin-top: 7px;
}

#fa-1, #fa-2, #fa-3 {
  position: absolute;
  width:60px;
  height:60px;
  border: none;
  right: 0px;
  bottom: 0px;
  transition: all 0.5s;
  color: #000000;
  border-radius: 50%;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.15), 0px 4px 8px rgba(0,0,0,0.2);

  &:hover {
    tansition-delay: 0s;
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.18), 0 8px 16px rgba(0,0,0,0.36);
    -moz-box-shadow: 0 0 8px rgba(0,0,0,0.18), 0 8px 16px rgba(0,0,0,0.36);
    box-shadow: 0 0 8px rgba(0,0,0,0.18), 0 8px 16px rgba(0,0,0,0.36);
  }
}

#fa-4 {
  position: absolute;
  width: 40px;
  height: 40px;
  border: none;
  bottom: 0px;
  transition: all 0.5s;
  color: #000000;
  border-radius: 0;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15), 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.fab-4 {
  border: none;
  color: #000000;
  background-color: #FFFFFF;
  font-size: 12px;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  border-radius: 0;
  transition: all 0.5s;
  &:hover {
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36);
  }
}

.fa-1-s1, .fa-1-s2, .fa-1-s3, .fa-1-s4 {
  position: absolute;
  width:50px;
  height:50px;
  border: none;
  right: 88px;
  transition: all 0.5s;
  color: #000000;
  border-radius: 50%;
  background: #FFFFFF;
  display: none;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.15), 0px 4px 8px rgba(0,0,0,0.2);

  &:hover {
    tansition-delay: 0s;
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.18), 0 8px 16px rgba(0,0,0,0.36);
    -moz-box-shadow: 0 0 8px rgba(0,0,0,0.18), 0 8px 16px rgba(0,0,0,0.36);
    box-shadow: 0 0 8px rgba(0,0,0,0.18), 0 8px 16px rgba(0,0,0,0.36);
  }
}

.fa-2-s1, .fa-2-s2, .fa-2-s3, .fa-2-s4 {
  position: absolute;
  width:50px;
  height:50px;
  border: none;
  right: 70px;
  bottom: 70px;
  transition: all 0.5s;
  color: #000000;
  border-radius: 50%;
  background: #FFFFFF;
  display: none;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.15), 0px 4px 8px rgba(0,0,0,0.2);

  &:hover {
    tansition-delay: 0s;
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.18), 0 8px 16px rgba(0,0,0,0.36);
    -moz-box-shadow: 0 0 8px rgba(0,0,0,0.18), 0 8px 16px rgba(0,0,0,0.36);
    box-shadow: 0 0 8px rgba(0,0,0,0.18), 0 8px 16px rgba(0,0,0,0.36);
  }
}

.fa-3-s1, .fa-3-s2, .fa-3-s3, .fa-3-s4, .fa-3-s5 {
  position: absolute;
  width:50px;
  height:50px;
  border: none;
  right: 5px;
  bottom: 88px;
  transition: all 0.5s;
  color: #000000;
  border-radius: 50%;
  background: #FFFFFF;
  display: none;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.15), 0px 4px 8px rgba(0,0,0,0.2);

  &:hover {
    tansition-delay: 0s;
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.18), 0 8px 16px rgba(0,0,0,0.36);
    -moz-box-shadow: 0 0 8px rgba(0,0,0,0.18), 0 8px 16px rgba(0,0,0,0.36);
    box-shadow: 0 0 8px rgba(0,0,0,0.18), 0 8px 16px rgba(0,0,0,0.36);
  }
}

.aspect-label-font {
  vertical-align: text-top;
  font-size: 11px;
}
.aspect-label-font-empty {
  vertical-align: text-top;
  font-size: 15px;
}
.aspect-percentage-font {
  font-size: 13px;
}
.holder-aspect {
  padding-top: 6px;
}


.radial {
  .r3-fa-1 {
    width: 0px;
  }
  .bar {
    right: 0px;
    left: initial;
    .holder {
      display: none;
      padding-left: 0px;
      padding-right: 40px;
      justify-content: space-evenly;
      text-align: center;
      overflow: hidden;
      .slide-menu-item {
        height: 40px;
        .removeFreetextImageAttachment {
          position: relative;
          top: 0;
          left: 0;
          right: 0;
          background: #aa0014;
          color: white;
          height: 100%;
        }
      }
      .slide-menu-button {
        cursor: pointer;
        &:hover {
          background-color: darken(#FFF, 10%)
        }
      }
    }
    &.bar-left {
      right: initial;
      left: 0;
      .holder {
        padding-left: 40px;
        padding-right: 0px;
      }
    }
  }
  &.open {
    .bar {
      width: 500px !important;
      .holder {
        display: flex;
        overflow: initial;
      }
      .slide-menu-item {
        flex-grow: 1;
      }
    }

    .fab {
      box-shadow: 0px 2px 4px rgba(0,0,0,0.15), 0px 4px 8px rgba(0,0,0,0.2);
    }

    #plus {
      transform: rotateZ(135deg) translate(-1px, 3px);
    }
    //#fa-1 {
    //  transition-delay: 0s;
    //  transform: translate(-85px, -20px);
    //}
    //#fa-2 {
    //  transition-delay: 0s;
    //  transform: translate(-14px, -82px);
    //}
    .r3-fa-1 {
      transition-delay: 0s;
      //transform: translate(-85px, 0px);
      transform: translate(-40px, 0);
      width: 400px;
    }

    .r3-fa-2 {
      transition-delay: 0s;
      transform: translate(-65px, -63px);
    }

    .r3-fa-3 {
      transition-delay: 0s;
      transform: translate(0px, -82px);
    }

    .r2-fa-1 {
      transition-delay: 0s;
      transform: translate(-85px, -20px);
    }
    .r2-fa-2 {
      transition-delay: 0s;
      transform: translate(-14px, -82px);
    }
  }
}

#fa-position-1.open {
  transition-delay: 0s;
  transform: translate(-74px, 66px);
}
#fa-position-2.open {
  transition-delay: 0s;
  transform: translate(-93px, -2px);
}
#fa-position-3.open {
  transition-delay: 0s;
  transform: translate(-76px, -69px);
}
#fa-position-4.open {
  transition-delay: 0s;
  transform: translate(-20px, -109px);
}

#fa-size-1.open {
  transition-delay: 0s;
  transform: translate(-118px, -1px);
}
#fa-size-2.open {
  transition-delay: 0s;
  transform: translate(-87px, -64px);
}
#fa-size-3.open {
  transition-delay: 0s;
  transform: translate(-27px, -108px);
}
#fa-size-4.open {
  transition-delay: 0s;
  transform: translate(42px, -120px);
}

#fa-aspect-1.open {
  transition-delay: 0s;
  transform: translate(-85px, -40px);
}
#fa-aspect-2.open {
  transition-delay: 0s;
  transform: translate(-43px, -85px);
}
#fa-aspect-3.open {
  transition-delay: 0s;
  transform: translate(22px, -88px);
}

#fa-width-1.open {
  transition-delay: 0s;
  transform: translate(-85px, -40px);
}
#fa-width-2.open {
  transition-delay: 0s;
  transform: translate(-43px, -85px);
}
#fa-width-3.open {
  transition-delay: 0s;
  transform: translate(22px, -88px);
}
#fa-width-4.open {
  transition-delay: 0s;
  transform: translate(-12px, -131px);
}
#fa-width-5.open {
  transition-delay: 0s;
  transform: translate(-97px, -93px);
}

.freetext-inline-image {
  background-color: #FFFFFF;
  padding-bottom: 10px;
  position: relative;

  &.hasImage {
    min-height: 120px;

    #JcropPhotoFrame {
      display: inline-block !important;
      border:1px dashed #ddd;
    }
  }

  .inlineImageAlignmentButtons {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  .removeFreetextImageAttachment {
    position: absolute;
    top: 10px;
    left: inherit;
    right: 10px;
  }
  .jcrop-holder {
    display: block;
    float: none;
    margin-top: 1em;
  }
}

.btn-align-grp {
  float: left;
}

//EDITER MAIN BUTTONS

.main-editor-buttons {
  position: absolute;
  width: 335px;
  right:0px;
  padding-right:10px;
  padding-left:10px;
  top: 2px;
  background: #f3f3f3;
  height:45px !important;
  background-image: linear-gradient(to bottom, #f3f3f3, #e2e2e2);
}

div.freetext-inline-image > button.choseFile {
  margin-left: 10px;
  margin-top: 5px;
}
.pageBreakPanel-label span {
  display: block;
}
div.pageBreakPanel.newPDFLabel {
  display: inline-block;
  position: absolute;
}
div.pageBreakPanel.sectionControls {
  float:right;
  margin-top:0px;
  display:inline-block;
}
.panel-tools{
  width: 350px;
}

.pageBreakPanel-label {
  font-size: 9px;
}


#crop-details{
  position: absolute;
  background: rgba(255, 255, 255, 0.44);
  z-index: 999;
  padding: 2px;
  font-size: 12px;
  margin: 1px;
  .cr-val {
    font-size: 13px;
    font-weight: bold;
  }
}
.inlineImageAlignmentButtons {
  .btn-default {
    padding: 7px 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0px;
    &.active {
      background-color: #999;
      border-color: #8C8C8C;
      color: #FFF;
    }
  }
  .btn-align {
    font-size: 7px;
    padding: 1px;
    width: 30px;
  }
}

.align-pos {
  float: left;
  margin-left: 2px;
}

.align-top-btm {
  float: left;

}
.align-top-btm button {
  padding: 5px 2px;
}

.inlineImage-addText {
  padding: 10px;
  border: 1px dashed #dddddd;
  display: none;
}

.btn{
  &.deletePricing,
  &.notePricing,
  &.actionGroup {
    margin-top: -6px;
    height: 22px;
  }
  &.deletePricing,
  &.notePricing {
    width: 22px;
  }
}

#doc-pricing{
  position: relative;
  &[data-enabled="false"] .disabledOverlay{
    position: absolute;
    top: -36px;
    bottom: -16px;
    left: -12px;
    right: -12px;
    background: rgba(200,200,200,0.7);
    z-index: 10;
  }

  .button-container {
    position: fixed;
    top: 60px;
    right: 395px;
    padding: 10px;
    background: #fff;
    z-index: 2;
    transition: right 200ms ease;
    button {
      padding: 5px;
    }
  }

  [data-type="title"]  {
    .rowDescription {
      float: left;
      -webkit-transition: width 0.5s ease-in-out;
      -o-transition: width 0.5s ease-in-out;
      transition: width 0.5s ease-in-out;
    }
  }
}

@media (max-width:1024px) {
  #doc-pricing {
    .button-container {
      right: 307px;
    }
  }
}

#sidebar .documentLibrarySearch {
  >a.trigger>input {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    width: 170px;
  }

}

#thumbnail-buttons .btn{
  margin-top: 5px;
  margin-right: 5px;
}

.hoverTarget{
  color: red;
}
.documentLibraryContent{
  &.open a.trigger i.fa-caret-down{
    opacity:0;
    transition: all 0.2s ease 0s;
  }
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  cursor: default;
}

.panel
{
  &[fixed="true"] {
    .lock {
      color: white;
      background: #aa0014;
    }
  }
  &[fixed="false"] {
    .lock {
      color: white;
      background: #009b46;
    }
  }
}

.panel-body:not(.cke_editable) {
  ol {
    counter-reset: item;
    list-style-type: none;
    li:before {
      counter-increment: item;
      content: counters(item, ".") ". ";
    }
  }
}


.panel.hide-taxColumn tr .taxColumn,
.panel.hide-tax tr .taxColumn,
.panel.hide-tax .total-tax,
.panel.hide-additionColumn tr .additionColumn {
  background-color: rgba(242, 166, 176, 0.7) !important;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.13) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.13) 50%, rgba(255, 255, 255, 0.13) 75%, transparent 75%, transparent);
  background-size: 16px 16px;
}

.panel.hide-unitPriceColumn tr .unitPriceColumn {
  background-color: rgba(242, 166, 176, 0.7) !important;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.13) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.13) 50%, rgba(255, 255, 255, 0.13) 75%, transparent 75%, transparent);
  background-size: 16px 16px;
}

.panel.hide-attr_customfield1 tr .customFieldColumn[sortable="attr_customfield1"] {
  background-color: rgba(242, 166, 176, 0.7) !important;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.13) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.13) 50%, rgba(255, 255, 255, 0.13) 75%, transparent 75%, transparent);
  background-size: 16px 16px;
}

.panel.hide-attr_customfield2 tr .customFieldColumn[sortable="attr_customfield2"] {
  background-color: rgba(242, 166, 176, 0.7) !important;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.13) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.13) 50%, rgba(255, 255, 255, 0.13) 75%, transparent 75%, transparent);
  background-size: 16px 16px;
}

.panel.hide-attr_customfield3 tr .customFieldColumn[sortable="attr_customfield3"] {
  background-color: rgba(242, 166, 176, 0.7) !important;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.13) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.13) 50%, rgba(255, 255, 255, 0.13) 75%, transparent 75%, transparent);
  background-size: 16px 16px;
}

.panel.hide-attr_customfield4 tr .customFieldColumn[sortable="attr_customfield4"] {
  background-color: rgba(242, 166, 176, 0.7) !important;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.13) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.13) 50%, rgba(255, 255, 255, 0.13) 75%, transparent 75%, transparent);
  background-size: 16px 16px;
}

.panel.hide-attr_customfield5 tr .customFieldColumn[sortable="attr_customfield5"] {
  background-color: rgba(242, 166, 176, 0.7) !important;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.13) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.13) 50%, rgba(255, 255, 255, 0.13) 75%, transparent 75%, transparent);
  background-size: 16px 16px;
}

.panel.hide-termColumn tr .termColumn{
  background-color: rgba(242, 166, 176, 0.7) !important;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.13) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.13) 50%, rgba(255, 255, 255, 0.13) 75%, transparent 75%, transparent);
  background-size: 16px 16px;
}

.panel.hide-qtyColumn tr .qtyColumn{
  background-color: rgba(242, 166, 176, 0.7) !important;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.13) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.13) 50%, rgba(255, 255, 255, 0.13) 75%, transparent 75%, transparent);
  background-size: 16px 16px;
}

.panel.hide-totalPriceColumn tr .totalPriceColumn{
  background-color: rgba(242, 166, 176, 0.7) !important;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.13) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.13) 50%, rgba(255, 255, 255, 0.13) 75%, transparent 75%, transparent);
  background-size: 16px 16px;
}
.panel.hide-totalCostColumn tr .totalCostColumn{
  background-color: rgba(242, 166, 176, 0.7) !important;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.13) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.13) 50%, rgba(255, 255, 255, 0.13) 75%, transparent 75%, transparent);
  background-size: 16px 16px;
}
.panel.hide-taxColumn tr .taxColumn{
  background-color: rgba(242, 166, 176, 0.7) !important;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.13) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.13) 50%, rgba(255, 255, 255, 0.13) 75%, transparent 75%, transparent);
  background-size: 16px 16px;
}

.panel.hide-grandTotalRow tr.grandTotalRow{
  th, td {
    background-color: rgba(242, 166, 176, 0.7) !important;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.13) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.13) 50%, rgba(255, 255, 255, 0.13) 75%, transparent 75%, transparent);
    background-size: 16px 16px;
  }
}
.panel.hide-overallTotalRow tr.overallTotalRow {
  th, td {
    background-color: rgba(242, 166, 176, 0.7) !important;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.13) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.13) 50%, rgba(255, 255, 255, 0.13) 75%, transparent 75%, transparent);
    background-size: 16px 16px;
  }
}
.panel.hide-minimumMothlyCostRow tr.minimumMothlyCostRow {
  th, td{
    background-color: rgba(242, 166, 176, 0.7) !important;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.13) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.13) 50%, rgba(255, 255, 255, 0.13) 75%, transparent 75%, transparent);
    background-size: 16px 16px;
  }
}
.panel.hide-onOffCostRow tr.onOffCostRow {
  th, td{
    background-color: rgba(242, 166, 176, 0.7) !important;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.13) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.13) 50%, rgba(255, 255, 255, 0.13) 75%, transparent 75%, transparent);
    background-size: 16px 16px;
  }
}
.panel.hide-fullTermCostRow tr.fullTermCostRow {
  th, td{
    background-color: rgba(242, 166, 176, 0.7) !important;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.13) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.13) 50%, rgba(255, 255, 255, 0.13) 75%, transparent 75%, transparent);
    background-size: 16px 16px;
  }
}

.panel.hide-unitPriceColumn tr:hover .unitPriceColumn{
  background-color: rgba(242, 166, 176, 0.7) !important;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.13) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.13) 50%, rgba(255, 255, 255, 0.13) 75%, transparent 75%, transparent);
  background-size: 16px 16px;
}

.panel.hide-termColumn tr:hover .termColumn{
  background-color: rgba(242, 166, 176, 0.7) !important;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.13) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.13) 50%, rgba(255, 255, 255, 0.13) 75%, transparent 75%, transparent);
  background-size: 16px 16px;
}

.panel.hide-qtyColumn tr:hover .qtyColumn{
  background-color: rgba(242, 166, 176, 0.7) !important;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.13) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.13) 50%, rgba(255, 255, 255, 0.13) 75%, transparent 75%, transparent);
  background-size: 16px 16px;
}

.panel.hide-totalPriceColumn tr:hover .totalPriceColumn{
  background-color: rgba(242, 166, 176, 0.7) !important;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.13) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.13) 50%, rgba(255, 255, 255, 0.13) 75%, transparent 75%, transparent);
  background-size: 16px 16px;
}

.panel.hide-grandTotalRow tr:hover .grandTotalRow{
  th, td {
    background-color: rgba(242, 166, 176, 0.7) !important;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.13) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.13) 50%, rgba(255, 255, 255, 0.13) 75%, transparent 75%, transparent);
    background-size: 16px 16px;
  }
}
.panel.hide-overallTotalRow tr:hover .overallTotalRow {
  th, td {
    background-color: rgba(242, 166, 176, 0.7) !important;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.13) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.13) 50%, rgba(255, 255, 255, 0.13) 75%, transparent 75%, transparent);
    background-size: 16px 16px;
  }
}
.panel.hide-minimumMothlyCostRow tr:hover .minimumMothlyCostRow {
  th, td{
    background-color: rgba(242, 166, 176, 0.7) !important;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.13) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.13) 50%, rgba(255, 255, 255, 0.13) 75%, transparent 75%, transparent);
    background-size: 16px 16px;
  }
}
.panel.hide-fullTermCostRow tr:hover .fullTermCostRow {
  th, td{
    background-color: rgba(242, 166, 176, 0.7) !important;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.13) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.13) 50%, rgba(255, 255, 255, 0.13) 75%, transparent 75%, transparent);
    background-size: 16px 16px;
  }
}

.panel.hide-barDiscount #bar.discount,
.panel #bar.markup, .unitPriceColumn #bar {
  background-color: rgba(242, 166, 176, 0.7) !important;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.13) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.13) 50%, rgba(255, 255, 255, 0.13) 75%, transparent 75%, transparent);
  background-size: 16px 16px;
}

.panel.pricing-droppable.not-last {
  .checkbox-group.hideOverallTotalPriceRow,
  .overallTotalRow {
    display: none;
  }
}
.panel {
  .alignment-item-group {
    display: inline-block;
    float: left;
    padding: 0px 15px;
    h5 {
      border-bottom: 1px solid #000;
      font-family: 'Open Sans';
      font-size: 13px;
    }
  }
  .hide-items-group{
    display: inline-block;
    float: left;
    margin-right: 34px;
    h5{
      border-bottom: 1px solid #000;
      font-family: 'Open Sans';
      font-size: 13px;
    }
  }

  .overallTotalRow {
    font-size: 1.5em;
  }
}

.panel-body.fixed-buttons {
  .libraryActions {
    position: fixed;
    top: 65px;
  }
  .requiresPlans {
    margin-top: 34px;
  }
}

.dropdown-toggle.small{
  height: 21px;
  padding: 0px 6px;
}

.tab-switchery {
  position: absolute !important;
  right: 9px;
  top: 7px;
}

.dropdown-menu {
  z-index: 2001;
}

.orient-check {
  display: inline-block;
  vertical-align: middle;
  margin-top:3px;

  #landscapeMode:checked + .switchery:before {
    content: "Landscape";
    left: 9px;
    top: 2px;
  }
  .switchery {
    width: 100px;
    &:before {
      content: "Portrait";
      left: 34px;
      position: absolute;
      top: 2px;
    }
  }
}

//itinerary specific
@import "itinerary.less";


//froala editor
@import "froalaEditor.less"; 