.table{
	width: initial;
	color: #5676f1;
	margin-left:auto;
	margin-right:auto;
	table-layout: fixed;
	position: relative;
}

.hand:hover {
	cursor: pointer;
}

#dragableTbl .input{
	/*text-align: center;*/
	font-family: Roboto, Roboto;
	font-size: 12px;
	font-weight: normal;
	color: #5676f1;
	padding: 6px 3px;
	width: 120px;
}
#subTotalTbl{
	border-bottom: none;
	text-align: center;
}
 .draggedTh{
	 padding: 11px !important;
 }
 

.table>thead:first-child>tr:first-child>th{
	/*text-align: center;*/
	background: #fff;
	margin:0;
}
.leftAlign{
	text-align: left;
	width: 33%;
}

#dragableTbl input {
	/*text-align: center;*/
	text-align: inherit;
}

#subTotalTbl input {
	padding: 6px 3px;
	/*text-align: center;*/
}
.leftAlign input{
	/*text-align: left !important;*/
}

.firstI > .fa {
	/*margin-left: 55px;*/
}
#dragableTbl th{
	padding: 5px 5px;
	white-space: nowrap;
	position: relative;
	border-top-style: none;
	border-bottom: 1px solid #DDD;
}
.ifont {
	font: 25px FontAwesome;
	padding-top: 15px;
    
}
#dragableTbl td{
	white-space: nowrap;
	border-top-style: none;
	border-bottom: 1px solid #DDD;
}


#subTotalTbl td{
	text-align: left;
	border-top-style: none;
	border-bottom: 1px solid #DDD;
}
	
#subTotalTbl td:first-child {
	width: 26%;
	border-bottom: none;
}
	
.table-content {
	color: #5676f1;
	padding: 15px 5px;
	background-color: #ffffff;
	font-family: Roboto, Roboto;
	font-size: 12px;
	font-weight: normal;
	overflow-x: auto;
}
#subTotalTbl input{
	text-align:center;
	color:red;
}
.remove {
	opacity: 1;
	position: absolute;
	right: 10px;
	top: 0;
	cursor: pointer;
	color: red;
}

.dropdown-group {
	position: absolute;
	left: 10px;
	top: 0;
}

.dropdown-group .selected:before {
	content: "\f00c";
	font-family: FontAwesome;
	position: absolute;
	left: 3px;
}

.options {
	opacity: 1;
	position: relative;
	cursor: pointer;
	color: #333;
}

th > .fa-none {
	width: 25px;
	height: 25px;
	border: 1px dashed #000;
}

.iconpicker-item .fa-none {
	position: absolute;
	left: 0;
	top: 5px;
}

.iconpicker-item .fa-none:before {
	font-family: initial;
	content: "No Icon";
}

#dragableTbl th:hover .remove {
	opacity: 1;
}

#dragableTbl th:hover .options {
	opacity: 1;
}

#dragableTbl p .remove {
	left: initial;
	top: initial;
	right: initial;
	margin-left: 10px;
}

#dragableTbl p:hover .remove {
	opacity: 1;
}

#dragableTbl .form-control {
	border: 1px dashed #333;
}

#subTotalTbl .form-control {
	border: 1px dashed #333;
}

.notes {
	margin: 5px 0 10px 5px;
	padding: 5px 0 5px 20px;
	border-left: 10px solid #ebebeb;
	font-style: italic;
	font-family: serif;
	font-size: 110%;
	white-space: normal;
	text-align: left;
}

.customField{
  width: 10em;
	min-height: 40px;
}

.contentDiv{
	margin-top: 10px;
}

#dragableTbl th[data-type="products"] > input {
	width: 280px;
}

.contentDiv p {
    margin-top: .8em;
    margin-bottom: .8em;
    color: #000000;
}

.greyBlock {
    background-color: #f3f3f4;
    padding: 5px 20px;
    margin: 0;
}

.droppable-highlight.product-item {
	/*box-shadow: 0 0 0 rgba(56, 142, 60, 0.4);*/
	-webkit-animation: pulse 2s infinite;
	-moz-animation: pulse 2s infinite;
	-o-animation: pulse 2s infinite; /* Opera 12+ */
	animation: pulse 2s infinite;
}

thead.droppable-highlight:after {
	box-sizing: border-box;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 2px;

	display: block;
	height: 86px;
	-webkit-animation: pulse 2s infinite;
	-moz-animation: pulse 2s infinite;
	-o-animation: pulse 2s infinite; /* Opera 12+ */
	animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(56, 142, 60, 0.4);
	}
	70% {
		-webkit-box-shadow: 0 0 0 10px rgba(56, 142, 60, 0);
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(56, 142, 60, 0);
	}
}

@keyframes pulse {
	0% {
		-moz-box-shadow: 0 0 0 0 rgba(56, 142, 60, 0.4);
		box-shadow: 0 0 0 0 rgba(56, 142, 60, 0.4);
	}
	70% {
		-moz-box-shadow: 0 0 0 10px rgba(56, 142, 60, 0);
		box-shadow: 0 0 0 10px rgba(56, 142, 60, 0);
	}
	100% {
		-moz-box-shadow: 0 0 0 0 rgba(56, 142, 60, 0);
		box-shadow: 0 0 0 0 rgba(56, 142, 60, 0);
	}
}