body{
	background: #f9f9f9;
}

.container.contentContainer{
	padding: 20px 20px 0;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#welcomeBackLabel {
    position: relative;
    left: 8px;
    top: 27px;
    font-size: 12px;
}

.analytics-panel{
	border: 1px solid #ddd;
	margin-bottom: 30px;
	.panel-heading{
		font-size: 14px;
		font-weight: bold;
		background-color: #13b5ea !important;
		color: #fff !important;
	}
	.nav-pills>li>label{
		padding: 5px 10px;
		color: #13b5ea;
		input{
			color: #666;
		}
	}
	.nav-pills>li.active>label{
		color: #fff;
		background-color: #0064d2;
	}
	
	ul.nav-pills{
		float: left;
	}

	h1{
		margin-bottom: 20px;
	}
	
	small{
		font-size: 14px;
		color: inherit;
	}
	.panel-blue{
		background-color: #00ACC1;
		color: #fff;
	}
	.panel-green{
		background-color: #009688;
		color: #fff;
	}
	.panel-red{
		background-color: #963f3f;
		color: #fff;
	}
	.panel-red-light{
		background-color: #bd6666;
		color: #fff;
	}
	.bootstrap-select{ 
		padding: 5px 10px;
		button {
			line-height: 1.3;
			box-shadow: none;
			border-radius: 0px;
		}
	}
}