ul.thumbnails.image_picker_selector {
    overflow: auto;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: inline-block;
}

ul.thumbnails.image_picker_selector ul {
    overflow: auto;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

ul.thumbnails.image_picker_selector li.group {
    width: 100%;
}

ul.thumbnails.image_picker_selector li.group_title {
    float: none;
}

ul.thumbnails.image_picker_selector li {
    margin: 9px 12px 12px 0px;
    float: left;
    position: relative;
}

ul.thumbnails.image_picker_selector li .thumbnail {
    padding: 2px;
    margin: 6px 2px 0px 6px;
    border: 1px solid #dddddd;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

ul.thumbnails.image_picker_selector li .thumbnail img {
    -webkit-user-drag: none;
}

ul.thumbnails.image_picker_selector li .thumbnail.selected {
    -webkit-box-shadow: 0 0 0 0px #f1f1f1, 0 0 0 4px #1e8cbe;
    -moz-box-shadow: 0 0 0 0px #f1f1f1, 0 0 0 4px #1e8cbe;
    box-shadow: 0 0 0 0px #f1f1f1, 0 0 0 4px #1e8cbe;
}

ul.thumbnails.image_picker_selector li .thumbnail.selected .thumbnail-check-button {
    display: block;
    background-color: #0073aa !important;
    -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 2px #0073aa;
    -moz-box-shadow: 0 0 0 1px #fff, 0 0 0 2px #0073aa;
    box-shadow: 0 0 0 1px #fff, 0 0 0 2px #0073aa;
}

.thumbnail-check-button {
    display: none;
    height: 24px;
    width:24px;
    padding: 0;
    border: 0;
    position: absolute;
    z-index: 10;
    top:0;
    right:-6px;
    outline:0;
    background: #eee;
    cursor: pointer;
    -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 0 0 1px #fff, 0 0 0 2px rgba(0,0,0,.15);
    box-shadow: 0 0 0 1px #fff, 0 0 0 2px rgba(0,0,0,.15);
}

.thumbnail-check-icon {
    display: block;
    background-position: -21px 0;
    height:15px;
    width:15px;
    margin: 5px;
    background-image: url(https://corporateinteractive.com.au/wp-includes/images/uploader-icons.png);
}

