.panel[dataId=con-iti] {
	.panel-tools {
		.iti-style-lbl {
			margin-right: 5px;
		}
		.iti-select {
			margin-right: 10px;
			.btn {
				border-style: solid;
			}
		}
	}
	#itineraryContent {
		padding-bottom: 20px;
	}
	.inline {
		display: inline-block; 
	}
}
.booking-detail {
	padding: 0 1%;
	text-align : center;
	display: hidden;
	.left {
		float: left;
		.desc {
			padding-left: 15px;
		}
	}
	.right {
		float: right;
	}
	.booking-desc {
		width: 50%;
		display: inline-block;
	}
	
	.title {
		.title-text {
			margin-left: 3px;
			float: left;
		}
		&:after {
		    content: " ";
		    clear: both;
		    border-bottom: 1px solid #999999;
		    width: 100%;
		    display: table;
		}
	}
	.desc {
		margin-top: 10px;
		line-height: 25px;
		.desc-text {
			padding: 1px 0;
			text-align: left;
			.desc-lbl {
			    width: 35%;
			}
		}
		.left {
			.desc-text {
				padding-left: 15px;
			}
		}
	}
}

.segment {
	margin-top: 10px;
	width: 100%;
	.segment-heading {
		width: 98%;
		margin-left: 1%;
	  	.icon{
			margin: 11px 0 0 6px;
			float:left;
			font-size: 25px;
		}
	  	.segment-heading-text{ 
			margin: 6px 0 0 9px;
			font-size: 12px;
			text-transform: uppercase;
			float:left;
		}
		
		.segment-heading-subtext {
			float: right;
			font-style: italic;
			color: #000000;
			font-size: 9px;
			padding-top: 28px;
			padding-right: 6px;
		}
		
		&:after {
		    content: " ";
		    clear: both;
		    border-bottom: 1px solid #999999;
		    width: 100%;
		    display: table;
		}
	}
	.segment-detail {
		width: 100%;
		margin-top: 10px;
		padding: 0 15px;
	}
	.segment-table{
		font-size: 13px;
		text-align: left;
		width: 100%;
		border-spacing: 1px;
		table-layout: fixed;
		margin-bottom: 20px;
		td{
			/*background-color: #D5EFF9;
			border: 1px solid #FFF;*/
			padding: 1px 10px 1px 10px;
			text-align: left;
		}
		.table-heading {
			width: 120px;
		}
		.table-value {
		 	width: 212px;
		 	font-weight: normal !important;
		}
		.table-value-3 {
		 	width: 524px;
		}
	}
	.segment-table.table2{
		width: 98%;
		margin-left: 1%;
		th {
			border-bottom: 2px solid #CDCDCD;
			.header-text {
				margin-left: 3px;
			}
		}
		tr {
			margin-top: 10px;
		}
		td {
			padding: 10px 5px 0 0;
			vertical-align: top;
		}
		
	}
}