#thumbnailImage{
	max-width: 768px; 
}
#file-manager{
	&.library-images, &.library-cover{
		.labels{
			visibility: hidden;
		}
		.item {
			display: block;
		    float: left;
		    width: 156px;
		    border-bottom:none;
		    text-align:center;
		    margin:0 10px;
		    position:relative;
		    &:hover {
				background: initial;
			}
		    .item-type, .item-modified{
		    	display:none;
		    }
		    .item-name {
			    position: absolute;
			    left: 50%;
			    bottom: 60px;
			    transform: translateX(-50%);
			    width: 156px;
				padding: 0px 10px;
			}
			.item-icon{
				.icon-folder:before{
					font-size: 3em;
	    			line-height: 1em;
				}
				&.center-cropped {
				    height: 156px;
				    width: 156px;
				    background-size: cover !important;
				    background-position: center center !important;
				    background-repeat: no-repeat !important;
				    box-shadow: inset 0 0 0 2px rgba(0,0,0,0.25);
				}
			}
		}
	}
}