/*FontIcons*/
span.input-icon, span.input-help {
  display: block;
  position: relative;
}
.input-icon > input {
  padding-left: 30px;
  padding-right: 6px;
}
.input-icon.input-icon-right > input {
  padding-left: 6px;
  padding-right: 30px;
}
span.input-help > input {
  padding-left: 30px;
  padding-right: 6px;
}
.input-icon > [class*="fa-"], .input-icon > [class*="qc-"] {
  bottom: 0;
  color: #909090;
  display: inline-block;
  font-size: 14px;
  left: 5px;
  line-height: 35px;
  padding: 0 3px;
  position: absolute;
  top: 0;
  z-index: 2;
}

.input-icon.input-icon-right > [class*="fa-"], .input-icon.input-icon-right > [class*="qc-"] {
  left: auto;
  right: 4px;
}
.input-icon > input:focus + [class*="fa-"], .input-icon > input:focus + [class*="qc-"] {
  color: #557799;
}


/*Select 2 functionality*/
.form-control.search-select {
  padding: 0 !important;
  box-shadow: none;
  border: none;
}
.select2-container .select2-choice {
  background-clip: padding-box !important;
  background-color: #FFFFFF !important;
  background-image: none !important;
  background-repeat: no-repeat !important;
  border: 1px solid #CCCCCC !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  color: #555555 !important;
  display: block !important;
  height: 34px !important;
  line-height: 29px !important;
  margin-top: 3px !important;
  overflow: hidden !important;
  padding: 0 12px 0 8px !important;
  position: relative !important;
  text-decoration: none !important;
  white-space: nowrap !important;
}
.select2-container .select2-choice .select2-arrow {
  background-image: none !important;
  background-color: #FFFFFF !important;
  width: 28px !important;
  text-align: center;
}
.select2-container .select2-choice .select2-arrow b {
  background: none !important;
  display: block;
  height: 100%;
  width: 100%;
}
.select2-container .select2-choice .select2-arrow b:before {
  content: "\f078";
  display: inline;
  font-family: FontAwesome;
  font-weight: 300;
  height: auto;
  text-shadow: none;
}
.select2-dropdown-open.select2-container-active .select2-choice .select2-arrow b:before {
  content: "\f077";
}
.select2-container-multi .select2-choices {
  background-image: none !important;
  background-color: #FFFFFF !important;
}



/* ---------------------------------------------------------------------- */
/*  Login
/* ---------------------------------------------------------------------- */
html{
	/* generated with http://www.gradient-animator.com/ */
	/* background: linear-gradient(270deg, #944689, #CC7442);
	background-size: 300% 200%;
	
	-webkit-animation: gradientAnimation 60s ease infinite;
	-moz-animation: gradientAnimation 60s ease infinite;
	animation: gradientAnimation 60s ease infinite; */
	background: #
}
body {
	background-color: #efefef;
}
.login {
  	color: #7F7F7F;
  	background: #70A0C1;
}
.login .main-login {
	margin-top: 50px;
	z-index: 10;
}
.login .box-login,
.login .box-forgot,
.login .box-change-password, 
.login .box-register {
	position: relative;
	background: rgba(255,255,255,1);
	box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.12);
	overflow: hidden;
	padding: 100px 15px 15px;
}
.box-header {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	padding: 10px;
}
.box-header .logo {
	background-image: url("../images/td-logo.png");
	width: auto;
	height: 72px; 
	margin-left: 50%;
	position: relative;
	left: -85.5px;
	background-size: contain;
	background-repeat: no-repeat;
}
.login .form fieldset {
  border: none;
  margin: 0;
  padding: 10px 0 0;
}
.login a.forgot {
  color: #d9534f;
  font-weight: bold;
  font-size: 12px;
  position: absolute;
  right: 10px;
  text-shadow: 1px 1px 1px #FFFFFF;
  top: 9px;
}
.login label {
  color: #7F7F7F;
  font-size: 14px;
  margin-top: 5px;
}

.login .copyright {
  font-size: 11px;
  padding: 10px;
  text-align: left;
  color: #fff;
  text-shadow: -1px -1px 0 #555, 1px -1px 0 #555, -1px 1px 0 #555, 1px 1px 0 #555;
  z-index: 10;
  letter-spacing: 1px;
  text-align: center;
}
.login .form-actions:before, .login .form-actions:after {
  content: "";
  display: table;
  line-height: 0;
}
.login .form-actions:after {
  clear: both;
}
.login .form-actions {
  margin-top: 15px;
  padding-top: 10px;
  display: block;
}
.login .new-account {
  border-top: 1px dotted #EEEEEE;
  margin-top: 15px;
  padding-top: 10px;
  display: block;
}

.errorMsg {
	color: #a94442;
}

@media screen and (min-width: 768px) {
	.form-group .col-sm-6:first-child {
	  padding-right: 7px;
	}
	.form-group .col-sm-6:last-child {
	  padding-left: 7px;
	}
}

/* ---------------------------------------------------------------------- */
/*  Register - special cases for register form
/* ---------------------------------------------------------------------- */
.login.register .box-header .logo {
	margin: 10px;
    margin-right: 20px;
	float: left;
	left: 0;
}
.login.register .box-register {
	padding-top: 120px;
}

/* generated with http://www.gradient-animator.com/ */
@-webkit-keyframes gradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes gradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes gradientAnimation { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

canvas{
	position: absolute;
    top: 0px;
    z-index: 0;
}

@media only screen and (max-width: 768px){
	canvas{
		display: none;
	}
} 