#add-ons-modal {
	background: #FFF;
}

#terms-modal {
    background: #FFF;
}

.market-body {
	background: #FFF;
	.pull-right {
		i {
			line-height: 24px;
		}
	}
	.market-ribbon {
		background: #13B5EA !important;
		height: 50px;
	    font-size: 27px;
	    text-align: center;
	    margin-bottom: 30px;
	    
	    .ribbon-text {
	    	display: inline-block;
	    	padding: 7px 12px 11px 0!important;
	    	color: #FFF !important;
	    }
	}
}

.carousel-indicators {
	width:100% !important;
	left: 0 !important;
}

.box {
	background-color:white !important;
	margin-bottom:25px !important;
	margin-left: 15px !important;
	margin-right: 15px !important;
	border-radius:5px !important;
}

.box5{
	background-color: #cccccc !important;
}

.shadow1, .shadow2, .shadow3,.shadow4,.shadow5,.shadow6,.shadow7,.shadow8{
	position:relative !important;
}
.shadow1,.shadow2,.shadow3,.shadow4,.shadow5,.shadow6,.shadow7,.shadow8{
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset !important;
}

.shadow5:before, .shadow5:after{
	position:absolute !important;
	content:"" !important;
	box-shadow:0 10px 25px 20px #cccccc !important;
	top:40px;left:17px;bottom:50px !important;
	width:15% !important;
	z-index:0 !important;
	-webkit-transform: rotate(-8deg) !important;
	-moz-transform: rotate(-8deg) !important;
	transform: rotate(-8deg) !important;
}
.shadow5:after{
	-webkit-transform: rotate(8deg) !important;
	-moz-transform: rotate(8deg) !important;
	transform: rotate(8deg) !important;
	right: 16px;left: auto !important;
}

.swalTitle {
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    
    #terms {
    	font-size: 13px;
    }
}

#market {
	height: 100%;
	max-width:1200px;
	clear: both;
	margin: 0 auto;
	background: #FFF;
	
	header {
		font-weight: bold;
		font-size: 16px;
		margin-bottom: 10px;
	}
	.black-lbl {
		color: #000000;
	}
	.center-cropped {
		height: 100%;
		width: 100%;
		background-size: cover !important;
		background-position: center center !important;
		background-repeat: no-repeat !important;
		box-shadow: inset 0 0 0px 2px rgba(0, 0, 0, 0.25);
	}
	.apps-list {
		margin-bottom: 30px;
		ul {
			display: block;
			border: 1px solid #ddd;
			-webkit-padding-start: 0;
			/* min-height: 450px; */
			list-style-type: none;
			.app-item {
				display: inline-block;
				vertical-align: top;
				margin: 10px;
				height: 80px;
				width: 80px;
			}
		}
	}
	.content-left {
		float: left;
		width: 100%;
		max-width: 260px;
		
		ul#app-nav-categories {
			
			li {
				list-style-type: none;
			    display: block;
			    overflow: hidden;
			    padding: 0 15px;
				margin: 5px 0px;
			    cursor: pointer;
			    
			    a {
			    	padding: 7px 0;
			    	font-size: 18px;
			    	font-weight: 300;
			    	color: #333;
			    	display: block;
			    }
			    
			    &:hover {
					background: #13B5EA;
					a {
						color: #FFF;
					}
				}
				
				&.active {
			    	background: #13B5EA;
			    	a {
			    		color: #FFF;
			    		font-weight: 400;
			    	}
			    }
			}
			
		}
	}
	
	.content-right {
		float: right;
		width: 100%;
		max-width: 870px;
		
		ul#apps-list {
			border: none;
			li{
			    display: inline-block;
			    margin: 0 7px 45px;
			    max-width: 200px;
			    text-align: center;
			    vertical-align: top;
			    width: 100%;
			    
			    .img-wrap {
			    	border: 1px solid #9EA7AC;
				    border-radius: 100%;
				    height: 200px;
				    margin: 10px 0;
				    padding: 45px;
				    max-width: 200px;
			    	box-sizing: border-box;
			    	position: relative;
			    	cursor: pointer;
			    	
				    img {
		    	 	    max-width: 110px;
					    top: 50%;
					    left: 50%;
					    transform: translate(-50%, -50%);
					    position: absolute;
				    }
				    
				    .wrap-desc {
				    	display: none;
				    	font-weight: 400;
    					font-size: 20px;
					    position: absolute;
					    top: 50%;
					    left: 50%;
					    transform: translate(-50%,-50%);
				    }
			   }
			   
			   .img-wrap:hover {
			   		background: #13B5EA;
			   		
				   .wrap-desc {
				    	display: inline;
					    vertical-align: middle;
					    text-align: center;
					    color: #FFF;
				    }
				    img {
				    	display: none;
				    }
			   }
			}
		}
	}
	
	#app-details {
		display: none;
		
		.subscribe-disabled {
			color: red; 	
		}

		#backBtn {
			font-size: 16px;
			font-weight: 700;
			padding: 8px 20px;
			margin-bottom: 50px;
			border: 1px solid #13B5EA;
			color: #13B5EA;
			background: #FFF;

			&:hover {
				background: #13B5EA;
				color: #FFF;
			}
		}

		#settingsBtn {
			font-size: 16px;
			font-weight: 700;
			padding: 8px 20px;
			margin-bottom: 50px;
			border: 1px solid #13B5EA;
			color: #13B5EA;
			background: #FFF;

			&:hover {
				background: #13B5EA;
				color: #FFF;
			}
		}
		
		.app-info {
			margin-bottom: 30px;
			.image-container{
				float: right;
				position: relative;
				width:55%;
				
				.app-pricing {
					color: #13b5ea;
				    font-size: 20px;
				    font-weight: 900;
				    text-align: center;
				    width: 154px;
				    position: absolute;
				    right: 0;

				    #terms {
			    	    font-size: 10px;
				    }
				}
				.app-image {
					height: 100%;
					width: 100%;
					position: absolute !important;
					z-index: 2 !important;
					margin-bottom: 10px;
					
					img {
						width: 100%;
					}
				}
			}
			.app-details {
				max-width: 500px;
				display: inline-block;
				position: relative;
				font-weight: 900;
				font-size: 20px;

				.img-wrap {
					border: 1px solid #9ea7ac;
					border-radius: 100%;
					height: 100px;
					margin: 10px 0;
					padding: 18px;
					left: -20px;
					width: 100px;
					box-sizing: border-box;
					position: absolute;
					cursor: pointer;

					.app-thumbnail {
						img {
							width: 100%;
						}

						#terms {
							font-size: 10px;
						}
					}
				}
				.app-title {
					color: #000000; 
					font-weight: bold;
					margin: 5px 0 0 15px;
				}
				.desc-tbl {
					width: 320px;
					.desc-label {
						width: 30%;
					}
					.desc-value {
						margin-bottom: 10px;
					}
				}
				.app-desc {
					padding-left: 90px;
					
					.sub-msg {
						color: red;
						font-size: 15px;
					}
					
					#appTitle {
						font-size: 45px
					}
					#appLabel {
						font-size: 24px
					}
					#descContent {
						margin-top: 25px;
					}
				}
				
			}
		}
		.action {
			margin: 25px 0 25px 0;
			
			a {
				text-decoration: none;
			}

			#btnComingSoon {
				font-size: 20px;
				font-weight: 900;
				color: #FFF;
				padding: 15px 40px;
				border: 1px solid #F00;
				background: #F00;
				margin-right: 10px;
				vertical-align: middle;
				cursor: default;
			}

			.btnTermsOfService {
				font-size: 20px;
				font-weight: 900;
				color: #13b5ea;
				padding: 10px;
				margin-right: 10px;
				vertical-align: middle;
				cursor: default;
			}
			
			button:not(#btnComingSoon), a {
				font-size: 20px;
				font-weight: 900;
				color: #13B5EA;
				padding: 15px 40px;
				border: 1px solid #13B5EA;
				background: #FFF;
				margin-right: 10px;
				vertical-align: middle;
				
				&:hover {
					background: #13B5EA;
					color: #FFF;
				}
				
				&.active {
					background: #13B5EA;
					color: #FFF;
					&:hover {
						background: #FFF;
						color: #13B5EA;
					}
				}
			}
			
			#btnSubscribe{
				&:disabled {
					color: #999 !important;
				    cursor: not-allowed;
				    background-color: #fff !important;
				    border-color: #ddd;
				}
			}
			
			/*#btnSubscribe{
				padding: 8px 40px;
				//position: relative;
				
				#terms {
					font-size: 10px;
				    //position: absolute;
				   //left: 50%;
				    //transform: translate(-50%);
				}
			}*/
			
		}
		
		.slide-show {
			width: 100%; //640px;
			margin: auto;
			margin-bottom: 100px;
			.carousel-control.left, .carousel-control.right {
			    background-image: none !important;
			    filter: none !important;
			    color: #000;
			}
			.carousel-control.left {
				left: -200px;
			}
			.carousel-control.right {
				right: -200px;
			}
			.item {
				p {
					font-size: 20px;
					font-weight: 300;
				}
			}
			.image-desc {
				margin-top: 15px;
				text-align: center;
			}
			
		}
		
		.desc-body {
			//padding: 100px 0;
		}
	}
}

#termsContent {
	height: 500px;
	overflow: auto;
	margin-bottom: 40px;
}

.terms-check {
    margin: 0 10px 20px 0 !important;
}
