
/* DIALOGS! */


/* NEW MODAL DESIGN! */

.modal-header-new {
  height:40px;
  padding: 10px 10px 0px 10px;
  z-index: 99999;
  position: relative;
  text-align: left;
  border-bottom: none;
  background: #fff;
  &:before,
  &:after {
    bottom: 0;
    height: 0;
  }

  .titleBarNew {
    color: #ffab40;
    position:absolute;
    height: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .close {
      width: 50px;
      height: 50px;
      opacity: .5;
      margin: 0;
      color: #ffab40;
      border:none;
      text-shadow: initial;
      position: absolute;
      top: -45px;
      right:0;
      &:hover {
        opacity: 1;
      }
    }
  }

  .modal-title {
    padding: 0;
    font-size: 20px;
    line-height: 30px;
    color: #ffab40;
  }
}


.modal-header-new,
.modal-footer-new {
  &:before {
    content: " ";
    width: 50%;
    height: 0;
    background: #FFFFFF;
    background: -moz-linear-gradient(right, rgba(246, 246, 246, 1) 0%, rgba(246, 246, 246, 0.001) 100%);
    background: -webkit-linear-gradient(right, rgba(246, 246, 246, 1) 0%, rgba(246, 246, 246, 0.001) 100%);
    background: linear-gradient(right, rgba(246, 246, 246, 1) 0%, rgba(246, 246, 246, 0.001) 100%);
    position: absolute;
    left: 0;
  }
  &:after {
    content: " ";
    width: 50%;
    height: 0;
    background: #f6f6f6;
    background: -moz-linear-gradient(left, rgba(246, 246, 246, 1) 0%, rgba(246, 246, 246, 0.001) 100%);
    background: -webkit-linear-gradient(left, rgba(246, 246, 246, 1) 0%, rgba(246, 246, 246, 0.001) 100%);
    background: linear-gradient(left, rgba(246, 246, 246, 1) 0%, rgba(246, 246, 246, 0.001) 100%);
    position: absolute;
    right: 0;
  }
}


.modal-body-new {
  padding:0px;

  .container {
    width: 50%;
    margin: 0 auto;
    padding-top: 9px;
  }

  ul li {
    display: inline;
    text-align: center;
  }

  a {
    display: inline-block;
    width: 12%;
    padding: .25rem 0;
    margin: 0;
    text-decoration: none;
    color: #333;
  }

  .two:hover ~ hr {
    margin-left: 24%;
  }

  .three:hover ~ hr {
    margin-left: 36%;
  }

  .four:hover ~ hr {
    margin-left: 48%;
  }

  .five:hover ~ hr {
    margin-left: 60%;
  }

  .six:hover ~ hr {
    margin-left: 72%;
  }

  .seven:hover ~ hr {
    margin-left: 84%;
  }

  .eight:hover ~ hr {
    margin-left: 96%;
  }

  hr {
    height: .25rem;
    width: 12%;
    margin: 0;
    background: tomato;
    border: none;
    transition: .3s ease-in-out;
  }
}



/* OLD MODAL DESIGN! */

.modal {
  border: none;
  background: rgba(255, 255, 255, 0.80);
  &.top-modal {
    margin-top: 0 !important;
    top: 20px !important;
  }
}

.modal-scrollable {
  margin: 0;
} 

.modal-image-detail {
  .modal-body {
    padding: 0 !important;
  }
}

.modal-fullscreen {
  margin-top: 0 !important;
  top: 0 !important;
  width: 100% !important;
  height: 100%;
  left: 0 !important;
  margin: 0 !important;
  .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    .modal-body {
      height: 100vh;
    }
  }
  .modal-content {
    height: auto;
    min-height: 100%;
    overflow: auto;
    border-radius: 0;
  }
}

.modal.child-modal {
  background: rgba(255, 255, 255, 1);
}

.modal-backdrop.fade.in {
  opacity: 0.5;
}

#settings-management {
  .form-control {
    padding-left: 10px;
  }
  .checkbox {
    padding-top: 0;
  }
  .email-template-content {
    background: #FFF;
    border: 1px solid #000;
    padding: 10px;
  }
}

#edit-styles-modal .file-preview {
  .file-preview-frame {
    padding: 0;
    height: auto;
    border: none;
    box-shadow: none;
    float: none;
    margin: 8px auto;
    .file-preview-image {
      height: auto !important;
      width: 100%;
    }
  }
  .file-footer-buttons {
    display: none;
  }
}

.modal-header,
.modal-footer {
  &:before {
    content: " ";
    width: 50%;
    height: 0;
    background: #FFFFFF;
    background: -moz-linear-gradient(right, rgba(246, 246, 246, 1) 0%, rgba(246, 246, 246, 0.001) 100%);
    background: -webkit-linear-gradient(right, rgba(246, 246, 246, 1) 0%, rgba(246, 246, 246, 0.001) 100%);
    background: linear-gradient(right, rgba(246, 246, 246, 1) 0%, rgba(246, 246, 246, 0.001) 100%);
    position: absolute;
    left: 0;
  }
  &:after {
    content: " ";
    width: 50%;
    height: 0;
    background: #f6f6f6;
    background: -moz-linear-gradient(left, rgba(246, 246, 246, 1) 0%, rgba(246, 246, 246, 0.001) 100%);
    background: -webkit-linear-gradient(left, rgba(246, 246, 246, 1) 0%, rgba(246, 246, 246, 0.001) 100%);
    background: linear-gradient(left, rgba(246, 246, 246, 1) 0%, rgba(246, 246, 246, 0.001) 100%);
    position: absolute;
    right: 0;
  }
}

.modal-header {
  height: 50px;
  padding: 10px;
  z-index: 9999;
  position: relative;
  text-align: left;
  border-bottom: 1px solid #dddddd;
  background: #FFFFFF;
  &:before,
  &:after {
    bottom: 0;
    height: 0;
  }
  .titleBar {
    color: #ffab40;
    position: absolute;
    height: 0;
    left: 0;
    top: 0;
    right: 0;
    // background: -moz-linear-gradient(left,  rgba(70,70,70,0.56) 0%, rgba(255,255,255,0.2) 90%, rgba(255,255,255,0.16) 100%); /* FF3.6+ */
    // background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(70,70,70,0.56)), color-stop(90%,rgba(255,255,255,0.2)), color-stop(100%,rgba(255,255,255,0.16))); /* Chrome,Safari4+ */
    // background: -webkit-linear-gradient(left,  rgba(70,70,70,0.56) 0%,rgba(255,255,255,0.2) 90%,rgba(255,255,255,0.16) 100%); /* Chrome10+,Safari5.1+ */
    // background: -o-linear-gradient(left,  rgba(70,70,70,0.56) 0%,rgba(255,255,255,0.2) 90%,rgba(255,255,255,0.16) 100%); /* Opera 11.10+ */
    // background: -ms-linear-gradient(left,  rgba(70,70,70,0.56) 0%,rgba(255,255,255,0.2) 90%,rgba(255,255,255,0.16) 100%); /* IE10+ */
    // background: linear-gradient(to right,  rgba(70,70,70,0.56) 0%,rgba(255,255,255,0.2) 90%,rgba(255,255,255,0.16) 100%); /* W3C */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f464646', endColorstr='#29ffffff',GradientType=1 ); /* IE6-9 */
    .close {
      width: 50px;
      height: 50px;
      opacity: 0.5;
      margin: 0;
      color: #ffab40;
      border-left: 1px solid rgba(0, 115, 170, 0.10);
      text-shadow: initial;
      &:hover {
        opacity: 1;
      }
    }
    .cancel {
      width: 50px;
      height: 50px;
      opacity: 0.5;
      margin: 0;
      color: #ffab40;
      border-left: 1px solid rgba(0, 115, 170, 0.10);
      text-shadow: initial;
      -webkit-appearance: none;
      padding:0;
      cursor: pointer;
      background: 0 0;
      border:0;
      float: right;
      font-size: 21px;
      font-weight:700;
      line-height:1;
      &:hover {
        opacity: 1;
      }
    }
  }
  .modal-title {
    padding: 0;
    font-size: 20px;
    line-height: 30px;
    color: #ffab40;
  }
}

.modal-footer {
  position: relative;
  border-top: initial;
  &:before,
  &:after {
    top: 0;
  }
}

.modal-overflow .modal-body {
  max-height: inherit;
  // max-height: ~"calc(100vh - 500px)";
}

body.modal-open>.blurred {
  filter: blur(5px) grayscale(1);
  -webkit-filter: blur(5px) grayscale(1);
}

.modal .close>i:before {
  content: "\f057";
}

.qc-label-info{
  font-size:13px;
  font-weight:300;
  font-style:italic;
}