.input-field .prefix {
    font-size:20px !important;
    padding-top: 15px !important;
}

.loginButton {
    margin-top:20px;
}

@media only screen and (max-width: 767px) {
    .loginButton {
        width:100%;
    }
}

.help-block {
    margin-top: -17px !important;
}

.registerBackground {
    width:100%;
    height:100%;
    overflow: auto;
    position: fixed;
    background-image: url(../images/circles-25.jpg);
    background-position: center bottom;
}

.select-wrapper .dropdown-content {
    max-height: 300px !important;
}

.btn:hover,
.btn:focus {
    background-color: #96cb4b !important;
}

button{
    position: relative;
    border: none;
    outline:none;
    cursor: pointer;
    background: #89669b;
    color: white;
    padding: 18px 60px;
    border-radius: 2px;
    font-size: 22px;
}

.fab{
    border-radius: 50%;
    margin:0;
    padding: 20px;
}

.material{
    position:relative;
    color:white;
    margin: 20px auto;
    height:400px;
    width:500px;
    background:#f45673;

}

.ripple{
    overflow:hidden;
}

.ripple-effect{
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: white;


    animation: ripple-animation 2s;
}


@keyframes ripple-animation {
    from {
        transform: scale(1);
        opacity: 0.4;
    }
    to {
        transform: scale(100);
        opacity: 0;
    }
}

/*This is where styles for the slide panel are*/
.cd-panel {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    -webkit-transition: visibility 0s 0.6s;
    -moz-transition: visibility 0s 0.6s;
    transition: visibility 0s 0.6s;
}
.cd-panel::after {
    /* overlay layer */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    cursor: pointer;
    -webkit-transition: background 0.3s 0.3s;
    -moz-transition: background 0.3s 0.3s;
    transition: background 0.3s 0.3s;
}
.cd-panel.is-visible {
    visibility: visible;
    -webkit-transition: visibility 0s 0s;
    -moz-transition: visibility 0s 0s;
    transition: visibility 0s 0s;
}
.cd-panel.is-visible::after {
    background: rgba(0, 0, 0, 0.6);
    -webkit-transition: background 0.3s 0s;
    -moz-transition: background 0.3s 0s;
    transition: background 0.3s 0s;
}
.cd-panel.is-visible .cd-panel-close::before {
    -webkit-animation: cd-close-1 0.6s 0.3s;
    -moz-animation: cd-close-1 0.6s 0.3s;
    animation: cd-close-1 0.6s 0.3s;
}
.cd-panel.is-visible .cd-panel-close::after {
    -webkit-animation: cd-close-2 0.6s 0.3s;
    -moz-animation: cd-close-2 0.6s 0.3s;
    animation: cd-close-2 0.6s 0.3s;
}

@-webkit-keyframes cd-close-1 {
    0%, 50% {
        -webkit-transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}
@-moz-keyframes cd-close-1 {
    0%, 50% {
        -moz-transform: rotate(0);
    }
    100% {
        -moz-transform: rotate(45deg);
    }
}
@keyframes cd-close-1 {
    0%, 50% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}
@-webkit-keyframes cd-close-2 {
    0%, 50% {
        -webkit-transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(-45deg);
    }
}
@-moz-keyframes cd-close-2 {
    0%, 50% {
        -moz-transform: rotate(0);
    }
    100% {
        -moz-transform: rotate(-45deg);
    }
}
@keyframes cd-close-2 {
    0%, 50% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}
.cd-panel-header {
    position: fixed;
    width: 90%;
    height: 50px;
    line-height: 50px;
    background: rgba(255, 255, 255, 0.96);
    z-index: 2;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    -webkit-transition: top 0.3s 0s;
    -moz-transition: top 0.3s 0s;
    transition: top 0.3s 0s;
}
.cd-panel-header h1 {
    font-weight: bold;
    color: #89ba2c;
    padding-left: 5%;
}
.from-right .cd-panel-header, .from-left .cd-panel-header {
    top: -50px;
}
.from-right .cd-panel-header {
    right: 0;
}
.from-left .cd-panel-header {
    left: 0;
}
.is-visible .cd-panel-header {
    top: 0;
    -webkit-transition: top 0.3s 0.3s;
    -moz-transition: top 0.3s 0.3s;
    transition: top 0.3s 0.3s;
}
@media only screen and (min-width: 481px) {
    .cd-panel-header {
        width: 385px
    }
}
@media only screen and (max-width: 480px) {
    .cd-panel-header {
        width: 280px;
    }
}

.cd-panel-close {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 60px;
    /* image replacement */
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}
.cd-panel-close::before, .cd-panel-close::after {
    /* close icon created in CSS */
    position: absolute;
    top: 22px;
    left: 20px;
    height: 3px;
    width: 20px;
    background-color: #424f5c;
    /* this fixes a bug where pseudo elements are slighty off position */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.cd-panel-close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.cd-panel-close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.no-touch .cd-panel-close:hover {
    background-color: #424f5c;
}
.no-touch .cd-panel-close:hover::before, .no-touch .cd-panel-close:hover::after {
    background-color: #ffffff;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.no-touch .cd-panel-close:hover::before {
    -webkit-transform: rotate(220deg);
    -moz-transform: rotate(220deg);
    -ms-transform: rotate(220deg);
    -o-transform: rotate(220deg);
    transform: rotate(220deg);
}
.no-touch .cd-panel-close:hover::after {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.cd-panel-container {
    background: #fff;
    position: fixed;
    width: 90%;
    height: 100%;
    top: 0;
    z-index: 1;
    -webkit-box-shadow: 3px 0px 7px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 3px 0px 7px 0px rgba(0,0,0,0.25);
    box-shadow: 3px 0px 7px 0px rgba(0,0,0,0.25);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.from-right .cd-panel-container {
    right: 0;
    -webkit-box-shadow: 3px 0px 7px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 3px 0px 7px 0px rgba(0,0,0,0.25);
    box-shadow: 3px 0px 7px 0px rgba(0,0,0,0.25);
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}
.from-left .cd-panel-container {
    left: 0;
    -webkit-box-shadow: 3px 0px 7px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 3px 0px 7px 0px rgba(0,0,0,0.25);
    box-shadow: 3px 0px 7px 0px rgba(0,0,0,0.25);
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
.is-visible .cd-panel-container {
    background: #fff;
    -webkit-box-shadow: 3px 0px 7px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 3px 0px 7px 0px rgba(0,0,0,0.25);
    box-shadow: 3px 0px 7px 0px rgba(0,0,0,0.25);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s;
}
@media only screen and (min-width: 481px) {
    .cd-panel-container {
        width: 385px
    }
}
@media only screen and (max-width: 480px) {
    .cd-panel-container {
        width: 348px;
    }
}

.cd-panel-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 70px 5%;
    overflow: auto;
    /* smooth scrolling on touch devices */
    -webkit-overflow-scrolling: touch;
}
.cd-panel-content p {
    font-size: 14px;
    font-size: 0.875rem;
    color: #424f5c;
    line-height: 1.4;
    margin: 2em 0;
}
.cd-panel-content p:first-of-type {
    margin-top: 0;
}

.pannelCoverPage {
    width:100%;
    height:100%;
    opacity: 0;
}
@media only screen and (min-width: 768px) {
    .cd-panel-content p {
        font-size: 16px;
        font-size: 1rem;
        line-height: 1.6;
    }
}

.nav-head {
    background-color: #008fed;
    padding:30px 40px;
}

.nav-head .top-bar {
    position: relative;
    width:100%;
    text-align: right;
    margin-bottom:35px;
}

.nav-head .top-bar .nav-close {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    text-align: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding-top: 6px;
    margin-right: -7px;
    cursor: pointer;
}

.nav-body {
    background-color: #fff;
    padding:30px 0;
}

.nav-body .inner {
    padding:0 26px;
    margin:0;
}

.nav-body .inner .nav-link .scroll-nav {
    display: inline-block;
    margin-right: -5px;
}

.nav-body .inner .nav-link .scroll-nav li {
    margin-bottom: 18px;
}

/*End side panel styles*/

.form-control {
    height: 40px;
    padding:0;
    border:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

}

/* The badge on the login section */
.badge {
    font-weight:400;
    text-transform: none;
    margin-bottom: 30px;
    vertical-align: baseline;
    display: block;
    padding:0;
    background-color: #fff;

}


/*Icons on the signup form*/
i.prefix {
    position: absolute;
    margin: 18px 0px;
    font-size:24px;
    width: 3rem;
}

label.countryLabel {
    -webkit-transform: translateY(-130%);
    -moz-transform: translateY(-130%);
    -ms-transform: translateY(-130%);
    -o-transform: translateY(-130%);
    transform: translateY(-130%);
    font-size: 11px !important;
}

/*Select box for the countries during signup*/
.select-wrapper > ul > li > span {
            color: teal;
}

.select-wrapper span.caret {
    border-top:none !important;
}

/* Video Youtube iframe and border */
.video-block iframe {
    border:5px solid #fff;
}

.videoPlaceholder {
    margin: auto;
}

.videoPlaceholder .placeholderCover {
    background-color: rgba(3, 155, 229, 0.7);
    width: 100%;
    height:100%;
    border: 5px solid #fff;
}

@media (min-width: 1400px) {
    .videoPlaceholder {
        width: 480px;
        height: 315px;
    }
}

@media (max-width: 1400px) {
    .videoPlaceholder {
        width: 328px;
        height: 240px;
    }
    .video-popup {
        margin-top: 5rem !important;
    }
}
.video-popup {
    color: #fff !important;
}

@media (max-width: 805px) {
    .videoPlaceholder {
        margin: 12px auto;
    }
    .video-block {
        padding-bottom:20px !important;
    }
}



/* block heading above workflow */
.block-heading h2 {
    margin:0px !important;
    line-height: 46.8px !important;
    font-size:36px !important;
    font-weight: 300 !important;
}

/* privacy modal */
.modal#privacy-page {
    width:100% !important;
    background-color: transparent !important;
    max-height:100% !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

}

.modal-backdrop.fade.in {
    display: none;
}

@media (min-width: 770px) {
    .proposalBlockLabel {
        padding-left: 11rem;
    }
}


@media (max-width: 770px) {
    .proposalBlockLabel {
        padding-left: 1rem;
    }
}


/*Pulse button and animation*/

.pulse-button {
    overflow: initial;
    position: relative;
}

.pulse-button::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: inherit;
    border-radius: inherit;
    -webkit-animation: pulse-animation 1.25s cubic-bezier(0.56, 0, 0, 0.66) infinite;
    animation: pulse-animation 1.25s cubic-bezier(0.56, 0, 0, 0.66) infinite;
    z-index: -1;
}

@-webkit-keyframes pulse-animation {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    30% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    40% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        transform: scale(1);
    }
    50% {
        opacity: 0;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}

@keyframes pulse-animation {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    30% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    40% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        transform: scale(1);
    }
    50% {
        opacity: 0;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}


/*This is the country error color */
.countryError {
    border-bottom: 1px solid #ff0000 !important;
    color: #ff0000 !important;
}