ol, ul ul{
    margin-left: 30px;
    padding: 0px;
}
ul {
    padding: 0px;
}
table.table thead .sorting { background: none !important; }
table.table thead .sorting_asc {  background: url('../images/sort_arrow_asc.png') no-repeat center left !important; }
table.table thead .sorting_desc { background: url('../images/sort_arrow_desc.png') no-repeat center left !important; }
//.cke_editable ol {
//  counter-reset: section;
//  list-style-type: none;
//}
//.cke_editable ol li::before {
//    counter-increment: section;
//    content: counters(section,".") ". ";
//}
hr {
  border-color: #ddd;
}

textarea {
  resize: vertical;
}

.emails {
  width: 100%;
}

.fr-element ul {
  margin-left: 45px;
}

.form-horizontal .control-label {
  white-space: nowrap;
}

.panel-body > ul {
  padding-left: 20px;
}
.navbar-btn.pull-right {
  margin-top: 3px;
  margin-right: 15px;
}

.navbar-brand img {
  height: 40px;
  margin-right: 5px;
}

.dataTables_filter input {
  background: #E4E5E6;
  color: #555555;
  padding-left: 10px;
}

.dataTables_filter input:focus {
  box-shadow: none;
}

.templates {
  border: 1px solid #ECEAF3;
  border-radius: 2px;
  padding: 10px;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 185px;
}

.templates-list {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

.templates-list .templates-search {
  border-bottom: 1px solid #D9D9D9;
  padding: 10px 5px;
  position: relative;
}

.templates-list .templates-item {
  border-bottom: 1px solid #D9D9D9;
  padding: 5px 15px 5px 25px;
  position: relative;
}

.templates-list .templates-item {
  border-bottom: 1px solid #D9D9D9;
  padding: 5px 15px 5px 25px;
  position: relative;
}

.templates-list .templates-item:last-child {
  border-bottom: none;
}

.templates-list .templates-item span {
  color: #555555;
  display: block;
}

.templates-list .templates-item .templates-item-star,
.templates-list .templates-item .templates-item-attachment,
.templates-list .templates-item .templates-item-time,
.templates-list .templates-item .templates-item-time .templates-item-actions {
  position: absolute;
}

.templates-list .templates-item .templates-item-star {
  color: #007AFF;
  left: 7px;
  top: 7px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out 0s;
}


/* ie8 fixes */

.ie8 .templates-list .templates-item .templates-item-star {
  display: none;
}

.ie8 .templates-list .templates-item:hover .templates-item-star {
  display: block;
}


/**/

.templates-list .templates-item .templates-item-attachment {
  left: 7px;
  top: 25px;
  color: #007AFF;
}

.templates-list .templates-item .templates-item-avatar {
  border-radius: 4px 4px 4px 4px;
  float: left;
  height: 40px;
  width: 40px;
}

.templates-list .templates-item .templates-item-from,
.templates-list .templates-item .templates-item-subject {
  margin-left: 0;
}

.templates-list .templates-item .templates-item-from {
  font-weight: bold;
  margin-top: 2px;
}

.templates-list .templates-item .templates-item-time {
  opacity: 1;
  right: 15px;
  top: 8px;
  transition: opacity 0.2s ease-in-out 0s;
}

.templates-list .templates-item .templates-item-time .text {
  color: #999999;
  font-size: 12px;
}

.templates-list .templates-item .templates-item-time .templates-item-actions {
  opacity: 0;
  right: 0;
  top: 0;
  transition: opacity 0.2s ease-in-out 0s;
  width: 65px;
}

#platform-notification-modal > .modal-body > ul {
  padding-left:16px;
}


/* ie8 fixes */

.ie8 .templates-list .templates-item .templates-item-time .templates-item-actions {
  display: none;
}


/**/

.templates-list .templates-item .templates-item-time .templates-item-actions>a,
.templates-list .templates-item .templates-item-time .templates-item-actions .dropdown>a {
  color: #007AFF;
  margin-left: 5px;
}

.templates-list .templates-item .templates-item-time .templates-item-actions>div {
  display: inline-block;
}

.templates-list .templates-item .templates-item-time .templates-item-actions .dropdown-menu {
  margin-top: 0;
}

.templates-list .templates-item .templates-item-time .templates-item-actions .tag-icon {
  border-radius: 30px;
  display: inline-block;
  height: 11px;
  margin: 0 5px 0 -13px;
  width: 11px;
}

.templates-list .templates-item .templates-item-time .templates-item-actions .tag-icon.red {
  background: red;
}

.templates-list .templates-item .templates-item-time .templates-item-actions .tag-icon.teal {
  background: #569099;
}

.templates-list .templates-item .templates-item-time .templates-item-actions .tag-icon.green {
  background: #3D9400;
}

.templates-list .templates-item .templates-item-time:hover .text {
  opacity: 0;
}

.templates-list .templates-item .templates-item-time:hover .templates-item-actions {
  opacity: 1;
}

.templates-list .templates-item .templates-item-subject {
  font-size: 12px;
  margin-bottom: 4px;
}

.templates-list .templates-item .templates-item-preview {
  color: #999999;
  font-size: 12px;
}

.templates-list .templates-item:hover {
  background-color: #F5F5F5;
  cursor: pointer !important;
}

.templates-list .templates-item:hover .templates-item-star {
  opacity: 0.2;
}

.templates-list .templates-item.active {
  background-color: #F5F5F5;
}

.templates-list .templates-item.starred .templates-item-star {
  display: block;
  opacity: 1;
}

.templates-content {
  background-color: rgba(0, 0, 0, 0);
  border-top: 1px solid #ECEAF3;
  height: auto;
  margin-left: 260px;
  position: relative;
  width: auto;
}

.templates-content .message-header {
  border-bottom: 1px solid #D9D9D9;
  padding: 10px 15px;
}

.templates-content .message-header .message-from {
  font-weight: bold;
}

.templates-content .message-header .message-to {
  color: #999999;
}

.templates-content .message-header .message-time {
  color: #999999;
  position: absolute;
  right: 15px;
  top: 10px;
}

.templates-content .message-header .message-actions {
  left: 50%;
  margin-left: -60px;
  position: absolute;
  width: 120px;
}

.templates-content .message-header .message-actions a {
  background-color: #FFFFFF;
  border-bottom: 1px solid #F5F4F9;
  border-left: 1px solid #F5F4F9;
  border-top: 1px solid #F5F4F9;
  color: #999999;
  margin: 0 0 0 -4px;
  padding: 4px 7px;
}

.templates-content .message-header .message-actions a:hover {
  color: #007AFF;
}

.templates-content .message-header .message-actions a:first-child {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  padding-left: 10px;
}

.templates-content .message-header .message-actions a:last-child {
  border-bottom-right-radius: 4px;
  border-right: 1px solid #F5F4F9;
  border-top-right-radius: 4px;
}

.templates-content .message-content {
  padding: 20px 10px;
  color: #555555;
}

.tab-content .panel {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.layout-boxed .tab-content .panel-heading {
  display: none;
}

.tab-content .panel .panel-body {
  padding: 10px;
}

.tab-content .panel.editable .panel-body {
  border: 1px dashed #DDDDDD;
  border-top: 1px solid transparent;
}

.tab-content .panel.viewable .panel-body {
  border: 1px solid #DDDDDD;
  border-top: 1px solid transparent;
}

.layout-boxed .tab-content .panel .panel-body {
  border: none;
}

.tab-content .panel-body {
  padding: 0;
}

.maximise {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}


/* validations */

.has-error .boxed,
.has-error .tagsinput {
  border-color: #A94442;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}


/*General markup*/

.alert-warning {
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.25, rgba(0, 0, 0, 0.03)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(0, 0, 0, 0.03)), color-stop(0.75, rgba(0, 0, 0, 0.03)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(135deg, rgba(0, 0, 0, 0.03) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.03) 50%, rgba(0, 0, 0, 0.03) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(135deg, rgba(0, 0, 0, 0.03) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.03) 50%, rgba(0, 0, 0, 0.03) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(135deg, rgba(0, 0, 0, 0.03) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.03) 50%, rgba(0, 0, 0, 0.03) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(135deg, rgba(0, 0, 0, 0.03) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.03) 50%, rgba(0, 0, 0, 0.03) 75%, transparent 75%, transparent);
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.03) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.03) 50%, rgba(0, 0, 0, 0.03) 75%, transparent 75%, transparent);
  background-size: 16px 16px;
}

.qcloud-progress-bar.progress .progress-bar-text {
    position: absolute;
    width: 100%;
    color: white;
    text-shadow: 0px 0px 1px black;
    font-weight: bold;
    text-align:center;
    color:white;
}


  
.bootstrapWizard.two-steps li{
  	width:50%;
}
.bootstrapWizard.three-steps li{
  	width:33.333%;
}
.bootstrapWizard.four-steps li{
  	width:25%;
}
.bootstrapWizard.five-steps li{
  	width:20%;
} 

#first-login-modal .pager {
    text-align: right;
}
#first-login-modal .pager .cancel {
    float:left;
}


///SCROLL DOWN START

@import url(https://fonts.googleapis.com/css?family=Cabin);

@colorBg: #ededed;
@colorOutline: lighten(#000, 20%);
@colorOutlineFade: darken(#ededed, 20%);

@widthMouse: 22px;
@heightMouse: 35px;
@borderMouse: 6px;

@posMouse: 8px;
@posText: 2px;

@sizeTrackball: 6px;
@posTrackball: 10px;
@shrinkTrackball: 0.4;

@animDuration: 5s;

.bgGradient {
  background:
    @colorOutlineFade
    linear-gradient(
      transparent 0%,
      transparent 50%,
      @colorOutline 50%,
      @colorOutline 100%
    );
}

.bgGradientHorizontal {
  background:
    @colorOutlineFade
    linear-gradient(
      90deg,
      transparent 0%,
      transparent 50%,
      @colorOutline 50%,
      @colorOutline 100%
    );
}

.mouse {
  .bgGradient;
  position: relative;
  width: @widthMouse;
  height: @heightMouse;
  background-size: 100% 100%;
  border-radius: 100px;
  background-size: 225%;
  margin: 0 auto;
  animation: 
    colorSlide @animDuration linear infinite,
    nudgeMouse @animDuration ease-out infinite;
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
  }
  &:before {
    width: @widthMouse - @borderMouse;
    height: @heightMouse - @borderMouse;
    background-color: @colorBg;
    border-radius: 100px;
  }
  &:after {
    background-color: @colorOutline;
    width: @sizeTrackball;
    height: @sizeTrackball;
    border-radius: 100%;
    animation: trackBallSlide @animDuration linear infinite;
  }
}

.mouse-horizontal {
  .bgGradientHorizontal;
  position: relative;
  width: @heightMouse;
  height: @widthMouse;
  background-size: 100% 100%;
  border-radius: 100px;
  background-size: 225%;
  margin: 0 auto;
  animation: 
    colorSlideHorizontal @animDuration linear infinite,
    nudgeMouseHorizontal @animDuration ease-out infinite;
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
  }
  &:before {
    width: @heightMouse - @borderMouse;
    height: @widthMouse - @borderMouse;
    background-color: @colorBg;
    border-radius: 100px;
  }
  &:after {
    background-color: @colorOutline;
    width: @sizeTrackball;
    height: @sizeTrackball;
    border-radius: 100%;
    animation: trackBallSlideHorizontal @animDuration linear infinite;
  }
}

.scrollmore-wrapper {
  position: absolute;
  background: #ededed;
  text-align: center;
  z-index: 10000;
  padding-top:10px;
  p {
    margin-top: 20px;
    letter-spacing: 1px;
    color: @colorOutline;
  }
}

.scrollmore-horizontal-wrapper {
  position: absolute;
  right: 30px;
  top: 11px;
  text-align: center;
  z-index: 10000;
  align-items: center;
  display: none;
  p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: @colorOutline;
    display: inline-block;
    margin: 0;
    margin-right: 5px;
  }
}

@keyframes colorSlide { 
  0% { background-position: 0% 100%; }
  20% { background-position: 0% 0%; }
  21% { background-color: @colorOutlineFade; }
  29.99% { 
    background-color: @colorOutline;
    background-position: 0% 0%;
  }
  30% { 
    background-color: @colorOutlineFade;
    background-position: 0% 100%;
  }
  50% { background-position: 0% 0%; }
  51% { background-color: @colorOutlineFade; }
  59.99% { 
    background-color: @colorOutline;
    background-position: 0% 0%;
  }
  60% { 
    background-color: @colorOutlineFade;
    background-position: 0% 100%;
  }
  80% { background-position: 0% 0%; }
  81% { background-color: @colorOutlineFade; }
  89.99%, 100% { background-color: @colorOutline; }
}

@keyframes colorSlideHorizontal { 
  0% { background-position: 100% 0%; }
  20% { background-position: 0% 0%; }
  21% { background-color: @colorOutlineFade; }
  29.99% { 
    background-color: @colorOutline;
    background-position: 0% 0%;
  }
  30% { 
    background-color: @colorOutlineFade;
    background-position: 100% 0%;
  }
  50% { background-position: 0% 0%; }
  51% { background-color: @colorOutlineFade; }
  59.99% { 
    background-color: @colorOutline;
    background-position: 0% 0%;
  }
  60% { 
    background-color: @colorOutlineFade;
    background-position: 100% 0%;
  }
  80% { background-position: 0% 0%; }
  81% { background-color: @colorOutlineFade; }
  89.99%, 100% { background-color: @colorOutline; }
}

@keyframes trackBallSlide {
  0% {
    opacity: 1;
    transform: scale(1) translateY(-@posTrackball);
  }
  6% { 
    opacity: 1;
    transform: scale(0.9) translateY(@posTrackball/4);
  }
  14% {
    opacity: 0;
    transform: scale(@shrinkTrackball) translateY(@posTrackball*2);
  }
  15%, 19% {
    opacity: 0;
    transform: scale(@shrinkTrackball) translateY(-@posTrackball);
  }
  28%, 29.99% {
    opacity: 1;
    transform: scale(1) translateY(-@posTrackball);
  }
  30% {
    opacity: 1;
    transform: scale(1) translateY(-@posTrackball);
  }
  36% { 
    opacity: 1;
    transform: scale(0.9) translateY(@posTrackball/4);
  }
  44% {
    opacity: 0;
    transform: scale(@shrinkTrackball) translateY(@posTrackball*2);
  }
  45%, 49% {
    opacity: 0;
    transform: scale(@shrinkTrackball) translateY(-@posTrackball);
  }
  58%, 59.99% {
    opacity: 1;
    transform: scale(1) translateY(-@posTrackball);
  }
  60% {
    opacity: 1;
    transform: scale(1) translateY(-@posTrackball);
  }
  66% { 
    opacity: 1;
    transform: scale(0.9) translateY(@posTrackball/4);
  }
  74% {
    opacity: 0;
    transform: scale(@shrinkTrackball) translateY(@posTrackball*2);
  }
  75%, 79% {
    opacity: 0;
    transform: scale(@shrinkTrackball) translateY(-@posTrackball);
  }
  88%, 100% {
    opacity: 1;
    transform: scale(1) translateY(-@posTrackball);
  }
}

@keyframes trackBallSlideHorizontal {
  0% {
    opacity: 1;
    transform: scale(1) translateX(-@posTrackball);
  }
  6% { 
    opacity: 1;
    transform: scale(0.9) translateX(@posTrackball/4);
  }
  14% {
    opacity: 0;
    transform: scale(@shrinkTrackball) translateX(@posTrackball*2);
  }
  15%, 19% {
    opacity: 0;
    transform: scale(@shrinkTrackball) translateX(-@posTrackball);
  }
  28%, 29.99% {
    opacity: 1;
    transform: scale(1) translateX(-@posTrackball);
  }
  30% {
    opacity: 1;
    transform: scale(1) translateX(-@posTrackball);
  }
  36% { 
    opacity: 1;
    transform: scale(0.9) translateX(@posTrackball/4);
  }
  44% {
    opacity: 0;
    transform: scale(@shrinkTrackball) translateX(@posTrackball*2);
  }
  45%, 49% {
    opacity: 0;
    transform: scale(@shrinkTrackball) translateX(-@posTrackball);
  }
  58%, 59.99% {
    opacity: 1;
    transform: scale(1) translateX(-@posTrackball);
  }
  60% {
    opacity: 1;
    transform: scale(1) translateX(-@posTrackball);
  }
  66% { 
    opacity: 1;
    transform: scale(0.9) translateX(@posTrackball/4);
  }
  74% {
    opacity: 0;
    transform: scale(@shrinkTrackball) translateX(@posTrackball*2);
  }
  75%, 79% {
    opacity: 0;
    transform: scale(@shrinkTrackball) translateX(-@posTrackball);
  }
  88%, 100% {
    opacity: 1;
    transform: scale(1) translateX(-@posTrackball);
  }
}

@keyframes nudgeMouse {
  0% { transform: translateY(0); }
  20% { transform: translateY(@posMouse); }
  30% { transform: translateY(0); }
  50% { transform: translateY(@posMouse); }
  60% { transform: translateY(0); }
  80% { transform: translateY(@posMouse); }
  90% { transform: translateY(0); }
}

@keyframes nudgeMouseHorizontal {
  0% { transform: translateX(0); }
  20% { transform: translateX(@posMouse); }
  30% { transform: translateX(0); }
  50% { transform: translateX(@posMouse); }
  60% { transform: translateX(0); }
  80% { transform: translateX(@posMouse); }
  90% { transform: translateX(0); }
}

@keyframes nudgeText {
  0% { transform: translateY(0); }
  20% { transform: translateY(@posText); }
  30% { transform: translateY(0); }
  50% { transform: translateY(@posText); }
  60% { transform: translateY(0); }
  80% { transform: translateY(@posText); }
  90% { transform: translateY(0); }
}

@keyframes colorText { 
  21% { color: @colorOutlineFade; }
  30% { color: @colorOutline; }
  51% { color: @colorOutlineFade; }
  60% { color: @colorOutline; }
  81% { color: @colorOutlineFade; }
  90% { color: @colorOutline; }
}

.item-actions {
	.buttonInfoTemplate {
		display:none;
	}
}

.item-folder,
[data-library="text"]{
	.item-actions {
		.buttonDownloadItem {
			display:none;
		}
	}
}

#file-manager {
	
	.file-add-container{
		#add-folder-button, #add-image-button, #add-cover-button, #add-pdf-button, #add-video-button, #add-text-button, #add-coverphoto-button, #add-template-button{
			display:none;
		}
		
	}
	&.level-1, &.level-2{
		&:not(.library-cover), &:not(.library-project) {
			.file-add-container #add-folder-button{
				display: block;
			}
		}
	}
	&.library-images.level-2, &.library-images.level-3 {
		#add-image-button{
			display: block;
		}
	}
	&.library-pdf.level-2, &.library-pdf.level-3 {
		#add-pdf-button{
			display: block;
		}
	}
	&.library-text.level-2, &.library-text.level-3 {
		#add-text-button{
			display: block;
		}
	}
	&.library-template {
      &.level-1 {
        .file-add-container {
          display: none;
        }
      }
      &.level-2, &.level-3 {
        #add-template-button{
          display: block;
        }
      }
	}
	&.library-videos.level-2, &.library-videos.level-3 {
		#add-video-button{
			display: block;
		}
	}
	
	&.library-cover.level-1 {
		#add-cover-button{
			display: block;
		}
	}
	
	&.library-project.level-1 {
		#add-project-button{
			display: block;
			opacity: 1;
		}
	}
	
}

