body{
	background: url('/application/images/mybg.png') #ffffff;
}
.navbar-inverse {
	background: #e2e2e2;
    background: -moz-linear-gradient(top, #f3f3f3 0%, #e2e2e2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f3f3), color-stop(100%, #e2e2e2));
    background: -webkit-linear-gradient(top, #f3f3f3 0%, #e2e2e2 100%);
    background: -o-linear-gradient(top, #f3f3f3 0%, #e2e2e2 100%);
    background: -ms-linear-gradient(top, #f3f3f3 0%, #e2e2e2 100%);
    background: linear-gradient(to bottom, #f3f3f3 0%, #e2e2e2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f3f3f3, endColorstr=#e2e2e2, GradientType=0);
}

.fr-wrapper p {
	margin: 0 0 7px !important;
}
.fr-wrapper table {
	width: 100%;
}

.main-content {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.tabs-left>.nav-tabs {
	position: fixed !important;
	border-bottom: none;
}

.tab-content>.tab-pane.section {
	display: block !important;
}

#documentScrollPane {
	padding-bottom: 75%;
	background-color: #e7e7e8;
}

#documentScrollPane > div {
	x-padding-top: 50px;
}

#documentSectionBrowser {
	width: 250px;
	padding-top: 17px;
}

#documentSectionBrowser a {
	cursor: pointer;
	min-height: 56px;
}

.content {
	x-background-color: #fbfbfb;
	padding: 0;
}

.tab-pane.section {
	padding-top: 40px;
}

.tab-pane.section:first-child {
	padding-top: 0;
}

.videoCell iframe {
  display: block;
  position: absolute;
  top: 0;
}

.videoImage, .videoDiv,
.videoDiv .playButton {
	display: none !important;
}

.cover {
	width: 793px;
	height: 1122px;
	padding-left: 13px;
	position: relative;
}

.cover .placeHolder {
	height: 630px;
	width: 100%;
}

.coverSection {
	font-size: 15px;
}

.cover {
	.proposalTitle {
  		height: 170px;

	}
	.proposalTitle, .coverData {
		width: 640px;
		left: 30px;
	}
}

.level2 div {
	line-height: 20px;
}

.cover .proposalName {
	letter-spacing: 0px;
}

.cover .coverpageSpectrum
{
	left: 0;
}

.contentDiv > .contentHolder{
  border: none;
}

.panel {
	border: 0 none #FFFFFF;
}
.panel-body {
	padding: 0;
}
.main-content .container {
	border-left: 0 none #ffffff;
	border-bottom: 0 none #ffffff;
}

p {
	margin: 14px 0;
}

.contentDiv {
	margin-top: 0px;
	margin-bottom: 10px;
}

a#yourSolutionInDetail {
	position: relative;
	top: -50px;
}

.layout-boxed .main-container {
    width: 1000px !important;
}

.coverSummaryContent {
	font-size: 15px;
	line-height: 17px;
}

.coverLogo img {
	margin: 18px 18px 0 0 ;
}

.back-to-top {
	a {
		border-radius: 50%;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
		position: fixed;
		bottom: 30px;
		right: 15px;
		height: 60px;
		width: 60px;
		text-align: center;
		transition: all .3s ease-out;
		z-index: 1000;
		i {
			color: #FFF;
			line-height: 60px;
			margin-top: -2px;
		}
	}
	&:hover {
		a {
			box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
		}
	}
}

.modal{
  background: url('/application/images/mybg.png') #ffffff;
}

/* responsive for tablet*/
@media (min-width: 1024px) {
	.layout-boxed .main-container {
		max-width: 1100px !important;
	    width: 1100px !important;
	}
}

@media (max-width: 1023px) {
	.layout-boxed .main-container {
		max-width: 768px !important;
	    width: 768px !important;
	}

	#documentSectionBrowser {
	    width: 0;
	    display: none;
	}

	.cover {
	    width: 720px;
	}
}

@media (max-width: 767px) {
	.navbar .navbar-form {
		margin: 0 -15px;
	}

  .content img {
    max-width: 100%;
  }
}

.multi-col-2 {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

.multi-col-3 {
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

// For send proposal modal
#emailBody {
	border: 1px dashed #DDDDDD;
	background-color: white;
}


/* DIALOGS! */
.modal{
  //background: url('/application/images/mybg.png') #ffffff;
  border: none;
  background: rgba(255,255,255,0.80);
}

.modal-backdrop.fade.in {
  opacity: 0.01;
}

.modal-header, .modal-footer{
    &:before{
    content: " ";
    width: 50%;
    height: 1px;
    background: #f6f6f6;
    background: -moz-linear-gradient(right, rgba(246,246,246,1) 0%, rgba(246,246,246,0.001) 100%);
    background: -webkit-linear-gradient(right, rgba(246,246,246,1) 0%, rgba(246,246,246,0.001) 100%);
    background: linear-gradient(right, rgba(246,246,246,1) 0%, rgba(246,246,246,0.001) 100%);
    position: absolute;
    left: 0;
  }

  &:after{
    content: " ";
    width: 50%;
    height: 1px;
    background: #f6f6f6;
    background: -moz-linear-gradient(left, rgba(246,246,246,1) 0%, rgba(246,246,246,0.001) 100%);
    background: -webkit-linear-gradient(left, rgba(246,246,246,1) 0%, rgba(246,246,246,0.001) 100%);
    background: linear-gradient(left, rgba(246,246,246,1) 0%, rgba(246,246,246,0.001) 100%);
    position: absolute;
    right: 0;
  }
}

.modal-header{
  height: 95px;
  padding:30px;
  position: relative;
  text-align: center;
  border-bottom: initial;
  background: #13b5ea;

  &:before, &:after{
    bottom:0;
  }

  .titleBar{
    position: absolute;
    height: 0;
    left: 0;
    top: 0;
    right: 0;

    // background: -moz-linear-gradient(left,  rgba(70,70,70,0.56) 0%, rgba(255,255,255,0.2) 90%, rgba(255,255,255,0.16) 100%); /* FF3.6+ */
    // background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(70,70,70,0.56)), color-stop(90%,rgba(255,255,255,0.2)), color-stop(100%,rgba(255,255,255,0.16))); /* Chrome,Safari4+ */
    // background: -webkit-linear-gradient(left,  rgba(70,70,70,0.56) 0%,rgba(255,255,255,0.2) 90%,rgba(255,255,255,0.16) 100%); /* Chrome10+,Safari5.1+ */
    // background: -o-linear-gradient(left,  rgba(70,70,70,0.56) 0%,rgba(255,255,255,0.2) 90%,rgba(255,255,255,0.16) 100%); /* Opera 11.10+ */
    // background: -ms-linear-gradient(left,  rgba(70,70,70,0.56) 0%,rgba(255,255,255,0.2) 90%,rgba(255,255,255,0.16) 100%); /* IE10+ */
    // background: linear-gradient(to right,  rgba(70,70,70,0.56) 0%,rgba(255,255,255,0.2) 90%,rgba(255,255,255,0.16) 100%); /* W3C */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f464646', endColorstr='#29ffffff',GradientType=1 ); /* IE6-9 */

    .close {
      width:19px;
      height:19px;
      opacity:0.5;
      margin:5px;
      color: inherit;
      text-shadow: initial;
      &:hover{
        opacity:1;
      }
    }
  }

  .modal-title{
    padding: 0;
    font-size: 33px;
    line-height: 33px;
    color: #fff;
  }
}
.modal-footer{
  position: relative;
  border-top: initial;
  &:before, &:after{
    top:0;
  }
}

.modal-overflow .modal-body {
	max-height: 588px;
	// max-height: ~"calc(100vh - 500px)";
}

body.modal-open > .blurred{
  filter: blur(5px) grayscale(1);
  -webkit-filter: blur(5px) grayscale(1);
}
.modal .close > i:before{
  content: "\f057";
}

.mg-envelope {
  border-radius: initial;
  background-image: url(../images/envelope-border.png);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 40px 3px;
}

#qcPaymentModal{
	background: #fff;
}

/*--------------------
Mixins
--------------------*/


ball {
	content: '';
	display: block;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	/*  background: rgba(255, 255, 255, .5);*/
	background:#888;
	z-index: 2;
	margin-top: 4px;
	animation: ball .45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
}

/*--------------------
Chat
--------------------*/

.chat {
	width: 100%;
	height: 100%;
	z-index: 10;
	overflow: hidden;
	/*box-shadow: 0 5px 30px rgba(0, 0, 0, .2);*/
	/* background: rgba(0, 0, 0, .5);*/
	background: #fff;
	background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.SignUp {
	 width: 100%;
	 height: 100%;
	 //max-height: 500px;
	 z-index: 10;
	 overflow: hidden;
	 /*box-shadow: 0 5px 30px rgba(0, 0, 0, .2);*/
	 /* background: rgba(0, 0, 0, .5);*/
	 background: #fff;
	 background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
	 border-radius: 5px;
	 -webkit-border-radius: 5px;
	 -moz-border-radius: 5px;
	 display: flex;
	 justify-content: space-between;
	 flex-direction: column;
 }


/*--------------------
Chat Title
--------------------*/

.chat-title {
	flex: 0 1 45px;
	position: relative;
	z-index: 2;
	width:100%;
	border-bottom:1px solid #ccc;
	color: #777;
	padding: 23px 0;
	background-color:#fff;
	text-transform: uppercase;
	text-align: center;

	h1,
	h2 {
		font-weight: normal;
		font-size: 14px;
		margin: 0;
		padding: 0;
		color: #fff !important;
		text-align: left;
		text-transform: none;
		margin-left: 60px;
	}
	h2 {
		/* color: rgba(255, 255, 255, .8);*/
		font-size: 11px;
		letter-spacing: 1px;
		font-weight: 300;
	}
	.avatar {
		position: absolute;
		z-index: 1;
		top: 8px;
		left: 9px;
		-webkit-border-radius: 30px;
		-moz-border-radius: 30px;
		border-radius: 30px;
		width: 60px;
		height: 60px;
		overflow: hidden;
		margin: 0;
		padding: 0;
		border: 1px solid #fff;
		img {
			width: 100%;
			height: auto;
		}
	}
}


/*--------------------
Messages
--------------------*/

.messages {
	flex: 1 1 auto;
	/*  color: rgba(255, 255, 255, .5);
    color: #fff;*/
	overflow: hidden;
	position: relative;
	width: 100%;
	& .messages-content {
		position: absolute;
		top: 0;
		left: 0;
		height: 101%;
		width: 100%;
		margin-left: 0px;
	}
	.message {
		clear: both;
		float: left;
		padding: 6px 10px 7px;
		-webkit-border-radius: 20px 20px 20px 0;
		-moz-border-radius: 20px 20px 20px 0;
		border-radius: 20px 20px 20px 0;
		background: #eee; /*rgba(0, 0, 0, 0.1);*/
		margin: 8px 0;
		font-size: 14px;
		line-height: 1.4;
		margin-left: 35px;
		position: relative;
		border:1px solid #ccc;
		/*text-shadow: 0 1px 1px rgba(0, 0, 0, .2);*/
		.timestamp {
			position: absolute;
			bottom: -15px;
			font-size: 10px;
			color: #555;
			right: 0px;
			width: 140px;
			/* color: rgba(255, 255, 255, .7);*/

		}
		.checkmark-sent {
			position: absolute;
			bottom: -15px;
			right: 8px;
			font-size:12px;
			color:#999;
		}
		.checkmark-sent-delivered {
			position: absolute;
			bottom: -15px;
			right: 12px;
			font-size:12px;
			color:#999;
		}
		.checkmark-read {
			color:blue;
			position: absolute;
			bottom: -15px;
			right: 16px;
			font-size:12px;
		}
		&::before {
			/*  content: '';
              position: absolute;
              bottom: -6px;
              border-top: 6px solid rgba(0, 0, 0, 0.1);
              left: 0;
              border-right: 7px solid transparent;*/
		}
		.avatar {
			position: absolute;
			z-index: 1;
			bottom: -15px;
			left: -35px;
			-webkit-border-radius: 30px;
			-moz-border-radius: 30px;
			border-radius: 30px;
			width: 30px;
			height: 30px;
			overflow: hidden;
			margin: 0;
			padding: 0;
			border: 2px solid rgba(255, 255, 255, 0.5);
			img {
				width: 100%;
				height: auto;
			}
		}
		&.message-personal {
			float: right;
			text-align: right;
			/*      background: linear-gradient(120deg, #ddd, #eee);*/
			background:#fff;
			border:1px solid #ccc /*#4A90E2*/;
			-webkit-border-radius: 20px 20px 0 20px;
			-moz-border-radius: 20px 20px 0 20px;
			border-radius: 20px 20px 0 20px;

			&::before {

				/*
                    content:"";
                border-color:#4A90E2 transparent;
                  width:0;
                  border-style:solid;*/
				/*
                left: auto;
                right: 0;
                border-right: none;
               border-left: 8px solid transparent;
                border-top: 9px solid #fff;

                bottom: -8px;*/
			}

		}
		&:last-child {
			margin-bottom: 30px;
		}
		&.new {
			transform: scale(0);
			transform-origin: 0 0;
			animation: bounce 500ms linear both;
		}
		&.loading {
			&::before {
				border: none;
				animation-delay: .15s;
			}
			& span {
				display: block;
				font-size: 0;
				width: 20px;
				height: 10px;
				position: relative;
				&::before {
					margin-left: -7px;
				}
				&::after {
					margin-left: 7px;
					animation-delay: .3s;
				}
			}
		}
	}
}


/*--------------------
Message Box
--------------------*/

.chatChat-submit {
	left: 31%;
	position: absolute;
	background-color: #7e93af;
	height: 45px;
	color: #fff;
	width: 170px;
	font-size: 13px;
	-webkit-box-shadow: 0 4px 12px rgba(0,0,0,.1);
	-moz-box-shadow: 0 4px 12px rgba(0,0,0,.1);
	box-shadow: 0 4px 12px rgba(0,0,0,.1);
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	border-width: 0;
	margin-top: 20px;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

.messages-content {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.message-box {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.collapse-card__heading::after {
	top: 2rem !important;
}

.chat-title {
	background: #e25b01;
	color: #fff !important;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	h1 {
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	}
	h2 {
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	}
}

.message-box-signin {
	textarea, input, button {
		outline: none;
	}
	flex: 0 1 42px;
	width: 95%;
	background: #fff;
	margin: 15px 10px;
	/*-webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.4);
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.4);*/
	/*background: rgba(0, 0, 0, 0.3);
      border-top:1px solid #e3e3e3;*/
	padding: 20px 10px;
	position: relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 32px;
	//border:1px solid #ccc;

	& .message-input {
		background: none;
		border: none;
		overflow: hidden;
		outline: none!important;
		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;
		box-shadow: none !important;
		resize: none;
		/* color: rgba(255, 255, 255, .8);*/
		font-size: 15px;
		height: 24px;
		margin: 4px;
		padding-right: 68px;
		width: 100%;
		color: #444;
	}
	textarea:focus:-webkit-placeholder {
		color: transparent;
	}
}
.message-box {
	textarea, input, button { outline: none; }
	flex: 0 1 42px;
	width: 100%;
	background: #fff;
	//min-height: 50px;
	//margin:2px auto;
	/*-webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.4);
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.4);*/
	/*background: rgba(0, 0, 0, 0.3);
      border-top:1px solid #e3e3e3;*/
	padding: 10px;
	position: relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 2px 4px;
	height:120px;
	//border:1px solid #ccc;

	& .message-input {
		background: none;
		overflow: hidden;
		border: none;
		outline: none!important;
		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;
		box-shadow: none !important;
		resize: none;
		/* color: rgba(255, 255, 255, .8);*/
		font-size: 15px;
		height: 24px;
		margin: 11px 4px;
		padding-right: 68px;
		width: 100%;
		color: #444;
	}
	textarea:focus:-webkit-placeholder {
		color: transparent;
	}
	& .message-submit {
		position: absolute;
		z-index: 1;
		top: 16px;
		right: 18px;
		color: #4A90E2;
		border: none;
		/* background: #c29d5f;*/
		background: transparent;
		font-size: 12px;
		text-transform: uppercase;
		line-height: 1;
		padding: 6px 10px;
		border-radius: 5px;
		outline: none!important;
		transition: background .2s ease;
		cursor:pointer;
		&:hover {
			background: #fff;
			color: #333;
		}
	}
}


/*--------------------
Custom Srollbar
--------------------*/

.mCSB_scrollTools {
	margin: 1px -3px 1px 0;
	opacity: 0;
}

.mCSB_inside > .mCSB_container {
	margin-right: 0px;
	padding: 0 10px;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background-color: rgba(0, 0, 0, 0.5)!important;
}


/*--------------------
Bounce
--------------------*/

@keyframes bounce {
	0% {
		transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	4.7% {
		transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	9.41% {
		transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	14.11% {
		transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	18.72% {
		transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	24.32% {
		transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	29.93% {
		transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	35.54% {
		transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	41.04% {
		transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	52.15% {
		transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	63.26% {
		transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	85.49% {
		transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	100% {
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
}

@keyframes ball {
	from {
		transform: translateY(0) scaleY(.8);
	}
	to {
		transform: translateY(-10px);
	}
}


.avenue-messenger {
	opacity: 1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: calc(100% - 35px)!important;
	max-height:660px!important;
	min-height:270px!important;
	width: 400px;
	/*  transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
    */
	background: rgba(255, 255, 255, 0.9);
	position: fixed;
	right: 15px;
	top: 60px;
	margin: auto;
	z-index: 10;
	box-shadow: 2px 10px 40px rgba(22,20,19,0.4);
	/*  transform: translateX(300px);*/
	-webkit-transition: 0.3s all ease-out 0.1s, transform 0.2s ease-in;
	-moz-transition: 0.3s all ease-out 0.1s, transform 0.2s ease-in;

}

.avenue-messenger div.agent-face {
	position: absolute;
	left: 0;
	top: -50px;
	right: 0;
	margin: auto;
	width: 101px;
	height: 50px;
	background: transparent;
	z-index:12;


}


.avenue-messenger div {
	font-size: 14px;
	color:#232323;
}


.close {
	display: block;
	width: 100px;
	height: 100px;
	margin: 1em auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-border-radius: 99em;
	-moz-border-radius: 99em;
	border-radius: 99em; opacity: 0.5;
	/*border: 1px solid #ccc;
    color:#ccc;*/
	/* -webkit-box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    0px -1px 2px 0px rgba(0, 0, 0, 0.5);
    box-shadow:         0px -1px 2px 0px rgba(0, 0, 0, 0.5);*/
}
.close:hover {/*
-webkit-box-shadow:  0 1px 1px rgba(0,0,0,0.3);
-moz-box-shadow:  0 1px 1px rgba(0,0,0,0.3);
box-shadow: 0 1px 1px rgba(0,0,0,0.3);*/
	opacity:0.9;
}

.circle {
	display: block;
	width: 80px;
	height: 80px;
	margin: 1em auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-border-radius: 99em;
	-moz-border-radius: 99em;
	border-radius: 99em;
	border: 2px solid #fff; /*#4A90E2;*/
	/* -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
     -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
   box-shadow: 0px 0px 10px rgba(0,0,0,.8);*/

}

.contact-icon .circle:hover{
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	transition:0.2s all ease-out 0.2s;
	-webkit-transition:0.2s all ease-out 0.2s;
	-moz-transition:0.2s all ease-out 0.2s;
}


.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #fff;
	border-width: 5px;
	margin-top: -5px;
}
.arrow_box {
	position: relative;
	background: #fff;
	border: 1px solid #4A90E2;
}
.arrow_box:after, .arrow_box:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}


.menu div.items {
	/*  height: 140px;
      width: 180px;
      overflow: hidden;
      position: absolute;
      left: -130px;
      z-index: 2;
      top: 20px;*/
}

.menu .items span {
	color: #111;
	z-index:12;
	font-size: 14px;
	text-align: center;
	position: absolute;
	right: 0;
	top:45px;
	height: 86px;
	line-height: 40px;
	background: #fff;
	border-left:1px solid #ccc;
	border-bottom:1px solid #ccc;
	border-right:1px solid #ccc;
	width: 48px;
	opacity: 0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	transition: .3s all ease-in-out;
	-webkit-transition: .3s all ease-in-out;
	-moz-transition: .3s all ease-in-out;
}

.menu .button {
	font-size: 30px;

	z-index:12;
	text-align: right;
	color: #333;
	content: "...";
	display: block;
	width: 48px;
	line-height: 25px;
	height: 45px;
	border-top-right-radius: 5px;
	/*  border-top-left-radius:20px;*/
	position: absolute;
	right: 0;
	padding-right:10px;
	cursor: pointer;
	transition: .3s all ease-in-out;
	-webkit-transition: .3s all ease-in-out;
	-moz-transition: .3s all ease-in-out;
}

.menu .buttonLiveChat {
	font-size: 20px;

	z-index:12;
	text-align: right;
	color: #fff;
	content: "...";
	display: block;
	line-height: 25px;
	border-top-right-radius: 5px;
	/*  border-top-left-radius:20px;*/
	position: absolute;
	right: 20px;
	top: 25px;
	cursor: pointer;
	transition: .3s all ease-in-out;
	-webkit-transition: .3s all ease-in-out;
	-moz-transition: .3s all ease-in-out;
}
.menu .button.active {background: #e25b01;}
.menu .buttonLiveChat.active {background: #e25b01;}
/*
.menu .button:hover .menu .items span {
  display: block;
  left: -2px;
  opacity: 1;
}*/

.menu .items span.active {
	opacity:1;
	/*border-radius:10px;
    height: 180px;
    width: 400px;
    transform:translateY(0);
    -webkit-transform:translateY(0);
    -moz-transform:translateY(0);*/
}

.menu .items a {color:#111; text-decoration:none;}
.menu .items a:hover{color:#777}



@media only screen and (max-device-width: 667px), screen and (max-width: 450px) {
	.avenue-messenger {
		z-index: 2147483001!important;
		width: 100%!important;
		height: 100%!important;
		max-height: none!important;
		top: 0!important;
		left: 0!important;
		right: 0!important;
		bottom: 0!important;
		-webkit-border-radius: 0!important;
		-moz-border-radius: 0!important;
		border-radius: 0!important;
		background:#fff;
	}
	.avenue-messenger div.agent-face {
		top:-10px!important;
		/* left:initial !important;*/
	}
	.chat {-webkit-border-radius: 0!important;
		-moz-border-radius: 0!important;
		border-radius: 0!important;
		max-height:initial!important;}

	.chat-title {
		padding:20px 20px 15px 10px!important;
		text-align:left;

	}
	.circle {
		width:80px;
		height:80px;
		border:1px solid #fff;
	}
	.menu .button {
		border-top-right-radius:0;
	}
}

@media only screen and (min-device-width: 667px) {
	div.half {

		margin: auto;
		width: 80px;
		height: 40px;
		background-color: #fff;
		border-top-left-radius: 60px;
		border-top-right-radius: 60px;

		border-bottom: 0;
		box-shadow:1px 4px 20px rgba(22,20,19,0.6);
		-webkit-box-shadow:1px 4px 20px rgba(22,20,19,0.6) ;
		-moz-box-shadow:1px 4px 20px rgba(22,20,19,0.6);
	}
}

/* TABLE STYLES */

@import  "../css-document/tables.less";

.sign-cert-section{
    background-image: url(/application/images/sign_cert_bg.png);
    padding: 40px;
    background-repeat: repeat-y;
    background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	.sign-cert-area {
	    margin-bottom: 20px;
	    .sign-cert-panel {
		    background-color: #f0f0f0;
		    border: 1px solid lightgrey;
		    padding: 2px;
		    .icon-area{
			    position: relative;
			    display: inline-block;
			    border: 1px solid lightgrey;
			    padding: 10px 10px 0 10px;
			    .bg-icon{
				    font-size: 96px;
				    color: #add8e6;
			    }
				.float-icon{
				    background-color: #FFF;
				    font-sizE: 24px;
				    position: absolute;
				    right: 6px;
				    bottom: 12px;
				    border-radius: 50%;
				    width: 25px;
				    height: 25px;
				    text-align: center;
				    line-height: 25px;
				    &.fa-check{
				    	color: green;
				    }
				    &.fa-question{
				    	color: #9a9a04;
				    }
				}
				
			}
			.typed-signature{
				font-size: 30px;
				white-space: nowrap;
			}
	    }
	}
}

.segment {
	.segment-table{
		width: 100% !important;
	}
}

.flightTimeHeading {
	width:4% !important;
}
.flightTimeValue {
	width:4% !important;
}
