<#ftl output_format="HTML" auto_esc=true>
<tr class="tableHeader iconRow" valign="top" data-version="default">
	<td class="productCell">
		<i class="fa fa-shopping-cart">
		</i>
		<p>
			${TEXT_PRICING_HEADER_PRODUCT}
		</p>
	</td>
	<#if !isHideQtyColumn>
	<td width="10%">
		<i class="fa fa-hashtag">
		</i>
		<p>
			${TEXT_PRICING_HEADER_QTY}
		</p>
	</td>
	</#if>
	<#if !isHideTermColumn>
	<td width="22%">
		<i class="fa fa-clock-o">
		</i>
		<p>
			${TEXT_PRICING_HEADER_TERM}
		</p>
	</td>
	</#if>
	<#if !isHidePriceColumn>
	<td width="7%" class="costCell">
		<i class="moneytaryValue">
		</i>
		<p>
			${TEXT_PRICING_HEADER_PRICE}
		</p>
	</td>
	</#if>
	<#if !isHideTotalPriceColumn>
	<td width="13%" class="totalCostCell">
		<i class="moneytaryValue">
		</i>
		<p>
			${TEXT_PRICING_HEADER_TOTAL}
		</p>
	</td>
	</#if>
</tr>