<#ftl output_format="HTML" auto_esc=true>
<#if object.manualPercentage?? && object.manualPercentage!= 0>
	<#assign percentage = object.manualPercentage>
<#elseif object.autoPercentage?? && object.autoPercentage!= 0>
	<#assign percentage = object.autoPercentage>
<#else>
	<#assign percentage = 0>
</#if>
<#assign multiplier = ((100 + percentage)/100)>
<tr class="dataRow <#if escaped.note?? && escaped.note?length gt 0>hasNote</#if>">
	<td align="left">
		<div class="description">
			<#if object.thumbnail?? && object.thumbnail?length gt 0>
				<img style="float: left; margin: 0 10px 10px 0;" src="${object.thumbnail}" />
			</#if>
			${escaped.label?no_esc}
		</div>
	</td>
	<#if !isHideQtyColumn> 
	<td align="center">
		${object.qty?string.number}
	</td>
	</#if>
	<#if !isHideTermColumn>
	<td align="center">
		${TEXT_PRICING_ONEOFF_ROW_ONE_OFF}
	</td>
	</#if>
	<#if !isHidePriceColumn>
	<td class="tablePrice" align="right">
		<#assign price = object.unitPrice * multiplier>
		${price}
		<#if (percentage < 0 && !isHideDiscountFromPriceRow)>
		<br/><small><strike>${object.unitPrice}</strike> (${percentage?string["#0.##"]}%)</small>
	</#if>
<#if (percentage > 0 && !isHideMarginFromPriceRow)>
<br/><small><strike>${object.unitPrice}</strike> (${percentage?string["#0.##"]}%)</small>
</#if>
	</td>
	</#if>
	<#if !isHideTotalPriceColumn>
	<td align="right" class="tablePrice">
		${object.totalPrice}
	</td>
	</#if>
</tr>
<#if escaped.note?? && escaped.note?length gt 0>
<tr class="dataNote">
	<td colspan="5">
		<div class="note description">${escaped.note?no_esc}</div>
	</td>
</tr>
</#if>