#coming-soon {
    display: flex;
    flex: 1 0 auto;
    width: 100%;
    min-height: 100%;
    background: url('/application/assets/new/images/backgrounds/dark-material-bg.jpg') no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form-wrapper {
        width: 38.4rem;
        max-width: 38.4rem;
        background: #FFFFFF;
        text-align: center;

        .logo {
            width: 12.8rem;
            height: 12.8rem;
            line-height: 12.8rem;
            font-size: 8.6rem;
            font-weight: 500;
            margin: 3.2rem auto;
            color: #FFFFFF;
            border-radius: 2px;
        }

        .title {
            font-size: 1.7rem;
        }

        .subtitle {
            text-align: center;
            max-width: 30rem;
            font-size: 1.5rem;
        }

        .timer {
            > div {
                text-align: center;

                .value {
                    font-size: 3.4rem;
                }

                .type {
                    color: rgba(0, 0, 0, 0.54);
                }
            }
        }

        form {
            width: 100%;
            text-align: left;

            .message {
                font-weight: 500;
            }

            .submit-button {
                width: 22rem;
            }
        }

    }
}

// RESPONSIVE
@include media-breakpoint-down(sm) {

    #coming-soon {

        .form-wrapper {
            width: 100%;

            form {

                .btn {
                    width: 95%;
                }
            }
        }
    }
}