/*
 * Weather Icon Font (MA Weather MS-01) from mikeafford.com
 * Copyright (c) 2014 by Mike Afford. All rights reserved.
 */


@font-face {
    font-family: 'ma_weather_ms01regular';
    src: url('maweather-ms01-webfont.eot');
    src: url('maweather-ms01-webfont.eot?#iefix') format('embedded-opentype'),
         url('maweather-ms01-webfont.woff') format('woff'),
         url('maweather-ms01-webfont.ttf') format('truetype'),
         url('maweather-ms01-webfont.svg#ma_weather_ms01regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.glyph {
    font-family: 'ma_weather_ms01regular';
    font-size: 100px;
    color: black;
}