@cover-title-font-family: Arial,sans-serif;
@cover-title-font-size: 25px;
@cover-company-font-family: Arial,sans-serif;
@cover-company-font-size: 35px;
@cover-extra-font-family: Arial,sans-serif;
@cover-extra-font-size: 12px;

@body-font-family: Arial,serif;
@body-font-size: 12px;
@body-font-color: #939598;
@section-font-family: Arial,sans-serif;
@section-font-size: 20px;
@section-font-color: #939598;
@section-font-uppercase: uppercase;
@section-font-bold: normal;

@h1-font-family: Arial,sans-serif;
@h1-font-size: 25px;
@h1-font-color: #939598;
@h1-font-uppercase: uppercase;
@h1-font-bold: normal;

@h2-font-family: monospace,sans-serif;
@h2-font-size: 20px;
@h2-font-color: #939598;
@h2-font-uppercase: uppercase;
@h2-font-bold: normal;

@h3-font-family: Arial,sans-serif;
@h3-font-size: 20px;
@h3-font-color: #939598;
@h3-font-uppercase: uppercase;
@h3-font-bold: normal;

@application-torquoise:     #00857C;
@application-green:         #8CE100;
@application-purple:        #5A1991;
@application-blue:          #00BAFF;
@application-magenta:       #FF0070;
@application-orange:        #FFA500;

@application-palette1: #00b6f1;
@application-palette2: #BED730;
@application-palette3: #faa61a;
@application-palette4: #ec008c;
@application-background: #FFFFFF;
@application-currency: "$";

@application-content-padding-top: 0px;
@application-content-padding-right: 15px;
@application-content-padding-bottom: 0px;
@application-content-padding-left: 15px;