@import "config.less";

.btn-qcloud-design-palette1 {
  color: #fff;
  background-color: @application-palette1;
  border-color: darken(@application-palette1, 10%);
}
.btn-qcloud-design-palette1:hover,
.btn-qcloud-design-palette1:focus,
.btn-qcloud-design-palette1:active,
.btn-qcloud-design-palette1.active,
.open > .dropdown-toggle.btn-qcloud-design-palette1 {
  color: #fff;
  border-color: darken(@application-palette1, 10%);
  border-color: darken(@application-palette1, 10%);
}
.btn-qcloud-design-palette1:active,
.btn-qcloud-design-palette1.active,
.open > .dropdown-toggle.btn-qcloud-design-palette1 {
  background-image: none;
}
.btn-qcloud-design-palette1.disabled,
.btn-qcloud-design-palette1[disabled],
fieldset[disabled] .btn-qcloud-design-palette1,
.btn-qcloud-design-palette1.disabled:hover,
.btn-qcloud-design-palette1[disabled]:hover,
fieldset[disabled] .btn-qcloud-design-palette1:hover,
.btn-qcloud-design-palette1.disabled:focus,
.btn-qcloud-design-palette1[disabled]:focus,
fieldset[disabled] .btn-qcloud-design-palette1:focus,
.btn-qcloud-design-palette1.disabled:active,
.btn-qcloud-design-palette1[disabled]:active,
fieldset[disabled] .btn-qcloud-design-palette1:active,
.btn-qcloud-design-palette1.disabled.active,
.btn-qcloud-design-palette1[disabled].active,
fieldset[disabled] .btn-qcloud-design-palette1.active {
  background-color: @application-palette1;
  border-color: darken(@application-palette1, 10%);
}
.btn-qcloud-design-palette1 .badge {
  color: @application-palette1;
  background-color: #fff;
}

.btn-qcloud-design-palette2 {
  color: #fff;
  background-color: @application-palette2;
  border-color: darken(@application-palette2, 10%);
}
.btn-qcloud-design-palette2:hover,
.btn-qcloud-design-palette2:focus,
.btn-qcloud-design-palette2:active,
.btn-qcloud-design-palette2.active,
.open > .dropdown-toggle.btn-qcloud-design-palette2 {
  color: #fff;
  border-color: darken(@application-palette2, 10%);
  border-color: darken(@application-palette2, 10%);
}
.btn-qcloud-design-palette2:active,
.btn-qcloud-design-palette2.active,
.open > .dropdown-toggle.btn-qcloud-design-palette2 {
  background-image: none;
}
.btn-qcloud-design-palette2.disabled,
.btn-qcloud-design-palette2[disabled],
fieldset[disabled] .btn-qcloud-design-palette2,
.btn-qcloud-design-palette2.disabled:hover,
.btn-qcloud-design-palette2[disabled]:hover,
fieldset[disabled] .btn-qcloud-design-palette2:hover,
.btn-qcloud-design-palette2.disabled:focus,
.btn-qcloud-design-palette2[disabled]:focus,
fieldset[disabled] .btn-qcloud-design-palette2:focus,
.btn-qcloud-design-palette2.disabled:active,
.btn-qcloud-design-palette2[disabled]:active,
fieldset[disabled] .btn-qcloud-design-palette2:active,
.btn-qcloud-design-palette2.disabled.active,
.btn-qcloud-design-palette2[disabled].active,
fieldset[disabled] .btn-qcloud-design-palette2.active {
  background-color: @application-palette2;
  border-color: darken(@application-palette2, 10%);
}
.btn-qcloud-design-palette2 .badge {
  color: @application-palette2;
  background-color: #fff;
}

.btn-qcloud-design-palette3 {
  color: #fff;
  background-color: @application-palette3;
  border-color: darken(@application-palette3, 10%);
}
.btn-qcloud-design-palette3:hover,
.btn-qcloud-design-palette3:focus,
.btn-qcloud-design-palette3:active,
.btn-qcloud-design-palette3.active,
.open > .dropdown-toggle.btn-qcloud-design-palette3 {
  color: #fff;
  border-color: darken(@application-palette3, 10%);
  border-color: darken(@application-palette3, 10%);
}
.btn-qcloud-design-palette3:active,
.btn-qcloud-design-palette3.active,
.open > .dropdown-toggle.btn-qcloud-design-palette3 {
  background-image: none;
}
.btn-qcloud-design-palette3.disabled,
.btn-qcloud-design-palette3[disabled],
fieldset[disabled] .btn-qcloud-design-palette3,
.btn-qcloud-design-palette3.disabled:hover,
.btn-qcloud-design-palette3[disabled]:hover,
fieldset[disabled] .btn-qcloud-design-palette3:hover,
.btn-qcloud-design-palette3.disabled:focus,
.btn-qcloud-design-palette3[disabled]:focus,
fieldset[disabled] .btn-qcloud-design-palette3:focus,
.btn-qcloud-design-palette3.disabled:active,
.btn-qcloud-design-palette3[disabled]:active,
fieldset[disabled] .btn-qcloud-design-palette3:active,
.btn-qcloud-design-palette3.disabled.active,
.btn-qcloud-design-palette3[disabled].active,
fieldset[disabled] .btn-qcloud-design-palette3.active {
  background-color: @application-palette3;
  border-color: darken(@application-palette3, 10%);
}
.btn-qcloud-design-palette3 .badge {
  color: @application-palette3;
  background-color: #fff;
}

.btn-qcloud-design-palette4 {
  color: #fff;
  background-color: @application-palette4;
  border-color: darken(@application-palette4, 10%);
}
.btn-qcloud-design-palette4:hover,
.btn-qcloud-design-palette4:focus,
.btn-qcloud-design-palette4:active,
.btn-qcloud-design-palette4.active,
.open > .dropdown-toggle.btn-qcloud-design-palette4 {
  color: #fff;
  border-color: darken(@application-palette4, 10%);
  border-color: darken(@application-palette4, 10%);
}
.btn-qcloud-design-palette4:active,
.btn-qcloud-design-palette4.active,
.open > .dropdown-toggle.btn-qcloud-design-palette4 {
  background-image: none;
}
.btn-qcloud-design-palette4.disabled,
.btn-qcloud-design-palette4[disabled],
fieldset[disabled] .btn-qcloud-design-palette4,
.btn-qcloud-design-palette4.disabled:hover,
.btn-qcloud-design-palette4[disabled]:hover,
fieldset[disabled] .btn-qcloud-design-palette4:hover,
.btn-qcloud-design-palette4.disabled:focus,
.btn-qcloud-design-palette4[disabled]:focus,
fieldset[disabled] .btn-qcloud-design-palette4:focus,
.btn-qcloud-design-palette4.disabled:active,
.btn-qcloud-design-palette4[disabled]:active,
fieldset[disabled] .btn-qcloud-design-palette4:active,
.btn-qcloud-design-palette4.disabled.active,
.btn-qcloud-design-palette4[disabled].active,
fieldset[disabled] .btn-qcloud-design-palette4.active {
  background-color: @application-palette4;
  border-color: darken(@application-palette4, 10%);
}
.btn-qcloud-design-palette4 .badge {
  color: @application-palette4;
  background-color: #fff;
}

.moneytaryValue:before {
  content: @application-currency;
  font-family: inherit;
}
#create-proposal-modal
{
  &[spectrum=palette1]
  {
    .coverPageOption .overlayBox
    {
      background-color: @application-palette1;
    }
  }
  &[spectrum=palette2]
  {
    .coverPageOption .overlayBox
    {
      background-color: @application-palette2;
    }
  }
  &[spectrum=palette3]
  {
    .coverPageOption .overlayBox
    {
      background-color: @application-palette3;
    }
  }
  &[spectrum=palette4]
  {
    .coverPageOption .overlayBox
    {
      background-color: @application-palette4;
    }
  }
}
