@import "config.less";

body {
  overflow: hidden;  
  .panel {
    &.viewable {
      .panel-body {
       font-family: @body-font-family;
       font-size: @body-font-size;
       i {
        font-size: 13px;
      }
    }
  }
  &.editable {
    .panel-body {
      font-family: @body-font-family;
      font-size: @body-font-size;
    }
    i {
      font-size: 13px;
    }
  }
}
&[spectrum=palette1]{
  .panel-body .sectionTitle,
  #navbar-proposal-title,
  .tab-pane:not(#doc-cover) .documentTag,
  .sectionTitle{
    color: @application-palette1;
  }
  #doc-pricing {
    [data-type="title"] .rowDescription  {
      &::-webkit-input-placeholder,
      &:-moz-placeholder,
      &::-moz-placeholder,
      &:-ms-input-placeholder {
        color: @application-palette1;
      }
      font-weight: 700;
      color: @application-palette1;
      font-size: 17px;
    }
    .noteDescription {
    	border-left: 2px solid @application-palette1;
    }
  }
  #documentSectionBrowser{
    li.active > a{
      color: @application-palette1;
      border-left-color: @application-palette1 !important;
      background-color: lighten(@application-palette1,45%);
    }
    .ui-state-highlight{
      background-color: @application-palette1;
    }
  }
  .coverPageOption .overlayBox
  {
    background-color: @application-palette1;
  }
}

&[spectrum=palette2]{
  .panel-body .sectionTitle,
  #navbar-proposal-title,
  .tab-pane:not(#doc-cover) .documentTag,
  .sectionTitle{
    color: @application-palette2;
  }
  #doc-pricing {
    [data-type="title"] .rowDescription {
      &::-webkit-input-placeholder,
      &:-moz-placeholder,
      &::-moz-placeholder,
      &:-ms-input-placeholder {
        color: @application-palette2;
      }
      font-weight: 700;
      color: @application-palette2;
      font-size: 17px;
    }
    .noteDescription {
    	border-left: 2px solid @application-palette2;
    }
  }
  #documentSectionBrowser{
    li.active > a{
      color: @application-palette2;
      border-left-color: @application-palette2 !important;
      background-color: lighten(@application-palette2,45%);
    }
    .ui-state-highlight{
      background-color: @application-palette2;
    }
  }
  .coverPageOption .overlayBox
  {
    background-color: @application-palette2;
  }
} 

&[spectrum=palette3]{
  .panel-body .sectionTitle,
  #navbar-proposal-title,
  .tab-pane:not(#doc-cover) .documentTag,
  .sectionTitle{
    color: @application-palette3;
  }
  #doc-pricing {
    [data-type="title"] .rowDescription {
      &::-webkit-input-placeholder,
      &:-moz-placeholder,
      &::-moz-placeholder,
      &:-ms-input-placeholder {
        color: @application-palette3;
      }
      font-weight: 700;
      color: @application-palette3;
      font-size: 17px;
    }
    .noteDescription {
    	border-left: 2px solid @application-palette3;
    }
  }
  #documentSectionBrowser{
    li.active > a{
      color: @application-palette3;
      border-left-color: @application-palette3 !important;
      background-color: lighten(@application-palette3,45%);
    }
    .ui-state-highlight{
      background-color: @application-palette3;
    }
  }
  .coverPageOption .overlayBox
  {
    background-color: @application-palette3;
  }
}

&[spectrum=palette4]{
  .panel-body .sectionTitle,
  #navbar-proposal-title,
  .tab-pane:not(#doc-cover) .documentTag,
  .sectionTitle{
    color: @application-palette4;
  }
  #doc-pricing {
    [data-type="title"] .rowDescription {
      &::-webkit-input-placeholder,
      &:-moz-placeholder,
      &::-moz-placeholder,
      &:-ms-input-placeholder {
        color: @application-palette4;
      }
      font-weight: 700;
      color: @application-palette4;
      font-size: 17px;
    }
    .noteDescription {
    	border-left: 2px solid @application-palette4;
    }
  }
  #documentSectionBrowser{
    li.active > a{
      color: @application-palette4;
      border-left-color: @application-palette4 !important;
      background-color: lighten(@application-palette4,45%); 
    }
    .ui-state-highlight{
      background-color: @application-palette4;
    }
  }
  .coverPageOption .overlayBox
  {
    background-color: @application-palette4;
  }
}
}

.sectionTitle{
  font-family: @section-font-family;
  font-size: @section-font-size;
  color: @section-font-color;
  font-weight: @section-font-bold;
  text-transform: @section-font-uppercase;
  text-decoration: @section-font-underline;
}

h1 {
  font-family: @h1-font-family;
  font-size: @h1-font-size;
  color: @h1-font-color;
  font-weight: @h1-font-bold;
  text-transform: @h1-font-uppercase;
  text-decoration: @h1-font-underline;
}

h2 {
  font-family: @h2-font-family;
  font-size: @h2-font-size;
  color: @h2-font-color;
  font-weight: @h2-font-bold;
  text-transform: @h2-font-uppercase;
  text-decoration: @h2-font-underline;
}

h3 {
  font-family: @h3-font-family;
  font-size: @h3-font-size;
  color: @h3-font-color;
  font-weight: @h3-font-bold;
  text-transform: @h3-font-uppercase;
  text-decoration: @h3-font-underline;
}

.btn-qcloud-design-palette1 {
  color: #fff;
  background-color: @application-palette1;
  border-color: darken(@application-palette1, 10%);
}
.btn-qcloud-design-palette1:hover,
.btn-qcloud-design-palette1:focus,
.btn-qcloud-design-palette1:active,
.btn-qcloud-design-palette1.active,
.open > .dropdown-toggle.btn-qcloud-design-palette1 {
  color: #fff;
  border-color: darken(@application-palette1, 10%);
  border-color: darken(@application-palette1, 10%);
}
.btn-qcloud-design-palette1:active,
.btn-qcloud-design-palette1.active,
.open > .dropdown-toggle.btn-qcloud-design-palette1 {
  background-image: none;
}
.btn-qcloud-design-palette1.disabled,
.btn-qcloud-design-palette1[disabled],
fieldset[disabled] .btn-qcloud-design-palette1,
.btn-qcloud-design-palette1.disabled:hover,
.btn-qcloud-design-palette1[disabled]:hover,
fieldset[disabled] .btn-qcloud-design-palette1:hover,
.btn-qcloud-design-palette1.disabled:focus,
.btn-qcloud-design-palette1[disabled]:focus,
fieldset[disabled] .btn-qcloud-design-palette1:focus,
.btn-qcloud-design-palette1.disabled:active,
.btn-qcloud-design-palette1[disabled]:active,
fieldset[disabled] .btn-qcloud-design-palette1:active,
.btn-qcloud-design-palette1.disabled.active,
.btn-qcloud-design-palette1[disabled].active,
fieldset[disabled] .btn-qcloud-design-palette1.active {
  background-color: @application-palette1;
  border-color: darken(@application-palette1, 10%);
}
.btn-qcloud-design-palette1 .badge {
  color: @application-palette1;
  background-color: #fff;
}

.btn-qcloud-design-palette2 {
  color: #fff;
  background-color: @application-palette2;
  border-color: darken(@application-palette2, 10%);
}
.btn-qcloud-design-palette2:hover,
.btn-qcloud-design-palette2:focus,
.btn-qcloud-design-palette2:active,
.btn-qcloud-design-palette2.active,
.open > .dropdown-toggle.btn-qcloud-design-palette2 {
  color: #fff;
  border-color: darken(@application-palette2, 10%);
  border-color: darken(@application-palette2, 10%);
}
.btn-qcloud-design-palette2:active,
.btn-qcloud-design-palette2.active,
.open > .dropdown-toggle.btn-qcloud-design-palette2 {
  background-image: none;
}
.btn-qcloud-design-palette2.disabled,
.btn-qcloud-design-palette2[disabled],
fieldset[disabled] .btn-qcloud-design-palette2,
.btn-qcloud-design-palette2.disabled:hover,
.btn-qcloud-design-palette2[disabled]:hover,
fieldset[disabled] .btn-qcloud-design-palette2:hover,
.btn-qcloud-design-palette2.disabled:focus,
.btn-qcloud-design-palette2[disabled]:focus,
fieldset[disabled] .btn-qcloud-design-palette2:focus,
.btn-qcloud-design-palette2.disabled:active,
.btn-qcloud-design-palette2[disabled]:active,
fieldset[disabled] .btn-qcloud-design-palette2:active,
.btn-qcloud-design-palette2.disabled.active,
.btn-qcloud-design-palette2[disabled].active,
fieldset[disabled] .btn-qcloud-design-palette2.active {
  background-color: @application-palette2;
  border-color: darken(@application-palette2, 10%);
}
.btn-qcloud-design-palette2 .badge {
  color: @application-palette2;
  background-color: #fff;
}

.btn-qcloud-design-palette3 {
  color: #fff;
  background-color: @application-palette3;
  border-color: darken(@application-palette3, 10%);
}
.btn-qcloud-design-palette3:hover,
.btn-qcloud-design-palette3:focus,
.btn-qcloud-design-palette3:active,
.btn-qcloud-design-palette3.active,
.open > .dropdown-toggle.btn-qcloud-design-palette3 {
  color: #fff;
  border-color: darken(@application-palette3, 10%);
  border-color: darken(@application-palette3, 10%);
}
.btn-qcloud-design-palette3:active,
.btn-qcloud-design-palette3.active,
.open > .dropdown-toggle.btn-qcloud-design-palette3 {
  background-image: none;
}
.btn-qcloud-design-palette3.disabled,
.btn-qcloud-design-palette3[disabled],
fieldset[disabled] .btn-qcloud-design-palette3,
.btn-qcloud-design-palette3.disabled:hover,
.btn-qcloud-design-palette3[disabled]:hover,
fieldset[disabled] .btn-qcloud-design-palette3:hover,
.btn-qcloud-design-palette3.disabled:focus,
.btn-qcloud-design-palette3[disabled]:focus,
fieldset[disabled] .btn-qcloud-design-palette3:focus,
.btn-qcloud-design-palette3.disabled:active,
.btn-qcloud-design-palette3[disabled]:active,
fieldset[disabled] .btn-qcloud-design-palette3:active,
.btn-qcloud-design-palette3.disabled.active,
.btn-qcloud-design-palette3[disabled].active,
fieldset[disabled] .btn-qcloud-design-palette3.active {
  background-color: @application-palette3;
  border-color: darken(@application-palette3, 10%);
}
.btn-qcloud-design-palette3 .badge {
  color: @application-palette3;
  background-color: #fff;
}

.btn-qcloud-design-palette4 {
  color: #fff;
  background-color: @application-palette4;
  border-color: darken(@application-palette4, 10%);
}
.btn-qcloud-design-palette4:hover,
.btn-qcloud-design-palette4:focus,
.btn-qcloud-design-palette4:active,
.btn-qcloud-design-palette4.active,
.open > .dropdown-toggle.btn-qcloud-design-palette4 {
  color: #fff;
  border-color: darken(@application-palette4, 10%);
  border-color: darken(@application-palette4, 10%);
}
.btn-qcloud-design-palette4:active,
.btn-qcloud-design-palette4.active,
.open > .dropdown-toggle.btn-qcloud-design-palette4 {
  background-image: none;
}
.btn-qcloud-design-palette4.disabled,
.btn-qcloud-design-palette4[disabled],
fieldset[disabled] .btn-qcloud-design-palette4,
.btn-qcloud-design-palette4.disabled:hover,
.btn-qcloud-design-palette4[disabled]:hover,
fieldset[disabled] .btn-qcloud-design-palette4:hover,
.btn-qcloud-design-palette4.disabled:focus,
.btn-qcloud-design-palette4[disabled]:focus,
fieldset[disabled] .btn-qcloud-design-palette4:focus,
.btn-qcloud-design-palette4.disabled:active,
.btn-qcloud-design-palette4[disabled]:active,
fieldset[disabled] .btn-qcloud-design-palette4:active,
.btn-qcloud-design-palette4.disabled.active,
.btn-qcloud-design-palette4[disabled].active,
fieldset[disabled] .btn-qcloud-design-palette4.active {
  background-color: @application-palette4;
  border-color: darken(@application-palette4, 10%);
}
.btn-qcloud-design-palette4 .badge {
  color: @application-palette4;
  background-color: #fff;
}

.moneytaryValue:before {
  content: @application-currency;
  font-family: inherit;
  margin-right: 5px;
}