@store-context: "stores";
body {
	margin: 0;
	font-family: @body-font-family;
	font-size: @body-font-size;
}

* {
	letter-spacing: 0;
}

h1,
h2,
h3 {
	text-transform: uppercase;
	font-weight: normal;
}

.sectionTitle {
	font-family: @section-font-family;
	font-size: @section-font-size;
	color: @section-font-color;
	font-weight: @section-font-bold;
	text-transform: @section-font-uppercase;
	text-decoration: @section-font-underline;
}

h1 {
	font-family: @h1-font-family;
	font-size: @h1-font-size;
	color: @h1-font-color;
	font-weight: @h1-font-bold;
	text-transform: @h1-font-uppercase;
	text-decoration: @h1-font-underline;
}

h2 {
	font-family: @h2-font-family;
	font-size: @h2-font-size;
	color: @h2-font-color;
	font-weight: @h2-font-bold;
	text-transform: @h2-font-uppercase;
	text-decoration: @h2-font-underline;
}

h3 {
	font-family: @h3-font-family;
	font-size: @h3-font-size;
	margin-bottom: 0.5em;
	color: @h3-font-color;
	font-weight: @h3-font-bold;
	text-transform: @h3-font-uppercase;
	text-decoration: @h3-font-underline;
}

ul {
	clear: left;
}

ol, ul ul{
    margin-left: 10px;
    padding: 0px;
}

ul {
    margin-left: 27px;
    padding: 0px;
}

ul li {
	list-style-type: square;
}

.sectionDiv h3 {
	text-transform: none;
}

.greyBlock.thingsShouldKnow {
	margin-top: 15px;
}

.greyBlock.thingsShouldKnow h3 {
	color: #939598;
}

.greyBlock.thingsShouldKnow ul li {
	list-style-image: none;
	list-style: disc;
}

strong {
	font-weight: bold;
}

div.header {
	width: 750px;
	height: 69px;
	x-background: url("/@{store-context}/_images/pdf/header_bg.png") left top no-repeat;
}

table,
td {
	border-collapse: collapse;
}

.noBreak {
	page-break-inside: avoid;
}

.noBreakRow tr {
	page-break-inside: avoid;
}

.content {
	padding: 0 20px 0 13px;
}

.proposalTitle {
	.proposalCompany {
		font-family: @cover-company-font-family;
		font-size: @cover-company-font-size;
		text-transform: uppercase;
	}
	.proposalName {
		font-family: @cover-title-font-family;
		font-size: @cover-title-font-size;
	}
	.proposalExtra {
		font-family: @cover-extra-font-family;
		font-size: @cover-extra-font-size;
	}
}

.headerTitle {
	float: right;
	color: white;
	display: inline-block;
	width: 500px;
	text-align: right;
	padding-top: 8px;
}

.contentDiv {
	width: 100%;
	color: @body-font-color;
	margin: 0px 0 0;
	page-break-inside: auto;
	padding-bottom: 15px;
}

.contentDiv>.contentHolder {
	//padding: 0 15px;
	padding-top: @application-content-padding-top;
	padding-right: @application-content-padding-right;
	padding-bottom: @application-content-padding-bottom;
	padding-left: @application-content-padding-left;
	border: 1px solid white;
	page-break-inside: auto;
}

.sectionTitle
{
	margin: 0;
	margin-bottom: 15px;
	background-color: @application-background;
}

.sectionWhatsNext {}

.sectionWhatsNext i {
	font-size: 60px;
	color: @spectrum-color;
}

.sectionTable {
	width: 100%;
}

.leftTable .leftColumn,
.rightTable .rightColumn {
	width: 180px;
	padding-top: 20px;
}

.rightTable .rightColumn {
	text-align: right;
}

.sectionTitle {
	display: block;
	color: @spectrum-color;
	padding-left: 15px;
}

.sectionContent {
	background-color: #fff;
	padding: 0;
}

.contentDiv p,
.introductionLegal p {
	margin-top: 0.8em;
	margin-bottom: 0.8em;
}

hr {
	border: 0px none #FFFFFF;
	border-top: 1px solid @spectrum-color;
	margin-top: 0;
}

.smallSectionIcon {
	display: inline-block;
	vertical-align: top;
	margin-right: 5px;
}

.termsTable {
	width: 100%;
}

.termsDiv {
	display: block;
	margin-right: 10px;
	padding-right: 16px;
	color: #ffffff;
	background: url("/application/images/@{spectrum-color-name}/right_arrow.png") no-repeat @spectrum-color right center;
}

.termsDiv:hover {
	color: #ffffff;
	text-decoration: none;
}

.termsDiv p {
	margin: 0;
	color: #ffffff;
	text-decoration: none;
}

.termsDiv p.planName {
	padding: 6px 10px 0 10px;
	line-height: 15px;
	height: 30px;
}

.termsDiv p.clickHere {
	padding: 0 10px 6px 10px;
	display: inline-block;
	height: 10px;
}

.leftRightBorder {
	width: 6px;
}

.shadowColumn {
	text-align: center;
}

.planDollor {
	position: relative;
	top: -8px;
}

.upSellTitle {
	color: @spectrum-color;
}

.upSellTitle i {
	display: inline-block;
	width: 14px;
	height: 14px;
}

.upSellContent {
	margin-top: 10px;
}

.upSellPrice {
	position: relative;
}

.upSellPrice .dollar {
	display: inline-block;
}

.upSellPrice .price {
	position: relative;
	top: -24px;
	left: 8px;
}

.upsellTable>tr>td,
.upsellTable>tbody>tr>td {
	padding: 5px 10px;
}

.leftBorder {
	border-left: 1px solid #d5d6d7;
}

.pricingTable {
	width: 100%;
	page-break-inside: auto;
	-fs-table-paginate: paginate;
	border-spacing: @pricing-table-style-spacing;
	border-collapse: @pricing-table-style-separator;
}

.pricingTableFooter {
	width: 100%;
	margin-bottom: 50px;
	border-spacing: @pricing-table-style-spacing;
	border-collapse: @pricing-table-style-separator;
}

.moreDetail {
	page-break-before: avoid;
}

.pricingTable tr {
	page-break-inside: avoid;
	page-break-after: auto;
}

.pricingTable thead {
	display: table-header-group;
}

.pricingTable tfoot {
	display: table-footer-group;
}

.pricingTable td i {
	font-size: 25px;
}

.pricingTable .tableHeader {
	text-align: center;
	color: @spectrum-color;
}

.pricingTable .tableHeader .productCell {
	text-align: left;
}

.pricingTable .tableHeader .productCell i {
	/*margin-left: 43px;*/
}

.pricingTable .tableHeader .costCell {
	text-align: center;
}

.pricingTable .tableHeader .costCell i {
	margin-right: 0;
}

.pricingTable .tableHeader .totalCostCell {
	text-align: right;
}

.pricingTable .moneytaryValue {
	line-height: 20px;
	font-style: normal;
	font-family: inherit;
	&:before {
		content: @application-currency;
	}
}

.pricingTable .tableHeader i {
	display: inline-block;
	x-margin: 0 auto 5px auto;
}

.pricingTable .tableHeader p {
	margin: 0 0 10px 0;
}

.pricingTable .groupHeader {
	color: @spectrum-color;
	text-transform: uppercase;
}

.grayRow {
	x-background-color: #ececec;
	background-color: #ffffff;
}

.lightGrayRow {
	x-background-color: #f6f6f6;
	background-color: #ffffff;
}

.whiteRow {
	background-color: #fbfbfb;
}

.dataRow.separator td{
	padding:0px;
}

.dataRow.subTotalRow td{
	font-size:14px;
	font-weight:bold;
	color:#000;
}

.sectionRow td,
.iconRow td,
.dataRow td,
.dataNote td {
	border-bottom: @pricing-table-style-weight @pricing-table-style-line @pricing-table-style-color;
}

.iconRow td {
	padding: 0px 5px;
}

.iconRow.hasNote td,
.dataRow.hasNote td {
	border-bottom: none;
}

.totalRow td {
	border-bottom: 0 none #FFFFFF;
}

td.totalLabel,
td.totalValue {
	border-bottom: @pricing-table-style-weight @pricing-table-style-line @pricing-table-style-color;
}

.dataRow td {
	padding: 10px 5px;
}

.pricingTable {
	.description {
		white-space: pre-line;
		margin: none;
		padding: none;
	}
	.note {
		margin: 5px 0 10px 5px;
		padding: 5px 0 5px 20px;
		border-left: 10px solid #ebebeb;
		font-style: @note-font-style;
		font-family: serif;
		font-size: 110%;
		&.note-theme {
			border-left-color: @spectrum-color;
		}
	}
}

.sectionRow td {
	padding: 10px 5px;
	font-size: 14px;
	font-weight: 700;
	color: @spectrum-color;
}

.groupTitleRow td {
	padding: 20px 0 0 5px;
}

.groupTitleRow td {
	font-weight: bold;
	color: #000000;
}

a.inPageLink {
	color: @spectrum-color;
	text-decoration: none;
}

.totalRow .totalLabel,
.totalRow .totalValue {
	color: @spectrum-color;
	text-align: right;
}

.overall.totalRow {
	font-size: 1.5em;
}

.totalValue {
	white-space: nowrap;
}

.tablePrice {
	white-space: nowrap;
	//font-family: 'Arial Unicode MS';
}

.bigChar {
	font-weight: bold;
}

.moreDetailText {}

.cover {
	color: white;
	position: relative;
}

.cover .placeHolder {
	width: 745px;
	height: 625px;
}

.coverLogo img {
	height: 80px;
	float: right;
}

.chat-title {
	background: @spectrum-color !important;
}

.cover {
	.proposalCompany {
		margin: 0;
		letter-spacing: 0px;
		line-height: 45px;
		width: 100%;
	}
	.proposalName {
		margin: 5px 0 10px;
		letter-spacing: 0px;
	}
	.proposalTitle {
		padding: 20px;
		height: 130px;
		position: absolute;
		top: 675px;
		/* Magic number */
		left: 17px;
		/* Magic number */
		width: 600px;
		/* Magic number */
		background-color: @spectrum-color;
	}
	.coverpageSpectrum {
		//background-image: url("/application/images/@{spectrum-color-name}/spectrum.png");
		position: absolute;
		left: -12px;
		/* Magic number */
		right: 0;
		top: 496px;
		/* Magic number */
		height: 626px;
		width: 720px;
		/* Magic number */
	}
}

.coverData {
	padding: 20px;
	position: absolute;
	top: 869px;
	/* Magic number */
	left: 17px;
	/* Magic number */
	width: 600px;
	/* Magic number */
	background-color: @spectrum-color;
	div {
		display: inline-block;
	}
	.coverSection {
		font-size: 15px;
	}
	.coverTitle {
		font-size: 21px;
	}
}

.authorInfo,
.proposalInfo,
.execSummary {
	display: inline-block;
}

.proposalInfo,
.authorInfo {
	background-color: #ffffff;
	color: @spectrum-color;
	margin: 1px 0;
}

.coverSection {
	width: 600px;
	letter-spacing: 0px;
}

.level1 {
	height: 55px;
}

.level2 {
	margin-top: 20px;
	height: 90px;
	margin-bottom: 10px;
	vertical-align: top;
}

.level2 img {
	display: inline-block;
	vertical-align: top;
}

.level2 div {
	line-height: 20px;
	vertical-align: top;
}

.level2 .coverTitle {
	line-height: 25px;
}

.coverTopLeft {
	width: 190px;
	padding: 2px 0 0 10px;
}

.coverTopMiddle {
	width: 170px;
	padding: 2px 0 0 10px;
}

.coverTopRight {
	width: 190px;
	padding: 2px 0 0 10px;
}

.coverLeft {
	width: 190px;
	padding: 2px 0 0 10px;
}

.coverRight {
	width: 335px;
	padding: 2px 0 0 10px;
}

.coverLeft,
.coverRight,
.coverTopLeft,
.coverTopMiddle,
.coverTopRight {
	div {
		display: block;
	}
}

.contentDiv>.contentHolder>p>strong,
.strong {
	color: #939598;
}

.featureTitle,
.benefitTitle {
	color: @spectrum-color;
}

.benefitSubTitle {
	color: @spectrum-color;
	padding: 20px 30px 5px 0;
}

.benefitContent {
	padding: 0 30px 0 15px;
}

.featureDiv {
	width: 100%;
	background-color: @spectrum-color;
	color: #ffffff;
	margin: 10px 0 5px 0;
}

.features {
	padding-top: 10px;
}

.featureLabel,
.featureValue {
	display: inline-block;
}

.featureLabel {
	vertical-align: top;
	padding: 0 20px 0 10px;
}

.featureLink {
	padding: 0 10px;
}

.featureLink a {
	color: #FFFFFF;
	vertical-align: top;
	text-decoration: none;
	font-weight: normal;
}

.underline {
	text-decoration: underline !important;
}

.featureValue {
	text-align: left;
	vertical-align: top;
}

.featureGroup {
	vertical-align: top;
	padding: 4px 2px;
}

.featureGroup .firstWord {
	line-height: 1.2em;
}

.execSummary {
	height: 36px;
	overflow: hidden;
	position: relative;
	top: 8px;
}

.execSummary .coverTitle {
	width: 180px;
	vertical-align: top;
}

.coverSummaryContent {
	width: 300px;
	overflow: hidden;
	margin-left: 10px;
}

.coverSummaryContent p {
	margin: 0;
}

.greyBlock {
	background-color: #f3f3f4;
	padding: 5px 20px;
	margin: 0;
}

.greyBlock strong {}

#section0 {
	padding: 0;
	page-break-after: always;
}

.page-break-before-on {
	page-break-before: always;
}

.tab-pane.page-break-before-off {
    padding-top: 40px;
}

.blankRow td {
	height: 1px;
	line-height: 1px;
}

table.header-first-row>tbody>tr.titleRow {
	color: @spectrum-color;
	text-transform: uppercase;
}

.editorArea {

	td {
		padding: 10px 5px;
	}
	.collapse-card__body {
		td {
			padding: 3px 5px;
		}
	}
}

.editorArea li {
	line-height: 1.6em;
}

/*
.editorArea {
	ol {
		list-style-type: none;
		counter-reset: item;
		margin: 0;
		padding: 0;
	}
	ol>li {
		display: table;
		counter-increment: item;
		margin-bottom: 0.6em;
	}
	ol>li:before {
		content: counters(item, ".") " ";
		display: table-cell;
		padding-right: 0.6em;
	}
	li ol>li {
		margin: 0;
	}
	li ol>li:before {
		content: counters(item, ".") " ";
	}
}
*/
.videoDiv i.playButton {
	color: @spectrum-color;
	position: absolute;
	top: 100px;
	left: 150px;
	text-decoration: none;
	font-size: 64px;
	display: inline-block;
}

.videoTable {
	width: 100%
}

.videoTable td {
	height: 270px;
	background-color: @spectrum-color;
}

.videoTable .videoCell {
	width: 360px;
	position: relative;
}

.videoCell iframe {
	display: none;
}

.videoDiv {
	width: 360px;
	display: block;
	position: relative;
}

.videoHolder {
	margin-top: 15px;
}

.videoImage {
	display: block;
}

.videoContent {
	width: 320px;
	color: #ffffff;
	padding: 0px 15px;
}

.videoContent h3 {
	margin: 0 0 15px 0;
	color: #ffffff;
	line-height: 28px;
	padding-bottom: 10px;
	text-transform: uppercase;
}

.videoContent p {
	margin: 0;
}

.tableHeader.iconRow i {
	height: 30px;
}

table.whatsNextTable {
	page-break-before: avoid;
}

table.whatsNextTable td {
	vertical-align: top;
}

.whatsNextImageText {
	color: @spectrum-color;
	padding-top: 5px;
}


/* for cover, header and footer*/

.cover {
	width: 600px;
	x-height: 1010px;
}

div.header {
	display: block;
	position: running(header);
}

div.footer {
	display: block;
	x-position: running(footer);
}

#section1 {
	counter-reset: page 1;
}

.downloadCell {
	background-color: @spectrum-color;
	height: 60px;
}

.downloadCell a.attachment {
	color: #FFFFFF;
	width: 100%;
	display: inline-block;
	height: 60px;
}

.downloadCell a.attachment .downloadDiv{
	/*
    font-size: 50px;
    display: block;
    float: left;
    line-height: 50px;
    padding: 10px 10px 6px 10px;
	*/
	display: block;
	float: left;
	background-image: url('/application/css/img/cloud-computing.png');
	background-size: cover;
	width: 60px;
	height: 60px;
	margin: 0 10px;
}

.downloadCell a.attachment .lower{
    float: left;
    line-height: 50px;
    padding: 10px 0 0 0;
}

.downloadIcon {
	padding-left: 10px;
	font-size: 50px;
}

.downloadText {
	display: inline-block;
	width: 150px;
	height: 60px;
	margin-left: 10px;
	vertical-align: middle;
}

.downloadDesc {
	color: @spectrum-color;
	margin-left: 10px;
}

.termsTable.noBreakRow td {
	border: 5px solid #FFFFFF;
}

.introductionLegal {
	margin: 0 15px;
	color: #939598
}

.productDescription {
	padding: 20px 0 0 0;
}

.productDisclaimers {
	padding: 0 10px 10px 10px;
}

@page :first {
	@top-center {
		content: none
	}
}

@page :first {
	@bottom-center {
		content: none
	}
}

@page :first {
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0mm;
	@bottom-center {
		content: none;
	}
}

@page {
	margin: 15mm 0 15mm 0;
	background-color: @application-background;
	size: A4;
	/* 793px 1122px */
	@bottom-center {
		content: '';
	}
	@bottom-left {
		content: '';
	}
	@bottom-right {
		content: '';
	}
}

.multi-col-2 {
	-webkit-column-count: 2;
	/* Chrome, Safari, Opera */
	-moz-column-count: 2;
	/* Firefox */
	column-count: 2;
}

.multi-col-3 {
	-webkit-column-count: 3;
	/* Chrome, Safari, Opera */
	-moz-column-count: 3;
	/* Firefox */
	column-count: 3;
}

.contentHolder {
	ol {
		counter-reset: item;
		list-style-type: none;
		li:before {
			counter-increment: item;
			content: counters(item, ".") ". ";
		}
	}
}

a, a:focus, a:hover, a:active {
	color:@spectrum-color;
}

.toc-container ol li:before {
    color:@spectrum-color;
}

.back-to-top {
	a {
		background-color: @spectrum-color;
	}
}

//itinerary specific

.panel[dataId=con-iti] {

	box-shadow: none;

	.panel-tools {
		width: 350px;
		.iti-style-lbl {
			margin-right: 5px;
		}
		.iti-select {
			margin-right: 10px;
			.btn {
				border-style: solid;
			}
		}
	}
	#itineraryContent {
		padding-bottom: 20px;
	}
	.inline {
		display: inline-block;
	}
}
.booking-detail {
	.left {
		float: left;
		.desc {
			padding-left: 15px;
		}
	}
	.right {
		float: right;
	}
	.booking-desc {
		width: 50%;
		display: inline-block;
	}

	.title {
		color: @spectrum-color;
		.title-text {
			margin-left: 3px;
			float: left;
		}
		&:after {
		    content: " ";
		    clear: both;
		    border-bottom: 1px solid #999999;
		    width: 100%;
		    display: table;
		}
	}
	.desc {
		margin-top: 10px;
		line-height: 25px;
		.desc-text {
			padding: 1px 0;
			text-align: left;
			.desc-lbl {
			    width: 35%;
			    color: @spectrum-color;
			}
		}
		.left {
			.desc-text {
				padding-left: 15px;
			}
		}
	}
}
.segment {
	margin-top: 10px;
	width: 100%;
	.segment-heading {
  		color: @spectrum-color;
	  	.icon{
			margin: 12px 0 0 6px;
			float:left;
			font-size: 25px;
		}
		.segment-heading-text {
			margin: 6px 0 0 9px;
			font-size: 12px;
			text-transform: uppercase;
			float:left;
		}

		.segment-heading-subtext {
			float: right;
			font-style: italic;
			font-size: 9px;
			padding-top: 38px;
			padding-right: 6px;
		}

		&:after {
		    content: " ";
		    clear: both;
		    border-bottom: 1px solid #999999;
		    width: 100%;
		    display: table;
		}
	}
	.segment-detail {
		width: 100%;
		margin-top: 10px;
		padding: 0 15px;
	}
	.segment-table{
		font-size: 13px;
		text-align: left;
		width: 100%;
		border-spacing: 1px;
		table-layout: fixed;
		margin-bottom: 20px;
		td{
			padding: 1px 0;
			text-align: left;
		}
		.table-heading {
			color: @spectrum-color;
		}
		.table-value {
		 	width: 212px;
		 	font-weight: normal !important;
		}
		.table-value-3 {
		 	width: 524px;
		}
	}
	.segment-table.table2{
		width: 98%;
		margin-left: 1%;
		th {
			border-bottom: 2px solid @spectrum-color;
			.header-text {
				margin-left: 3px;
			}
		}
		tr {
			margin-top: 10px;
		}
		td {
			padding: 10px 5px 0 0;
			vertical-align: top;
		}

	}
}

//arrival guide

table.destination-meta {
	td {
		padding: 1px 5px;
	}
}

.section-thumb {
	float: left;
	margin: 0 10px 10px 0;
	height: 28rem;
	padding-left: 21.5%;
	margin-top: 2rem;
}

.clear-both {
	clear: both;
}
.poi {
	margin-top: 20px;
	page-break-inside: avoid;

	.poi-thumb {
		float: left;
		margin-right: 10px;
		height: 200px;
		width: 200px;
	}

	.poi-desc {
		margin-left: 210px;
	}

	h3.destination-poi {
		//clear: both;
	}
}
.thumb-center {
	margin-left: 6px;
    margin-right: 6px;
}
.thumb {
	display: inline-block;
	width: 235px;
    margin-bottom: 6px;
    a {
    	text-decoration: none;
    }

	img {
    	max-width: 100%;
    }

	.thumb-desc {
    	padding-left: 6px;
    	margin-top: -4px;
    	height: 40px;
    	text-align: left;
    	line-height: 40px;
		color: @spectrum-color;
		background-color: @application-background;
		text-transform: uppercase;
		position: relative;

		.read-more {
			display: inline-block;
			position: absolute;
			right: 10px;
		    width: 45px;

			i {
		    	font-size: 15px;
			    position: absolute;
			    top: 13px;
			    right: -5px;
		    }

		}
    }
}

@import "tables.less";


.sign-cert-section{
    background-image: url(/application/images/sign_cert_bg.png);
    padding: 40px;
    background-repeat: repeat-y;
    background-position: center;
	.sign-cert-area {
	    margin-bottom: 20px;
	    .sign-cert-panel {
		    background-color: #f0f0f0;
		    border: 1px solid lightgrey;
		    padding: 2px;
		    .icon-area{
			    position: relative;
			    display: inline-block;
			    border: 1px solid lightgrey;
			    padding: 10px 10px 0 10px;
			    .bg-icon{
				    font-size: 96px;
				    color: #add8e6;
			    }
				.float-icon{
				    background-color: #FFF;
				    font-sizE: 24px;
				    position: absolute;
				    right: 6px;
				    bottom: 12px;
				    border-radius: 50%;
				    width: 25px;
				    height: 25px;
				    text-align: center;
				    line-height: 25px;
				    &.fa-check{
				    	color: green;
				    }
				    &.fa-question{
				    	color: #9a9a04;
				    }
				}

			}
			.typed-signature{
				font-size: 30px;
				white-space: nowrap;
			}
	    }
	}
}

.fr-dropdown-content h1 {
	font-size:24px !important;
	font-family: "Open Sans", sans-serif !important;
	font-weight: 300 !important;
}

.flightTimeHeading {
	width:10px;
}
.flightTimeValue {
	width:10px;
}
.flightTimeText {
	white-space: nowrap;
}

.normalHeading {
	width: 120px;
}
.flightTimeTable {
	width: 70% !important;
}



//STYLES FOR THE EXPLORER TEMPLATE
