body {
    #documentSectionBrowser {
        li {
            &, &.active {
                border: 1px #ddd solid;
            }
            &.active span {
                opacity: 1;
            }
            a {
                border-width: 0;
                border-left-width: 6px;
                &:hover {
                    color: #fff;
                    span {
                        font-size: 120px;
                        opacity: 0.3;
                        letter-spacing: -15px;
                        -webkit-transform: rotate(25deg);
                        -moz-transform: rotate(25deg);
                        -ms-transform: rotate(25deg);
                        transform: rotate(25deg);
                    }
                }
            }
        }
        span {
            position: absolute;
            font-size: 31px;
            font-weight: bold;
            left: 10px;
            letter-spacing: -3px;
            opacity: 0.3;
            width: 30px;
            text-align: center;
            -webkit-transition: all 300ms linear;
            -moz-transition: all 300ms linear;
            -o-transition: all 300ms linear;
            -ms-transition: all 300ms linear;
            transition: all 300ms linear;
        }
        a {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 20px;
            padding-left: 53px;
            font-size: 14px;
            -webkit-transition: all 300ms ease-in-out;
            -moz-transition: all 300ms ease-in-out;
            -o-transition: all 300ms ease-in-out;
            -ms-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out;
        }
    }
}