//    .sectionTypeDynamic .sectionDiv .sectionContent table,
//    .panel.viewable[type="text"] table,
    .cke_editable_inline table,
    .editorArea table {
        page-break-inside: avoid;
    }
    
    .cke_editable_inline table>tbody>tr>td {
     border: 1px dotted #f3f3f3 !important;
	}
    
    table.header-first-row {
        >tbody>tr:nth-child(1) td {
            text-transform: uppercase;
        }
    }
    
    .non-style{
    	background: #fff;
        border: none;
		>tbody>tr, >tbody>tr>td {
    		background: #fff;
        }
    }

	.style0 {
    	background: #fff;
        border: none;
        >tbody>tr>td {
            border: none;
            border-bottom: 1px solid #c3c3c3;
        }
	}
	
    .style1 {
        border: none;
        >tbody>tr>td:nth-child(1) {
            background: #f1f1f1;
        }
        &.header-first-row {
			>tbody>tr:nth-child(1)>td {
	            color: #000000;
	            background: #ddd !important;
	        }
        }
        >tbody>tr>td {
            color: black;
            border-bottom: 1px solid #c3c3c3;
        }
        >tbody>tr:nth-child(n+1) {
            background-color: #fff;
        }
    }

    .style2 {
        border: 1px solid #c3c3c3;
        >tbody>tr>td:nth-child(1) {
            background: #f1f1f1;
        }
        &.header-first-row {
        	>tbody>tr:nth-child(1)>td {
	            color: #000000;
	            background: #ddd !important;
	        }
        }
        >tbody>tr {
            border-bottom: none !important;
        }
        >tbody>tr>td {
            color: black;
            border: none !important;
        }
        >tbody>tr:nth-child(even) {
            background: #fff;
        }
    }

    .style3 {
        border: none;
        >tbody>tr>td:nth-child(1) {
            background: #fff;
        }
        &.header-first-row {
        	>tbody>tr:nth-child(1)>td {
	            color: #000000;
	            background: #ddd !important;
	        }
        }
        >tbody>tr>td {
            color: black;
            border-bottom: 1px solid #c3c3c3;
        }
        >tbody>tr:nth-child(even) {
            background: #fff;
        }
    }

    .style4 {
        border: none;
        >tbody>tr>td:nth-child(1) {
            background: #fff;
        }
        &.header-first-row {
        	>tbody>tr:nth-child(1)>td {
	            color: #000000;
	            background: #ddd !important;
	        }
        }
        >tbody>tr:nth-child(even)>td {
            background: #f1f1f1 !important;
        }
        >tbody>tr>td {
            color: black;
            border-bottom: 1px solid #c3c3c3;
        }
    } 

    .style5 {
        border: none;
        >tbody>tr>td:nth-child(1) {
            background: #f1f1f1 !important;
            border-right: 1px solid #c3c3c3;
        }
        &.header-first-row {
        	>tbody>tr:nth-child(1)>td {
	            color: #000000;
	            background: #ddd !important;
	            border-right: none;
	        }
        }
        >tbody>tr>td {
            color: #000000;
            border-bottom: 1px solid #c3c3c3;
        }
        >tbody>tr:nth-child(even) {
            background: #f1f1f1 !important;
        }
    } 
    
    //GENERAL TABLE STYLES (body level)
    .tableStyle0 .cke_editable_inline table.default-tableStyle,
    .tableStyle0 .editorArea table.default-tableStyle,
    table.tableStyle0
    {
        .style0 !important;
    }
    
    .tableStyle1 .cke_editable_inline table.default-tableStyle,
    .tableStyle1 .editorArea table.default-tableStyle,
    table.tableStyle1
    {
        .style1 !important;
    }

    .tableStyle2 .cke_editable_inline table.default-tableStyle,
    .tableStyle2 .editorArea table.default-tableStyle,
    table.tableStyle2
    {
        .style2 !important;
    }

    .tableStyle3 .cke_editable_inline table.default-tableStyle,
    .tableStyle3 .editorArea table.default-tableStyle,
    table.tableStyle3
    {
        .style3 !important;
    }

    .tableStyle4 .cke_editable_inline table.default-tableStyle,
    .tableStyle4 .editorArea table.default-tableStyle,
    table.tableStyle4
    {
        .style4 !important;
    }

    .tableStyle5 .cke_editable_inline table.default-tableStyle,
    .tableStyle5 .editorArea table.default-tableStyle,
    table.tableStyle5
    {
        .style5 !important;
    }
    
    //SPECIFIC TABLE STYLES (table level)
    table.non-tableStyle {
        .non-style !important; 
    }
	