body {
    #documentSectionBrowser {
    	.rippleTab {
		    position: relative;
		    overflow: hidden;
		    transform: translate3d(0, 0, 0)
		}
		.rippleTab:after {
		    content: "";
		    display: block;
		    position: absolute;
		    width: 100%;
		    height: 100%;
		    top: 0;
		    left: 0;
		    pointer-events: none;
		    background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
		    background-repeat: no-repeat;
		    background-position: 50%;
		    transform: scale(10, 10);
		    opacity: 0;
		    transition: transform .5s, opacity 1s
		}
		.rippleTab:active:after {
		    transform: scale(0, 0);
		    opacity: .2;
		    transition: 0s
		}
        li {
            &, &.active {
                border: 1px #ddd solid;
                border-right: 0;
            }
            &.active span {
                opacity: 1;
            }
            a {
                border-width: 0;
                border-left-width: 6px;
                &:before,
                &:after {
                    width: 100%;
                    height: 100%;
                    z-index: 3;
                    content: '';
                    position: absolute;
                    top: 0;
                    left: -6px;
                    box-sizing: border-box;
                    
                    -webkit-transform: scaleY(0);
                    -ms-transform: scaleY(0);
                    -moz-transform: scaleY(0);
                    -o-transform: scaleY(0);
                    transform: scaleY(0);
                    
                    -webkit-transition: 0.5s;
                    -ms-transition: 0.5s;
                    -moz-transition: 0.5s;
                    -o-transition: 0.5s;
                    transition: 0.5s;
                }
                &:before {
                    -webkit-transform-origin: 0% 50%;
                    -ms-transform-origin: 0% 50%;
                    -moz-transform-origin: 0% 50%;
                    -0-transform-origin: 0% 50%;
                    transform-origin: 0% 50%;
                    
                    -webkit-transition: 1sec ease-in-out;
                    -ms-transition: 1sec ease-in-out;
                    -moz-transition: 1sec ease-in-out;
                    -o-transition: 1sec ease-in-out;
                    transition: 1sec ease-in-out;
                }
                
                &:hover::after,
                &:hover::before {
                    -webkit-transform: scaleY(1);
                    -ms-transform: scaleY(1);
                    -moz-transform: scaleY(1);
                    -o-transform: scaleY(1);
                    transform: scaleY(1);
                }
            }
        }
        span {
            position: absolute;
            font-size: 31px;
            font-weight: bold;
            left: 10px;
            letter-spacing: -3px;
            opacity: 0.3;
            width: 30px;
            text-align: center;
        }
        a {
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 20px;
            padding-left: 53px;
            font-size: 14px;
            &:hover{
		        background-color: #FFFFFF !important;
		        color: #999999;
	      	}
        }
    }
    &.spectrum-palette1 {
    	#documentSectionBrowser > li > a {
	    	&:before {
	        	border-left: 6px solid @application-palette1;
	        }
        }
	    #documentSectionBrowser > li.active > a {
	    	&:hover{
		        background-color: @application-palette1 !important;
		        color: #FFFFFF !important;
		      }
	    }
    }
    &.spectrum-palette2 {
    	#documentSectionBrowser > li > a {
	    	&:before {
	        	border-left: 6px solid @application-palette2;
	        }
        }
	    #documentSectionBrowser > li.active > a {
	    	&:hover{
		        background-color: @application-palette2 !important;
		        color: #FFFFFF !important;
		      }
	    }
    }
    &.spectrum-palette3 {
    	#documentSectionBrowser > li > a {
	    	&:before {
	        	border-left: 6px solid @application-palette3;
	        }
        }
	    #documentSectionBrowser > li.active > a {
	    	&:hover{
		        background-color: @application-palette3 !important;
		        color: #FFFFFF !important;
		      }
	    }
    }
    &.spectrum-palette4 {
    	#documentSectionBrowser > li > a {
	    	&:before {
	        	border-left: 6px solid @application-palette4;
	        }
        }
	    #documentSectionBrowser > li.active > a {
	    	&:hover{
		        background-color: @application-palette4 !important;
		        color: #FFFFFF !important;
		      }
	    }
    }
}