@import "config.less";
@import "@{tab-style}";

.collapse-card__heading {
  background-color: lighten(@application-palette1,45%);
}

body {
  .cover{
    .proposalTitle{
      .proposalCompany{
        font-family: @cover-company-font-family;
        font-size: @cover-company-font-size;
      }
      .proposalName{
        font-family: @cover-title-font-family;
        font-size: @cover-title-font-size;
      }
      .proposalExtra{
        font-family: @cover-extra-font-family;
        font-size: @cover-extra-font-size;
      }
    }
  }
  &.spectrum-palette1{
    .tabs-left > .tab-bricky > li.active > a
    {
      border-left-color: @application-palette1;
      color: @application-palette1;
      background-color: lighten(@application-palette1,45%);
    }
    #documentSectionBrowser a {
      &:hover{
        background-color: @application-palette1;
      }
    }
  }
  &.spectrum-palette2{
    .tabs-left > .tab-bricky > li.active > a
    {
      border-left-color: @application-palette2;
      color: @application-palette2;
      background-color: lighten(@application-palette2,45%);
    }
    #documentSectionBrowser a {
      &:hover{
        background-color: @application-palette2;
      }
    }
  }
  &.spectrum-palette3{
    .tabs-left > .tab-bricky > li.active > a
    {
      border-left-color: @application-palette3;
      color: @application-palette3;
      background-color: lighten(@application-palette3,45%);
    }
    #documentSectionBrowser a {
      &:hover{
        background-color: @application-palette3;
      }
    }
  }
  &.spectrum-palette4{
    .tabs-left > .tab-bricky > li.active > a
    {
      border-left-color: @application-palette4;
      color: @application-palette4;
      background-color: lighten(@application-palette4,45%);
    }
    #documentSectionBrowser a {
      &:hover{
        background-color: @application-palette4;
      }
    }
  }
  
  #documentScrollPane {
    background-color: @application-background
  }
  .sectionContent {
    background-color: @application-section_background;    
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position-y: bottom;
  }
  .contentDiv{
    color: @body-font-color;
  }
}