// Core variables and mixins
@import "variables.less";
@import "3.3.1/mixins.less";
@import "elements/elements.less";
@import "custom.less"; // custom variable overrides

@action-btn-width:         24px;

.bulkEditor{
	td{
		position: relative;
	}
	
  .navbar-form{
    margin-top:0px;
  }
  .columnList{
    max-height:300px;
    overflow-y:auto;
    
    li a{
      max-width: 200px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    
    #selectedIndicator{
      position: relative;
      left: -8px;
      width: 13px;
    }
  }
  
  .changeSummary{
  	margin-right: 10px;
  	font-weight: bold;
  	color: @brand-danger;
  	position: relative;
  	top: 2px;
  	
  	span:hover{
  		text-decoration: underline;
  	}
  }
  
  .tableWrapper > *
  {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  .dataTables_length,
  .dataTables_filter label{
    margin: 1px 0;
  }
  
  .bulkEditorTbl {
    tbody tr td {
    	line-height: 0;
    	vertical-align: middle;
    	.form-group {
    		width: 100%;
    	}
    }
    .form-control {
      width:100%;
    }
    
    .hint {
    	> .fa {
    		color: @brand-primary
    	}
    }
    
    select option{
      overflow: hidden;
      text-overflow: ellipsis;
    	
      &.original {
      	color: @brand-danger;
      	font-weight: bold;
      }
    }
    
    td ul {
    	  padding-left: 22px;
    }
    
    .statusCell {
    	width: 100px;
	    > button {
	    	width: (@action-btn-width - 4);
	    	height: (@action-btn-width - 4);
	    	position: relative;
	    	margin-right: 10px;
	    	border: none;
	    	background: none;
	    	font-size: 20px;
	    	i {
	    		position: absolute;
	    		left: 0;
	    		top: 0;
	    	}
	    }
    }
  }
  
  tr:not(.deleteFlagged) .cellChanged {
    background-color: #d6dde7;

    &:hover{
      background-color: #c6d0de;
    } 
  }
  
  .rowChanged {
    background-color: #fcf8e3;

    &:hover{
      background-color: #faf2cc;
    } 
  }
  
  .deleteFlagged {
    background-color: #f2dede;

    &:hover{
      background-color: #ebcccc;
    } 
  }
  
	.preLazyLoadCell{
		padding: 11px (16+@action-btn-width) 11px 8px;
		
		ul {
			margin: 0;
		}
		
		.lazyLoadAction {
			position: absolute;
			width: @action-btn-width;
			right: 8px;
			bottom: auto;
			top: 9px;
			left: auto;
		}
	}
	
	.button-area.row .btn.pull-left+.btn.pull-left {
		margin-left: 4px;
	}
    
    label input.checkbox[type="checkbox"] + span, label input.radiobox[type="radio"] + span {
        margin: 0;
    }
    
    label input.checkbox[type="checkbox"] + span::before, label input.radiobox[type="radio"] + span::before {
        margin: 0;
    }
}

@media (max-width: 767px) {
	.bulkEditor{
		.tableWrapper{
			.navbar-form{
				padding:0;
			}
			
			.navbar-length-form{
				display: none;
			}
		}
	}
}