//fix font awesome 5 pro update issues
.onoffswitch-checkbox+.onoffswitch-label .onoffswitch-switch:before, .onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch:before,
.smart-form .checkbox input+i:after,
label input[type=checkbox].checkbox+span:before, label input[type=radio].radiobox+span:before {
	font-family: "Font Awesome 5 Pro" !important;
}
.fancytree-node.fancytree-folder.status-not-live > .fancytree-icon::before {
	content: "\f07b";
	font-weight: 400;
}
.fancytree-node.fancytree-folder.fancytree-expanded.status-not-live > .fancytree-icon::before {
	content: "\f07c";
}
.fancytree-node.status-not-live > .fancytree-icon::before {
	content: "\f15b";
	font-weight: 400;
}
i.fa.fal {
	font-weight: 400;
}
.fa-area-chart:before {
	content: "\f1fe";
}
.fa-automobile:before {
	content: "\f1b9";
}
.fa-bank:before {
	content: "\f19c";
}
.fa-bar-chart, .fa-bar-chart-o {
	&:before {
		content: "\f080";
	}
}
.fa-bell-o:before {
	content: "\f0f3";
}
.fa-bell-slash:before {
	content: "\f1f6";
}
.fa-commenting, .fa-commenting-o {
	:before {
		content: "\f4ad";
	}
}
.fa-close:before {
	content: "\f00d";
}
.fa-code-fork:before {
	content: "\f126";
}
.fa-cutlery:before {
	content: "\f2e7";
}
.fa-dashboard:before {
	content: "\f3fd";
}
.fa-envelope-o:before {
	content: "\f0e0";
}
.fa-trash-o:before {
	content: "\f2ed";
}.fa-bank:before {
	content: "\f19c";
}
.fa-bank:before {
	content: "\f19c";
}
.fa-bank:before {
	content: "\f19c";
}
.fa-bank:before {
	content: "\f19c";
}
.fa-bank:before {
	content: "\f19c";
}
.fa-bank:before {
	content: "\f19c";
}
.fa-bank:before {
	content: "\f19c";
}
.fa-bank:before {
	content: "\f19c";
}
.fa-bank:before {
	content: "\f19c";
}