// Add anything custom here -- mixins, variable overrides.
// by adding things here instead of overriding existing .LESS files, it makes merging changes on product updates easier

table.dataTable thead .sorting:after, 
table.dataTable thead .sorting_asc:after, 
table.dataTable thead .sorting_desc:after, 
table.dataTable thead .sorting_asc_disabled:after, 
table.dataTable thead .sorting_desc_disabled:after{
    font-family: 'Font Awesome 5 Pro' !important;
    bottom: 7px !important;
    right: 6px !important;
    font-size: 14px !important;

}

table.dataTable thead .sorting {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATAgMAAAAPPt5fAAAACVBMVEUAAADIyMjl5eVIBBP/AAAAAXRSTlMAQObYZgAAAClJREFUCNdjwAYEwGQKiGDsBJFsTA5AUoJhAqZaiDhEDVg9RC/MHEwAANsMA91AQfd/AAAAAElFTkSuQmCC) no-repeat center right
}

table.dataTable thead .sorting:after{
    content: "" !important;
}

table.dataTable thead .sorting_asc:after{
    content: "\f106" !important;
    opacity: 1 !important;
}

table.dataTable thead .sorting_desc:after{
    content: "\f107" !important;
    opacity: 1 !important;
}
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc{
    background: #e8e8e8;
}

#filter-row label.checkbox{
    margin-left: -18px !important;
}

tr#filter-row > td {
    background-color: #eee;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#f2f2f2),to(#fafafa));
    background-image: -webkit-linear-gradient(top,#f2f2f2 0,#fafafa 100%);
    background-image: -moz-linear-gradient(top,#f2f2f2 0,#fafafa 100%);
    background-image: -ms-linear-gradient(top,#f2f2f2 0,#fafafa 100%);
    background-image: -o-linear-gradient(top,#f2f2f2 0,#fafafa 100%);
    background-image: -linear-gradient(top,#f2f2f2 0,#fafafa 100%);
    font-size: 12px;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
}

span#clearFilter{
	display: none;
	cursor: pointer;
}