// Core variables and mixins
@import "variables.less";
@import "3.3.1/mixins.less";
@import "elements/elements.less";
@import "custom.less"; // custom variable overrides

@import "wdPageTemplate.less";

#main
{
	margin-left: 0;
}

.jarviswidget iframe
{
  height: 400px;
}

#modal-fullwidth {
  padding-right: 0px !important;
}

#modal-fullwidth .modal-dialog {
  margin: 0;
  width: inherit;
  height: 90%;
  height: ~"calc(100% - 49px)";
}

#modal-fullwidth .modal-backdrop {
  background: none;
}

.modal-body {
	overflow-y: auto;
	overflow-x: hidden;
}

.page-footer
{
	padding-left: 13px;
}

body {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	&.fixed-header {
		#header {
			height: 32px;
			background: #23282d;
			div:not(.content) {
				height: 32px;
			}
			.ci-navbar-collapsing {
			    height: 32px;
			    margin-left: 43px;
			    padding: 0;
			}
			#logo-group {
				width: 414px;
				position: absolute;
			    display: block !important;
				#logo {
					margin: 0 10px;
				    height: 32px;
				    line-height: 32px;
					img {
						width: 20px;
						padding: 0;
					}
				}
				#activity {
					margin: 0;
					border: none;
				    background: none;
				    height: 32px;
				    padding: 0;
				    line-height: 32px;
				    
				    .badge {
				    	top: 50%;
					    right: -15px;
					    transform: translateY(-50%);
				    }
				}
				.ajax-dropdown {
					top: 32px;
					height: 435px;
					left: 225px;
				}
			}
			.navbar-nav {
				li {
					&.active {
						a {
						    background: #0073aa;
							color: white !important;
							i {
					    		color: white !important;
					    	}
						}
					}
					a {
						color: white;
				    	padding: 5.5px 10px;
				    	i {
				    		color: #a5aaae;
				    		margin-right: 5px;
				    		font-size: 20px
				    	}
				    }
				    &:hover {
				    	background: #32373c;
				    	a {
				    		color: #00b9eb;
				    		i {
				    			color: #00b9eb;
				    		}
				    	}
				    }
			    }
			}
			.pull-right {
				.btn-header {
					span a {
						margin: 0 !important;
					    border: none;
					    background: none;
					    color: white;
				        height: 32px !important;
					    line-height: 32px !important;
					    padding: 0;
					}
				}
				#hide-menu i{
					color: white;
				}
			}
		}
		
		#body {
			#main {
			    margin-top: 32px;
			    #ribbon {
			    	border-top: 0 !important;
			    }
			}
		}
	}
}

@media (max-width: 767px) {
	body {
		&.fixed-header {
			#header {
				#logo-group {
					width: 200px;
					.ajax-dropdown {
						left: 75px;
					}
				}
				.navbar-nav li a i {
				    margin-right: 0;
				}
			}
		}
	}
}

@import "common.less";
