// Core variables and mixins
@import "variables.less";
@import "3.3.1/mixins.less";
@import "elements/elements.less";
@import "custom.less"; // custom variable overrides


  .note {
    .desc {
      > span {
        padding: 0 5px 0 0;
      }
    }
  }
  
  select.input-multidrop {
    height: 200px;
  }
  
  .pos-relative {
    position: relative;
  }
  
  .desc {
    margin:8px 0;
  }
  
  .delete-actions {
    display:inline-block;
    text-align:center;
    
    a {
      margin-right: 5px;
    }
    p {
      margin: 0 0 3px 0;
    }
    
  }
  
  #actions {
    margin-left: 15px;
  }
  
  .thumb {
    > img {
      width:96px;
    }
    > .fa {
      color: #333;
      font-size: 5em;
      vertical-align: middle;
	}
  }
  