@import "variables.less";

@shadow : #1A1817;
@highlight : #525151;

main {
  font-weight: lighter
}

.version-history {
  height: 100%;
  color: white;
  border-left: 1px solid @shadow;
  
  header {
    position: absolute;
    top: 0;
    height: 55px;
    width: 100%;
    border-bottom: 1px solid @shadow;
    box-shadow: 0 1px 0 0 @highlight;
    padding: 15px;
  }
  
  main {
    height: 100%;
    padding-top: 56px;
    padding-bottom: 74px;
  }
  
  footer {
    position: absolute;
    bottom: 0;
    height: 73px;
    width: 100%;
    padding: 20px;
    color: black;
    border-top: 1px solid @highlight;
    box-shadow: 0 -1px 0 0 @shadow;
  }
  
  .smart-timeline-list > li {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    &.highlight-ready:hover {
      background-color: rgba(69, 69, 69, 0.4);
      -webkit-transition: background-color .3s ease-in-out;
      -moz-transition: background-color .3s ease-in-out;
      -o-transition: background-color .3s ease-in-out;
      transition: background-color .3s ease-in-out;
      
//      border: 1px solid @brand-warning;
//      -webkit-transition: border .3s ease-in-out;
//      -moz-transition: border .3s ease-in-out;
//      -o-transition: border .3s ease-in-out;
//      transition: border .3s ease-in-out;
      
//      .compare-right input:not(:checked) + span:before {
//          content: "\f053";
//          color: lighten(@brand-warning, 10%);
//      }
    }
    &.selected {
      border: 1px solid @brand-warning;
      //background-color: rgba(69, 69, 69, 0.4);
    }
  }
  
  .smart-timeline {
    height: 100%;
    overflow-y: auto;
  }
  
  .smart-timeline-list {
    position: relative;
  }
  
  //The vertical line
  .smart-timeline-list:after {
    top: 15px;
    left: 140px;
    bottom: 50px;
  }
  
  .smart-timeline-icon {
    left: 125px;
    box-shadow: inset 1px 1px 1px lighten(@brand-primary, 25%), 1px 1px 1px @shadow;
  }
  
  .smart-timeline-time {
    width: 90px;
  }
  
  .smart-timeline-content {
    margin-left: 193px;
  }
  
}

.compare-left {
  position: absolute;
  left: -25px;
}

.compare-right {
  position: absolute;
  right: -25px;
}

.compare-left input[type="radio"] + span:before, .compare-right input[type="radio"] + span:before {
  font-family: 'FontAwesome';
  font-size: 18px;
  border-radius: 3px;
  content: " ";
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 1px;
  height: 20px;
  line-height: 20px;
  min-width: 20px;
  font-weight: normal;
  margin-top: -1px;
  box-shadow: inset 1px 1px 3px 0 @shadow, inset -1px -1px 3px 0 @highlight;
}

.compare-left input[type="radio"], .compare-right input[type="radio"] {
  display: none;
}

.compare-left input[type="radio"]:checked + span:before {
  content: "\f054";
  color: #2E7BCC;
  text-shadow: -1px -1px 1px lighten(@brand-primary, 25%), 1px 1px 1px @shadow;
}

.compare-right input[type="radio"]:checked + span:before {
  content: "\f053";
  color: #2E7BCC;
  text-shadow: -1px -1px 1px lighten(@brand-primary, 25%), 1px 1px 1px @shadow;
}

//.smart-timeline-time:hover ~ .smart-timeline-icon > .compare-left input:not(:checked) + span:before,
//.compare-left:hover input:not(:checked) + span:before {
//  content: "\f054";
//  color: #c79121;
//}
//
//.smart-timeline-content:hover ~ .smart-timeline-icon > .compare-right input:not(:checked) + span:before,
//.compare-right:hover input:not(:checked) + span:before {
//  content: "\f053";
//  color: #c79121;
//}

.compare-left:hover input:not(:checked) + span:before {
  content: "\f054";
  color: lighten(@brand-warning, 10%);
}

.compare-right:hover input:not(:checked) + span:before {
  content: "\f053";
  color: lighten(@brand-warning, 10%);
}

.version-comparison {
  position: relative;
  height: 100%;
  overflow-y: auto;
  box-shadow: 1px 0 1px @highlight, inset 1px 0 1px lighten(@shadow, 5%);
  .message {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
}

.table-comparison {
  display: none;
  table-layout: fixed;
  word-wrap: break-word;
  width: 100%;
  thead > tr {
    border-bottom: 1px solid #aaaaaa;
    > th {
      font-weight: normal;
      text-align: center;
    }
  }
  tr.value > td {
    border: 1px solid @highlight;
    background-color: rgba(69, 69, 69, 0.4);
    //color: black;
  }
  th, td {
    width: 50%;
  }
  .field td {
    padding-top: 10px;
    padding-bottom: 0;
  }
  .value td {
    padding-left: 20px;
  }
}


.btn-emboss {
  box-shadow: inset 1px 1px 1px lighten(@brand-primary, 25%), 1px 1px 1px @shadow;
  &.disabled {
    border: none;
    box-shadow: 1px 1px 1px lighten(@brand-primary, 25%), inset 1px 1px 1px @shadow;
  }
}