.fixed-navigation { 
	nav ul.categories-panel {
	    position: relative;
	    height: 100%;
	    width: 100%;
	    overflow-x: hidden;
	    overflow-y: auto;
    }
    &.minified {
    	nav ul.categories-panel {
    		overflow: visible;
		    padding-right: 0;
		    width: 100%
    	}
    }
}

nav ul.categories-panel {
	li {
		&:last-child.open {
			border-bottom: 1px solid rgba(255,255,255,.15);
		}
		>a>i>em {
		    text-decoration: none;
		    color: #fff
		}
	}
}

body {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	background: #ededed !important;

	&.modal-open {
		> .slimScrollDiv {
			filter: blur(5px) grayscale(1);
    		-webkit-filter: blur(5px) grayscale(1);
		}
	}
	
	&.fixed-header {
	
		&.hidden-menu {
			#shortcut {
				ul {
					li {
					    a {
						    &.selected:before {
						    	font-size: 15px;
						    }
					    }
				    }
			    }
			}
		}
		
		#header {
			height: 32px;
			background: #23282d;
			z-index: 909;
			> div:not(.content) {
				height: 32px;
			}
			.ci-navbar-collapsing {
			    height: 32px;
			    margin: 0 0 0 35px;
			    padding: 0;
			    float: left;
			}
			#logo-group {
				width: 510px;
				position: absolute;
			    display: block !important;
				#logo {
					margin: 0;
				    height: 32px;
				    width: 35px;
				    text-align: center;
				    display: block;
					img {
						width: 20px;
						padding: 6px 0 0 0;
					}
				}
			}
			.activity-container {
				position: relative;
		        margin-left: 10px;
			    color: #a5aaae;
			    font-size: 19px;
			    text-align: center;
			    line-height: 32px;
				#activity {
					border: none;
				    background: none;
				    width: 40px;
				    padding: 0;
				    position: absolute;
				    top: 50%;
				    transform: translateY(-50%);
				    i.fa {
				    	float: left;
				    }
				    .badge {
			    	    min-width: 20px;
					    font-size: 13px;
					    font-weight: 400;
					    position: relative;
					    float: left;
					    line-height: 1.15;
					    top: 0;
				    }
				}
				.ajax-dropdown {
					top: 32px;
					height: 435px;
					left: -164px;
				}
			}
			.navbar-nav {
				li {
					&.active {
						a {
						    background: #0073aa;
							color: white !important;
							i {
					    		color: white !important;
					    	}
						}
					}
					a {
						color: #eee;
				    	padding: 0 7px 0 8px;
    					line-height: 32px;
    					height: 32px;
				    	i {
				    		color: #a5aaae;
				    		margin-right: 6px;
				    		font-size: 19px;
				    		display: inline-block;
    						line-height: 32px;
				    	}
				    	span {
			    		    display: inline-block;
						    line-height: 32px;
						    vertical-align: top;
				    	}
				    }
				    &:hover {
				    	background: #32373c;
				    	a {
				    		color: #00b9eb;
				    		i {
				    			color: #00b9eb;
				    		}
				    	}
				    }
			    }
			}
			.pull-right {
				.btn-header {
					&#configMenu {
						&.open {
							a {
								color: #00b9eb;
							}
						}
						
						a#dropdownConfig {
							font-size: 17px;
						    min-width: 20px;
						    display: block;
						    text-align: right;
						    margin-right: 5px !important;
						    &:hover {
						    	width: 80px;
						    }
						}
						.dropdown-menu {
						    padding: 0px;
						    margin: 0;
						    border: none;
						    border-radius: 0;
						    background-color: #23282d;
						    height: unset !important;
						    top: 100%;
						    animation: none !important;
						    a {
					    	    margin: 0 !important;
							    border: none;
							    background: none;
							    color: #fff;
							    height: 32px !important;
							    line-height: 32px !important;
							    padding: 0;
							    cursor: pointer !important;
						    	display: block;
						    	width: unset !important;
						    	
						    	&:hover {
						    		color: #00b9eb;
						    	}
						    }
						    h6 {
							    color: white;
							}
						}
						
					}
					a {
						margin: 0 !important;
					    border: none;
					    background: none;
					    color: white;
				        height: 32px !important;
					    line-height: 32px !important;
					    padding: 0;
					    cursor: pointer !important;
					}
				}
				#wd-setting {
					display: none;
				}
				
				#hide-menu i{
					color: white;
				}
			}
		}
		#shortcut {
		    display: block;
		    width: 156px;
		    margin-top: 32px;
		    background-color: #23282d;
		    .closeButton {
			    display: none;
			}
			
			ul {
				margin-top: 12px;
				padding: 0;
				li {
					display: block;
				    font-size: 14px;
				    text-align: left;
				    a {
				    	line-height: 34px;
					    width: 100% !important;
					    display: block;
					    color: #fff !important;
					    background-color: #23282d !important;
					    &.selected {
					    	background: #0073aa !important;
					    	border: none !important;
					    	&:before {
					    	    content: "\f0d9";
							    right: -1px;
							    top: 0;
							    font-size: 27px;
							    color: #ededed;
							    font-family: "Font Awesome 5 Pro";
							    font-weight: 900;
					    	}
					    	&:after {
					    		content: none;
					    	}
					    	&:hover {
					    		background: #0073aa !important;
					    	    color: white !important;
						    }
						    .iconbox i {
			    	    	    color: white !important;
				    	    }
					    }
					    &:hover {
				    	    color: #00b9eb !important;
				    	    background: #191e23 !important;
				    	    .iconbox i {
			    	    	    color: #00b9eb;
				    	    }
					    }	
					    .iconbox {
					    	overflow: hidden;
						    text-overflow: ellipsis;
						    display: block;
						    white-space: nowrap;
						    font-size: 0;
						    height: 34px;
					    	i{
				    	    	width: 36px;
				    	    	text-align: center;
			    	    	    color: #a5aaae;
			    	    	    font-size: 19px;
			    	    	    line-height: 34px;
    							vertical-align: top;
				    	    }
				    	    span {
				    	    	color: #eee;
				    	    	font-weight: 400;
							    line-height: 34px;
							    font-size: 14px;
							    display: inline-block;
							    width: 120px;
							    overflow: hidden;
							    text-overflow: ellipsis;
				    	    }
					    }
				    }
				}
			}
		}
		#left-panel {
		    left: 160px;
		    width: 300px;
		    padding-top: 32px;
		    background: #ededed;
	        border-right: 1px solid #d2d2d2;
	        
	        .tree-search-box {
        	    background: #fff;
			    margin: 2px;
			    padding: 5px;
			    .do-search {
			    	color: #555;
			    	top: 13px;
			    }
	        	input {
	        		background-color: #f8f7f8;
	        		color: #555;
	        		padding: 5px 0 5px 22px;
				    height: unset;
				    line-height: 1.42857;
	        	}
	        	.search-options{
	        		color: #555;
	        	}
	        }
	        
	        .ui-resizable-e {
	        	right: 0;
			    top: 50%;
			    height: 20px;
	        	&:before {
				    content: "\f142";
				    font-size: 18px;
				    font-family: 'Font Awesome 5 Pro';
				    position: absolute;
				    left: 20%;
				}
	        }
	        
		    .back-to-module {
		    	display: none;
		    }
		    
		    nav {
		    	padding-bottom: 0;
			    ul.categories-panel {
			    	> li {
			    		&:not(.module) {
			    			display: none !important;
			    		}
			    		&.module {
			    			&.bg-color-blue {
			    				> a {
							    	border-right: 2px solid #57889c!important;
						    	}
							}
							
							&.bg-color-blueLight {
			    				> a {
							    	border-right: 2px solid #92a2a8!important;
						    	}
							}
							
							&.bg-color-blueDark {
			    				> a {
							    	border-right: 2px solid #4c4f53!important;
						    	}
							}
							
							&.bg-color-green {
			    				> a {
							    	border-right: 2px solid #356e35!important;
						    	}
							}
							
							&.bg-color-greenLight {
			    				> a {
							    	border-right: 2px solid #71843f!important;
						    	}
							}
							
							&.bg-color-greenDark {
			    				> a {
							    	border-right: 2px solid #496949!important;
						    	}
							}
							
							&.bg-color-red {
			    				> a {
							    	border-right: 2px solid #a90329!important;
						    	}
							}
							
							&.bg-color-yellow {
			    				> a {
							    	border-right: 2px solid #b09b5b!important;
						    	}
							}
							
							&.bg-color-orange {
			    				> a {
							    	border-right: 2px solid #c79121!important;
						    	}
							}
							
							&.bg-color-orangeDark {
			    				> a {
							    	border-right: 2px solid #a57225!important;
						    	}
							}
							
							&.bg-color-pink {
			    				> a {
							    	border-right: 2px solid #ac5287!important;
						    	}
							}
							
							&.bg-color-pinkDark {
			    				> a {
							    	border-right: 2px solid #a8829f!important;
						    	}
							}
							
							&.bg-color-purple {
			    				> a {
							    	border-right: 2px solid #6e587a!important;
						    	}
							}
							
							&.bg-color-darken {
			    				> a {
							    	border-right: 2px solid #404040!important;
						    	}
							}
							
							&.bg-color-lighten {
			    				> a {
							    	border-right: 2px solid #d5e7ec!important;
						    	}
							}
							
							&.bg-color-white {
			    				> a {
							    	border-right: 2px solid #fff!important;
						    	}
							}
							
							&.bg-color-grayDark {
			    				> a {
							    	border-right: 2px solid #525252!important;
						    	}
							}
							
							&.bg-color-magenta {
			    				> a {
							    	border-right: 2px solid #6e3671!important;
						    	}
							}
							
							&.bg-color-teal {
			    				> a {
							    	border-right: 2px solid #568a89!important;
						    	}
							}
							
							&.bg-color-redLight {
			    				> a {
							    	border-right: 2px solid #a65858!important;
						    	}
							}
							
							&.bg-color-blueNeon {
			    				> a {
							    	border-right: 2px solid #3f85f4!important;
						    	}
							}
			    			
			    		}
			    		a {
		    			    overflow: hidden;
						    text-overflow: ellipsis;
						    padding-right: ~'calc(10px + 2rem)';
					        background: none !important;
						    color: #555 !important;
						    border-bottom: 1px solid #e5e5e5;
						    font-weight: 600;
			    		}
			    	}
		    	}
		    	ul {
		    		background: none !important;
		    		background-color: none !important;
			    	li {
		    		    color: #555;
			    		background: none !important;
			    		background-color: none !important;
			    		a b {
			    			color: #555 !important;
			    		}
			    		.workflow-new {
			    			span {
			    				color: red;
			    			}
			    		}
			    		.fancytree-node.fancytree-active {
			    			.fancytree-title {
		    				    background-color: #0073aa;
    							color: white;
			    			}
			    		}
			    		.fancytree-title {
			    			font-weight: 600;
			    			font-size: 13px;
			    			
			    			&:hover {
			    				color: #0073aa;
			    			}
			    		}
			    	}
		    	}
		    }
		    .minifyme {
		    	display: none;
		    }
		}
		#main {
			animation: none !important;
			transition: none !important;
			margin-left: 456px;
			margin-top: 32px;
			#ribbon {
				display: none;
			}
			#content {
			    padding: 15px;
		    }
		}
		&.module-inactive {
			#left-panel {
			    left: -100% !important;
			}
			#main {
				margin-left: 160px !important;
			}
			.page-footer {
				padding-left: 175px;
			}
		}
		
	}
	
	.page-footer {
		border: none;
		background: none;
		padding-left: 486px;
	}
}

.jarviswidget {
	> div[role=content] {
		border-radius: 0 0 4px 4px !important;
	}
	> header {
		border-radius: 4px 4px 0 0 !important;
		&.bg-color-blue {
	    	border-color: #57889c!important;
		}
		
		&.bg-color-blueLight {
	    	border-color: #92a2a8!important;
		}
		
		&.bg-color-blueDark {
	    	border-color: #4c4f53!important;
		}
		
		&.bg-color-green {
	    	border-color: #356e35!important;
		}
		
		&.bg-color-greenLight {
	    	border-color: #71843f!important;
		}
		
		&.bg-color-greenDark {
	    	border-color: #496949!important;
		}
		
		&.bg-color-red {
	    	border-color: #a90329!important;
		}
		
		&.bg-color-yellow {
	    	border-color: #b09b5b!important;
		}
		
		&.bg-color-orange {
	    	border-color: #c79121!important;
		}
		
		&.bg-color-orangeDark {
	    	border-color: #a57225!important;
		}
		
		&.bg-color-pink {
	    	border-color: #ac5287!important;
		}
		
		&.bg-color-pinkDark {
	    	border-color: #a8829f!important;
		}
		
		&.bg-color-purple {
	    	border-color: #6e587a!important;
		}
		
		&.bg-color-darken {
	    	border-color: #404040!important;
		}
		
		&.bg-color-lighten {
	    	border-color: #d5e7ec!important;
		}
		
		&.bg-color-white {
	    	border-color: #fff!important;
		}
		
		&.bg-color-grayDark {
	    	border-color: #525252!important;
		}
		
		&.bg-color-magenta {
	    	border-color: #6e3671!important;
		}
		
		&.bg-color-teal {
	    	border-color: #568a89!important;
		}
		
		&.bg-color-redLight {
	    	border-color: #a65858!important;
		}
		
		&.bg-color-blueNeon {
	    	border-color: #3f85f4!important;
		}
	}
}

.btn {
    font-size: 12px !important;
    font-weight: normal !important;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
}

@media  (min-width:980px){
	body {
		&.fixed-header {
			&.hidden-menu {
				#main {
				    margin-left: 346px !important;
				}
				#shortcut {
					width: 36px !important;
					ul li a .iconbox {
						span {
							display: none;
						}
					}
				}
				#left-panel {
					left: 36px;
					transform: none;
				}
				>.slimScrollDiv {
					width: 36px !important;
				}
				.page-footer {
					padding-left: 40px;
				}
				#hide-menu {
					background: #32373c;
				}
				
				&.module-inactive {
					#main {
						margin-left: 36px !important;
					}
				}
			}
		}
	}
}

@media  (max-width:979px){
	body {
		&.fixed-header {
			#shortcut {
			    left: -300px;
			}
			#left-panel {
			    left: -600px;
			}
			#main {
				margin-left: 0;
			}
			.page-footer {
				padding-left: 20px;
			}
			&.module-inactive {
				#main {
					margin-left: 0 !important;
				}
				.page-footer {
					padding-left: 20px;
				}
			}
			&.hidden-menu {
				#main {
					left: 456px !important;
				}
				#shortcut {
					left: 0;
					width: 156px !important;
					ul li a {
						&.selected:before {
							font-size: 27px;
						}
						.iconbox {
							display: block;
							span {
								display: inline-block;
							}
						}
					}
				}
				#left-panel {
				    left: 156px;
				}
				&.module-inactive {
					#left-panel {
					    left: -100%;
					}
					#main {
						left: 156px !important;
					}
				}
			}
		}
		
	}
}

@media (max-width:399px){
	body {
		&.fixed-header {
			&.hidden-menu {
				.slimScrollDiv {
					width: 100% !important;
					#shortcut {
						width: 100% !important;
					}
				}
				
				#left-panel {
					width: 100%;
					
					.back-to-module {
						display: block;
				    	position: absolute;
					    line-height: 24px;
					    width: 27px;
					    left: 4px;
					    top: 6px;
					    border-right: 1px solid #ededed;
					    padding-right: 4px;
				    }
				    
				    nav ul.categories-panel {
				    	.slimScrollDiv {
				    		width: 100% !important;
				    		section {
				    			width: 100% !important;
				    		}
				    	}
				    	>li a {
				    		margin-left: 31px;
			    		}
				    }
				}
				&.xs-category-selector {
					.slimScrollDiv {
						left: -100%;
					}
					#shortcut {
						left: -100%;
					}
					#left-panel {
						left: 0;
						.slimScrollDiv {
							left: 0;
						}
					}
				}
				
			}
		}
		
	}
}

@media (max-width: 767px) {
	body {
		&.fixed-header {
			#header {
				#logo-group {
					width: 214px;
					.ajax-dropdown {
						left: 88px;
					}
				}
				.navbar-nav li a {
					i {
					    margin-right: 0;
					}
					span {
						display: none !important;
					}
				}
			}
		}
	}
}

@media (max-width: 768px) {
	body {
		#header {
			#wd-setting {
				display: block !important;
				&.active {
					display: none !important;
				}
			}
		}
		#main {
			#settingsMenu {
				display: block;
				&:not(.activate) {
			    	z-index: 908;
			    	#demo-setting {
			    		position: fixed;
		    		    top: 1px;
					    right: 115px;
					    border: none;
					    background: none;
					    i {
					    	color: white !important;
					    }
			    	}
			    }
		    }
		}
	}
}
.slimScrollDiv {
	z-index: 908;
	position: fixed !important;
	top: 32px;
	.slimScrollRail {
		z-index: 907 !important;
	}
	.slimScrollBar {
		z-index: 907  !important;
	}
}

.categories-panel {
	.section {
		overflow-y: auto;
	}
	.slimScrollDiv {
		top: 72px;
	}
}

.ui-resizable-handle {
	z-index: 999 !important;
}

.context-menu-icon.context-menu-icon--fa {
	&::before {
    	font-family: "font awesome 5 pro";
	}
    span {
    	font-weight: normal;
    }
}

.hide-live-flag .show-hide-live {
	display: none !important;
}

.bootstrap-datetimepicker-widget {
  display: block;
}
@import "common.less";