#register {
    display: flex;
    flex: 1 0 auto;
    width: 100%;
    min-height: 100%;
    background: url('/application/assets/new/images/backgrounds/dark-material-bg.jpg') no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .register-input {
        padding-left:0px !important;
    }

    .form-wrapper {
        width: 64rem;
        max-width: 64rem;
        background: #FFFFFF;
        text-align: center;

        .logo {
            width: 12.8rem;
            height: 12.8rem;
            line-height: 12.8rem;
            font-size: 8.6rem;
            font-weight: 500;
            margin: 3.2rem auto;
            color: #FFFFFF;
            border-radius: 2px;
        }

        .title {
            font-size: 1.7rem;
        }

        form {
            width: 100%;
            text-align: left;

            .terms-conditions {
                font-size: 1.3rem;
                .form-check {
                    font-size: 1.3rem;
                }
            }

            .submit-button {
                width: 22rem;
            }
        }

        .login {
            font-weight: 500;
            font-size: 1.3rem;

            .text {
            }

            .link {
            }
        }
    }
}

// RESPONSIVE
@include media-breakpoint-down(sm) {

    #register {

        .form-wrapper {
            padding: 1.6rem;
            width: 100%;

            form {

                .btn {
                    width: 95%;
                }
            }

            .btn {

                &.google,
                &.facebook {
                    width: 80%;
                }
            }
        }
    }
}