body {
    margin: 0;
    font-family: Arial, serif;
    font-size: 12px;
}

* {
    letter-spacing: 0;
}

h1,
h2,
h3 {
    text-transform: uppercase;
    font-weight: normal;
}

.sectionTitle {
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 25px;
}

h2 {
    font-family: monospace, sans-serif;
    font-size: 20px;
}

h3 {
    font-family: Arial, sans-serif;
    font-size: 20px;
    margin-bottom: 0.5em;
}

ul li {
    list-style-type: square;
}

.sectionDiv h3 {
    text-transform: none;
}

.greyBlock.thingsShouldKnow {
    margin-top: 15px;
}

.greyBlock.thingsShouldKnow h3 {
    color: #939598;
}

.greyBlock.thingsShouldKnow ul li {
    list-style-image: none;
    list-style: disc;
}

strong {
    font-weight: bold;
}

div.header {
    width: 750px;
    height: 69px;
    x-background: url("/stores/_images/pdf/header_bg.png") left top no-repeat;
}

table,
td {
    border-collapse: collapse;
}

.noBreak {
    page-break-inside: avoid;
}

.noBreakRow tr {
    page-break-inside: avoid;
}

.content {
    padding: 0 20px 0 13px;
}

.proposalName {
    text-transform: uppercase;
}

.headerTitle {
    float: right;
    color: white;
    display: inline-block;
    width: 500px;
    text-align: right;
    padding-top: 8px;
}

.contentDiv {
    width: 100%;
    color: #939598;
    margin: 0px 0 0;
    page-break-inside: avoid;
}

.contentDiv > .contentHolder {
    padding: 0 15px;
    border: 1px solid white;
    page-break-inside: auto;
}

.sectionTitle {
    margin: 0;
    margin-bottom: 15px;
    background-color: #ffffff;
}

.sectionWhatsNext i {
    font-size: 60px;
    color: #bed730;
}

.sectionTable {
    width: 100%;
}

.leftTable .leftColumn,
.rightTable .rightColumn {
    width: 180px;
    padding-top: 20px;
}

.rightTable .rightColumn {
    text-align: right;
}

.sectionTitle {
    display: block;
    color: #bed730;
    line-height: 37px;
}

.sectionContent {
    background-color: #fff;
    padding: 0;
}

.contentDiv p,
.introductionLegal p {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

hr {
    border: 0px none #FFFFFF;
    border-top: 1px solid #bed730;
    margin-top: 0;
}

.smallSectionIcon {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}

.termsTable {
    width: 100%;
}

.termsDiv {
    display: block;
    margin-right: 10px;
    padding-right: 16px;
    color: #ffffff;
    background: url("/application/images/palette2/right_arrow.png") no-repeat #bed730 right center;
}

.termsDiv:hover {
    color: #ffffff;
    text-decoration: none;
}

.termsDiv p {
    margin: 0;
    color: #ffffff;
    text-decoration: none;
}

.termsDiv p.planName {
    padding: 6px 10px 0 10px;
    line-height: 15px;
    height: 30px;
}

.termsDiv p.clickHere {
    padding: 0 10px 6px 10px;
    display: inline-block;
    height: 10px;
}

.leftRightBorder {
    width: 6px;
}

.shadowColumn {
    text-align: center;
}

.planDollor {
    position: relative;
    top: -8px;
}

.upSellTitle {
    color: #bed730;
}

.upSellTitle i {
    display: inline-block;
    width: 14px;
    height: 14px;
}

.upSellContent {
    margin-top: 10px;
}

.upSellPrice {
    position: relative;
}

.upSellPrice .dollar {
    display: inline-block;
}

.upSellPrice .price {
    position: relative;
    top: -24px;
    left: 8px;
}

.upsellTable > tr > td,
.upsellTable > tbody > tr > td {
    padding: 5px 10px;
}

.leftBorder {
    border-left: 1px solid #d5d6d7;
}

.pricingTable {
    width: 100%;
    color: #58585a;
    page-break-inside: auto;
    -fs-table-paginate: paginate;
}

.pricingTableFooter {
    width: 100%;
    margin-bottom: 50px;
}

.moreDetail {
    page-break-before: avoid;
}

.pricingTable tr {
    page-break-inside: avoid;
    page-break-after: auto;
}

.pricingTable thead {
    display: table-header-group;
}

.pricingTable tfoot {
    display: table-footer-group;
}

.pricingTable td i {
    font-size: 25px;
}

.pricingTable .tableHeader {
    text-align: center;
    color: #bed730;
}

.pricingTable .tableHeader .productCell {
    text-align: left;
}

.pricingTable .tableHeader .productCell i {
    margin-left: 43px;
}

.pricingTable .tableHeader .costCell {
    text-align: center;
}

.pricingTable .tableHeader .costCell i {
    margin-right: 0;
}

.pricingTable .tableHeader .totalCostCell {
    text-align: right;
}

.pricingTable .moneytaryValue {
    line-height: 20px;
    font-style: normal;
}

.pricingTable .moneytaryValue:before {
    content: "$";
}

.pricingTable .tableHeader i {
    display: inline-block;
    x-margin: 0 auto 5px auto;
}

.pricingTable .tableHeader p {
    margin: 0 0 10px 0;
}

.pricingTable .groupHeader {
    color: #bed730;
    text-transform: uppercase;
}

.grayRow {
    x-background-color: #ececec;
    background-color: #ffffff;
}

.lightGrayRow {
    x-background-color: #f6f6f6;
    background-color: #ffffff;
}

.whiteRow {
    background-color: #fbfbfb;
}

.iconRow td,
.dataRow td,
.dataNote td {
    border-bottom: 1px solid #999999;
}

.iconRow.hasNote td,
.dataRow.hasNote td {
    border-bottom: none;
}

.totalRow td {
    border-bottom: 0 none #FFFFFF;
}

td.totalLabel,
td.totalValue {
    border-bottom: 1px solid #999999;
}

.dataRow td {
    padding: 10px 5px;
}

.dataNote .note {
    margin: 5px 0 10px 5px;
    padding: 5px 0 5px 20px;
    border-left: 10px solid #ebebeb;
    font-style: italic;
    font-family: serif;
    font-size: 110%;
    white-space: pre-line;
}

.sectionRow td {
    padding: 10px 5px;
    font-size: 14px;
    font-weight: 700;
    color: #bed730;
}

.groupTitleRow td {
    padding: 20px 0 0 5px;
}

.groupTitleRow td {
    font-weight: bold;
    color: #000000;
}

a.inPageLink {
    color: #bed730;
    text-decoration: none;
}

.totalRow .totalEmpty {
    background-color: #ffffff;
}

.totalRow .totalLabel,
.totalRow .totalValue {
    background-color: #ffffff;
    color: #bed730;
    text-align: right;
}

.totalValue {
    white-space: nowrap;
}

.tablePrice {
    white-space: nowrap;
    font-family: 'Arial Unicode MS';
}

.bigChar {
    font-weight: bold;
}

.cover {
    color: white;
    position: relative;
}

.cover .placeHolder {
    width: 745px;
    height: 625px;
}

.coverLogo img {
    height: 80px;
    float: right;
}

.cover .proposalName {
    font-size: 35px;
    margin: 0;
    letter-spacing: 0px;
    line-height: 45px;
    width: 727px;
}

.cover .proposalSubName {
    font-size: 25px;
    margin: 5px 0 10px;
    letter-spacing: 0px;
    line-height: 20px;
}

.cover .proposalTitle {
    padding: 20px;
    height: 130px;
    position: absolute;
    top: 675px;
    /* Magic number */
    left: 17px;
    /* Magic number */
    width: 600px;
    /* Magic number */
    background-color: #bed730;
}

.cover .coverpageSpectrum {
    position: absolute;
    left: -12px;
    /* Magic number */
    right: 0;
    top: 496px;
    /* Magic number */
    height: 626px;
    width: 793px;
    /* Magic number */
}

.coverData {
    padding: 20px;
    position: absolute;
    top: 869px;
    /* Magic number */
    left: 17px;
    /* Magic number */
    width: 600px;
    /* Magic number */
    background-color: #bed730;
}

.coverData div {
    display: inline-block;
}

.coverData .coverSection {
    font-size: 15px;
}

.coverData .coverTitle {
    font-size: 21px;
}

.authorInfo,
.proposalInfo,
.execSummary {
    display: inline-block;
}

.proposalInfo,
.authorInfo {
    background-color: #ffffff;
    color: #bed730;
    margin: 1px 0;
}

.coverSection {
    width: 600px;
    letter-spacing: 0px;
}

.level1 {
    height: 55px;
}

.level2 {
    margin-top: 20px;
    height: 90px;
    margin-bottom: 10px;
    vertical-align: top;
}

.level2 img {
    display: inline-block;
    vertical-align: top;
}

.level2 div {
    line-height: 20px;
    vertical-align: top;
}

.level2 .coverTitle {
    line-height: 25px;
}

.coverTopLeft {
    width: 190px;
    padding: 2px 0 0 10px;
}

.coverTopMiddle {
    width: 170px;
    padding: 2px 0 0 10px;
}

.coverTopRight {
    width: 190px;
    padding: 2px 0 0 10px;
}

.coverLeft {
    width: 190px;
    padding: 2px 0 0 10px;
}

.coverRight {
    width: 335px;
    padding: 2px 0 0 10px;
}

.coverLeft div,
.coverRight div,
.coverTopLeft div,
.coverTopMiddle div,
.coverTopRight div {
    display: block;
}

.contentDiv > .contentHolder > p > strong,
.strong {
    color: #939598;
}

.featureTitle,
.benefitTitle {
    color: #bed730;
}

.benefitSubTitle {
    color: #bed730;
    padding: 20px 30px 5px 0;
}

.benefitContent {
    padding: 0 30px 0 15px;
}

.featureDiv {
    width: 100%;
    background-color: #bed730;
    color: #ffffff;
    margin: 10px 0 5px 0;
}

.features {
    padding-top: 10px;
}

.featureLabel,
.featureValue {
    display: inline-block;
}

.featureLabel {
    vertical-align: top;
    padding: 0 20px 0 10px;
}

.featureLink {
    padding: 0 10px;
}

.featureLink a {
    color: #FFFFFF;
    vertical-align: top;
    text-decoration: none;
    font-weight: normal;
}

.underline {
    text-decoration: underline !important;
}

.featureValue {
    text-align: left;
    vertical-align: top;
}

.featureGroup {
    vertical-align: top;
    padding: 4px 2px;
}

.featureGroup .firstWord {
    line-height: 1.2em;
}

.execSummary {
    height: 36px;
    overflow: hidden;
    position: relative;
    top: 8px;
}

.execSummary .coverTitle {
    width: 180px;
    vertical-align: top;
}

.coverSummaryContent {
    width: 300px;
    overflow: hidden;
    margin-left: 10px;
}

.coverSummaryContent p {
    margin: 0;
}

.greyBlock {
    background-color: #f3f3f4;
    padding: 5px 20px;
    margin: 0;
}

#section0 {
    padding: 0;
    page-break-after: always;
}

.sectionTypePricing {
    page-break-before: always;
}

.blankRow td {
    height: 1px;
    line-height: 1px;
}

.editorArea table,
.editorArea td {
    border: 0 none #FFFFFF;
    border-bottom: 1px solid #999999;
}

.titleRow {
    color: #bed730;
    text-transform: uppercase;
}

.editorArea td {
    padding: 10px 5px;
}

.editorArea li {
    line-height: 1.6em;
}

.editorArea ol {
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
}

.editorArea ol > li {
    display: table;
    counter-increment: item;
    margin-bottom: 0.6em;
}

.editorArea ol > li:before {
    content: counters(item, ".") ". ";
    display: table-cell;
    padding-right: 0.6em;
}

.editorArea li ol > li {
    margin: 0;
}

.editorArea li ol > li:before {
    content: counters(item, ".") ". ";
}

.videoDiv i.playButton {
    color: #bed730;
    position: absolute;
    top: 100px;
    left: 150px;
    text-decoration: none;
    font-size: 64px;
    display: inline-block;
}

.videoTable {
    width: 100%;
}

.videoTable td {
    height: 270px;
    background-color: #bed730;
}

.videoTable .videoCell {
    width: 360px;
    position: relative;
}

.videoCell iframe {
    display: none;
}

.videoDiv {
    width: 360px;
    display: block;
    position: relative;
}

.videoHolder {
    margin-top: 15px;
}

.videoImage {
    display: block;
}

.videoContent {
    width: 320px;
    color: #ffffff;
    padding: 0px 15px;
}

.videoContent h3 {
    margin: 0 0 15px 0;
    color: #ffffff;
    line-height: 28px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.videoContent p {
    margin: 0;
}

.tableHeader.iconRow i {
    height: 30px;
}

table.whatsNextTable {
    page-break-before: avoid;
}

table.whatsNextTable td {
    vertical-align: top;
}

.whatsNextImageText {
    color: #bed730;
    padding-top: 5px;
}

/* for cover, header and footer*/
.cover {
    width: 600px;
    x-height: 1010px;
}

div.header {
    display: block;
    position: running(header);
}

div.footer {
    display: block;
    x-position: running(footer);
}

#section1 {
    counter-reset: page 1;
}

.downloadCell a.attachment {
    color: #FFFFFF;
    width: 220px;
    display: inline-block;
    height: 60px;
    background-color: #bed730;
}

.downloadIcon {
    padding-left: 10px;
    font-size: 50px;
}

.downloadText {
    display: inline-block;
    width: 150px;
    height: 60px;
    margin-left: 10px;
    vertical-align: middle;
}

.downloadDesc {
    color: #bed730;
    margin-left: 10px;
}

.termsTable.noBreakRow td {
    border: 5px solid #FFFFFF;
}

.introductionLegal {
    margin: 0 15px;
    color: #939598;
}

.productDescription {
    padding: 20px 0 0 0;
}

.productDisclaimers {
    padding: 0 10px 10px 10px;
}

@page :first {
    @top-center {
        content: none;
    }
}

@page :first {
    @bottom-center {
        content: none;
    }
}

@page :first {
    background-repeat: no-repeat;
    background-position: left top;
    margin: 0mm;
    background-color: #fbfbfb;

    @bottom-center {
        content: none;
    }
}

@page {
    margin: 15mm 0 15mm 0;
    background-color: #ffffff;
    size: A4;

    /* 793px 1122px */
    @bottom-center {
        content: counter(page) '/' counter(pages);
        font-family: Arial, serif;
        text-transform: uppercase;
        color: #58585a;
        font-size: 12px;
    }
    @bottom-left {
        content: '';
        padding-left: 10px;
        font-family: Arial, serif;
        text-transform: uppercase;
        color: #58585a;
    }
    @bottom-right {
        content: '';
        padding-right: 10px;
        font-family: Arial, serif;
        text-transform: uppercase;
        color: #58585a;
    }
}

.multi-col-2 {
    -webkit-column-count: 2;
    /* Chrome, Safari, Opera */
    -moz-column-count: 2;
    /* Firefox */
    column-count: 2;
}

.multi-col-3 {
    -webkit-column-count: 3;
    /* Chrome, Safari, Opera */
    -moz-column-count: 3;
    /* Firefox */
    column-count: 3;
}
