<#ftl output_format="HTML" auto_esc=true>
<tr>
    <td></td>
    <td width="15%"></td>
    <td width="15%"></td>
    <td width="15%"></td>
    <td width="15%"></td>
</tr>
<#if oneOffDiscount.sortedPlans?size gt 0 || ongoingDiscount.sortedPlans?size gt 0>
    <tr class="rowSpacer"><td colspan="5">&nbsp;</td></tr>
    <tr class="totalRow dataRow">
        <td class="totalEmpty" colspan="1"></td>
        <td class="totalValue" align="right"></td>
        <td class="totalValue" align="right">${TEXT_PRICING_FOOTER_PRICE}</td>
        <td class="totalValue" align="right">${TEXT_PRICING_FOOTER_DISCOUNTS}</td>
        <td class="totalValue" align="right">${TEXT_PRICING_FOOTER_TOTAL}</td>
    </tr>
    <#if oneOffCost.sortedPlans?size gt 0 || oneOffDiscount.sortedPlans?size gt 0>
        <tr class="rowSpacer"><td colspan="5">&nbsp;</td></tr>
        <tr class="totalRow dataRow">
            <td class="totalEmpty" colspan="1"></td>
            <td class="totalValue" align="right">${TEXT_PRICING_FOOTER_ONE_OFF_COST}</td>
            <td class="totalValue" align="right">${oneOffCost.totalPrice}</td>
            <td class="totalValue" align="right">${oneOffDiscount.totalPrice}</td>
            <td class="totalValue" align="right">${oneOffCost.totalPrice + oneOffDiscount.totalPrice}</td>
        </tr>
    </#if>
    <#if monthlyTotal gt 0 || ongoingDiscount.sortedPlans?size gt 0>
        <#if !isHideMinimumMonthlyCost>
            <tr class="rowSpacer"><td colspan="5">&nbsp;</td></tr>
            <tr class="totalRow dataRow">
                <td class="totalEmpty" colspan="1"></td>
                <td class="totalValue" align="right">${pricingTermType.getMinimumTermCostLabel()}</td>
                <td class="totalValue" align="right">${monthlyTotal}</td>
                <td class="totalValue" align="right">${ongoingDiscount.totalUnitPrice}</td>
                <td class="totalValue" align="right">${monthlyTotal + ongoingDiscount.totalUnitPrice}</td>
            </tr>
        </#if>
    </#if>
<#else>
    <#if oneOffCost.sortedPlans?size gt 0 && object.totalProposalValue != oneOffCost.totalPrice>
        <tr class="rowSpacer"><td colspan="5">&nbsp;</td></tr>
        <tr class="totalRow dataRow">
            <td class="totalEmpty" colspan="1"></td>
            <td class="totalLabel" align="center" colspan="3">
                <#if monthlyTotal gt 0>${TEXT_PRICING_FOOTER_ONE_OFF_COST}</#if>
                <#if monthlyTotal == 0>${TEXT_PRICING_FOOTER_SUB_TOTAL}</#if>
            </td>
            <td class="totalValue tablePrice" align="right">${oneOffCost.totalPrice}</td>
        </tr>
    </#if>
    <#if oneOffDiscount.sortedPlans?size gt 0>
        <tr class="rowSpacer"><td colspan="5">&nbsp;</td></tr>
        <tr class="totalRow dataRow">
            <td class="totalEmpty" colspan="1"></td>
            <td class="totalLabel" align="center" colspan="3">${TEXT_PRICING_FOOTER_ONE_OFF_DISCOUNTS}</td>
            <td class="totalValue tablePrice" align="right">${oneOffDiscount.totalPrice}</td>
        </tr>
    </#if>
    <#if monthlyTotal gt 0 && object.totalProposalValue != monthlyTotal>
        <#if !isHideMinimumMonthlyCost>
            <tr class="rowSpacer"><td colspan="5">&nbsp;</td></tr>
            <tr valign="bottom" class="totalRow dataRow">
                <td class="totalEmpty" colspan="1"></td>
                <td class="totalLabel" align="center" colspan="3">${pricingTermType.getMinimumTermCostLabel()}</td>
                <td class="totalValue tablePrice" align="right">${monthlyTotal}</td>
            </tr>
        </#if>
    </#if>
    <#if ongoingDiscount.sortedPlans?size gt 0>
        <tr class="rowSpacer"><td colspan="5">&nbsp;</td></tr>
        <tr class="totalRow dataRow">
            <td class="totalEmpty" colspan="1"></td>
            <td class="totalLabel" align="center" colspan="2">${pricingTermType.getMinimumTermDiscountsLabel()}</td>
            <td class="totalValue tablePrice" align="right">${ongoingDiscount.totalUnitPrice}</td>
        </tr>
    </#if>
</#if>
<#if fullTermTotal gt 0  && monthlyTotal != fullTermTotal>
    <#if !isHideFullTermCost>
        <tr class="rowSpacer"><td colspan="5">&nbsp;</td></tr>
        <tr valign="bottom" class="totalRow dataRow">
            <td class="totalEmpty" colspan="1"></td>
            <td class="totalLabel" align="center" colspan="3">${TEXT_PRICING_FOOTER_FULL_TERM_COST}</td>
            <td class="totalValue tablePrice" align="right">${fullTermTotal}</td>
        </tr>
    </#if>
</#if>
<#if object.taxLabel?? && object.taxPercentage?? && object.tax?? && !object.removeTax>
    <tr class="rowSpacer"><td colspan="4">&nbsp;</td></tr>
    <tr class="totalRow dataRow">
        <td class="totalEmpty" colspan="1"></td>
        <td class="totalLabel" align="center" colspan="3">
            <#if taxLabel??>
                ${object.taxLabel} (${object.taxPercentage?string.number}%)
            <#else>
                ${TEXT_PRICING_FOOTER_TAX}
            </#if>
        </td>
        <td class="totalValue tablePrice" align="right">${object.tax}</td>
    </tr>
</#if>
<#if !isHideGrandTotalPriceRow>
    <tr class="rowSpacer"><td colspan="5">&nbsp;</td></tr>
    <tr class="totalRow dataRow">
        <td class="totalEmpty" colspan="1"></td>
        <td class="totalLabel" align="center" colspan="3">${TEXT_PRICING_FOOTER_TOTAL}</td>
        <td class="totalValue bigChar tablePrice" align="right">${object.totalProposalValue}</td>
    </tr>
</#if>
<#if !isHideOverallTotalPriceRow>
    <tr class="rowSpacer"><td colspan="5">&nbsp;</td></tr>
    <tr class="overall totalRow dataRow">
        <td class="totalEmpty" colspan="1"></td>
        <td class="totalLabel" align="center" colspan="3">${TEXT_PRICING_FOOTER_OVERALL_TOTAL}</td>
        <td class="totalValue bigChar tablePrice" align="right">${object.overallTotalProposalValue}</td>
    </tr>
</#if>