<#ftl output_format="HTML" auto_esc=true>
<tr class="tableHeader iconRow" valign="top" data-version="v1">
    <#list pricingTableStyle.columns as column>
        <#if column.type == "products">
            <td class="productCell" style="${column.buildStyles()}">
                <i class="fa ${column.icon}"></i>
                <p>${column.label}</p>
            </td>
    <#elseif column.type == "quantity">
        <#if !isHideQtyColumn>
            <td style="${column.buildStyles()}">
                <i class="fa ${column.icon}"></i>
                <p>${column.label}</p>
            </td>
        </#if>
    <#elseif column.type == "term">
        <#if !isHideTermColumn>
            <td style="${column.buildStyles()}">
                <i class="fa ${column.icon}"></i>
                <p>${column.label}</p>
            </td>
        </#if>
    <#elseif column.type == "price">
        <#if !isHidePriceColumn>
            <td class="costCell" style="${column.buildStyles()}">
                <i class="fa ${column.icon}"></i>
                <p>${column.label}</p>
            </td>
        </#if>
    <#elseif column.type == "total">
        <#if !isHideTotalPriceColumn>
            <td class="totalCostCell" style="${column.buildStyles()}">
                <i class="fa ${column.icon}"></i>
                <p>${column.label}</p>
            </td>
        </#if>
    <#elseif column.type?starts_with("attr_customfield")>
        <#--<#if customfields." + column.getType() + ".on>-->
        <#if !.vars['hideCustom' + column.type?remove_beginning("attr_customfield")] && customfields[column.type]?? && customfields[column.type].on>
            <td class="hideCustom${column.type?remove_beginning('attr_customfield')}" style="${column.buildStyles()}">
                <i class="fa ${column.icon}"></i>
                <p>${column.label}</p>
            </td>
        </#if>
    <#--
    <#else>
        <td>
            <i class="fa ${column.icon}"></i>
            <p>${column.label}</p>
        </td>
    -->
    </#if>
    </#list>
</tr>