<#ftl output_format="HTML" auto_esc=true>
<#assign columns = 2>
<#list pricingTableStyle.columns as column>
    <#if column.type == 'price'>
        <#if !isHidePriceColumn>
            <#assign columns += 1>
        </#if>
    <#elseif column.type == 'term'>
        <#if !isHideTermColumn>
            <#assign columns += 1>
        </#if>
    <#elseif column.type == 'quantity'>
        <#if !isHideQtyColumn>
            <#assign columns += 1>
        </#if>
    <#elseif column.type == 'total'>
        <#if !isHideTotalPriceColumn>
            <#assign columns += 1>
        </#if>
    <#elseif column.type?starts_with("attr_customfield") && customfields[column.type]?? && customfields[column.type].on>
        <#if !.vars['hideCustom' + column.type?remove_beginning("attr_customfield")]>
            <#assign columns += 1>
        </#if>
    </#if>
</#list>
<tr class="sectionRow">
    <td colspan="${columns?string.number}" class="description"> ${escaped.label?no_esc}</td>
</tr>