<#ftl output_format="HTML" auto_esc=true>
<#if object.manualPercentage?? && object.manualPercentage!= 0>
    <#assign percentage = object.manualPercentage>
<#elseif object.autoPercentage?? && object.autoPercentage!= 0>
    <#assign percentage = object.autoPercentage>
<#else>
    <#assign percentage = 0>
</#if>
<#assign multiplier = ((100 + percentage)/100)>
<tr class="dataRow <#if escaped.note?? && escaped.note?length gt 0>hasNote</#if>">
    <#list pricingTableStyle.columns as column>
        <#if column.type == "products">
            <td align="left" style="${column.buildStyles()}">
                <div class="description">
                <#if object.thumbnail?? && object.thumbnail?length gt 0>
                    <img style="float: left; margin: 0 10px 10px 0;" src="${object.thumbnail}" />
                </#if>
                ${escaped.label?no_esc}
                <#list object.misc as k, v>
                    <#if pricingTableStyle.rows.customFields?size gt 0>
                        <#list pricingTableStyle.rows.customFields as enabledField>
                            <#if k == enabledField>
                                <#if !.vars['hideCustom' + enabledField?remove_beginning("attr_customfield")] && customfields[column.type]?? && customfields[column.type].on>
                                    <br/><br/>${v!""}
                                </#if>
                            </#if>
                        </#list>
                    </#if>
                </#list>
                </div>
            </td>
        <#elseif column.type == "quantity">
            <#if !isHideQtyColumn>
                <td align="center" style="${column.buildStyles()}">${object.qty?string.number}</td>
            </#if>
        <#elseif column.type == "term">
            <#if !isHideTermColumn>
                <td align="center" style="${column.buildStyles()}">
                    <#if object.term == 1>
                        ${pricingTermType}
                    <#else>
                        ${object.term?string.number} ${pricingTermType}
                    </#if>
                </td>
            </#if>
        <#elseif column.type == "price">
            <#if !isHidePriceColumn>
                <td class="tablePrice" align="right" style="${column.buildStyles()}">
                    <#assign price = object.unitPrice * multiplier>
                    ${price}
                    <#if percentage != 0 && (!isHideDiscountFromPriceRow || !isHideMarginFromPriceRow)>
                        <br/><small><strike>${object.unitPrice}</strike> (${percentage?string["#0.##"]}%)</small>
                    </#if>
                </td>
            </#if>
        <#elseif column.type == "total">
            <#if !isHideTotalPriceColumn>
                <td align="right" class="tablePrice" style="${column.buildStyles()}">
                    ${object.totalPrice}
                </td>
            </#if>
        <#elseif column.type?starts_with("attr_customfield") >
            <#list object.misc as k, v>
                <#if k == column.type>
                    <#if !.vars['hideCustom' + column.type?remove_beginning("attr_customfield")] && customfields[column.type]?? && customfields[column.type].on>
                        <td align="center" style="${column.buildStyles()}">
                            ${v!""}
                        </td>
                    </#if>
                </#if>
            </#list>
        </#if>
    </#list>
</tr>
<#if escaped.note?? && escaped.note?length gt 0>
    <tr class="dataNote">
        <td colspan="${pricingTableStyle.columns?size?string.number}">
            <div class="note description">${escaped.note?no_esc}</div>
        </td>
    </tr>
</#if>