<#ftl output_format="HTML" auto_esc=true>
<#assign columns = 1>
<#list pricingTableStyle.columns as column>
    <#if column.type == "price">
        <#if !isHidePriceColumn>
            <#assign columns += 1>
        </#if>
    <#elseif column.type == "term">
        <#if !isHideTermColumn>
            <#assign columns += 1>
        </#if>
    <#elseif column.type == "quantity">
        <#if !isHideQtyColumn>
            <#assign columns += 1>
        </#if>
    <#elseif column.type == "total">
        <#if isHideTotalPriceColumn>
            <#assign columns -= 1>
        </#if>
    </#if>
</#list>
<tr class="dataRow <#if escaped.note?? && escaped.note?length gt 0>hasNote</#if>">
    <td colspan="${columns?string.number}" align="left">
        <div class="description">
            ${escaped.label?no_esc}
        </div>
    </td>
</tr>
<td align="right" class="tablePrice">
    ${object.summarisedTotal}
</td>