<table style="border-collapse: separate;border-spacing: 0;font-size: 12px;line-height: 18px;margin: 0 auto;max-width: 560px;width: 90%;">
    <tbody>
    <tr>
        <td style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight: normal;padding: 0;vertical-align: top;width: 32px;">
            <table cellpadding="0" cellspacing="0" border="0" style="font-size: 12px;line-height: 18px;width: 32px;">
                <tbody>
                <tr>
                    <td style="border-radius: 2px;color: white;font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight: bold;height: 32px;padding: 1px 0 0; text-align: center;vertical-align: middle;width: 32px;" align="center" valign="middle">
                        <img width="32" height="32" src="http://localhost:8085/application/images/conversation.png" style="border-radius:2px">
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
        <td style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;font-size: 1px;font-weight: normal;padding: 0;vertical-align: top;width: 10px;">
        </td>
        <td style="background-color: #ffffff;border: 1px solid #d5dce2;border-radius: 6px;font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight: normal;padding: 0;word-wrap: break-word;">
            <table style="font-size: 12px;line-height: 18px;table-layout: fixed;width: 100%;" cellpadding="0" cellspacing="0" border="0">
                <tbody>
                <tr>
                    <td style="color: #3e474c;font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;font-size: 14px;font-weight: normal;padding: 10px 13px;">
                        <p style="margin:0;padding:3px 0">${chatUserMessageText}</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight: normal;padding: 0;"></td>
        <td style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight: normal;padding: 0;"></td>
        <td style="color: #b6c5ce;font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;font-size: 13px;font-weight: normal;padding: 5px 5px 0;">
            ${chatUserMessageTime}
        </td>
    </tr>
    <tr>
        <td colspan="3" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:1px;font-weight:normal;height:40px;line-height:1;max-height:40px;padding:0">&nbsp;</td>
    </tr>
    </tbody>
</table>