<div id="itinerarySection">
    <div class="noBreak">
        <div class="booking-detail">

        </div>
    </div>
    <div id="itineraryContent">
        ${header}
        ${body}
    </div>
</div>